@import '~ng-devui/styles-var/devui-var.scss';

:host ::ng-deep .devui-tag-item.tag-custom {
  background-color: $devui-brand;
  color: $devui-light-text;
  box-sizing: border-box;
}

d-tag {
  margin: 4px;
}
