<section>
  <h4>单个普通标签</h4>
  <d-tag [tag]="'默认标签颜色'"></d-tag>
  <d-tag [tag]="'标签颜色1'" [labelStyle]="'blue-w98'"></d-tag>
  <d-tag [tag]="'标签颜色2'" [labelStyle]="'aqua-w98'"></d-tag>
  <d-tag [tag]="'标签颜色3'" [labelStyle]="'olivine-w98'"></d-tag>
  <d-tag [tag]="'标签颜色4'" [labelStyle]="'green-w98'"></d-tag>
  <d-tag [tag]="'标签颜色5'" [labelStyle]="'yellow-w98'"></d-tag>
  <d-tag [tag]="'标签颜色6'" [labelStyle]="'orange-w98'"></d-tag>
  <d-tag [tag]="'标签颜色7'" [labelStyle]="'pink-w98'"></d-tag>
  <d-tag [tag]="'标签颜色8'" [labelStyle]="'red-w98'"></d-tag>
  <d-tag [tag]="'标签颜色9'" [labelStyle]="'purple-w98'"></d-tag>
  <d-tag [tag]="'自定义颜色#F50'" [customColor]="'#f50'"></d-tag>
  <d-tag [tag]="'自定义标签样式'" [labelStyle]="'tag-custom'" [titleContent]="'hello'"></d-tag>
  <h4>单个可删除标签</h4>
  <d-tag [tag]="deleteTagName1" [deletable]="true" (tagDelete)="getTagValue($event); deleteTag($event)"></d-tag>
  <d-tag [tag]="deleteTagName2" [deletable]="true" [labelStyle]="'purple-w98'" (tagDelete)="getTagValue($event); deleteTag($event)"></d-tag>
  <h4>单个自定义标签</h4>
  <d-tag [tag]="tagName" (tagDelete)="getTagValue($event); deleteTag($event)" [customViewTemplate]="customTag"> </d-tag>
  <d-tag [tag]="tagName" (tagDelete)="getTagValue($event); deleteTag($event)" [labelStyle]="'purple-w98'" [customViewTemplate]="customTag">
  </d-tag>
  <h4>可选中标签</h4>
  <d-tag
    *ngFor="let tag of tagList; let i = index"
    [tag]="tag.name"
    [labelStyle]="tag.type"
    [checked]="tag.checked"
    (click)="changeChekced(tag)"
    [customColor]="tag.custumColor"
  ></d-tag>
  <ng-template #customTag let-tag="tag">
    <span class="icon-bug" style="vertical-align: text-top"></span>
    <span title="{{ tag }}">{{ tag }}</span>
  </ng-template>
</section>
