.tree-node.customized-tree-node {
  border: none;
  .tree-node__content {
    padding: 0.3em;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
  }

  .tree-node__content--value-wrapper {
    display: inline-flex;
    align-items: center;
  }

  .tree-node__children {
    padding-left: 1em;
  }

  .tree-node--parent {
  }

  .tree-node__title {
    padding-left: 0.4em;
    margin-top: 0.4em;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }

  .tree-node__leaf {
    &.glyphicon {
      color: #56c3f6;
    }
  }

  .tree-node__folder {
    display: inline-block;
    vertical-align: middle;
    color: rgba(86, 195, 246, 0.6);
    &:hover {
      + .tree-node__title {
        text-decoration: underline;
      }
    }
  }

  .glyphicon-remove {
    margin-top: 0.25em;
    margin-left: 0.5em;
    color: #f83848;
    &:hover {
      color: #f85f5b;
    }
  }
}

.devui-demo__search {
  margin-bottom: 20px;
}
