<section>
  <d-checkbox [label]="'选中状态'" [isShowTitle]="false" (change)="onCheckbox1Change($event)" [ngModel]="true"> </d-checkbox>
  <d-checkbox [label]="'未选中状态'" [isShowTitle]="false" (change)="onCheckbox1Change($event)" [ngModel]="false"> </d-checkbox>
  <d-checkbox
    [label]="'选中状态-关闭动效'"
    [isShowTitle]="false"
    [showAnimation]="false"
    (change)="onCheckbox1Change($event)"
    [ngModel]="true"
  >
  </d-checkbox>
  <d-checkbox
    [name]="'checkbox-username'"
    [label]="'选中状态下禁用'"
    [disabled]="true"
    [ngModel]="true"
    (change)="onCheckbox2Change($event)"
  >
  </d-checkbox>
  <d-checkbox
    [name]="'checkbox-username'"
    [label]="'未选中状态下禁用'"
    [disabled]="true"
    [ngModel]="false"
    (change)="onCheckbox2Change($event)"
  >
  </d-checkbox>
  <d-checkbox [label]="'半选状态'" [isShowTitle]="false" (change)="onCheckbox1Change($event)" [halfchecked]="true"> </d-checkbox>
  <d-checkbox [label]="'半选状态下禁用'" [isShowTitle]="false" [disabled]="true" (change)="onCheckbox1Change($event)" [halfchecked]="true">
  </d-checkbox>
  <d-checkbox [name]="'checkbox-username'" [label]="'数据双向绑定'" [(ngModel)]="checked" (change)="onCheckbox2Change($event)">
  </d-checkbox>
  <d-checkbox
    [name]="'checkbox-username'"
    [label]="'自定义选中颜色'"
    [color]="'RGB(255, 193, 7)'"
    [ngModel]="false"
    (change)="onCheckbox2Change($event)"
  >
  </d-checkbox>
  <d-checkbox [name]="'checkbox-username'" [ngModel]="true" (change)="onCheckbox2Change($event)" [labelTemplate]="myLabel"> </d-checkbox>
  <ng-template #myLabel let-disabled="disabled">
    <div class="inline-block-middle-valign">
      <d-select
        [(ngModel)]="number"
        [options]="[1, 2, 3, 4]"
        [disabled]="disabled"
        size="sm"
        class="inline-block-middle-valign"
        (click)="$event.preventDefault(); $event.stopPropagation()"
      ></d-select>
      自定义label模板
    </div>
  </ng-template>
</section>
