<div class="demo-container">
    <div class="demo-example">
        <div class="demo-title">基本用法</div>
        <div class="demo-text">
          跟随滚动效果请参考sticky
        </div>
        <ave-codebox id="components-tabs-default" [sourceData]="basicSource">
            <ave-basic demo></ave-basic>
        </ave-codebox>
    </div>

    <div class="demo-example">
      <div class="demo-title">基本用法</div>
      <div class="demo-text">
        支持异步加载, 可以先加载菜单或者先加载内容，点击按钮切换加载
      </div>
      <ave-codebox id="components-tabs-default" [sourceData]="basicSource">
          <ave-asyn demo></ave-asyn>
      </ave-codebox>
  </div>
</div>

