<div class="demo-container" dAnchorBox [view]="{ top: 60, bottom: 0 }">
  <<d-demo-nav [navItems]=navItems>></d-demo-nav>
  <div class="demo-example">
    <div class="demo-title" [dAnchor]="'basic-usage'">基本用法</div>
    <div class="demo-text">
      跟随滚动效果请参考sticky
    </div>
    <d-codebox id="components-tabs-default" [sourceData]="basicSource">
      <d-anchor-basic demo></d-anchor-basic>
    </d-codebox>
  </div>

  <div class="demo-example">
    <div class="demo-title" [dAnchor]="'asynchronous-loading'">异步加载</div>
    <div class="demo-text">
      支持异步加载, 可以先加载菜单或者先加载内容，点击按钮切换加载
    </div>
    <d-codebox id="components-tabs-async" [sourceData]="asyncSource">
      <d-anchor-async demo></d-anchor-async>
    </d-codebox>
  </div>
</div>
