<div class="demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 60, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="demo-example" [dAnchor]="'basic-usage'">
    <div class="demo-title">{{ 'components.anchor.basicDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.anchor.basicDemo.description' | translate }}</div>
    <d-codebox id="components-tabs-default" [sourceData]="basicSource">
      <d-anchor-basic demo></d-anchor-basic>
    </d-codebox>
  </div>

  <div class="demo-example" [dAnchor]="'asynchronous-loading'">
    <div class="demo-title">{{ 'components.anchor.asyncDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.anchor.asyncDemo.description' | translate }}</div>
    <d-codebox id="components-tabs-async" [sourceData]="asyncSource">
      <d-anchor-async demo></d-anchor-async>
    </d-codebox>
  </div>

  <div class="demo-example" [dAnchor]="'scroll-target'">
    <div class="demo-title">{{ 'components.anchor.scrollTargetDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.anchor.scrollTargetDemo.description' | translate }}</div>
    <d-codebox id="components-tabs-scroll-target" [sourceData]="ScrollTargetSource">
      <d-anchor-scroll-target demo></d-anchor-scroll-target>
    </d-codebox>
  </div>

  <div class="demo-example" [dAnchor]="'support-hash'">
    <div class="demo-title">{{ 'components.anchor.hashDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.anchor.hashDemo.description' | translate }}</div>
    <d-codebox id="components-tabs-async" [sourceData]="hashSource">
      <d-anchor-hash demo></d-anchor-hash>
    </d-codebox>
  </div>
</div>
