<section>
  <d-tabs [type]="'tabs'" [(activeTab)]="tab1acticeID" (activeTabChange)="activeTabChange($event)">
    <d-tab id="tab1" title="Tab1" tabId="tab1">
      <ng-template dTabContent>
        <p>
          这是Tab1的内容
        </p>
      </ng-template>
    </d-tab>

    <d-tab id="tab2" title="Tab2" tabId="tab2">
      <ng-template dTabContent>
        <p>
          这是Tab2的内容
        </p>
      </ng-template>
    </d-tab>

    <d-tab id="tab3" title="Tab3" tabId="tab3">
      <ng-template dTabContent>
        <p>
          这是Tab3的内容
        </p>
      </ng-template>
    </d-tab>
  </d-tabs>
</section>
