<section>
    <d-tabs [type]="'tabs'" [(activeTab)]="tab1acticeID">
        <d-tab id="tab1" title="Home" tabId="tab1">
            <ng-template dTabContent>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Etiam erat velit scelerisque in dictum non consectetur a erat. Aenean euismod elementum nisi quis eleifend quam. Blandit libero volutpat sed cras ornare arcu. Cursus turpis massa tincidunt dui ut ornare. Dolor sit amet consectetur adipiscing elit duis tristique sollicitudin nibh. Sed tempus urna et pharetra pharetra massa massa ultricies. Aliquet eget sit amet tellus cras adipiscing enim eu. Tincidunt praesent semper feugiat nibh sed. Sed viverra ipsum nunc aliquet bibendum. Accumsan sit amet nulla facilisi morbi tempus iaculis urna id. Bibendum ut tristique et egestas quis. Viverra vitae congue eu consequat. A pellentesque sit amet porttitor eget dolor morbi non arcu. Eget nulla facilisi etiam dignissim diam.
                </p>
            </ng-template>
        </d-tab>

        <d-tab id="tab2" title="Profile" tabId="tab2">
            <ng-template dTabContent>
                <p>
                  Netus et malesuada fames ac turpis. Quis auctor elit sed vulputate mi sit amet. Nibh ipsum consequat nisl vel pretium lectus quam id leo. Et ligula ullamcorper malesuada proin libero. Condimentum lacinia quis vel eros donec. Viverra suspendisse potenti nullam ac tortor. Massa eget egestas purus viverra accumsan in nisl. Fames ac turpis egestas maecenas pharetra. Quis varius quam quisque id. Ornare arcu odio ut sem nulla pharetra. In ante metus dictum at tempor commodo ullamcorper. Euismod nisi porta lorem mollis aliquam ut porttitor. Viverra adipiscing at in tellus. Est pellentesque elit ullamcorper dignissim cras. Sed tempus urna et pharetra pharetra. Nullam ac tortor vitae purus faucibus ornare suspendisse.
                </p>
            </ng-template>
        </d-tab>

        <d-tab id="tab3" title="Fat" tabId="tab3">
            <ng-template dTabContent>
                <p>
                  Sit amet massa vitae tortor condimentum lacinia quis vel. Ac placerat vestibulum lectus mauris. Et malesuada fames ac turpis egestas integer eget aliquet nibh. Lectus magna fringilla urna porttitor rhoncus dolor purus non. Porttitor rhoncus dolor purus non enim praesent. Felis donec et odio pellentesque diam volutpat. Cras sed felis eget velit aliquet sagittis id consectetur purus. Pulvinar sapien et ligula ullamcorper malesuada proin. Quam lacus suspendisse faucibus interdum. Eget duis at tellus at urna. Tellus mauris a diam maecenas sed. Viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor. Sed enim ut sem viverra aliquet eget sit amet. Orci nulla pellentesque dignissim enim sit amet venenatis urna cursus. Adipiscing commodo elit at imperdiet dui accumsan sit amet. Enim neque volutpat ac tincidunt vitae. Mauris cursus mattis molestie a iaculis at.
                </p>
            </ng-template>
        </d-tab>
    </d-tabs>
    <div class="space"></div>
    <d-tabs [type]="'options'" [(activeTab)]="tab2acticeID">
        <d-tab id="tab1" title="Home" tabId="tab1">
            <ng-template dTabContent>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Etiam erat velit scelerisque in dictum non consectetur a erat. Aenean euismod elementum nisi quis eleifend quam. Blandit libero volutpat sed cras ornare arcu. Cursus turpis massa tincidunt dui ut ornare. Dolor sit amet consectetur adipiscing elit duis tristique sollicitudin nibh. Sed tempus urna et pharetra pharetra massa massa ultricies. Aliquet eget sit amet tellus cras adipiscing enim eu. Tincidunt praesent semper feugiat nibh sed. Sed viverra ipsum nunc aliquet bibendum. Accumsan sit amet nulla facilisi morbi tempus iaculis urna id. Bibendum ut tristique et egestas quis. Viverra vitae congue eu consequat. A pellentesque sit amet porttitor eget dolor morbi non arcu. Eget nulla facilisi etiam dignissim diam.
                </p>
            </ng-template>
        </d-tab>

        <d-tab id="tab2" title="Profile" tabId="tab2">
            <ng-template dTabContent>
                <p>
                  Netus et malesuada fames ac turpis. Quis auctor elit sed vulputate mi sit amet. Nibh ipsum consequat nisl vel pretium lectus quam id leo. Et ligula ullamcorper malesuada proin libero. Condimentum lacinia quis vel eros donec. Viverra suspendisse potenti nullam ac tortor. Massa eget egestas purus viverra accumsan in nisl. Fames ac turpis egestas maecenas pharetra. Quis varius quam quisque id. Ornare arcu odio ut sem nulla pharetra. In ante metus dictum at tempor commodo ullamcorper. Euismod nisi porta lorem mollis aliquam ut porttitor. Viverra adipiscing at in tellus. Est pellentesque elit ullamcorper dignissim cras. Sed tempus urna et pharetra pharetra. Nullam ac tortor vitae purus faucibus ornare suspendisse.
                </p>
            </ng-template>
        </d-tab>

        <d-tab id="tab3" title="Fat" tabId="tab3">
            <ng-template dTabContent>
                <p>
                  Sit amet massa vitae tortor condimentum lacinia quis vel. Ac placerat vestibulum lectus mauris. Et malesuada fames ac turpis egestas integer eget aliquet nibh. Lectus magna fringilla urna porttitor rhoncus dolor purus non. Porttitor rhoncus dolor purus non enim praesent. Felis donec et odio pellentesque diam volutpat. Cras sed felis eget velit aliquet sagittis id consectetur purus. Pulvinar sapien et ligula ullamcorper malesuada proin. Quam lacus suspendisse faucibus interdum. Eget duis at tellus at urna. Tellus mauris a diam maecenas sed. Viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor. Sed enim ut sem viverra aliquet eget sit amet. Orci nulla pellentesque dignissim enim sit amet venenatis urna cursus. Adipiscing commodo elit at imperdiet dui accumsan sit amet. Enim neque volutpat ac tincidunt vitae. Mauris cursus mattis molestie a iaculis at.
                </p>
            </ng-template>
        </d-tab>
    </d-tabs>
</section>
