<h3 class="devui-h3-title">{{ 'components.design-border-radius.cornerDemo.instance.tableTitle' | translate }}</h3>
<d-data-table #datatable [dataSource]="borderRadius" [scrollable]="true">
  <d-column
    field="name"
    header="{{ 'components.design-border-radius.cornerDemo.instance.table.cornerName' | translate }}"
    [width]="'150px'"
  >
  </d-column>
  <d-column
    field="themeValue"
    header="{{ 'components.design-border-radius.cornerDemo.instance.table.themeValue' | translate }}"
    [width]="'150px'"
  ></d-column>
  <d-column
    field="description"
    header="{{ 'components.design-border-radius.cornerDemo.instance.table.description' | translate }}"
    [width]="'200px'"
  >
  </d-column>
</d-data-table>
