<div class="devui-demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 180, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="devui-demo-example" [dAnchor]="'basic-usage'">
    <div class="devui-demo-title">{{ 'components.text-input.basicDemo.title' | translate }}</div>
    <div class="devui-demo-text"></div>
    <d-codebox id="text-basic" [sourceData]="basicSource">
      <d-basic demo></d-basic>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'size'">
    <div class="devui-demo-title">{{ 'components.text-input.sizeDemo.title' | translate }}</div>
    <div class="devui-demo-text"></div>
    <d-codebox id="components-text-input-size" [sourceData]="sizeSource">
      <d-demo-text-input-size demo></d-demo-text-input-size>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'password-input'">
    <div class="devui-demo-title">{{ 'components.text-input.passwordVisibleDemo.title' | translate }}</div>
    <div class="devui-demo-text"></div>
    <d-codebox id="text-password-visible" [sourceData]="passwordVisibleSource">
      <d-password-visible demo></d-password-visible>
    </d-codebox>
  </div>
</div>
