<div class="demo-container" dAnchorBox [view]="{ top: 60, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="demo-example">
    <div class="demo-title" [dAnchor]="'basic-usage'">基本用法</div>
    <div class="demo-text">
      展示加载表格数据的场景中的基本使用方法
    </div>
    <d-codebox id="components-loading-basic" [sourceData]="basicSource">
      <d-basic demo></d-basic>
    </d-codebox>
  </div>

  <div class="demo-example">
    <div class="demo-title" [dAnchor]="'custom-style'">自定义样式</div>
    <div class="demo-text">
      通过 templateRef 自定义loading样式
    </div>
    <d-codebox id="components-loading-custom" [sourceData]="customSource">
      <d-custom demo></d-custom>
    </d-codebox>
  </div>

  <div class="demo-example">
    <div class="demo-title" [dAnchor]="'multi-promise'">多promise</div>
    <div class="demo-text">
      支持多个promise
    </div>
    <d-codebox id="components-loading-promise" [sourceData]="promiseSource">
      <d-promise demo></d-promise>
    </d-codebox>
  </div>
  <div class="demo-example">
    <div class="demo-title" [dAnchor]="'use-subscription-mode'">使用Subscription方式</div>
    <div class="demo-text">
      使用Subscription方式控制loading的显示
    </div>
    <d-codebox id="components-loading-subscription" [sourceData]="loadingDemoSubscriptionSource">
      <d-subscription demo></d-subscription>
    </d-codebox>
  </div>
</div>
