<div class="devui-demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 180, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="devui-demo-example" [dAnchor]="'basic-usage'">
    <div class="devui-demo-title">{{ 'components.loading.basicDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.loading.basicDemo.description' | translate }}</div>
    <d-codebox id="components-loading-basic" [sourceData]="basicSource">
      <d-basic demo></d-basic>
    </d-codebox>
  </div>

  <div class="devui-demo-example" [dAnchor]="'custom-style'">
    <div class="devui-demo-title">{{ 'components.loading.customDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.loading.customDemo.description' | translate }}</div>
    <d-codebox id="components-loading-custom" [sourceData]="customSource">
      <d-custom demo></d-custom>
    </d-codebox>
  </div>

  <div class="devui-demo-example" [dAnchor]="'multi-promise'">
    <div class="devui-demo-title">{{ 'components.loading.promiseDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.loading.promiseDemo.description' | translate }}</div>
    <d-codebox id="components-loading-promise" [sourceData]="promiseSource">
      <d-promise demo></d-promise>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'use-subscription-mode'">
    <div class="devui-demo-title">{{ 'components.loading.subscriptionDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.loading.subscriptionDemo.description' | translate }}</div>
    <d-codebox id="components-loading-subscription" [sourceData]="loadingDemoSubscriptionSource">
      <d-subscription demo></d-subscription>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'show-loading'">
    <div class="devui-demo-title">{{ 'components.loading.showLoadingDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.loading.showLoadingDemo.description' | translate }}</div>
    <d-codebox id="components-loading-subscription" [sourceData]="showLoadingSource">
      <d-show-loading demo></d-show-loading>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'full-screen'">
    <div class="devui-demo-title">{{ 'components.loading.fullScreenDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.loading.fullScreenDemo.description' | translate }}</div>
    <d-codebox id="components-loading-fullScreen" [sourceData]="fullScreenSource">
      <d-full-screen demo></d-full-screen>
    </d-codebox>
  </div>
</div>
