<section>
  <form dForm [layout]="'horizontal'" [labelSize]="'lg'">
    <d-form-item>
      <d-form-label>计划名</d-form-label>
      <d-form-control>
        <input type="text" name="userName" />
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>计划描述</d-form-label>
      <d-form-control>
        <textarea name="desc" maxlength="200"></textarea>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'这是单选框，单选框，单选框'">单选框</d-form-label>
      <d-form-control>
        <d-select [options]="selectOptions" name="select1" size="sm" [filterKey]="'label'" [(ngModel)]="formData.selectValue"></d-select>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>单选框</d-form-label>
      <d-form-control>
        <d-select
          name="multiSelect"
          [options]="selectOptions"
          size="sm"
          [filterKey]="'label'"
          [isSearch]="true"
          [multiple]="true"
          [extraConfig]="{
            labelization: multipleSelect2DemoConfig.labelization
          }"
          [ngModel]="formData.multipleSelectValue"
        ></d-select>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">单选框</d-form-label>
      <d-form-control>
        <d-tags-input
          name="tag"
          (click)="$event.stopPropagation()"
          id="tagsInputId"
          [displayProperty]="'label'"
          [tags]="addedLabelList"
          [placeholder]="'标签'"
          [suggestionList]="labelList"
        >
        </d-tags-input>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [hasHelp]="true" [helpTips]="'这是计划名，计划名字，计划名'">单选框</d-form-label>
      <d-form-control>
        <d-radio-group name="schedule" [cssStyle]="'row'" [(ngModel)]="formData.radioValue">
          <d-radio *ngFor="let option of radioOptions" [value]="option">
            {{ option.label }}
          </d-radio>
        </d-radio-group>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>开关</d-form-label>
      <d-form-control>
        <d-toggle name="anonymous" size="small" [(ngModel)]="formData.toggleValue"></d-toggle>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>执行日</d-form-label>
      <d-form-control>
        <div class="single-checkbox" *ngFor="let option of checkboxOptions">
          <d-checkbox name="runDay" [label]="option.label" [isShowTitle]="false" [ngModel]="option.checked"></d-checkbox>
        </div>
      </d-form-control>
    </d-form-item>
    <d-form-operation>
      <d-button bsStyle="stress" class="mr-element-spacing" circled="true">提交</d-button>
      <d-button bsStyle="common" circled="true">取消</d-button>
    </d-form-operation>
  </form>
</section>
