@import '~ng-devui/styles-var/devui-var.scss';

.header {
  padding: 32px 32px 0 32px;
  height: 56px;
  position: relative;
  border: none;
  font-size: $devui-font-size-modal-title;
  font-weight: bold;
  vertical-align: middle;
}

.body {
  padding-top: 20px;
  padding-right: 32px;
  padding-bottom: 20px;
  padding-left: 32px;
}

.footer {
  border-top: none;
  padding-bottom: 20px;
  text-align: center;
}
