@import '~ng-devui/styles-var/devui-var.scss';

.header {
  padding: 30px 30px 0 30px;
  height: 56px;
  position: relative;
  border: none;
  font-size: $devui-font-size-modal-title;
  font-weight: 600;
  vertical-align: middle;
}

.body {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 0;
  padding-left: 30px;
}

.footer {
  border-top: none;
  padding: 15px 0;
  text-align: center;
}
