<d-cascader
  [options]="options"
  [placeholder]="'please select'"
  [(ngModel)]="value"
  [trigger]="'click'"
  (ngModelChange)="onChanges($event)"
  [showPath]="true"
  [allowClear]="true"
  [width]="300"
  [loadChildrenFn]="loadChildren"
></d-cascader>

<h4>Multiple Mode:</h4>
<d-cascader
  [options]="options"
  [placeholder]="'please select'"
  [(ngModel)]="value2"
  [trigger]="'click'"
  (ngModelChange)="onChanges($event)"
  [showPath]="true"
  [allowClear]="true"
  [width]="300"
  [loadChildrenFn]="loadChildren"
  [multiple]="true"
></d-cascader>
