<div class="devui-demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 180, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="devui-demo-example" [dAnchor]="'basic-usage'">
    <div class="devui-demo-title">{{ 'components.toggle.basicDemo.title' | translate }}</div>
    <div class="devui-demo-text"></div>
    <d-codebox id="default" [sourceData]="basicSource">
      <d-basic demo></d-basic>
    </d-codebox>
  </div>

  <div class="devui-demo-example" [dAnchor]="'two-binding'">
    <div class="devui-demo-title">{{ 'components.toggle.twoBindingDemo.title' | translate }}</div>
    <div class="devui-demo-text"></div>
    <d-codebox id="two-binding" [sourceData]="twoBindingSource">
      <d-two-binding demo></d-two-binding>
    </d-codebox>
  </div>

  <div class="devui-demo-example" [dAnchor]="'callback'">
    <div class="devui-demo-title">{{ 'components.toggle.callbackDemo.title' | translate }}</div>
    <div class="devui-demo-text"></div>
    <d-codebox id="callback" [sourceData]="callbackSource">
      <d-callback demo></d-callback>
    </d-codebox>
  </div>

  <div class="devui-demo-example" [dAnchor]="'custom'">
    <div class="devui-demo-title">{{ 'components.toggle.customDemo.title' | translate }}</div>
    <div class="devui-demo-text"></div>
    <d-codebox id="custom" [sourceData]="customSource">
      <d-custom demo></d-custom>
    </d-codebox>
  </div>
</div>
