<d-accordion
  [data]="menu"
  class="menu"
  [restrictOneOpen]="restrictOneOpen"
  (itemClick)="itemClick($event)"
  (menuToggle)="menuToggle($event)"
  (activeItemChange)="log($event)"
  [accordionType]="accordionTypeEmbed ? 'embed' : 'normal'"
></d-accordion>
<div class="option">
  <d-toggle [(ngModel)]="restrictOneOpen"></d-toggle> Only one level-1 menu can be expanded.<!--限制只能展开一个一级菜单-->
</div>
<div class="option"><d-toggle [(ngModel)]="accordionTypeEmbed"></d-toggle> Embedded menu (no shadow)<!--内嵌菜单形式（无阴影）--></div>
