@import '../style/theme/color';

.devui-avatar-style {
  display: inline-block;
  text-align: center;
  color: $font-white;
}

.devui-avatar-background-0 {
  background-color: #ff8f74;
}

.devui-avatar-background-1 {
  background-color: #73b0ff;
}
