@import '../style/theme/color';

.devui-avatar-style {
  display: inline-block;
  text-align: center;
  color: $font-white;
}

.devui-avatar-background-0 {
  background-color: #ff8b87;
}

.devui-avatar-background-1 {
  background-color: #7693f5;
}
