<section>
  <h4>size = 'sm'</h4>
  <div>
    <d-pagination
      [size]="'sm'"
      [total]="pager.total"
      [(pageSize)]="pager.pageSize"
      [(pageIndex)]="pager.pageIndex"
      [canViewTotal]="true"
      [canChangePageSize]="true"
      [canJumpPage]="true"
      [maxItems]="5"
    >
    </d-pagination>
  </div>
  <h4>size = 'md'</h4>
  <div>
    <d-pagination
      [total]="pager.total"
      [(pageSize)]="pager.pageSize"
      [(pageIndex)]="pager.pageIndex"
      [canViewTotal]="true"
      [canChangePageSize]="true"
      [canJumpPage]="true"
      [maxItems]="5"
    >
    </d-pagination>
  </div>
  <h4>size = 'lg'</h4>
  <div>
    <d-pagination
      [size]="'lg'"
      [total]="pager.total"
      [(pageSize)]="pager.pageSize"
      [(pageIndex)]="pager.pageIndex"
      [canViewTotal]="true"
      [canChangePageSize]="true"
      [canJumpPage]="true"
      [maxItems]="5"
    >
    </d-pagination>
  </div>
  <h4>Custom Style</h4>
  <div>
    <d-pagination
      [total]="pager.total"
      [(pageSize)]="pager.pageSize"
      [(pageIndex)]="pager.pageIndex"
      [canViewTotal]="true"
      [canChangePageSize]="true"
      [canJumpPage]="true"
      [goToText]="'Jump to'"
      [preLink]="preLink"
      [nextLink]="nextLink"
    >
    </d-pagination>
  </div>
</section>
