<section>
  <h4>标准尺寸</h4>
  <div>
    <d-pagination [size]="'sm'" [total]="pager.total" [(pageSize)]="pager.pageSize" [(pageIndex)]="pager.pageIndex"
      [canViewTotal]="true" [canChangePageSize]="true" [canJumpPage]="true" [maxItems]="5">
    </d-pagination>
  </div>
  <h4>中等尺寸</h4>
  <div>
    <d-pagination [total]="pager.total" [(pageSize)]="pager.pageSize" [(pageIndex)]="pager.pageIndex" [canViewTotal]="true"
      [canChangePageSize]="true" [canJumpPage]="true" [maxItems]="5">
    </d-pagination>
  </div>
  <h4>大尺寸</h4>
  <div>
    <d-pagination [size]="'lg'" [total]="pager.total" [(pageSize)]="pager.pageSize" [(pageIndex)]="pager.pageIndex"
      [canViewTotal]="true" [canChangePageSize]="true" [canJumpPage]="true" [maxItems]="5" >
    </d-pagination>
  </div>
</section>