<section>
  <h4>size = 'sm'</h4>
  <div>
    <d-pagination
      [size]="'sm'"
      [total]="pager.total"
      [(pageSize)]="pager.pageSize"
      [(pageIndex)]="pager.pageIndex"
      [canViewTotal]="true"
      [canChangePageSize]="true"
      [maxItems]="5"
    >
    </d-pagination>
  </div>
  <h4>size = 'md'</h4>
  <div>
    <d-pagination
      [total]="pager.total"
      [(pageSize)]="pager.pageSize"
      [(pageIndex)]="pager.pageIndex"
      [canViewTotal]="true"
      [canChangePageSize]="true"
      [maxItems]="5"
    >
    </d-pagination>
  </div>
  <h4>size = 'lg'</h4>
  <div>
    <d-pagination
      [size]="'lg'"
      [total]="pagerLg.total"
      [(pageSize)]="pagerLg.pageSize"
      [(pageIndex)]="pagerLg.pageIndex"
      [canViewTotal]="true"
      [canChangePageSize]="true"
      [maxItems]="5"
    >
    </d-pagination>
  </div>
</section>
