@import '~ng-devui/styles-var/devui-var.scss';

.container {
  height: 400px;
  width: 100%;
  margin-top: 20px;
  position: relative;
  background: $devui-global-bg;

  .modal {
    position: absolute;
    width: 300px;
    height: 200px;
    padding: 20px;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    background: $devui-base-bg;
    box-shadow: $devui-shadow-length-base $devui-shadow;
  }
}

d-button {
  width: 100px;
}
