<div class="demo-container">
  <div class="demo-example">
    <div class="demo-title">标准对话框</div>
    <div class="demo-text">
      使用dialogService可拖拽的标准对话框
    </div>
    <ave-codebox id="basic" [sourceData]="basicSource">
        <ave-basic demo></ave-basic>
    </ave-codebox>
  </div>
  <div class="demo-example">
      <div class="demo-title">自定义对话框</div>
      <div class="demo-text">
          使用modalService可以自定义对话框内的所有内容
      </div>
      <ave-codebox id="customize" [sourceData]="customizeSource">
          <ave-customize demo></ave-customize>
      </ave-codebox>
    </div>
    <div class="demo-example">
        <div class="demo-title">信息提示</div>
        <div class="demo-text">
            各种类型的信息提示框
        </div>
        <ave-codebox id="tips" [sourceData]="tipsSource">
            <ave-tips demo></ave-tips>
        </ave-codebox>
      </div>
</div>
