@import '../style/theme/color';
@import '../style/theme/corner';
@import '../style/core/_font';

.devui-transfer-container {
  width: 100%;
  display: flex;
  flex-wrap: warp;
  justify-content: center;
  -moz-justfy-center: center;
  -ms-justify-center: center;
  -o-justfy-cneter: center;
  align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
}

.devui-transfer-source,
.devui-transfer-target {
  width: calc(50% - 28px);
  border: 1px solid $devui-line;
  border-radius: $devui-border-radius-card;
}

.devui-transfer-option {
  padding: 0 12px;
}

.devui-transfer-search {
  margin: 0 16px 8px 20px;
}

.devui-transfer-num {
  flex: 1;
  text-align: right;
  align-self: center;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-align-self: center;
  -o-align-self: center;
  font-size: $devui-font-size;
  color: $devui-aide-text;
  margin-right: 12px;
}

.disable {
  background-color: $devui-disabled-bg;
  color: $devui-disabled-text;
  cursor: not-allowed;
}

:host {
  ::ng-deep {
    .disabled {
      .devui-checkbox label {
        color: $devui-disabled-text;
      }
    }
  }
}

.devui-transfer-op {
  .devui-transfer-default-svg {
    cursor: not-allowed;

    circle {
      fill: $devui-disabled-bg;
      stroke: $devui-disabled-line;
    }

    path {
      fill: $devui-disabled-text;
    }
  }

  .devui-transfer-active-svg {
    cursor: pointer;

    circle {
      fill: $devui-brand;
    }

    path {
      fill: $devui-light-text;
    }
  }
}

.devui-transfer-content {
  padding-top: 8px;
}

.devui-transfer-content ul {
  overflow: auto;
}

.devui-transfer-content li {
  display: flex;
  align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  height: 36px;
  line-height: 36px;
  margin-right: 20px;

  d-checkbox {
    ::ng-deep .devui-checkbox {
      label {
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  &:hover {
    svg {
      opacity: 1;
      cursor: move;
    }
  }

  .devui-transfer-drag-wrap {
    min-width: 21px;
    height: 80%;
    padding-right: 4px;
    display: inline-flex;
    align-items: center;
  }

  svg {
    opacity: 0;
    display: inline-block;

    * {
      pointer-events: none;
    }
  }

  .devui-transfer-drag-ico {
    width: 16px;
    height: 16px;
  }
}

.devui-transfer-title {
  display: flex;
  height: 44px;
  line-height: 44px;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  padding-left: 20px;
  background: $devui-area;
  border-radius: $devui-border-radius-card $devui-border-radius-card 0 0;
}

.devui-transfer-line {
  height: 1px;
  background: $devui-dividing-line;
}

.option-btn {
  display: inline-block;
}
