@import '../style/theme/color';
@import '../style/core/_font';

.container {
  width: 100%;
  display: flex;
  flex-wrap: warp;
  justify-content: center;
  -moz-justfy-center: center;
  -ms-justify-center: center;
  -o-justfy-cneter: center;
  align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
}

.source,
.target {
  width: 48%;
  border: 1px solid $devui-line;
  border-radius: 2px;
}

.option {
  padding: 0 10px;
}

.search {
  margin: 0 15px 10px 20px;
}

.num {
  flex: 1;
  text-align: right;
  align-self: center;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-align-self: center;
  -o-align-self: center;
  font-size: $devui-font-size;
  color: $devui-aide-text;
  margin-right: 10px;
}

.disable {
  background-color: $devui-disabled-bg;
  color: $devui-disabled-text;
  cursor: not-allowed;
}

:host {
  ::ng-deep {
    .disabled {
      .devui-checkbox label {
        color: $devui-disabled-text;
      }
    }
  }
}

.transfer-op {
  .default-svg {
    circle {
      fill: $devui-disabled-bg;
      stroke: $devui-disabled-line;
    }

    path {
      fill: $devui-disabled-text;
    }
  }

  .active-svg {
    circle {
      fill: $devui-icon-fill-active;
      stroke: $devui-icon-fill;
    }

    path {
      fill: $devui-light-text;
    }
  }
}

.content {
  padding-top: 10px;
}

.content ul {
  overflow: auto;
}

.content li {
  display: flex;
  align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  height: 36px;
  line-height: 36px;

  &:hover {
    svg {
      opacity: 1;
      cursor: move;
    }
  }

  .drag-ico {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-right: 5px;
  }

  svg {
    opacity: 0;
    display: inline-block;
  }

  .drag-handle {
    width: 16px;
    height: 16px;
  }
}

.title {
  display: flex;
  height: 40px;
  line-height: 40px;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  margin-left: 20px;
}

.line {
  height: 1px;
  background: $devui-dividing-line;
}

.option-btn {
  display: inline-block;
}
