.over-flow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.clear-fix {
  zoom: 1;
}

.clear-fix::after {
  content: '';
  display: block;
  width: 0;
  clear: both;
}

.devui-close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  filter: alpha(opacity=20);
  opacity: 0.2;

  &:hover,
  &:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}

button.devui-close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

a:hover,
a:focus {
  color: $brand-1;
}

a:active,
a:hover {
  outline: 0;
}

.devui-link {
  color: $link;

  &:hover {
    color: $hover-control;
    text-decoration: underline;
    cursor: pointer;
  }
}

.devui-disabled {
  &,
  &.devui-input-group-addon {
    border-color: $disabled-border;
  }

  &,
  & > input,
  & > .devui-input-group-addon {
    color: $disabled-content;
    background-color: $disabled-bg;
    cursor: not-allowed;
  }
}
