@import '../theme/color.scss';

.devui-dropdown {
  position: relative;
  vertical-align: middle;

  .devui-dropdown-toggle {
    box-shadow: none;
    outline: none;
  }

  .devui-dropdown-toggle.devui-dropdown-default {
    &:not(.devui-dropdown-item) {
      display: inline-block;
    }

    min-width: 100px;
    line-height: 20px;
    padding: 5px 15px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    outline: 0;
    border-style: solid;
    border-width: 1px;
  }

  .devui-caret {
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }

  &.devui-dropdown-open .devui-dropdown-toggle span.icon-chevron-down {
    transform: rotate(180deg);
  }
}

.devui-dropdown-menu {
  position: absolute;
  float: left;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 100px;
  padding: 5px 0;
  margin-top: 2px;
  background-clip: padding-box;
  border-radius: 0 0 2px 2px;
  list-style: none;
  background-color: $dropdown-overlay;
  box-shadow: 0 2px 5px 0 $dark-1-boxshadow;
  outline: none;

  .open > & {
    display: block;
  }

  > li > a {
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    display: block;
    cursor: pointer;
  }

  li > input {
    margin: 0 10px;
  }

  > .disabled > a {
    color: $disabled-content;
    cursor: not-allowed;

    &:hover,
    &:focus {
      cursor: not-allowed;
    }
  }

  .devui-dropdown-item:not(.disabled) {
    &:hover {
      background-color: $hover-content;
    }

    &.devui-dropdown-bg {
      //箭头选中
      background-color: $hover-content;
    }

    &.active {
      color: $brand-1;
      background-color: $brand-3;
    }
  }
}

.devui-form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  pointer-events: none;

  .devui-caret {
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
}

.form-group.has-feedback[tabindex] {
  outline: 0;
}

.devui-dropdown-no-border {
  display: inline-block;
  min-height: 30px;
  min-width: 102px;
  line-height: 20px;
  padding: 5px 15px;
  border-radius: 2px;
  text-align: center;
  font-size: 14px;
  outline: 0;
  background-image: none;
  text-decoration: none;
  cursor: pointer;
  background-color: $dropdown-overlay;
  color: $dark-1;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active:hover,
  &:focus {
    color: $hover-control;
  }
}

.devui-dropdown-no-border,
.devui-dropdown-toggle,
.devui-dropdown-item {
  .icon[class*=' icon-'] {
    position: relative;
    top: 2px;
  }
}

.devui-dropdown {
  .devui-dropdown-default {
    background-color: $bg-white;
    color: $dark-1;
    border-color: $gray-1;

    &:hover {
      border-color: $brand-1;
      color: $brand-1;
    }

    &:active,
    &:focus {
      border-color: $hover-control;
      color: $hover-control;
    }
  }

  .devui-dropdown-menu {
    background-color: $bg-white;
    box-shadow: 0 2px 5px 0 $dark-1-boxshadow;

    > li > a:not(.disabled) {
      color: $dark-1;

      &:hover,
      &:focus {
        background-color: $hover-content;
      }
    }

    > .disabled > a {
      color: $disabled-content;
      cursor: not-allowed;
    }
  }
}
