// 字号大小变量
@import '../theme/font';

@mixin font-content() {
  font-size: $devui-font-size;
  font-weight: $font-content-weight;
  line-height: $line-height-base;
}

@mixin font-title($font-size: $devui-font-size-page-title) {
  font-size: $font-size;
  font-weight: $font-title-weight;
  line-height: $line-height-base;
}
