@import '../theme/color.scss';

@mixin border-position-radius($position: left) {
  border-top-#{$position}-radius: 0;
  border-bottom-#{$position}-radius: 0;
}

.devui-form-controls input[type='text'],
.devui-form-controls input[type='password'],
[dTextInput] {
  width: 100%;
  height: 28px;
}

[dTextArea] {
  width: 100%;
}

.devui-form-controls textarea,
[dTextInput],
[dTextarea] {
  box-sizing: border-box;
  padding: 4px 10px;
  color: $devui-text;
  vertical-align: middle;
  border: 1px solid $devui-form-control-line;
  border-radius: 2px;
  outline: none;
  background-color: $devui-base-bg;

  &:not([disabled]):not(.disabled):not(.devui-disabled):not(.error) {
    &:hover {
      border-color: $devui-form-control-line-hover;
    }

    &:focus {
      border-color: $devui-form-control-line-active;
    }
  }

  &[disabled],
  &.disabled,
  &.devui-disabled {
    &,
    &:hover {
      cursor: not-allowed;
      background-color: $devui-disabled-bg;
      border-color: $devui-disabled-line;
      color: $devui-disabled-text;
    }
  }
}

.devui-form-controls textarea,
[dTextarea] {
  width: 100%;
}

// input 样式
.devui-input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.devui-input-group-addon {
  border: 1px solid $devui-form-control-line;
  border-radius: 2px;
  display: table-cell;
  padding: 0 10px;
  text-align: center;

  &:last-child {
    @include border-position-radius(left);

    border-left: 0;
  }

  &:first-child {
    @include border-position-radius(right);

    border-right: 0;
  }
}

.devui-input {
  outline: none;
  background-color: $devui-base-bg;
  border: 1px solid $devui-form-control-line;
  border-radius: 2px;
  padding: 5px 10px;
  line-height: 16px; // 解决ie中文字不居中，由于height28px，有10px的padding和2px的border，剩余16px，使用其他的会使文字不居中
  font-size: 12px;
  color: $devui-text;
  width: 100%;
  display: block;
  cursor: text;
  height: 28px;

  &:hover {
    border-color: $devui-form-control-line-hover;
  }

  &:focus {
    border-color: $devui-form-control-line-active;
  }

  &[disabled],
  &.disabled,
  &.devui-disabled {
    &,
    &:hover,
    &:focus,
    &:hover:focus {
      border-color: $devui-disabled-line;
      color: $devui-disabled-text;
      background-color: $devui-disabled-bg;
      cursor: not-allowed;
    }
  }

  &::placeholder {
    color: $devui-placeholder;
  }

  &.devui-search-in-dropdown {
    margin: 0;
    border: none;
    padding: 5px 26px 5px 10px;
    background-color: $devui-embed-search-bg;
    color: $devui-text;

    &:-ms-input-placeholder {
      color: $devui-placeholder;
    }

    &:hover {
      background-color: $devui-embed-search-bg-hover;
    }
  }

  .devui-input-group > & {
    display: table-cell;
  }

  .devui-input-group > &:first-child {
    @include border-position-radius(right);
  }

  .devui-input-group > &:last-child {
    @include border-position-radius(left);
  }

  .devui-input-group > &:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}

.devui-input-lg {
  font-size: 16px;
  line-height: 20px; // 同devui-input
  height: 32px;
}

.devui-input-sm {
  font-size: 12px;
  line-height: 14px; // 同devui-input
  height: 26px;
}

// dropdown 公共样式
.devui-dropup,
.devui-dropdown {
  position: relative;
}

.devui-form-group {
  position: relative;
}

.devui-form-control {
  color: $devui-text;
  background-color: $devui-base-bg;
  padding: 5px 10px;
  border: 1px solid $devui-form-control-line;
  display: block;
  width: 100%;
  height: 28px;
  border-radius: 2px;
  outline: 0;

  &[disabled],
  &.disabled,
  &.devui-disabled {
    &,
    &:hover,
    &:focus {
      border-color: $devui-disabled-line;

      &,
      & > input {
        color: $devui-disabled-text;
        background-color: $devui-disabled-bg;
        cursor: not-allowed;
      }
    }
  }

  &:hover {
    border-color: $devui-form-control-line-hover;
  }

  &:focus {
    border-color: $devui-form-control-line-active;
  }
}

:not(.devui-dropdown-origin-wrapper):not(.multiple-label-auto-complete-disabled) {
  > .devui-dropdown-origin {
    position: relative;
    z-index: 1;
  }

  > .devui-dropdown-origin:hover:not([disabled]):not(.disabled):not(.devui-disabled):not(:focus):not(.devui-dropdown-origin-open) {
    border-color: $devui-form-control-line-hover;
  }

  > .devui-dropdown-origin:focus:not([disabled]):not(.disabled):not(.devui-disabled) {
    outline: none;
    border-color: $devui-form-control-line-active;

    &:not(.devui-select-underlined-border):not(.devui-dropdown-no-border) {
      box-shadow: 0 2px 5px 0 $devui-shadow;
    }
  }

  > .devui-dropdown-origin.devui-dropdown-origin-open:not([disabled]):not(.disabled):not(.devui-disabled) {
    outline: none;
    border-color: $devui-connected-overlay-line;
    border-radius: 2px 2px 0 0;

    &:not(.devui-select-underlined-border):not(.devui-dropdown-no-border) {
      box-shadow: 0 2px 5px 0 $devui-shadow;
    }
  }

  > .devui-dropdown-origin.devui-dropdown-origin-open:not(.devui-no-border):not([disabled]):not(.disabled):not(.devui-disabled):not(.devui-dropdown-no-border) {
    z-index: 1052; // 为了让dividing边框覆盖cdk边框颜色

    & ~ .devui-form-control-feedback {
      z-index: 1052;
    }

    &.devui-dropdown-origin-bottom {
      border-bottom-color: $devui-dividing-line;
      box-shadow: none;

      &::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: $devui-dividing-line;
        position: absolute;
        z-index: 1001;
        left: 0;
        top: 100%;
      }
    }

    &.devui-dropdown-origin-top {
      border-top-color: $devui-dividing-line;

      &:not(.devui-select-underlined-border) {
        box-shadow: 0 2px 5px 0 $devui-shadow;
      }

      &::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: $devui-dividing-line;
        position: absolute;
        z-index: 1001;
        left: 0;
        top: -1px;
      }
    }
  }
}

.devui-dropdown-origin-wrapper {
  color: $devui-text;
  background-color: $devui-base-bg;
  min-height: 28px;

  & > .devui-input,
  & > .devui-form-control {
    height: 26px;
  }

  &:not(.devui-select-underlined-border) {
    border: 1px solid $devui-form-control-line;
    border-radius: 2px;
  }

  .devui-form-control,
  .devui-form-control:hover,
  .devui-form-control:focus,
  .devui-form-control:focus:hover,
  .devui-input-group-addon,
  .devui-input-group-addon:hover,
  .devui-input-group-addon:focus,
  > .devui-dropdown-default,
  > .devui-dropdown-default:hover,
  > .devui-dropdown-default:active,
  > .devui-dropdown-default:focus {
    position: relative;
    z-index: 1001;
    border-color: transparent;
  }

  &[disabled],
  &.disabled,
  &.devui-disabled {
    .devui-form-control,
    .devui-form-control:hover,
    .devui-form-control:focus,
    .devui-form-control:focus:hover,
    .devui-input-group-addon,
    > .devui-dropdown-default,
    > .devui-dropdown-default:hover,
    > .devui-dropdown-default:active,
    > .devui-dropdown-default:focus {
      background-color: $devui-disabled-bg;
    }
  }

  &:not([disabled]):not(.disabled):not(.devui-disabled) {
    .devui-form-control:not([disabled]):not(.disabled):not(.devui-disabled),
    .devui-form-control:not([disabled]):not(.disabled):not(.devui-disabled):hover,
    .devui-form-control:not([disabled]):not(.disabled):not(.devui-disabled):focus,
    .devui-form-control:not([disabled]):not(.disabled):not(.devui-disabled):focus:hover,
    .devui-input-group-addon,
    > .devui-dropdown-default,
    > .devui-dropdown-default:hover,
    > .devui-dropdown-default:active,
    > .devui-dropdown-default:focus {
      background-color: $devui-base-bg;
    }
  }
}

// css选择器不可合并，否则css解析器总是会失败
input::-moz-placeholder {
  color: $devui-placeholder;
}

input:-ms-input-placeholder {
  color: $devui-placeholder;
}

input::-webkit-input-placeholder {
  color: $devui-placeholder;
}

/* status style start */

/* border color and background */
[dTextInput]:not([disabled]):not(.disabled):not(.devui-disabled).error,
[dTextarea]:not([disabled]):not(.disabled):not(.devui-disabled).error,
[dTextInput]:not([disabled]):not(.disabled):not(.devui-disabled).devui-error,
[dTextarea]:not([disabled]):not(.disabled):not(.devui-disabled).devui-error {
  border-color: $devui-danger-line !important; /* Cannot be covered style by hover */
  background-color: $devui-danger-bg; /* TODO: 边框阴影颜色 */
}

d-select:not([disabled]):not(.disabled):not(.devui-disabled).devui-error > div.devui-dropdown-origin {
  border-color: $devui-danger-line !important; /* Cannot be covered style by hover */

  .devui-select-input:not(.devui-select-search),
  .devui-select-input:not(.devui-select-search) + .devui-form-control-feedback { /* TODO: how to change the dropdown border */
    background-color: $devui-danger-bg !important;
  }
}

d-editable-select:not([disabled]):not(.disabled):not(.devui-disabled).devui-error input.devui-form-control {
  border-color: $devui-danger-line !important; /* Cannot be covered style by hover */
  background-color: $devui-danger-bg !important; /* TODO: open时，下边框颜色 */
}

d-input-number:not([disabled]):not(.disabled):not(.devui-disabled).devui-error {
  .input-box:not(:disabled) {
    border-color: $devui-danger-line !important; /* Cannot be covered style by hover */
    background-color: $devui-danger-bg !important;
  }
}

d-multi-auto-complete:not([disabled]):not(.disabled):not(.devui-disabled).devui-error {
  ul.devui-dropdown-origin {
    border-color: $devui-danger-line !important; /* Cannot be covered style by hover */
    background-color: $devui-danger-bg !important; /* TODO: open时，下边框颜色 */
  }

  input[dAutoComplete] {
    background-color: $devui-danger-bg !important;
  }
}

d-tags-input:not([disabled]):not(.disabled):not(.devui-disabled).devui-error {
  div.devui-tags {
    border-color: $devui-danger-line !important; /* Cannot be covered style by hover */
    background-color: $devui-danger-bg !important; /* TODO: open时，下边框颜色 */
  }

  input.devui-input {
    background-color: $devui-danger-bg !important; /* TODO: open时，下边框颜色 */
  }
}

d-tree-select:not([disabled]):not(.disabled):not(.devui-disabled).devui-error {
  div.devui-select-input {
    border-color: $devui-danger-line !important; /* Cannot be covered style by hover */
    background-color: $devui-danger-bg !important; /* TODO: open时，下边框颜色 */
  }
}

d-search:not([disabled]):not(.disabled):not(.devui-disabled).devui-error {
  input.devui-input {
    border-color: $devui-danger-line !important; /* Cannot be covered style by hover */
    background-color: $devui-danger-bg !important;
  }
}

/* border color only */
d-editor-md:not([disabled]):not(.disabled):not(.devui-disabled).devui-error {
  border-color: $devui-danger-line !important; /* Cannot be covered style by hover */
}

d-editor:not([disabled]):not(.disabled):not(.devui-disabled).devui-error {
  .ql-toolbar,
  .ql-container {
    border-color: $devui-danger-line !important;
  }
}

/* status style end */
