.step-nav {
  width: 150px;
}

.step-nav > li {
  list-style: none;
  padding: 0;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #5e6678;
  position: relative;
}

.step-nav > li:hover {
  color: #405dff;
}

.step-nav > li.active {
  color: #5170ff;
}
