body {
  margin: 0;
  padding: 0;
  color: $text-color;
  font-size: $font-size-base;
  font-family: $font-family;
  font-variant: $font-variant-base;
  line-height: $line-height-base;
  background-color: $body-background;
}

*, *::before, *::after {
  box-sizing: border-box;
}

button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: button;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: inherit;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a, a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
}

:-ms-input-placeholder,
::-moz-placeholder,
::-webkit-input-placeholder{
    color: $dark3;
}
