<section>
  <div class="row">
    <div class="input-group" style="margin-bottom: 10px; width: 200px">
      <d-select [(ngModel)]="format" [options]="formatOptions"></d-select>
    </div>
    <div class="col-md-6">
      <div class="devui-input-group devui-dropdown-origin" dActiveFormControl>
        <input
          class="devui-input devui-form-control"
          placeholder="y-MM-dd"
          autocomplete="off"
          dTimePicker
          [(ngModel)]="selectedTime1"
          (click)="timePicker1.toggle()"
          #timePicker1="timePicker"
          (selectedTimeChange)="timeChange($event)"
          (ngModelChange)="modelChange($event)"
          [format]="format"
          [minTime]="'10:23:34'"
          [maxTime]="'22:30:56'"
        />
        <div *ngIf="selectedTime1" class="devui-input-group-addon close-icon-wrapper" (click)="timePicker1.clearAll()">
          <i class="icon icon-close"></i>
        </div>
        <div class="devui-input-group-addon" (click)="timePicker1.toggle()">
          <i class="icon icon-time"></i>
        </div>
      </div>
    </div>
  </div>
</section>
