<div class="demo-container" dAnchorBox [view]="{ top: 60, bottom: 0 }">
  <div style="position: fixed;right:100px;top:60px;">
    <d-sticky [view]="{ top: 60, bottom: 0 }" [zIndex]="2000" [container]="demoDocViewerMain">
      <div>
        <h3 style="padding-bottom: 20px; border-bottom: 1px #cacfd8 solid;">快速前往</h3>
        <ul class="step-nav">
          <li [dAnchorLink]="'transfer-demo-base'" anchorActive="active">基本用法</li>
          <li [dAnchorLink]="'transfer-demo-search'" anchorActive="active">搜索穿梭框</li>
          <li [dAnchorLink]="'transfer-demo-sort'" anchorActive="active">排序穿梭框</li>
          <li [dAnchorLink]="'transfer-demo-custom'" anchorActive="active">自定义穿梭框</li>
        </ul>
      </div>
    </d-sticky>
  </div>
  <div class="demo-container">
    <div class="demo-example" [dAnchor]="'transfer-demo-base'">
      <div class="demo-title">基本用法</div>
      <div class="demo-text">穿梭框基本用法</div>
      <d-codebox id="transfer-basic" [sourceData]="basicSource">
        <d-transfer-demo-base demo></d-transfer-demo-base>
      </d-codebox>
    </div>
    <div class="demo-example" [dAnchor]="'transfer-demo-search'">
      <div class="demo-title">搜索穿梭框</div>
      <div class="demo-text">在数据很多的情况下，可以对数据进行搜索和过滤。</div>
      <d-codebox id="transfer-search" [sourceData]="searchSource">
        <d-transfer-demo-search demo></d-transfer-demo-search>
      </d-codebox>
    </div>
    <div class="demo-example" [dAnchor]="'transfer-demo-sort'">
      <div class="demo-title">排序穿梭框</div>
      <div class="demo-text">可以对穿梭框源和目标框的数据进行排序。</div>
      <d-codebox id="transfer-sort" [sourceData]="sortSource">
        <d-transfer-demo-sort demo></d-transfer-demo-sort>
      </d-codebox>
    </div>
    <div class="demo-example" [dAnchor]="'transfer-demo-custom'">
      <div class="demo-title">自定义穿梭框</div>
      <div class="demo-text">可以对穿梭框内容的显示进行自定义</div>
      <d-codebox id="transfer-custom" [sourceData]="customSource">
        <d-transfer-demo-custom demo></d-transfer-demo-custom>
      </d-codebox>
    </div>
  </div>
</div>
