<div class="demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 60, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="demo-example" [dAnchor]="'transfer-demo-base'">
    <div class="demo-title">{{ 'components.transfer.basicDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.transfer.basicDemo.description' | translate }}</div>
    <d-codebox id="transfer-basic" [sourceData]="basicSource">
      <d-transfer-demo-base demo></d-transfer-demo-base>
    </d-codebox>
  </div>
  <div class="demo-example" [dAnchor]="'transfer-demo-search'">
    <div class="demo-title">{{ 'components.transfer.searchDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.transfer.searchDemo.description' | translate }}</div>
    <d-codebox id="transfer-search" [sourceData]="searchSource">
      <d-transfer-demo-search demo></d-transfer-demo-search>
    </d-codebox>
  </div>
  <div class="demo-example" [dAnchor]="'transfer-demo-sort'">
    <div class="demo-title">{{ 'components.transfer.sortDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.transfer.sortDemo.description' | translate }}</div>
    <d-codebox id="transfer-sort" [sourceData]="sortSource">
      <d-transfer-demo-sort demo></d-transfer-demo-sort>
    </d-codebox>
  </div>
  <div class="demo-example" [dAnchor]="'transfer-demo-custom'">
    <div class="demo-title">{{ 'components.transfer.customDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.transfer.customDemo.description' | translate }}</div>
    <d-codebox id="transfer-custom" [sourceData]="customSource">
      <d-transfer-demo-custom demo></d-transfer-demo-custom>
    </d-codebox>
  </div>
</div>
