@import '../../../../style/theme/color';
@import '../../../../style/core/_font';

:host {
  font-weight: bold;
  color: $devui-text;
  font-size: $devui-font-size-sm;

  &:has(.devui-dropdown-open) d-table-sort {
    display: block !important;
  }
}
