@import '~ng-devui/styles-var/devui-var.scss';

.header-language-switch {
    font-size: $devui-font-size-page-title;
    margin: 0 12px;
    cursor: pointer;
    &:hover {
        color: $devui-list-item-hover-text;
    }
}