@import '~ng-devui/styles-var/devui-var.scss';

.header-language-switch {
    font-size: $devui-font-size;
    color: $devui-aide-text;
    margin: 0 12px;
    cursor: pointer;
    &:hover {
      color: $devui-text;
    }
  }