<div class="devui-demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 180, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>

  <div class="devui-demo-example" [dAnchor]="'badge-basic'">
    <div class="devui-demo-title">{{ 'components.badge.basicDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.badge.basicDemo.description' | translate }}</div>
    <d-codebox id="components-button-primary" [sourceData]="basicSource">
      <d-badge-basic demo></d-badge-basic>
    </d-codebox>
  </div>

  <div class="devui-demo-example" [dAnchor]="'badge-dot'">
    <div class="devui-demo-title">{{ 'components.badge.dotDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.badge.dotDemo.description' | translate }}</div>
    <d-codebox id="components-button-primary" [sourceData]="dotSource">
      <d-badge-dot demo></d-badge-dot>
    </d-codebox>
  </div>

  <div class="devui-demo-example" [dAnchor]="'badge-count'">
    <div class="devui-demo-title">{{ 'components.badge.countDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.badge.countDemo.description' | translate }}</div>
    <d-codebox id="components-button-primary" [sourceData]="countSource">
      <d-badge-count demo></d-badge-count>
    </d-codebox>
  </div>

  <div class="devui-demo-example" [dAnchor]="'badge-status'">
    <div class="devui-demo-title">{{ 'components.badge.statusDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.badge.statusDemo.description' | translate }}</div>
    <d-codebox id="components-button-primary" [sourceData]="statusSource">
      <d-badge-status demo></d-badge-status>
    </d-codebox>
  </div>

  <div class="devui-demo-example" [dAnchor]="'position'">
    <div class="devui-demo-title">{{ 'components.badge.positionDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.badge.positionDemo.description' | translate }}</div>
    <d-codebox id="components-button-primary" [sourceData]="positionSource">
      <d-position demo></d-position>
    </d-codebox>
  </div>

  <div class="devui-demo-example" [dAnchor]="'custom'">
    <div class="devui-demo-title">{{ 'components.badge.customDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.badge.customDemo.description' | translate }}</div>
    <d-codebox id="components-button-primary" [sourceData]="customSource">
      <d-custom demo></d-custom>
    </d-codebox>
  </div>
</div>
