<div class="demo-container">
  <div class="demo-example">
    <div class="demo-title">基本用法</div>
    <div class="demo-text">
      通过 options 配置数据源<br>
      通过 overview、size 配置样式
    </div>
    <d-codebox id="components-select-basic" [sourceData]="SelectDemoBasicComponent">
      <d-select-basic demo></d-select-basic>
    </d-codebox>
  </div>
  <div class="demo-example">
    <div class="demo-title">自定义搜索功能</div>
    <div class="demo-text">
      通过 isSearch、searchFn开启搜索功能并自定搜索方法<br>
      通过 multiple 启用多选功能
    </div>
    <d-codebox id="components-select-object" [sourceData]="SelectDemoObjectComponent">
      <d-select-object demo></d-select-object>
    </d-codebox>
  </div>
  <div class="demo-example">
    <div class="demo-title">全选下拉选项</div>
    <div class="demo-text">
      多选下拉中通过 isSelectAll 启用全选功能
    </div>
    <d-codebox id="components-select-all" [sourceData]="SelectDemoAllComponent">
      <d-select-all demo></d-select-all>
    </d-codebox>
  </div>
  <div class="demo-example">
    <div class="demo-title">自定义模板</div>
    <div class="demo-text">
      通过模板配置下拉选项和已选项
    </div>
    <d-codebox id="components-select-template" [sourceData]="SelectDemoTemplateComponent">
      <d-select-template demo></d-select-template>
    </d-codebox>
  </div>

</div>
