@import '~ng-devui/styles-var/devui-var.scss';

d-nav-sprite {
  width: 240px;
  position: fixed;
  top: 90px;
  right: 0;
  height: 100%;
  z-index: 1;
}

@media (max-width: 1800px) {
  d-nav-sprite {
    width: 150px !important;
  }
}

@media (max-width: 1250px) {
  d-nav-sprite {
    display: none;
  }
}
