@import '~ng-devui/styles-var/devui-var.scss';

d-nav-sprite {
  width: 240px;
  position: fixed;
  top: 160px;
  right: 0;
  height: 100%;
  z-index: calc(#{$devui-z-index-framework} + 1);
  padding: 8px 0 8px 8px;
  border-radius: 16px;
}

:host ::ng-deep d-nav-sprite div.devui-nav-sprite-header {
  display: none !important;
}

@media (max-width: 1800px) {
  d-nav-sprite {
    width: 150px !important;
  }
}

@media (max-width: 1250px) {
  d-nav-sprite {
    display: none;
  }
}

.devui-api-container {
  background-color: $devui-base-bg;
  padding: 20px;
  margin-top: 20px;
  box-shadow: $devui-shadow-length-base $devui-light-shadow;
  border-radius: 16px;
  margin-bottom: 20px;
}
