<div class='modal-backdrop'
    [@fadeInOut]='animateState'>
</div>
<div class="modal in" [attr.id]="id" (mousedown)='modalMouseDown($event)' (mouseup)="modalMouseUp($event)" (click)='onModalClick($event)'>
    <div class='modal-dialog'
         [ngStyle]="{'width': width}"
         [@flyInOut]='animateState'
         (@flyInOut.done)='onAnimationDone($event)'
         tabindex="1"
         #dialog>
        <div class="modal-content" [dMovable]="draggable" [handle]="draggableHandleEl">
            <ng-template dModalContainerHost></ng-template>
        </div>
    </div>
</div>

