<div>
  <d-modal-header
    id="d-modal-header"
    [title]="title"
    (closeEvent)="close($event)"
    (maximizeEvent)="maximize($event)"
    [dialogtype]="dialogtype"
    [showMaximizeBtn]="showMaximizeBtn"
    [showCloseBtn]="showCloseBtn"
  ></d-modal-header>
  <div
    class="modal-body devui-scrollbar"
    [ngClass]="{
      'flex-content': dialogtype === 'warning' || dialogtype === 'failed' || dialogtype === 'success' || dialogtype === 'info'
    }"
    [ngStyle]="{ maxHeight: maxHeight, 'overflow-y': 'auto' }"
    cdkScrollable
  >
    <div
      [ngClass]="{
        'display-flex': dialogtype !== '' && dialogtype !== 'standard'
      }"
    >
      <div class="content" [style.max-height]="maxHeight" *ngIf="!!content && !html">{{ content }}</div>
      <div class="content" [style.max-height]="maxHeight" *ngIf="!!content && html" [innerHTML]="content"></div>
      <div class="content" *ngIf="contentTemplate">
        <ng-template
          [ngTemplateOutlet]="contentTemplate"
          [ngTemplateOutletContext]="{ modalInstance: modalInstance, modalContentInstance: this }"
        ></ng-template>
      </div>
      <ng-template dModalContentHost></ng-template>
    </div>
  </div>

  <d-modal-footer [buttons]="buttons"></d-modal-footer>
</div>
