@import '../style/core/_font';

.modal-body {
  padding: 12px 32px 12px 32px;
  overflow-y: hidden;
  scrollbar-gutter: stable;

  &:hover {
    overflow-y: auto;
  }
}

.display-flex {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
  max-width: 100%;
}

div.content {
  word-break: normal;
  word-wrap: break-word;
  width: 100%;
}

.flex-content ::ng-deep div.content {
  font-size: $devui-font-size;
  word-break: normal;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.flex-content {
  display: flex;
  justify-content: left;
  align-items: center;
}
