@import '../style/theme/color';
@import '../style/core/_font';

.modal-header {
  padding: 20px 20px 0 20px;
  position: relative;
  border: none; // 覆盖bootStrap默认样式

  .standard-title {
    height: 26px;
    line-height: 26px;
    color: $devui-text;
    letter-spacing: 0;
    font-size: $devui-font-size-modal-title;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 24px);
  }

  &.no-title {
    height: 0;
    padding: 0;

    .standard-title {
      display: none;
    }
  }
}

.header-alert-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  width: 24px;
  height: 24px;
  line-height: 16px;
  text-align: center;

  .devui-icon {
    width: 24px;
    height: 24px;

    circle,
    polygon {
      fill: $devui-light-text;
    }

    &.devui-icon-success path {
      fill: $devui-success;
    }

    &.devui-icon-warning path {
      fill: $devui-warning-line;
    }

    &.devui-icon-info path {
      fill: $devui-info;
    }

    &.devui-icon-error path {
      fill: $devui-danger;
    }
  }
}

.title-text {
  font-size: $devui-font-size-modal-title;
  font-weight: bold;
  vertical-align: middle;
}

.modal-header-close {
  position: absolute;
  right: 20px;
  top: 18px;
}

.modal-header-maximized {
  position: absolute;
  right: 56px;
  top: 18px;
}
