<div>
  <div class="section-block">
    <d-sticky [view]="stickyView" [container]="demoDocViewerMain" [zIndex]="1000" (statusChange)="log($event)">
      <div class="sticky-content">This is the content of sticky. You can set content here.</div>
    </d-sticky>
  </div>
  <div class="main-content">
    <div class="section-block">
      <h3 class="devui-h3-title">Basic Info</h3>
      Display basic info here
      <div class="tips">
        <d-sticky [view]="stickyView">
          <div class="tip-content">
            <h4>Tips:</h4>
            Sticky will follow the scroll of screen.
          </div>
        </d-sticky>
      </div>
    </div>
    <div class="section-block">
      <h3 class="devui-h3-title">Issue List</h3>
      Display issue list here
      <div class="tips">
        <d-sticky [view]="stickyView">
          <div class="tip-content">
            <h4>Tips:</h4>
            Sticky will follow the scroll of screen.
          </div>
        </d-sticky>
      </div>
    </div>
  </div>
</div>
