.devui-gantt-milestone {
  position: relative;
  height: 24px;
  line-height: 24px;
  display: inline-block;

  & span {
    display: inline-block;
    vertical-align: middle;
  }

  & .icon {
    width: 20px;
    height: 24px;
    margin-right: 4px;
  }
}
