@import '../style/mixins/index';
@import '../style/theme/color';

.devui-dropdown-menu {
  width: 100%;
  display: block;
}

.devui-dropdown-item {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 8px 1rem;
  clear: both;
  border: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.selected:not(.disabled) {
    color: $brand-1;
  }
}

.devui-no-result-template,
.devui-is-searching-template {
  cursor: not-allowed;
  background-color: $disabled-bg;
  color: $disabled-content;

  &:hover {
    background: transparent !important;
  }
}

/* 选项disabled */
.devui-dropdown-item.disabled,
.devui-dropdown-item.disabled:hover {
  cursor: not-allowed;
  color: $disabled-content;
  background: $disabled-bg;
}

ul.devui-list-unstyled {
  margin: 0;
  overflow-y: auto;
}

:host(.devui-dropdown-menu) {
  width: 100%;
  margin: 0;
  padding: 5px 0;
}

.devui-dropdown-bg {
  background: $hover-content;
}

.devui-popup-tips {
  color: $gray-1;
  padding: 3px 1rem;
}
