<d-category-search
  [category]="category"
  [selectedTags]="selectedTags"
  [searchKey]="'basic'"
  [defaultSearchField]="defaultSearchField"
  [toggleEvent]="toggleEvent"
  [filterNameRules]="rules"
  [placeholderText]="'Click here to choose a filter condition'"
  (searchEvent)="searchEvent($event)"
  (createFilterEvent)="createFilter($event)"
  (searchKeyChange)="searchKeyChange($event)"
  (selectedTagsChange)="selectedTagsChange($event)"
  (clearAllEvent)="clearAllEvent($event)"
></d-category-search>
<div *ngIf="finalSearchItems && finalSearchItems.length" style="padding: 20px 0">
  <p>The categories of the current search:</p>
  <div *ngFor="let item of finalSearchItems">
    <div>{{ item?.label }}: {{ (item?.value)[item.filterKey] || item?.value?.label }}</div>
  </div>
</div>
<p *ngIf="finalSearchKey && finalSearchKey.length">The current search keyword: {{ finalSearchKey }}</p>
