<section>
  <d-toast [value]="msgs"></d-toast>
  <d-button bsStyle="success" (click)="showToast('success')">Success</d-button>
  <d-button bsStyle="warning" (click)="showToast('warn')">Warn</d-button>
  <d-button bsStyle="danger" (click)="showToast('error')">Error</d-button>
  <d-button bsStyle="primary" (click)="showToast('multiple')">Multiple</d-button>
  <d-button bsStyle="common" (click)="showToast('link')">link</d-button>
  <d-button bsStyle="common" (click)="showToast('plainText')">pure text</d-button>
  <d-button bsStyle="common" (click)="showToast('common')">common</d-button>
  <d-button bsStyle="warning" (click)="showToast('noTitle')">no title</d-button>
</section>

<ng-template #customTemplate let-msg="msg">
  <a class="devui-link" href="http://devui.huawei.com" target="_blank">返回{{ msg.myInfo }}首页</a>
</ng-template>
