<section>
  <d-toast [value]="msgs"></d-toast>
  <d-button bsStyle="common" (click)="showToast('success')">Success</d-button>
  <d-button bsStyle="common" (click)="showToast('warn')">Warn</d-button>
  <d-button bsStyle="common" (click)="showToast('error')">Error</d-button>
  <d-button bsStyle="common" (click)="showToast('multiple')">Multiple</d-button>
  <d-button bsStyle="common" (click)="showToast('link')">link</d-button>
  <d-button bsStyle="common" (click)="showToast('plainText')">pure text</d-button>
  <d-button bsStyle="common" (click)="showToast('common')">common</d-button>
  <d-button bsStyle="common" (click)="showToast('noTitle')">no title</d-button>
</section>

<ng-template #customTemplate let-msg="msg">
  <a class="devui-link" href="{{ host }}" target="_blank">Back to {{ msg.myInfo }} Home Page</a>
</ng-template>
