.devui-radio-horizontal {
  .devui-radio-list-item {
    display: inline-block;
    padding-right: 10px;
  }

  ::ng-deep d-radio {
    display: inline-block;
  }
}

.devui-radio-list-item {
  position: relative;
  line-height: 32px;
}
