@import '../style/core/animation';
@import '../style/theme/color';

.devui-radio-horizontal {
  .devui-radio-list-item {
    display: inline-block;

    &:not(:last-child) {
      padding-right: 20px;
    }
  }

  ::ng-deep d-radio {
    display: inline-block;
  }
}

.devui-radio-list-item {
  position: relative;
  line-height: 28px;
}

:host {
  ::ng-deep d-radio {
    line-height: 28px;
  }

  &.devui-glow-style .devui-radio-material {
    transition: box-shadow $devui-animation-duration-slow $devui-animation-ease-in-out-smooth;

    &:not(.disabled) {
      &:hover,
      &:active {
        .devui-radio-material {
          box-shadow: 0 0 0 6px $devui-range-item-hover-bg;
        }
      }
    }
  }
}
