@import '../style/theme/color';
@import '../style/theme/variables';
@import '../style/mixins/index';

.devui-radio {
  &.active:not(.disabled), &.active.disabled {
    svg {
      #outer {
        stroke: $focus1;
        fill: $white;
      }
      #inner {
        fill: $focus1;
      }
    }
    .devui-radio-material {
      &:hover{
        svg {
          #outer {
            stroke: $hover-control;
          }
          #inner {
            fill: $hover-control;
          }
        }
      }
      &:active, &:focus {
        svg {
          #outer {
            stroke:  $focus2;
          }
          #inner {
            fill: $focus2;
          }
        }
      }
    }
  }

  &:not(.disabled), &.disabled {
    .devui-radio-material {
      &:hover{
        svg {
          #outer {
            stroke: $hover-control;
          }
        }
      }
      &:active, &:focus {
        svg {
          #outer {
            stroke: $focus2;
          }
        }
      }
    }
  }
}
