<div class="devui-radio-group">
  <ul [class.devui-radio-horizontal]="direction === 'row'">
    <ng-container *ngIf="radios.length === 0">
      <li *ngFor="let value of values" class="devui-radio-list-item">
        <label class="devui-radio" [class.active]="value == _value" [class.disabled]="disabled">
          <input
            type="radio"
            class="devui-radio-input"
            [disabled]="disabled"
            [name]="name"
            [id]="name + '-' + value"
            [value]="value"
            [checked]="value == _value"
            (change)="handleChange($event, value)"
          />
          <span class="devui-radio-material"></span>
          <span class="devui-radio-label">{{ value }}</span>
        </label>
      </li>
    </ng-container>
    <ng-content select="d-radio"></ng-content>
  </ul>
</div>
