@import '../style/theme/color';

:host {
  padding-right: 20px;
  display: block;
  line-height: 18px;
}

.devui-radio {
  &.disabled {
    cursor: not-allowed;
  }

  font-size: 12px;
  line-height: 1.5;
  font-weight: normal;
  cursor: pointer;
  color: $dark-1;
  margin: 0 auto;

  svg {
    .devui-outer {
      stroke: $gray-1;
      fill: transparent;

      &.disabled {
        stroke: $disabled-border;
        fill: $disabled-bg;
      }
    }

    .devui-inner {
      fill: $hwc-color-icon-hover-active;
    }
  }

  &:hover:not(.disabled) svg .devui-outer {
    stroke: $hwc-color-border-active;
  }

  &:active:not(.disabled),
  &:focus:not(.disabled) {
    svg .devui-outer {
      stroke: $hwc-color-border-active;
    }
  }

  &.active {
    svg {
      .devui-outer {
        opacity: 1;
        stroke: $hwc-color-border-active;
        transition: stroke 50ms cubic-bezier(0.755, 0.05, 0.855, 0.06);

        &.disabled {
          stroke: $disabled-border;
        }
      }

      .devui-inner {
        opacity: 1;

        &.disabled {
          fill: $disabled-content;
        }

        transform: scale(1);
        transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1), opacity 200ms cubic-bezier(0.23, 1, 0.32, 1);
      }
    }

    &:not(.disabled) {
      &:active,
      &:focus,
      &:hover {
        .devui-radio-material {
          svg {
            .devui-outer {
              stroke: $hwc-color-border-active-and-hover;
            }

            .devui-inner {
              fill: $hwc-color-icon-active-and-hover;
            }
          }
        }
      }
    }
  }

  .devui-outer {
    opacity: 1;
    transition: stroke 50ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }

  .devui-inner {
    opacity: 0;
    transform: scale(0);
    transform-origin: 50% 50%;
    transition: transform 200ms cubic-bezier(0.755, 0.05, 0.855, 0.06), opacity 200ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }

  .devui-radio-material {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 16px;
    width: 16px;
    user-select: none;
    transform: translateY(-1px);
  }

  .devui-radio-label {
    color: $dark-1;
    margin-left: 8px;
    font-size: 12px;
  }

  .devui-radio-input {
    opacity: 0;
    z-index: -1;
    width: 0;
    height: 0;
    display: none;
    overflow: hidden;
    pointer-events: none;
  }
}
