@import '~ng-devui/styles-var/devui-var.scss';

.devui-input-group-addon {
  vertical-align: middle;
  padding-top: 4px;
}

.devui-input-group {
  width: 160px;
}

.devui-input-group-addon:hover {
  color: $devui-brand-active;
}

.icon-close-wrapper {
  padding-right: 0;
  padding-top: 0;
}

.icon-close {
  border-right: 1px solid $devui-dividing-line;
  padding-right: 10px;
  cursor: pointer;
}

::ng-deep .custom-css-class {
  font-weight: bold;
}
