<section>
  <div class="row">
    <div class="col-md-6">
      <div class="devui-input-group">
        <input
          class="devui-input"
          placeholder="y/MM/dd"
          (focus)="datePicker1.toggle($event)"
          name="dp"
          [(ngModel)]="selectedDate2"
          autocomplete="off"
          dDatepicker
          #datePicker1="datepicker"
          (selectedDateChange)="getValue($event)"
          appendToBody
        />
        <div class="devui-input-group-addon" (click)="datePicker1.toggle($event)">
          <i class="icon icon-calendar"></i>
        </div>
      </div>
    </div>
  </div>
</section>
