<section>
  <d-panel [type]="'primary'" #panel [isCollapsed]="isCollapsed" [showAnimation]="true">
    <d-panel-header>
      Panel with foldable
      <em class="icon icon-chevron-down" [ngClass]="{ open: panel.isCollapsed }"></em>
    </d-panel-header>
    <d-panel-body>This is body</d-panel-body>
  </d-panel>
  <br /><br />
  <d-panel>
    <d-panel-header>Panel with header and footer</d-panel-header>
    <d-panel-body>This is body</d-panel-body>
    <d-panel-footer>This is footer</d-panel-footer>
  </d-panel>
</section>
