<div class="devui-demo-container">
  <div class="devui-demo-example">
    <div class="devui-demo-title">{{ 'components.relative-time.basicDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.relative-time.basicDemo.description' | translate }}</div>
    <d-codebox [sourceData]="basicSource">
      <d-basic demo></d-basic>
    </d-codebox>
  </div>
  <div class="devui-demo-example">
    <div class="devui-demo-title">{{ 'components.relative-time.customDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.relative-time.customDemo.description' | translate }}</div>
    <d-codebox [sourceData]="customSource">
      <d-custom-time demo></d-custom-time>
    </d-codebox>
  </div>
</div>
