<div class="menu-wrapper">
  <div>router link (recommended)<!--路由链接（推荐使用）--></div>
  <d-accordion [data]="menu" class="menu" [linkType]="'routerLink'"></d-accordion>
</div>
<div class="menu-wrapper">
  <div>original hyperlink (cross site scene)<!--原生超链接（涉及跨站场景使用）--></div>
  <d-accordion [data]="menu2" class="menu" [linkType]="'hrefLink'" [linkDefaultTarget]="'self'"></d-accordion>
</div>
<div class="menu-wrapper">
  <div>mix link (partial cross site scene) (<!--混合链接（部分涉及跨站场景使用）--></div>
  <d-accordion [data]="menu3" class="menu" [linkType]="'dependOnLinkTypeKey'" [showAnimation]="false"></d-accordion>
</div>
