@import '../style/theme/color';
@import '../style/core/_font';
@import '../style/theme/corner';

:host {
  &:first-of-type > li {
    margin-top: 0;
  }

  & > li {
    margin-top: 4px;
    font-size: inherit;
    min-height: inherit;
  }
}
