<ul class="devui-select-tag-list devui-scrollbar {{ mode }}" [style.maxHeight]="maxHeight" *ngIf="multiItems.length > 0">
  <li
    class="devui-select-tag-item"
    *ngFor="let item of multiItems; let index = index; trackBy: trackByOptionPointer"
    [style.maxWidth]="maxWidth"
    [ngClass]="{
      disabled: disabled || (optionDisabledKey && item.option[optionDisabledKey])
    }"
  >
    <d-tag
      [deletable]="!(disabled || (optionDisabledKey && item.option[optionDisabledKey]))"
      [maxWidth]="'100%'"
      [tag]="valueParser(item.option)"
      [customViewTemplate]="customViewTemplate"
      (tagDelete)="removeItem(item, $event?.event, index)"
    ></d-tag>
  </li>
</ul>
