@import '../style/theme/color';
@import '../style/theme/corner';

.devui-select-tag-list {
  height: 26px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;

  &.normal {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.scroll-y {
    overflow-y: auto;
    overflow-x: hidden;
  }

  &.multiple-line {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 1;
    max-height: 48px;
    min-height: 24px;
  }
}

.devui-select-tag-item {
  display: inline-block;
  margin: 2px 0 0 2px;
}

:host ::ng-deep .devui-select-tag-item {
  d-tag {
    width: 100%;

    .devui-tag-item > span {
      vertical-align: top;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      width: 100%;
    }
  }

  &.disabled {
    line-height: 18px;

    d-tag .devui-tag-item {
      border: solid 1px $devui-disabled-line;
      line-height: 18px;
      background-color: $devui-disabled-bg;
      color: $devui-disabled-text;
      cursor: not-allowed;
    }
  }
}
