@import '../style/theme/color';

:host {
  .devui-toggle-menu-search {
    position: relative;
    background: transparent;

    input {
      cursor: pointer;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      border: none !important;
      outline: 0;
    }
  }

  .devui-toggle-menu-search-icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    pointer-events: none;

    path {
      fill: $devui-icon-text;
    }
  }
}
