@import '~ng-devui/styles-var/devui-var.scss';

.pane-content {
  padding: 0 10px;
}

.title-icon {
  width: 100%;
  font-size: $devui-font-size-icon;
  line-height: 40px;
  vertical-align: middle;
  margin-right: 4px;
  text-align: center;
  cursor: pointer;

  &.icon-dot-status {
    color: $devui-light-text;
  }

  &:hover {
    background-color: $devui-list-item-hover-bg;
    color: $devui-brand-active;
  }

  &.active {
    color: $devui-brand-active;
  }
}

.title {
  vertical-align: middle;
}

.splitter-border {
  border: 1px solid $devui-dividing-line;
}
