<div class="demo-container">
    <div class="demo-example">
        <div class="demo-title">基本用法</div>
        <div class="demo-text">

        </div>
        <d-codebox id="basic" [sourceData]="basicSource">
            <d-basic demo></d-basic>
        </d-codebox>
    </div>
    <div class="demo-example">
        <div class="demo-title">手动控制显示</div>
        <div class="demo-text">
            通过visible控制弹框显示实现表单验证
        </div>
        <d-codebox id="manual" [sourceData]="manualSource">
            <d-manual demo></d-manual>
        </d-codebox>
    </div>
    <div class="demo-example">
        <div class="demo-title">自定义提示内容</div>
        <div class="demo-text">

        </div>
        <d-codebox id="customize" [sourceData]="customizeSource">
            <d-customize-tmp demo></d-customize-tmp>
        </d-codebox>
    </div>
</div>
