<h5 class="text-muted">Standard: Single Select</h5>
<div class="row">
  <div class="col-md-5" style="font-size: 0">
    <d-tree-select
      placeholder="Standard Input"
      [treeData]="data1"
      [expandTree]="true"
      [(ngModel)]="value1"
      (ngModelChange)="showSelected($event)"
      [searchable]="true"
      style="width: 280px"
    >
    </d-tree-select>
  </div>
</div>
<h5 class="text-muted" style="margin-top: 20px">Standard: Multiple Select</h5>
<div class="row">
  <div class="col-md-5" style="font-size: 0">
    <d-tree-select
      placeholder="Standard Input"
      [treeData]="data2"
      [multiple]="true"
      [expandTree]="true"
      [(ngModel)]="value2"
      (ngModelChange)="showSelected($event)"
      [searchable]="true"
      style="width: 280px"
    ></d-tree-select>
  </div>
</div>
