<h4>Async Data Loading</h4>
<ave-button bordered="true" (click)="getRemoteData()">Request Data</ave-button>
<ave-button bordered="true" (click)="toggleOptions()"
  >Dynamic Column: {{ isDynamicColumn }}</ave-button
>
<br />
<br />
<ave-data-table
  aveLoading
  [backdrop]="true"
  [showLoading]="showLoading"
  [dataSource]="remoteDataSource"
>
  <ave-column
    *ngFor="let colOption of remoteDataOptions"
    [field]="colOption.field"
    [header]="colOption.header"
    [fieldType]="colOption.fieldType"
  >
  </ave-column>
  <ng-template #noResultTemplateRef>
    <div style="text-align: center; margin-top:20px;">
     No Data
    </div>
  </ng-template>
</ave-data-table>
