<h4>Async Data Loading</h4>
<d-button (click)="getRemoteData()" style="margin-right: 5px;">Request Data</d-button>
<d-button (click)="toggleColOptions()">changeColumns</d-button>
<br />
<br />
<d-data-table dLoading [backdrop]="true" [scrollable]="true" [showLoading]="showLoading" [dataSource]="remoteDataSource">
  <d-column *ngFor="let colOption of colDataOptions" [field]="colOption.field" [header]="colOption.header"
    [fieldType]="colOption.fieldType">
  </d-column>
  <ng-template #noResultTemplateRef>
    <div style="text-align: center; margin-top:20px;">
      No Data
    </div>
  </ng-template>
</d-data-table>
