<div class="demo-container">
  <div class="demo-example">
      <div class="demo-title">基础用法</div>
      <div class="demo-text">
          通过 source 设置自动完成的数据源
      </div>
      <ave-codebox id="components-auto-basic" [sourceData]="AutoCompleteDemoBasic">
          <ave-auto-complete-demo-basic demo></ave-auto-complete-demo-basic>
        </ave-codebox>
  </div>
  <div class="demo-example">
      <div class="demo-title">自定义数据匹配方法</div>
      <div class="demo-text">
          通过 searchFn 自定义数据的匹配方法和返回的数据格式
      </div>
      <ave-codebox id="components-auto-object" [sourceData]="AutoCompleteDemoObject">
          <ave-auto-complete-demo-object demo></ave-auto-complete-demo-object>
        </ave-codebox>
  </div>
  <div class="demo-example">
      <div class="demo-title">自定义模板展示</div>
      <div class="demo-text">
          通过 itemTemplate、noResultItemTemplate 自定义下拉框和无匹配提示
      </div>
      <ave-codebox id="components-auto-custom" [sourceData]="AutoCompleteDemoCustom">
          <ave-auto-complete-demo-custom demo></ave-auto-complete-demo-custom>
        </ave-codebox>
  </div>
  <div class="demo-example">
      <div class="demo-title">设置禁用</div>
      <div class="demo-text">
          通过 disabled 设置输入框禁用
      </div>
      <ave-codebox id="components-auto-disable" [sourceData]="AutoCompleteDemoDisable">
          <ave-auto-complete-demo-disable demo></ave-auto-complete-demo-disable>
        </ave-codebox>
  </div>
</div>
