<div class="demo-container" dAnchorBox [view]="{ top: 60, bottom: 0 }">
  <div class="nav-main">
    <d-sticky [view]="{ top: 60, bottom: 0 }" [zIndex]="2000" [container]="demoDocViewerMain">
      <div>
        <h3 style="padding-bottom: 20px; border-bottom: 1px #cacfd8 solid;">快速前往</h3>
        <ul class="step-nav">
          <li [dAnchorLink]="'auto-basic'" anchorActive="active">基础用法</li>
          <li [dAnchorLink]="'auto-object'" anchorActive="active">自定义数据匹配方法</li>
          <li [dAnchorLink]="'auto-custom'" anchorActive="active">自定义模板展示</li>
          <li [dAnchorLink]="'auto-disable'" anchorActive="active">设置禁用</li>
          <li [dAnchorLink]="'auto-latest'" anchorActive="active">最近输入</li>
        </ul>
      </div>
    </d-sticky>
  </div>

  <div class="demo-container">
    <div class="demo-example" [dAnchor]="'auto-basic'">
      <div class="demo-title">基础用法</div>
      <div class="demo-text">
        通过 source 设置自动完成的数据源
      </div>
      <d-codebox id="components-auto-basic" [sourceData]="AutoCompleteDemoBasic">
        <d-auto-complete-demo-basic demo></d-auto-complete-demo-basic>
      </d-codebox>
    </div>
    <div class="demo-example" [dAnchor]="'auto-object'">
      <div class="demo-title">自定义数据匹配方法</div>
      <div class="demo-text">
        通过 searchFn 自定义数据的匹配方法和返回的数据格式
      </div>
      <d-codebox id="components-auto-object" [sourceData]="AutoCompleteDemoObject">
        <d-auto-complete-demo-object demo></d-auto-complete-demo-object>
      </d-codebox>
    </div>
    <div class="demo-example" [dAnchor]="'auto-custom'">
      <div class="demo-title">自定义模板展示</div>
      <div class="demo-text">
        通过 itemTemplate、noResultItemTemplate 自定义下拉框和无匹配提示
      </div>
      <d-codebox id="components-auto-custom" [sourceData]="AutoCompleteDemoCustom">
        <d-auto-complete-demo-custom demo></d-auto-complete-demo-custom>
      </d-codebox>
    </div>
    <div class="demo-example" [dAnchor]="'auto-disable'">
      <div class="demo-title">设置禁用</div>
      <div class="demo-text">
        通过 disabled 设置输入框禁用
      </div>
      <d-codebox id="components-auto-disable" [sourceData]="AutoCompleteDemoDisable">
        <d-auto-complete-demo-disable demo></d-auto-complete-demo-disable>
      </d-codebox>
    </div>
    <div class="demo-example" [dAnchor]="'auto-latest'">
      <div class="demo-title">最近输入</div>
      <div class="demo-text">
        通过 latestSource 设置最近输入
      </div>
      <d-codebox id="components-auto-latest" [sourceData]="AutoCompleteDemoLatest">
        <d-auto-complete-demo-latest demo></d-auto-complete-demo-latest>
      </d-codebox>
    </div>
  </div>
</div>
