<div class="devui-demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 180, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="devui-demo-example" [dAnchor]="'shadow'">
    <div class="devui-demo-title">{{ 'components.design-shadow.shadowDemo.title' | translate }}</div>
    <div class="devui-demo-text">
      {{ 'components.design-shadow.shadowDemo.description1' | translate }}<br />
      {{ 'components.design-shadow.shadowDemo.description2' | translate }}<br />
      {{ 'components.design-shadow.shadowDemo.description3' | translate }}
    </div>
    <d-shadow></d-shadow>
  </div>
</div>
