<section>
  <div class="row">
    <div class="col-md-5">
      <d-select
        [filterKey]="'name'"
        [(ngModel)]="currentOption"
        [options]="options"
        optionDisabledKey="disabled"
        [multiple]="true"
        [isSelectAll]="true"
        [isSearch]="true"
        (ngModelChange)="checkSelectionNumberFunc()"
      >
      </d-select>
    </div>
  </div>
  max select number : 2 , disabled: 1
  <div class="row">
    <div class="col-md-5">
      <pre>Current Select: {{ currentOption | json }}</pre>
    </div>
  </div>
</section>
