<div class="demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 60, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="demo-example" [dAnchor]="'basic-usage'">
    <div class="demo-title">{{ 'components.editable-select.basicDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.editable-select.basicDemo.description' | translate }}</div>
    <d-codebox [sourceData]="BasicSource">
      <d-with-source demo></d-with-source>
    </d-codebox>
  </div>
  <div class="demo-example" [dAnchor]="'disable-data-with-source'">
    <div class="demo-title">{{ 'components.editable-select.disableDataDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.editable-select.disableDataDemo.description' | translate }}</div>
    <d-codebox [sourceData]="DisableDataSource">
      <d-disable-data-with-source demo></d-disable-data-with-source>
    </d-codebox>
  </div>
  <div class="demo-example" [dAnchor]="'with-search-function'">
    <div class="demo-title">{{ 'components.editable-select.searchFunctionDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.editable-select.searchFunctionDemo.description' | translate }}</div>
    <d-codebox [sourceData]="SearchFnSource">
      <d-with-search-function demo></d-with-search-function>
    </d-codebox>
  </div>
  <div class="demo-example" [dAnchor]="'async-data-with-function'">
    <div class="demo-title">{{ 'components.editable-select.async-data-function.title' | translate }}</div>
    <div class="demo-text">{{ 'components.editable-select.async-data-function.description' | translate }}</div>
    <d-codebox [sourceData]="AsyncDataSearchFnSource">
      <d-async-data-with-function demo></d-async-data-with-function>
    </d-codebox>
  </div>
  <div class="demo-example" [dAnchor]="'lazy-load'">
    <div class="demo-title">{{ 'components.editable-select.lazyLoadDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.editable-select.lazyLoadDemo.description' | translate }}</div>
    <d-codebox [sourceData]="LazyLoadComponentSource">
      <d-lazy-load demo></d-lazy-load>
    </d-codebox>
  </div>
</div>
