/*序号*/
.step-nav {
  padding-top: 10px;
  width: 240px;
}
.step-nav > li {
  list-style: none;
  counter-increment: stepli;
  padding: 0;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #3a3e55;
  position: relative;
}
.step-nav > li:hover {
  color: #405dff;
}
.step-nav > li.active {
  color: #5170ff;
}
.step-nav > li::before {
  content: counter(stepli);
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  background-color: #fff;
  color: #5170ff;
  margin-right: 10px;
  border: 2px solid #5170ff;
}

.step-nav > li.active::before {
  background-color: #5170ff;
  color: #fff;
}

/*左侧线*/
.step-nav > li:not(:first-of-type) {
  margin-top: 30px;
}
.step-nav > li:not(:first-of-type)::after {
  content: '';
  display: block;
  position: absolute;
  top: -30px;
  left: 15px;
  width: 1px;
  height: 30px;
  border-left: 1px solid #5170ff;
}

.mymain {
  position: relative;
  min-height: 220px;
}
.mysidebar {
  width: 240px;
  border-right: 1px solid #cacfd8;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.mycontent {
  padding: 10px;
  margin-left: 240px;
}
.section-block {
  min-height: 200px;
  border-bottom: 1px dashed #cacfd8;
}
