<div class="demo-container">
  <div class="demo-example">
      <div class="demo-title">基本用法</div>
      <div class="demo-text">

      </div>
      <d-codebox id="components-datepicker-default" [sourceData]="basicSource">
          <d-basic demo></d-basic>
      </d-codebox>
  </div>
  <div class="demo-example">
      <div class="demo-title">格式化</div>
      <div class="demo-text">
        通过dateFormat设置日期的格式
      </div>
      <d-codebox id="components-datepicker-format" [sourceData]="formatSource">
          <d-datepicker-demo-format demo></d-datepicker-demo-format>
      </d-codebox>
  </div>
</div>
