@import '../style/theme/color';
@import '../style/core/animation';

.cdk-overlay-pane > div > .devui-dropdown-menu {
  position: relative;
  top: 0; // initial; ie11不认识initial
  left: 0; //initial;
  border: none;
}

.devui-dropdown span {
  &.icon-chevron-down {
    display: inline-block;
    vertical-align: text-top;
  }

  &.icon-chevron-down2 {
    display: inline-block;
    vertical-align: middle;
  }
}

.devui-dropdown-animation span {
  &.icon-chevron-down,
  &.icon-chevron-down-2 {
    transition: transform $devui-animation-duration-slow $devui-animation-ease-in-out-smooth;
  }
}

.devui-dropdown.open span {
  &.icon-chevron-down,
  &.icon-chevron-down-2 {
    transform: rotate(180deg);
  }
}
