.cdk-overlay-pane > div > .devui-dropdown-menu {
  position: relative;
  top: 0; // initial; ie11不认识initial
  left: 0; //initial;
  border: none;
}

.devui-dropdown span.icon-chevron-down {
  display: inline-block;
  transition: transform 0.3s;
}

.devui-dropdown.open span.icon-chevron-down {
  transform: rotate(180deg);
}
