@import '../style/theme/color';
@import '../style/theme/variables';
@import '../style/mixins/index';

.devui-dropdown {
  .devui-dropdown-toggle {
    background-color: $white;
    color: $dark1;
    border-color: $gray1;
    &:hover {
      border-color: $focus1;
      color: $focus1;
    }
    &:active, &:focus {
        border-color: $hover-control;
        color: $hover-control;
    }
  }

  .devui-dropdown-menu {
    background-color: $white;
    box-shadow: 0 2px 5px 0 rgba($dark1, .2);
    > li > a {
      color: $dark1;
      &:hover, &:focus {
        background-color: $hover-content;
      }
    }
    > .disabled > a {
      opacity: .3;
      &:hover, &:focus {
        background-color: transparent;
      }
    }
  }
}
