<h3>Basic</h3>
<d-row>
  <d-col [dSpan]="12">col-12</d-col>
  <d-col [dSpan]="12">col-12</d-col>
</d-row>

<d-row>
  <d-col [dSpan]="8">col-8</d-col>
  <d-col [dSpan]="8">col-8</d-col>
  <d-col [dSpan]="8">col-8</d-col>
</d-row>

<d-row>
  <d-col [dSpan]="6">col-6</d-col>
  <d-col [dSpan]="6">col-6</d-col>
  <d-col [dSpan]="6">col-6</d-col>
  <d-col [dSpan]="6">col-6</d-col>
</d-row>

<h3>Responsive</h3>
<d-row>
  <d-col [dSpan]="{ ss: 12, xs: 6 }">col-12, col-xs-6</d-col>
  <d-col [dSpan]="{ ss: 12, xs: 6 }">col-12, col-xs-6</d-col>
  <d-col [dSpan]="{ ss: 12, xs: 6 }">col-12, col-xs-6</d-col>
  <d-col [dSpan]="{ ss: 12, xs: 6 }">col-12, col-xs-6</d-col>
</d-row>
