@import '~ng-devui/styles-var/devui-var.scss';

.devui-backtop-content {
  width: 40px;
  height: 40px;
  background-color: $devui-text-weak;
  opacity: 0.4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

d-backtop {
  margin: 20px 0;
}
