<section>
  <d-splitter class="splitter-border" [orientation]="orientation" [splitBarSize]="splitBarSize" style="height: 300px">
    <d-splitter-pane
      [size]="size"
      [minSize]="minSize"
      [maxSize]="maxSize"
      [collapsible]="true"
      (sizeChange)="sizeChange($event)"
      (collapsedChange)="collapsedChange($event)"
    >
      <div class="pane-content">
        <h2>Left</h2>
        <div>width: 30%, min-width: 20%</div>
      </div>
    </d-splitter-pane>
    <d-splitter-pane minSize="15%">
      <div class="pane-content">
        <h2>Right</h2>
        <div>Content</div>
      </div>
    </d-splitter-pane>
  </d-splitter>
</section>
