<div [ngClass]="[uniqueId, 'color-panel']"
  [ngStyle]="{
    'background':
      'linear-gradient(to top, #000, transparent),'+
      'linear-gradient(to left, '+pureColor+', #fff)'
  }"
  (mousedown)="mouseDownEvent()"
  (mousemove)="mouseMoveEvent($event)"
  (click)="mouseClickEvent($event)"
  (mouseup)="mouseUpEvent()"
>
  <div
    class="pointer"
    [ngStyle]="{
      'left': pointer.left - 5 + 'px', 
      'top': pointer.top - 5 + 'px',
      'background-color': pointer.color
    }"
  ></div>
</div>