@import '../style/theme/color';
@import '../style/theme/variables';
@import '../style/mixins/index';

svg.svg-icon-clear > g > g {
  fill: $dark-1;
}

svg.svg-icon-search > g > path {
  fill: $dark-1;
}

:host {
  display: inline-block;
}

.devui-search {
  position: relative;

  .devui-input {
    height: 32px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    padding-right: 30px;
    text-overflow: ellipsis;

    &.devui-clear-exit {
      padding-right: 60px;
    }

    &-sm {
      height: 30px;
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
      padding-right: 24px;

      &.devui-clear-exit {
        padding-right: 49px;
      }
    }

    &-lg {
      height: 46px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
      padding-right: 36px;

      &.devui-clear-exit {
        padding-right: 71px;
      }
    }

    &::-ms-clear {
      display: none;
    }

    &:disabled {
      background-color: $disabled-bg;
      border-color: $disabled-border;
      color: $disabled-content;
    }
  }

  .icon {
    cursor: pointer;
  }

  .devui-search-icon {
    position: absolute;
    width: auto;
    pointer-events: all;
    cursor: pointer;
    height: 100%;
    line-height: 32px;
    padding: 3px 10px;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    text-align: center;

    > svg {
      height: 14px;
      width: 14px;
    }

    &-sm {
      width: 30px;
      height: 30px;
      line-height: 30px;
      padding: 1px 10px;

      > svg {
        height: 12px;
        width: 12px;
      }
    }

    &-lg {
      width: 46px;
      height: 46px;
      line-height: 46px;

      > svg {
        height: 18px;
        width: 18px;
      }
    }
  }

  .devui-search-clear {
    position: absolute;
    width: auto;
    top: 0;
    right: 32px;
    padding: 1px 10px;
    pointer-events: all;
    cursor: pointer;
    height: 100%;
    line-height: 32px;
    font-size: 14px;
    z-index: 2;
    display: none;

    &.devui-clear-exit {
      display: block;
    }

    &-sm {
      right: 30px;
      line-height: 30px;
      padding: 0 8px;
    }

    &-lg {
      right: 46px;
      line-height: 46px;
      padding: 0 10px;
    }
  }

  .devui-search-line {
    position: absolute;
    right: 32px;
    height: 70%;
    top: 15%;
    width: 1px;
    border-left-width: 1px;
    border-left-style: solid;
    border-color: $gray-1;
    line-height: 32px;
    display: none;

    &.devui-clear-exit {
      display: block;
    }

    &-sm {
      line-height: 30px;
      right: 30px;
    }

    &-lg {
      line-height: 46px;
      right: 46px;
    }
  }
}
