@import '../style/theme/color';
@import '../style/core/_font';

.devui-search {
  .devui-serach-line {
    border-color: $devui-dividing-line;
  }
}

svg.svg-icon-clear path,
svg.svg-icon-search path {
  fill: $devui-icon-text;
}

:host {
  display: inline-block;
}

.devui-search {
  position: relative;

  .devui-input {
    height: 28px;
    padding: 4px 8px;
    font-size: $devui-font-size;
    padding-right: 28px;
    text-overflow: ellipsis;

    &.devui-icon-left {
      padding-left: 32px;
    }

    &.devui-search-no-border {
      border: none;
    }

    &.devui-clear-exit:not(.devui-icon-left) {
      padding-right: 60px;
    }

    &-sm {
      height: 26px;
      padding: 4px 8px;
      font-size: $devui-font-size;
      padding-right: 24px;

      &.devui-clear-exit:not(.devui-icon-left) {
        padding-right: 56px;
      }
    }

    &-lg {
      height: 46px;
      padding: 12px 16px;
      font-size: $devui-font-size-lg;
      line-height: 24px;
      padding-right: 36px;

      &.devui-clear-exit:not(.devui-icon-left) {
        padding-right: 72px;
      }
    }

    &::-ms-clear {
      display: none;
    }

    &:disabled {
      background-color: $devui-disabled-bg;
      border-color: $devui-disabled-line;
      color: $devui-disabled-text;

      & + .devui-search-icon {
        svg path {
          fill: $devui-disabled-text;
        }
      }
    }
  }

  .icon {
    cursor: pointer;
  }

  .devui-search-icon {
    position: absolute;
    width: auto;
    pointer-events: all;
    cursor: pointer;
    height: 100%;
    line-height: 28px;
    padding: 0 12px;
    top: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &.devui-icon-left {
      left: 8px;
      right: auto;
      padding-left: 0;
    }

    > svg {
      height: 16px;
      width: 16px;
    }

    &-sm {
      height: 26px;
      line-height: 26px;
      padding: 0 12px;

      > svg {
        height: 14px;
        width: 14px;
      }
    }

    &-lg {
      height: 46px;
      line-height: 46px;

      > svg {
        height: 18px;
        width: 18px;
      }
    }
  }

  .devui-search-clear {
    position: absolute;
    width: auto;
    top: 0;
    right: 36px;
    padding: 0 8px;
    pointer-events: all;
    cursor: pointer;
    height: 100%;
    line-height: 28px;
    font-size: $devui-font-size-lg;
    z-index: 2;
    display: none;

    &.devui-icon-left {
      right: 0;
    }

    &.devui-clear-exit {
      display: block;
    }

    &-sm {
      line-height: 26px;
      padding: 0 8px;
    }

    &-lg {
      right: 46px;
      line-height: 46px;
      padding: 0 8px;
    }

    &:hover {
      svg.svg-icon-search path {
        fill: $devui-icon-fill-active;
      }
    }
  }

  .devui-search-line {
    position: absolute;
    right: 36px;
    height: 46%;
    top: 27%;
    width: 1px;
    border-left-width: 1px;
    border-left-style: solid;
    border-color: $devui-dividing-line;
    line-height: 28px;
    display: none;

    &.devui-clear-exit {
      display: block;
    }

    &-sm {
      line-height: 26px;
    }

    &-lg {
      line-height: 46px;
      right: 46px;
    }
  }
}
