@import '../style/theme/color';
@import '../style/theme/variables';
@import '../style/mixins/index';

.devui-search {
  .devui-serach-line {
    border-color: $gray1;
  }
}

svg.svg-icon-clear > g > g {
  fill: $dark1;
}
svg.svg-icon-search > g > path {
  fill: $dark1;
}
