@import '~ng-devui/styles-var/devui-var.scss';

.menu {
  width: 400px;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title-content {
    flex: 1;
    padding-right: 8px;
  }

  .badge {
    display: block;
    width: fit-content;
    height: 16px;
    border-radius: 16px;
    font-size: $devui-font-size-sm;
    line-height: $devui-font-size-sm;
    color: $devui-aide-text;
    text-align: center;
    background: $devui-label-bg;
    font-weight: normal;
    margin: 0 4px 0 8px;
    padding: 2px 4px;
  }
}

.loading {
  position: relative;
  line-height: 40px;
  padding-left: 64px;
}

.circle-spinner {
  top: 10px;
  left: 36px;
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  transform-origin: center;
  animation: circle infinite 0.75s linear;
  border: 2px solid $devui-brand;
  border-top-color: transparent;
  border-radius: 50%;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  .menu {
    width: 80%;
  }
}
