<div class="demo-menu" style="width: 256px">
  <div dMenu>
    <ng-container *ngFor="let m of menus; trackBy: trackByMenu">
      <div
        dSubMenu
        [title]="m.name"
        [icon]="m.icon"
        [open]="openKeys.includes(m.key)"
        (openChange)="openChange($event, m.key)"
        *ngIf="m.children?.length; else leafTpl"
      >
        <div
          dMenuItem
          (itemClick)="itemClick(item.key)"
          [active]="item.key === activeKey"
          *ngFor="let item of m.children; trackBy: trackByMenu"
        >
          <d-icon class="devui-menu-item-icon" icon="icon-op-list" />
          <span class="devui-menu-item-name">{{ item.name }}</span>
        </div>
      </div>
      <ng-template #leafTpl>
        <div dMenuItem (itemClick)="itemClick(m.key)" [active]="m.key === activeKey">
          <d-icon class="devui-menu-item-icon" icon="icon-op-list" />
          <span class="devui-menu-item-name over-flow-ellipsis">{{ m.name }}</span>
        </div>
      </ng-template>
    </ng-container>
  </div>
</div>
