@import '~ng-devui/styles-var/devui-var.scss';

section {
  position: relative;

  .operate-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: red;
    z-index: 10;
  }
}

section.overflow {
  overflow: hidden;
}

.handler {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.b-group {
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;

  div {
    display: inline-block;
    padding: 0 8px;
    height: 32px;
    min-width: 32px;
    line-height: 32px;
    background: $devui-base-bg;
    box-shadow: $devui-shadow-length-base rgba(41, 48, 64, 0.1);
    border-radius: $devui-border-radius;
    cursor: pointer;
    text-align: center;
  }
}

d-data-table {
  height: calc(100% - 45px);
}

.tool {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  margin-left: 12px;
  background-color: $devui-base-bg;
  box-shadow: $devui-shadow-length-base rgba(81, 112, 255, 0.4);
  cursor: pointer;

  span {
    border: 0 !important;
  }
}

.devui-gantt-milestone {
  height: 24px;
  line-height: 24px;

  & span {
    display: inline-block;
    vertical-align: middle;
  }

  & .icon {
    width: 22px;
    height: 24px;
    margin-right: 4px;
  }
}

::ng-deep .devui-gantt-tips {
  & .title {
    font-size: $devui-font-size-card-title;
    color: $devui-text;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  & .content {
    font-size: $devui-font-size;
    color: $devui-text;
    line-height: 24px;
  }
}

.min-height-stretch-row {
  background: $devui-base-bg !important;

  &:hover {
    background: $devui-base-bg !important;
  }

  & td {
    padding: 0 !important;
    border: unset !important;
  }
}

.reset-position-container {
  position: relative;
}

.reset-position {
  visibility: hidden;
}

.table-collapse {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  width: 30px;
  height: 30px;
  z-index: 6;
  border-radius: 100%;
  color: $devui-light-text;
  cursor: pointer;
  background-color: $devui-text-weak;
  box-shadow: $devui-shadow-length-base rgba(41, 48, 64, 0.1);

  .icon {
    transform: rotate(-90deg);
  }

  .is-expand {
    transform: rotate(90deg);
  }
}

:host ::ng-deep {
  .resize-handle {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 6px;
    border-left: 2px solid $devui-line;
    cursor: col-resize;
  }

  .devui-table {
    .devui-table {
      position: static !important;
    }
  }

  .fullscreen {
    .scroll-view,
    .devui-table {
      height: 100% !important;

      .devui-table {
        position: static !important;
      }
    }
  }

  .devui-btn {
    height: 32px !important;
    color: $devui-text !important;
    padding: 0 8px !important;
  }
}
