@import '../style/theme/color';

:host {
  display: inline-block;
}

.devui-tag-item {
  display: inline-block;
  margin: 2px;
  padding: 0 5px;
  min-height: 20px;
  font-size: 14px;
  line-height: 20px;
  color: $dark-1;
  background-color: $tag-label-bgcolor;
  border-radius: 1px;
  border-width: 0;
  border-style: solid;
  border-color: inherit;

  .remove-button {
    margin-left: 5px;
    font-size: 16px;
    color: $dark-1;
    line-height: 20px;
    vertical-align: top;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}

.blue-w98 {
  color: #3383ff;
  background-color: #fbfdff;
  border-width: thin;
  border-color: #e1edff;
}
.green-w98 {
  color: #00b679;
  background-color: #fafefc;
  border-width: thin;
  border-color: #d9f4eb;
}
.yellow-w98 {
  color: #ffab05;
  background-color: #fffdfa;
  border-width: thin;
  border-color: #fff3da;
}
.orange-w98 {
  color: #ff7452;
  background-color: #fffcfc;
  border-width: thin;
  border-color: #ffeae5;
}
.pink-w98 {
  color: #ff8cc3;
  background-color: #fefcff;
  border-width: thin;
  border-color: #f5e8fd;
}
.purple-w98 {
  color: #bc67f0;
  background-color: #fffdfe;
  border-width: thin;
  border-color: #ffeef6;
}
.turquoise-w98 {
  color: #00c1de;
  background-color: #fafefe;
  border-width: thin;
  border-color: #d9f6fa;
}
.olivine-w98 {
  color: #89ba3e;
  background-color: #fdfefb;
  border-width: thin;
  border-color: #eef5e2;
}
