@import '../style/theme/color';
@import '../style/core/_font';

:host {
  display: inline-block;
  position: relative;
}

.devui-tag-item {
  padding: 0 10px;
  min-height: 20px;
  font-size: $devui-font-size;
  line-height: 20px;
  color: $devui-text;
  background-color: $devui-label-bg;
  border-radius: 2px;
  border-width: 0;
  border-style: solid;
  border-color: inherit;
  display: block;
  align-items: center;
  position: relative;
  cursor: default;

  .content-wrapper {
    display: none;
  }

  span {
    // 设置为0来调整IE下因为基线不同导致的不居中
    vertical-align: 0;
  }

  &:hover:not(.devui-colorful-tag):not(.devui-selected-tag) {
    color: $devui-brand-hover;

    .remove-button svg polygon {
      fill: $devui-brand-hover;
    }
  }

  &:hover.devui-colorful-tag {
    .content-wrapper {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid transparent;
      top: 0;
      left: 0;
      opacity: 0.08;
    }
  }

  &.devui-selected-tag {
    color: $devui-brand-active;

    .remove-button svg polygon {
      fill: $devui-brand-active;
    }
  }

  .remove-button {
    margin-left: 12px;
    font-size: $devui-font-size-icon;
    cursor: pointer;
    width: 12px;
    height: 12px;
    line-height: 12px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    svg polygon {
      fill: $devui-aide-text;
    }

    &:hover {
      text-decoration: none;
      font-size: $devui-font-size-icon;
    }
  }

  .default-button {
    margin-left: 12px;
    font-size: $devui-font-size-icon;
    cursor: pointer;
    width: 12px;
    height: 12px;
    line-height: 12px;
    background-color: $devui-line;
    border-radius: 50%;
    display: inline-block;
    text-align: center;

    svg path {
      fill: $devui-light-text;
    }

    &:hover {
      text-decoration: none;
      background-color: $devui-brand;
    }
  }
}

.devui-deletable-tag {
  padding-right: 28px;
}

.devui-colorful-tag {
  height: 18px;
  line-height: 18px;
  border-width: 1px;
  background-color: $devui-base-bg;
}

.blue-w98 {
  color: #3383ff;
  background-color: $devui-base-bg;
  border-width: 1px;
  border-color: #3383ff;

  .remove-button svg polygon {
    fill: #3383ff;
  }

  &.devui-selected-tag {
    background-color: #3383ff;
  }
}

.aqua-w98 {
  color: #6cbfff;
  background-color: $devui-base-bg;
  border-width: 1px;
  border-color: #6cbfff;

  .remove-button svg polygon {
    fill: #6cbfff;
  }

  &.devui-selected-tag {
    background-color: #6cbfff;
  }
}

.olivine-w98 {
  color: #50d4ab;
  background-color: $devui-base-bg;
  border-width: 1px;
  border-color: #50d4ab;

  .remove-button svg polygon {
    fill: #50d4ab;
  }

  &.devui-selected-tag {
    background-color: #50d4ab;
  }
}

.green-w98 {
  color: #a6dd82;
  background-color: $devui-base-bg;
  border-width: 1px;
  border-color: #a6dd82;

  .remove-button svg polygon {
    fill: #a6dd82;
  }

  &.devui-selected-tag {
    background-color: #a6dd82;
  }
}

.yellow-w98 {
  color: #fac20a;
  background-color: $devui-base-bg;
  border-width: 1px;
  border-color: #fac20a;

  .remove-button svg polygon {
    fill: #fac20a;
  }

  &.devui-selected-tag {
    background-color: #fac20a;
  }
}

.orange-w98 {
  color: #fa9841;
  background-color: $devui-base-bg;
  border-width: 1px;
  border-color: #fa9841;

  .remove-button svg polygon {
    fill: #fa9841;
  }

  &.devui-selected-tag {
    background-color: #fa9841;
  }
}

.pink-w98 {
  color: #f66f6a;
  background-color: $devui-base-bg;
  border-width: 1px;
  border-color: #f66f6a;

  .remove-button svg polygon {
    fill: #f66f6a;
  }

  &.devui-selected-tag {
    background-color: #f66f6a;
  }
}

.red-w98 {
  color: #f3689a;
  background-color: $devui-base-bg;
  border-width: 1px;
  border-color: #f3689a;

  .remove-button svg polygon {
    fill: #f3689a;
  }

  &.devui-selected-tag {
    background-color: #f3689a;
  }
}

.purple-w98 {
  color: #a97af8;
  background-color: $devui-base-bg;
  border-width: 1px;
  border-color: #a97af8;

  .remove-button svg polygon {
    fill: #a97af8;
  }

  &.devui-selected-tag {
    background-color: #a97af8;
  }
}

.devui-selected-tag.devui-colorful-tag {
  color: $devui-base-bg;

  .remove-button svg polygon {
    fill: $devui-base-bg;
  }
}

.remove-button svg {
  vertical-align: text-top;
}
