<div class="devui-tags">
  <d-tag
    *ngFor="let tag of tags; let index = index"
    [tag]="displayProperty ? tag[displayProperty] : tag"
    [mode]="mode"
    [deletable]="deletable"
    [checked]="tag['checked']"
    [labelStyle]="tag['labelStyle']"
    [customColor]="tag['customColor']"
    [titleContent]="titleProperty ? tag[titleProperty] : displayProperty ? tag[displayProperty] : tag"
    [customViewTemplate]="customViewTemplate"
    (tagDelete)="removeTag($event, tag, index)"
  >
  </d-tag>
</div>
