@import '../style/theme/color';

.devui-tags {
  overflow: hidden;
  word-wrap: break-word;
  height: 100%;
  line-height: 24px;
}

.devui-tags-suffix {
  width: min-content;
  display: none;

  &:not(:empty) {
    display: inline-block;
  }
}

.beyond-tags-wrapper {
  max-width: 300px;
  margin-top: 8px;
  max-height: 300px;
  overflow: auto;

  .beyond-tag-style {
    margin-bottom: 8px;
  }

  d-tag:not(:last-of-type) {
    margin-right: 8px;
  }
}

d-tag:not(:last-of-type) {
  margin-right: 4px;
}
