<div class="devui-demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 180, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="devui-demo-example" [dAnchor]="'basic-usage'">
    <div class="devui-demo-title">{{ 'components.drawer.basicDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.drawer.basicDemo.description' | translate }}</div>
    <d-codebox id="basic" [sourceData]="basicSource">
      <d-basic demo></d-basic>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'do-not-destroy-after-closing'">
    <div class="devui-demo-title">{{ 'components.drawer.undestroyableDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.drawer.undestroyableDemo.description' | translate }}</div>
    <d-codebox id="undestroyable" [sourceData]="undestroyableSource">
      <d-undestroyable demo></d-undestroyable>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'template'">
    <div class="devui-demo-title">{{ 'components.drawer.templateDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.drawer.templateDemo.description' | translate }}</div>
    <d-codebox id="template" [sourceData]="templateSource">
      <d-template demo></d-template>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'resize'">
    <div class="devui-demo-title">{{ 'components.drawer.resizeDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.drawer.resizeDemo.description' | translate }}</div>
    <d-codebox id="template" [sourceData]="templateSource">
      <d-can-resize demo></d-can-resize>
    </d-codebox>
  </div>
</div>
