<div class="demo-container">
    <div class="demo-example">
        <div class="demo-title">基本用法</div>
        <div class="demo-text">
            基本用法，可以控制全屏和关闭
        </div>
        <ave-codebox id="basic" [sourceData]="basicSource">
            <ave-basic demo></ave-basic>
        </ave-codebox>
    </div>
    <div class="demo-example">
        <div class="demo-title">基本用法</div>
        <div class="demo-text">
            基本用法，可以控制全屏和关闭
        </div>
        <ave-codebox id="undestroyable" [sourceData]="undestroyableSource">
            <ave-undestroyable demo></ave-undestroyable>
        </ave-codebox>
    </div>
</div>
