<section>
  <div>
    <div class="title">我的代码库</div>
    <ul class="menu">
      <li class="menu-item">
        <a href="">
          <span class="item-title">我关注的</span>
          <d-badge class="right-badge" count="27"> </d-badge>
        </a>
      </li>
      <li class="menu-item">
        <a href="">
          <span class="item-title">我管理的</span>
          <d-badge class="right-badge" count="66"> </d-badge>
        </a>
      </li>
    </ul>
  </div>

  <div>
    <h4>通过textColor、bgColor自定义文字、背景颜色</h4>
    <strong><span>代码</span></strong>
    <d-badge class="span-space" count="2.3k" bgColor="#F2F2F3" textColor="#7A7E87"> </d-badge>
  </div>
</section>
