@import '~ng-devui/styles-var/devui-var.scss';

.title {
  font-size: $devui-font-size-card-title;
  margin-bottom: 10px;
  font-weight: bold;
}

.menu {
  left: 0;
  width: 200px;
  background: $devui-global-bg;

  &-item {
    position: relative;
    padding: 8px 16px;
    display: block;

    .right-badge {
      position: absolute;
      right: 20px;
      top: 12px;
    }

    .item-title {
      color: $devui-text;
      font-size: $devui-font-size-card-title;
    }
  }

  li:hover {
    background-color: $devui-list-item-selected-bg;

    .item-title {
      color: $devui-list-item-hover-text;
    }
  }
}
