@import '~ng-devui/styles-var/devui-var.scss';

.title {
  font-size: $devui-font-size-card-title;
  margin-bottom: 8px;
  font-weight: bold;
}

.menu {
  width: 200px;
  background: $devui-base-bg;
  box-shadow: $devui-shadow-length-base	$devui-light-shadow;

  &-item {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item-title {
      color: $devui-text;
      font-size: $devui-font-size-card-title;
    }
  }

  li:hover {
    background-color: $devui-list-item-selected-bg;

    .item-title {
      color: $devui-list-item-hover-text;
    }
  }
}
