<div class="demo-container">
  <div class="demo-example">
    <div class="demo-title">基本用法</div>
    <d-codebox id="layout-component" [sourceData]="LayoutBasic">
      <d-layout-basic demo></d-layout-basic>
    </d-codebox>
  </div>

  <div class="demo-example">
    <div class="demo-title">应用场景1</div>
    <div class="demo-text">常用上中下布局</div>
    <d-codebox id="layout-component" [sourceData]="LayoutTop">
      <d-layout-top demo></d-layout-top>
    </d-codebox>
  </div>

  <div class="demo-example">
    <div class="demo-title">应用场景2</div>
    <div class="demo-text">常用上中下布局及侧边栏布局</div>
    <d-codebox id="layout-component" [sourceData]="LayoutTopAside">
      <d-layout-top-aside demo></d-layout-top-aside>
    </d-codebox>
  </div>
</div>
