<div class="devui-demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 180, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="devui-demo-example" [dAnchor]="'basic-usage'">
    <div class="devui-demo-title">{{ 'components.layout.basicDemo.title' | translate }}</div>
    <d-codebox id="layout-component" [sourceData]="LayoutBasic">
      <d-layout-basic demo></d-layout-basic>
    </d-codebox>
  </div>

  <div class="devui-demo-example" [dAnchor]="'application-scenario1'">
    <div class="devui-demo-title">{{ 'components.layout.appDemo1.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.layout.appDemo1.description' | translate }}</div>
    <d-codebox id="layout-component" [sourceData]="LayoutTop">
      <d-layout-top demo></d-layout-top>
    </d-codebox>
  </div>

  <div class="devui-demo-example" [dAnchor]="'application-scenario2'">
    <div class="devui-demo-title">{{ 'components.layout.appDemo2.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.layout.appDemo2.description' | translate }}</div>
    <d-codebox id="layout-component" [sourceData]="LayoutTopAside">
      <d-layout-top-aside demo></d-layout-top-aside>
    </d-codebox>
  </div>
</div>
