@import '../../style/theme/color';
.col-divider {
    right: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    position: absolute;
    cursor: col-resize;
  }
  .filter-content {
    background: $white;
    border-radius: 2px;
    width:250px;
    padding:15px 20px;

  }
  .filter-options{
    margin-top:15px;
  }
  .line{
    height:1px;
    background: $gray2;
    margin-top:10px;
    margin-bottom:15px;
  }
  .checkbox-group{
    height:30px;
  }
  .button-style{
    display:inline-block;
    width:45%;
    font-size: 14px;
    color: $dark1;
    text-align: center;
    line-height: 20px;
    cursor:pointer;
  }
  .button-style:hover{
    color:$focus1;
  }
  :host ::ng-deep d-data-table table tr.table-row-selected{
    background-color: inherit
  }
  .filter-options ::ng-deep.d-checkbox > label{
    width:200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .checkbox-container{
    max-height:300px;
    overflow-y:auto;
  }
  .icon-filter-style{
    color: $gray2;
    cursor: pointer;
    margin-left: 5px;
  }
  .filter-container {
    position: absolute;
    left: 15%;
    top: 115px;
    z-index: 10;
  }
  .label-style {
    font-size: 12px;
    color: $dark1;
    letter-spacing: 0;
    margin-left: 10px;
  }
  .email-style {
    font-size: 12px;
    color: $dark3;
    letter-spacing: 0;
    margin-left: 10px;
  }
  .arrow {
    top: -10px;
    left: 70%;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $white;
  }
  .overlay-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9;
  }
  .drop-down-item{
    padding:10px 0 0 10px;
    height: 40px;
    cursor: pointer;
    &:hover{
      background: $gray3;
    }
  }
  .filter-item-active{
    background: $global-bg;
  }

  .edit-padding-fix {
    margin-top: -6px;
    margin-bottom: -6px;
  }
