<div class="demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 60, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="demo-example" [dAnchor]="'basic'">
    <div class="demo-title">{{ 'components.read-tip.basicDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.read-tip.basicDemo.description' | translate }}</div>
    <d-codebox id="demo-read-tip-basic" [sourceData]="basicSource">
      <d-demo-basic demo></d-demo-basic>
    </d-codebox>
  </div>
  <div class="demo-example" [dAnchor]="'multi-readtip'">
    <div class="demo-title">{{ 'components.read-tip.multiDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.read-tip.multiDemo.description' | translate }}</div>
    <d-codebox id="demo-read-tip-multi" [sourceData]="multiSource">
      <d-demo-multi demo></d-demo-multi>
    </d-codebox>
  </div>
  <div class="demo-example" [dAnchor]="'readtip-template'">
    <div class="demo-title">{{ 'components.read-tip.templateDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.read-tip.templateDemo.description' | translate }}</div>
    <d-codebox id="demo-read-tip-template" [sourceData]="templateSource">
      <d-demo-template demo></d-demo-template>
    </d-codebox>
  </div>
  <div class="demo-example" [dAnchor]="'readtip-async'">
    <div class="demo-title">{{ 'components.read-tip.asyncDemo.title' | translate }}</div>
    <div class="demo-text"></div>
    <d-codebox id="demo-read-tip-template" [sourceData]="asyncSource">
      <d-demo-async demo></d-demo-async>
    </d-codebox>
  </div>
</div>
