<section>
  <h4>Search by name or email address<!--搜索支持名字和邮箱搜索--></h4>
  <div class="row">
    <div class="col-md-5">
      <d-select
        [templateItemSize]="56"
        [filterKey]="'name'"
        [isSelectAll]="true"
        [multiple]="true"
        [(ngModel)]="currentOption1"
        [searchFn]="onSelectObject"
        [isSearch]="true"
      >
        <ng-template let-option="option" let-filterKey="filterKey">
          <div>
            name：
            <!--名称：-->{{ option['name'] }}
          </div>
          <div>
            email:
            <!--邮箱：-->{{ option['email'] }}
          </div>
        </ng-template>
      </d-select>
    </div>
  </div>
</section>
