<h4>time separate</h4>
<div style="position: relative; left: 20px">
  <d-time-axis direction="horizontal" [mode]="'alternative'">
    <d-time-axis-item direction="horizontal" dotColor="var(--devui-success)" text="Start" time="2021/3/13"></d-time-axis-item>
    <d-time-axis-item direction="horizontal" dotColor="var(--devui-danger)" text="Check" time="2021/4/14"></d-time-axis-item>
    <d-time-axis-item direction="horizontal" dotColor="var(--devui-info)" text="Debug" time="2021/4/21"></d-time-axis-item>
    <d-time-axis-item direction="horizontal" dotColor="var(--devui-warning)" text="Display" time="2021/4/25"></d-time-axis-item>
  </d-time-axis>
</div>
