<h4>time seperate</h4>
<div>
  <d-time-axis direction="horizontal" [mode]="'alternative'">
    <d-time-axis-item direction="horizontal" type="success" text="Start" time="2021-3-13"></d-time-axis-item>
    <d-time-axis-item direction="horizontal" type="danger" text="Check" time="2021-4-14"></d-time-axis-item>
    <d-time-axis-item direction="horizontal" type="info" text="Debug" time="2021-4-21"></d-time-axis-item>
    <d-time-axis-item direction="horizontal" type="warning" text="Display" time="2021-4-25"></d-time-axis-item>
  </d-time-axis>
</div>
