<div class="devui-demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 180, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="devui-demo-example" [dAnchor]="'color'">
    <div class="devui-demo-title">{{ 'components.design-color.colorDemo.title' | translate }}</div>
    <div class="devui-demo-text">
      {{ 'components.design-color.colorDemo.description1' | translate }}<br />
      {{ 'components.design-color.colorDemo.description2' | translate }}<br />
      {{ 'components.design-color.colorDemo.description3' | translate }}
    </div>
    <d-color></d-color>
  </div>
</div>
