@import '../style/theme/color';
@import '../style/theme/variables';
@import '../style/mixins/index';
@import '../style/core/_font';

:host {
  display: block;
}

.devui-progress {
  position: relative;
  background: $devui-dividing-line;

  .devui-progress-bar {
    width: 0;
    height: 100%;
    box-shadow: inset 0 -1px 0 $devui-shadow;
    transition: width 0.6s ease;
    background-color: $devui-brand;
  }

  > span {
    display: block;
    white-space: nowrap;
    color: $devui-light-text;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    font-size: $devui-font-size;
    line-height: 1.5;
  }
}

.devui-progress-circle {
  position: relative;
}

.devui-progress-circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: $devui-text;
  line-height: 1;
  white-space: normal;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.devui-progress-circle-trail {
  stroke: $devui-dividing-line;
}

.devui-progress-circle-path {
  stroke: $devui-brand;
}
