<section>
  <div class="row">
    <div class="col-sm-3">
      <div class="card" dDroppable [dropScope]="'devui-quadrant-diagram'" (dropEvent)="onDrop($event, list)">
        <div class="card-header">Draggable items</div>
        <div class="card-block">
          <ul class="list-group">
            <li
              dDraggable
              *ngFor="let item of list"
              [dragScope]="'devui-quadrant-diagram'"
              [dragData]="{ item: item, parent: list }"
              class="list-group-item over-flow-ellipsis"
            >
              {{ item.title }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<d-quadrant-diagram
  [labelData]="labelData"
  [quadrantConfigs]="quadrantConfigs"
  [axisConfigs]="axisConfigs"
  [view]="view"
  [dropScope]="'devui-quadrant-diagram'"
  (dropEvent)="dropEvent($event)"
></d-quadrant-diagram>
