@import '~ng-devui/styles-var/devui-var.scss';
@import '../../../style/theme/shadow';

.basic-usage {
  box-shadow: $devui-shadow-length-base; // TODO: color not variable
  margin-top: 36px;

  &:first-child {
    margin-top: 0;
  }
}

d-header {
  text-align: center;
  line-height: 40px;
  background-color: $devui-base-bg-dark; // TODO: color not variable
  color: $devui-light-text;
}

d-aside {
  min-height: 200px;
  min-width: 120px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $devui-area;
}

d-content {
  line-height: 200px;
  text-align: center;
  background-color: $devui-global-bg-normal;
}

d-footer {
  color: $devui-light-text;
  background-color: $devui-base-bg-dark;
  padding: 9px 24px;
}
