<d-layout class="basic-usage">
  <d-header>Header</d-header>
  <d-content>Content</d-content>
  <d-footer>Footer</d-footer>
</d-layout>

<d-layout class="basic-usage">
  <d-header>Header</d-header>
  <d-layout>
    <d-aside>Aside</d-aside>
    <d-content>Content</d-content>
  </d-layout>
  <d-footer>Footer</d-footer>
</d-layout>

<d-layout class="basic-usage">
  <d-header>Header</d-header>
  <d-layout>
    <d-content>Content</d-content>
    <d-aside>Aside</d-aside>
  </d-layout>
  <d-footer>Footer</d-footer>
</d-layout>

<d-layout class="basic-usage">
  <d-aside>Aside</d-aside>
  <d-layout>
    <d-header>Header</d-header>
    <d-content>Content</d-content>
    <d-footer>Footer</d-footer>
  </d-layout>
</d-layout>
