<div class="demo-container">

    <div class="demo-example">
        <div class="demo-title">主要按钮</div>
        <div class="demo-text">

        </div>
        <ave-codebox id="components-tabs-default" [sourceData]="primarySource">
            <ave-primary demo></ave-primary>
        </ave-codebox>
    </div>

    <div class="demo-example">
        <div class="demo-title">次要按钮</div>
        <div class="demo-text">

        </div>
        <ave-codebox id="components-tabs-default" [sourceData]="commonSource">
            <ave-common demo></ave-common>
        </ave-codebox>
    </div>

    <div class="demo-example">
        <div class="demo-title">文字按钮</div>
        <div class="demo-text">

        </div>
        <ave-codebox id="components-tabs-default" [sourceData]="textSource">
            <ave-text demo></ave-text>
        </ave-codebox>
    </div>

    <div class="demo-example">
        <div class="demo-title">加载中状态</div>
        <div class="demo-text">

        </div>
        <ave-codebox id="components-tabs-default" [sourceData]="loadingSource">
            <ave-loading demo></ave-loading>
        </ave-codebox>
    </div>

    <div class="demo-example">
        <div class="demo-title">图标按钮</div>
        <div class="demo-text">

        </div>
        <ave-codebox id="components-tabs-default" [sourceData]="iconSource">
            <ave-icon demo></ave-icon>
        </ave-codebox>
    </div>

</div>

