<form class="form">
  <div class="devui-form-group">
    <label for="language2">Search array:</label>
    <input
      dTextInput
      type="text"
      class="devui-form-control devui-dropdown-origin"
      name="language"
      placeholder="Search"
      [minLength]="0"
      [(ngModel)]="selectItem2"
      dAutoComplete
      [searchFn]="onSearchLocal.bind(this)"
      (selectValue)="selectValue($event)"
    />
  </div>
  <pre>{{ (selectItem2 | json) || 'No language select!' }}</pre>
</form>
