<div class="popper">
  <div class="popper-activator" #popperActivator>
    <ng-content select="[popper-activator]"></ng-content>
  </div>

  <div
    class="popper-container devui-popover-container-{{ poppoverAppendDirection }}"
    #popperContainer
    [ngClass]="{ fluid: fluidPopper && !appendTo }"
  >
    <div class="devui-dropdown-menu-wrap">
      <ng-content select="[popper-prepend]"></ng-content>
      <div class="popper-container-scrollable devui-scrollbar">
        <ng-content select="[popper-container]"></ng-content>
      </div>
    </div>
    <div class="popper-append-area">
      <ng-content select="[popper-append]"></ng-content>
    </div>
  </div>
</div>
