<ng-template
  [ngTemplateOutlet]="pagerTemplate ? pagerTemplate.template : defaultPagerTemplate"
  [ngTemplateOutletContext]="{ $implicit: this, pager: pager }"
></ng-template>

<ng-template #defaultPagerTemplate let-pager="pager" let-pagerPanel="">
  <d-pagination
    cssClass="table-pagination"
    [selectDirection]="pager.selectDirection"
    [total]="pager.total"
    [size]="pager.componentSize || 'sm'"
    [pageSize]="pager.pageSize"
    [maxItems]="pager.maxItems || pagerPanel.pagerMaxItems"
    [(pageIndex)]="pager.pageIndex"
    (pageIndexChange)="pagerPanel.onPageChange($event)"
  >
  </d-pagination>
</ng-template>
