@import '../style/theme/color';

:host ::ng-deep th .datatable-svg {
  g#order-default {
    path {
      fill: $gray-2;
    }
  }
  g#order-desc {
    polygon#Path-4 {
      fill: $gray-2;
    }
    polygon#Path-4-Copy {
      fill: $brand-1;
    }
  }
  g#order-asc {
    polygon#Path-4 {
      fill: $brand-1;
    }
    polygon#Path-4-Copy {
      fill: $gray-2;
    }
  }
}
