@import '../style/theme/color';
@import '../style/core/_font';

$devui-table-expand-area-bg: var(--devui-table-expand-area-bg, #f7f8fa);

.detail-content {
  color: $devui-text;
  font-size: $devui-font-size;
  font-weight: normal;
  background-color: $devui-area;
}

.child-table {
  &:hover {
    background: transparent !important;
  }

  .devui-table {
    background: transparent;
    margin-bottom: 0;
  }

  & > td {
    padding: 0 0 0 0;
    border: 0;
  }
}

::ng-deep .devui-table tbody > tr.expand-row {
  background: $devui-table-expand-area-bg;
}
