<div class="devui-data-table {{ cssClass }}">
  <div class="devui-table-view" #tableView>
    <div
      *ngIf="fixHeader"
      #fixHeaderContainerRef
      class="table-wrap"
      [style.overflow]="'hidden'"
      [style.max-height]="maxHeight ? maxHeight : null"
      [style.max-width]="maxWidth ? maxWidth : null"
      [style.width]="!maxWidth ? tableWidth : null"
    >
      <table
        class="devui-table {{ type ? 'table-' + type : '' }} {{ hover ? 'table-hover' : '' }} {{ fixHeader ? 'table-fix-header' : '' }}"
        [style.table-layout]="'fixed'"
      >
        <colgroup>
          <col *ngFor="let config of tableWidthConfig" [style.width]="config.width" />
        </colgroup>
        <ng-container *ngTemplateOutlet="HeaderContent"></ng-container>
        <ng-template *ngIf="!innerHeader" [ngTemplateOutlet]="headerTpl"></ng-template>
      </table>
    </div>

    <div
      cdkScrollable
      *ngIf="!virtualScroll || dataSource.length === 0; else scrollViewTpl"
      class="devui-scrollbar"
      [ngClass]="{ 'scroll-view': scrollable, 'table-wrap': !fixHeader }"
      [style.max-height]="maxHeight ? maxHeight : null"
      [style.max-width]="maxWidth ? maxWidth : null"
      [style.width]="!maxWidth ? tableWidth : null"
      (scroll)="onBodyScroll($event)"
    >
      <table
        #tableBody
        class="devui-table {{ type ? 'table-' + type : '' }} {{ hover ? 'table-hover' : '' }}"
        [style.table-layout]="'fixed'"
      >
        <colgroup>
          <col *ngFor="let config of tableWidthConfig" [style.width]="config.width" />
        </colgroup>
        <ng-container *ngIf="!fixHeader">
          <ng-container *ngTemplateOutlet="HeaderContent"></ng-container>
          <ng-template *ngIf="!innerHeader" [ngTemplateOutlet]="headerTpl"></ng-template>
        </ng-container>
        <ng-template [ngTemplateOutlet]="headerExpandTpl"></ng-template>
        <tbody
          dTableBody
          dSortable
          *ngIf="innerBody"
          [dataSource]="dataSource"
          [tableWidthConfig]="tableWidthConfig"
          [virtualScroll]="virtualScroll"
          [rowTemplete]="innerBody.rowTempleteForSelect"
        ></tbody>
        <tbody
          *ngIf="!innerBody"
          dDataTableBody
          [dataSource]="dataSource"
          [resizeable]="resizeable"
          [columns]="_columns"
          [checkable]="checkable"
          [allChecked]="_pageAllChecked"
          [selectable]="selectable"
          [editModel]="editModel"
          [editRowItem]="editRowItem"
          [showExpandToggle]="showExpandToggle"
          [detailTemplateRef]="detailTemplateRef"
          [timeout]="timeout"
          [type]="type"
          [hover]="hover"
          [tableLevel]="tableLevel"
          [tableWidthConfig]="tableWidthConfig"
        ></tbody>
      </table>
    </div>
  </div>
</div>

<ng-container *ngIf="!dataSource?.length && noResultTemplate != null">
  <ng-template [ngTemplateOutlet]="noResultTemplate" [ngTemplateOutletContext]="{ $implicit: this }"></ng-template>
</ng-container>

<ng-template #scrollViewTpl>
  <cdk-virtual-scroll-viewport
    [itemSize]="virtualItemSize"
    [minBufferPx]="virtualMinBufferPx"
    [maxBufferPx]="virtualMaxBufferPx"
    class="devui-scrollbar viewport-wrapper"
    [ngClass]="{ 'scroll-view': scrollable, 'virtual-scroll-wrap': !fixHeader }"
    [style.height]="maxHeight"
    [style.max-height]="maxHeight ? maxHeight : null"
    [style.max-width]="maxWidth ? maxWidth : null"
    [style.width]="!maxWidth ? tableWidth : null"
    (scroll)="onBodyScroll($event)"
  >
    <table #tableBody class="devui-table {{ type ? 'table-' + type : '' }} {{ hover ? 'table-hover' : '' }}" [style.table-layout]="'fixed'">
      <colgroup>
        <col *ngFor="let config of tableWidthConfig" [style.width]="config.width" />
      </colgroup>
      <ng-container *ngIf="!fixHeader">
        <ng-container *ngTemplateOutlet="HeaderContent"></ng-container>
        <ng-template *ngIf="!innerHeader" [ngTemplateOutlet]="headerTpl"></ng-template>
      </ng-container>
      <ng-template [ngTemplateOutlet]="headerExpandTpl"></ng-template>
      <tbody
        dTableBody
        dSortable
        *ngIf="innerBody"
        [dataSource]="dataSource"
        [tableWidthConfig]="tableWidthConfig"
        [virtualScroll]="virtualScroll"
        [rowTemplete]="innerBody.rowTempleteForSelect"
      ></tbody>
      <tbody
        *ngIf="!innerBody"
        dDataTableBody
        [dataSource]="dataSource"
        [resizeable]="resizeable"
        [columns]="_columns"
        [checkable]="checkable"
        [allChecked]="_pageAllChecked"
        [selectable]="selectable"
        [editModel]="editModel"
        [editRowItem]="editRowItem"
        [showExpandToggle]="showExpandToggle"
        [detailTemplateRef]="detailTemplateRef"
        [timeout]="timeout"
        [type]="type"
        [hover]="hover"
        [tableLevel]="tableLevel"
        [virtualScroll]="virtualScroll"
        [tableWidthConfig]="tableWidthConfig"
      ></tbody>
    </table>
  </cdk-virtual-scroll-viewport>
</ng-template>

<ng-template #headerTpl>
  <thead
    dDataTableHead
    [resizeable]="resizeable"
    [tableViewRefElement]="tableViewRefElement"
    [tableBodyEl]="tableBodyEl"
    [multiSort]="multiSort"
    [columns]="_columns"
    [pageAllChecked]="_pageAllChecked"
    [checkable]="checkable"
    [checkOptions]="checkOptions"
    [headerCheckDisabled]="headerCheckDisabled"
    [showExpandToggle]="showExpandToggle"
    [showSortIcon]="showSortIcon"
    (resizeHandlerEvent)="onResizeHandler($event)"
    (headClickSortEvent)="onHandleSort($event)"
    [halfChecked]="halfChecked"
    [maxHeight]="maxHeight"
    (beginResizeHandlerEvent)="beginResizeHandlerEvent($event)"
    (resizingHandlerEvent)="onResizingFixedHandler($event)"
    [fixHeader]="fixHeader"
    (dragTableEndEvent)="handleDragTable($event)"
    [dataSource]="dataSource"
    [colDropFreezeTo]="colDropFreezeTo"
    [colDraggable]="colDraggable"
    [childrenTableOpen]="childrenTableOpen"
  ></thead>
</ng-template>

<ng-template #headerExpandTpl>
  <tbody *ngIf="headerExpandConfig?.expand">
    <tr>
      <td [attr.colspan]="tableWidthConfig.length">
        <ng-template
          [ngTemplateOutlet]="headerExpandConfig?.expandTemplateRef || default"
          [ngTemplateOutletContext]="{$implicit: this, columns: columns}"
        >
        </ng-template>
        <ng-template #default>
          <div>{{ headerExpandConfig?.description }}</div>
        </ng-template>
      </td>
    </tr>
  </tbody>
</ng-template>
<ng-template #HeaderContent><ng-content select="thead"></ng-content></ng-template>
