<div class="devui-data-table {{ cssClass }}">
  <div class="devui-table-view" #tableView>
    <div
      *ngIf="fixHeader"
      #fixHeaderContainerRef
      class="table-wrap"
      [style.overflow]="'hidden'"
      [style.max-height]="maxHeight ? maxHeight : null"
      [style.max-width]="maxWidth ? maxWidth : null"
      [style.width]="!maxWidth ? tableWidth : null"
    >
      <table
        #fixHeaderTableRef
        class="devui-table {{ type ? 'table-' + type : '' }} {{ hover ? 'table-hover' : '' }} {{ fixHeader ? 'table-fix-header' : '' }}"
        [style.table-layout]="'fixed'"
      >
        <ng-template [ngTemplateOutlet]="headerTpl"></ng-template>
      </table>
    </div>

    <div
      cdkScrollable
      *ngIf="!virtualScroll || dataSource.length === 0; else scrollViewTpl"
      class="devui-scrollbar"
      [ngClass]="{ 'scroll-view': scrollable }"
      [style.max-height]="maxHeight ? maxHeight : null"
      [style.max-width]="maxWidth ? maxWidth : null"
      [style.width]="!maxWidth ? tableWidth : null"
      (scroll)="onBodyScroll($event)"
    >
      <div [ngClass]="{ 'table-wrap': !fixHeader }">
        <ng-template [ngTemplateOutlet]="tableviewTpl"></ng-template>
      </div>
    </div>
  </div>

  <div class="table-view-footer text-right" *ngIf="pager">
    <d-data-table-pager [pager]="pager" [pagerTemplate]="pagerTemplate"></d-data-table-pager>
  </div>
</div>

<ng-container *ngIf="!dataSource?.length && noResultTemplate != null">
  <ng-template [ngTemplateOutlet]="noResultTemplate" [ngTemplateOutletContext]="{ $implicit: this }"></ng-template>
</ng-container>

<ng-template #scrollViewTpl>
  <cdk-virtual-scroll-viewport
    [itemSize]="virtualItemSize"
    [minBufferPx]="virtualMinBufferPx"
    [maxBufferPx]="virtualMaxBufferPx"
    class="devui-scrollbar table-wrap viewport-wrapper"
    [ngClass]="{ 'scroll-view': scrollable }"
    [style.height]="maxHeight"
    [style.max-height]="maxHeight ? maxHeight : null"
    [style.max-width]="maxWidth ? maxWidth : null"
    [style.width]="!maxWidth ? tableWidth : null"
    (scroll)="onBodyScroll($event)"
  >
    <table #tableBody class="devui-table {{ type ? 'table-' + type : '' }} {{ hover ? 'table-hover' : '' }}" [style.table-layout]="'fixed'">
      <ng-template *ngIf="!fixHeader" [ngTemplateOutlet]="headerTpl"></ng-template>
      <tbody
        dDataTableBody
        [dataSource]="dataSource"
        [resizeable]="resizeable"
        [columns]="_columns"
        [checkable]="checkable"
        [allChecked]="_pageAllChecked"
        [selectable]="selectable"
        [editModel]="editModel"
        [editRowItem]="editRowItem"
        [showExpandToggle]="showExpandToggle"
        [detailTemplateRef]="detailTemplateRef"
        [timeout]="timeout"
        [type]="type"
        [hover]="hover"
        [tableLevel]="tableLevel"
        [virtualScroll]="virtualScroll"
      ></tbody>
      <tfoot *ngIf="footTemplate" dDataTableFoot [footTemplate]="footTemplate"></tfoot>
      <div #resizeBar class="resize-bar"></div>
    </table>
  </cdk-virtual-scroll-viewport>
</ng-template>

<ng-template #headerTpl>
  <thead
    dDataTableHead
    [resizeable]="resizeable"
    [resizeBarRefElement]="resizeBarRefElement"
    [tableViewRefElement]="tableViewRefElement"
    [multiSort]="multiSort"
    [columns]="_columns"
    [headTemplate]="headTemplate"
    [pager]="pager"
    [pageAllChecked]="_pageAllChecked"
    [checkable]="checkable"
    [showExpandToggle]="showExpandToggle"
    [showSortIcon]="showSortIcon"
    (resizeHandlerEvent)="onResizeHandler($event)"
    (headClickSortEvent)="onHandleSort($event)"
    [halfChecked]="halfChecked"
    [tableBodyEl]="tableBodyEl"
    [maxHeight]="maxHeight"
    (beginResizeHandlerEvent)="beginResizeHandlerEvent($event)"
    (resizingHandlerEvent)="onResizingFixedHandler($event)"
    [fixHeader]="fixHeader"
    (dragTableEndEvent)="handleDragTable($event)"
    [dataSource]="dataSource"
    [colDropFreezeTo]="colDropFreezeTo"
    [colDraggable]="colDraggable"
  ></thead>
  <tbody *ngIf="headerExpandConfig?.expand">
    <tr>
      <td *ngIf="checkable"></td>
      <td *ngIf="showExpandToggle"></td>
      <td [attr.colspan]="columns.length">
        <ng-template
          [ngTemplateOutlet]="headerExpandConfig?.expandTemplateRef || default"
          [ngTemplateOutletContext]="{$implicit: this, columns: columns}"
        >
        </ng-template>
        <ng-template #default>
          <div>{{ headerExpandConfig?.description }}</div>
        </ng-template>
      </td>
    </tr>
  </tbody>
</ng-template>

<ng-template #tableviewTpl>
  <table #tableBody class="devui-table {{ type ? 'table-' + type : '' }} {{ hover ? 'table-hover' : '' }}" [style.table-layout]="'fixed'">
    <ng-template *ngIf="!fixHeader" [ngTemplateOutlet]="headerTpl"></ng-template>
    <tbody
      dDataTableBody
      [dataSource]="dataSource"
      [resizeable]="resizeable"
      [columns]="_columns"
      [checkable]="checkable"
      [allChecked]="_pageAllChecked"
      [selectable]="selectable"
      [editModel]="editModel"
      [editRowItem]="editRowItem"
      [showExpandToggle]="showExpandToggle"
      [detailTemplateRef]="detailTemplateRef"
      [timeout]="timeout"
      [type]="type"
      [hover]="hover"
      [tableLevel]="tableLevel"
      [virtualScroll]="false"
    ></tbody>
    <tfoot *ngIf="footTemplate" dDataTableFoot [footTemplate]="footTemplate"></tfoot>
    <div #resizeBar class="resize-bar"></div>
  </table>
</ng-template>
