<td *ngIf="showExpandToggle" class="devui-detail-cell" [ngClass]="{ 'devui-sticky-left-cell': columns[0]?.fixedLeft }" [style.left]="0">
  <div *ngIf="rowItem.detail || rowItem?.$expandConfig" (click)="toggle()">
    <span class="expand-icon-wrapper" *ngIf="!rowItem['$isDetailOpen'] && !rowItem.$expandConfig?.expand">
      <svg
        width="16px"
        height="16px"
        viewBox="0 0 16 16"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <g id="操作/collapse2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <polygon
            id="路径"
            fill="#293040"
            fill-rule="nonzero"
            transform="translate(8.146447, 8.000000) scale(-1, 1) translate(-8.146447, -8.000000) "
            points="11.7071068 12.2928932 10.2928932 13.7071068 4.58578644 8 10.2928932 2.29289322 11.7071068 3.70710678 7.41421356 8"
          ></polygon>
        </g>
      </svg>
    </span>
    <span class="expand-icon-wrapper" *ngIf="(rowItem && rowItem['$isDetailOpen']) || rowItem.$expandConfig?.expand">
      <svg
        width="16px"
        height="16px"
        viewBox="0 0 16 16"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <g id="操作/chevron_down" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <polygon id="chevron_down" fill="#293040" points="4.5 5 8 8.76923077 11.5 5 13 6.61538462 8 12 3 6.61538462"></polygon>
        </g>
      </svg>
    </span>
  </div>
</td>
<td
  *ngIf="checkable"
  class="devui-checkable-cell"
  [ngClass]="{ 'devui-sticky-left-cell': columns[0]?.fixedLeft }"
  [style.left]="showExpandToggle && columns[0]?.fixedLeft ? '36px' : '0'"
>
  <d-checkbox
    [ngModelOptions]="{ standalone: true }"
    (ngModelChange)="onRowCheckChange($event, rowIndex, nestedIndex, rowItem)"
    [ngModel]="rowItem.$checked"
    [halfchecked]="rowItem.$halfChecked"
    [disabled]="rowItem.$checkDisabled || rowItem.$disabled"
    dTooltip
    [content]="rowItem.$checkBoxTips"
    [position]="['top', 'right', 'bottom', 'left']"
    [showAnimation]="true"
    (mouseup)="$event.stopPropagation()"
  >
  </d-checkbox>
</td>
<ng-container *ngFor="let column of columns; let colIndex = index; trackBy: trackByFn">
  <td
    dDataTableCell
    [rowIndex]="rowIndex"
    [colIndex]="colIndex"
    [column]="column"
    [rowItem]="rowItem"
    [editModel]="rowItem.$$editModel || editModel"
    [isEditRow]="rowItem.$$edit"
    [timeout]="timeout"
    [tableLevel]="tableLevel"
    class="{{ column.cellClass ? column.cellClass : '' }}"
    [ngClass]="{
      'devui-sticky-left-cell': column.fixedLeft,
      'devui-sticky-right-cell': column.fixedRight,
      'devui-last-sticky-left-cell': column.fixedLeft && !columns[colIndex + 1]?.fixedLeft,
      'devui-first-sticky-right-cell': column.fixedRight && !columns[colIndex - 1]?.fixedRight
    }"
    [style.left]="column.fixedLeft ? column.fixedLeft : null"
    [style.right]="column.fixedRight ? column.fixedRight : null"
  ></td>
</ng-container>
