@import '~ng-devui/styles-var/devui-var.scss';

:host ::ng-deep .custom-class {
  .devui-toast-item {
    color: $devui-text;
    background-color: $devui-base-bg;

    .devui-toast-icon-close {
      top: 10px;
      right: 13px;

      .devui-toast-close-icon {
        fill: $devui-text;
      }
    }

    .devui-toast-image {
      top: 15px;
    }

    .devui-toast-message {
      line-height: 23px;

      .devui-toast-title {
        font-size: 16px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}
