<section style="width: 100%">
  <div class="devui-input-group devui-dropdown-origin">
    <input
      class="devui-input devui-form-control"
      placeholder="y/MM/dd  -  y/MM/dd"
      name="dp"
      [(ngModel)]="dateRange"
      (click)="dateRangePicker.toggle()"
      autocomplete="off"
      dDateRangePicker
      #dateRangePicker="dateRangePicker"
      (selectedRangeChange)="getValue($event)"
      [customViewTemplate]="myCustomview"
      [hideOnRangeSelected]="false"
    />
    <div *ngIf="everyRange(dateRange)" class="devui-input-group-addon close-icon-wrapper" (click)="dateRangePicker.clearAll()">
      <i class="icon icon-close"></i>
    </div>
    <div class="devui-input-group-addon" (click)="dateRangePicker.toggle()">
      <i class="icon icon-calendar"></i>
    </div>
  </div>
  <ng-template #myCustomview let-clearAll="clearAll" let-datePicker>
    <div class="box">
      <d-button bsStyle="common" (btnClick)="clearAll(changeReason.button)" bsSize="sm"> clear </d-button>
    </div>
  </ng-template>
</section>
