<section style="width: 100%;">
  <span>日期范围选择器:可给clearAll()传入参数以定义不同reason</span>
  <div class="devui-input-group">
    <input
      class="devui-form-control"
      placeholder="y/MM/dd  -  y/MM/dd"
      name="dp"
      [(ngModel)]="dateRange"
      (focus)="dateRangePicker.toggle($event)"
      autocomplete="off"
      dDateRangePicker
      #dateRangePicker="dateRangePicker"
      (selectedRangeChange)="getValue($event)"
      [customViewTemplate]="myCustomview"
      [hideOnRangeSelected]="false"
    />
    <div class="devui-input-group-addon" (click)="dateRangePicker.toggle($event, true)">
      <i class="icon icon-calendar"></i>
    </div>
  </div>
  <ng-template #myCustomview let-clearAll="clearAll" let-datePicker>
    <div class="box">
      <d-button bsStyle="common" (btnClick)="clearAll(changeReason.button)" bsSize="sm">
        清除
      </d-button>
    </div>
  </ng-template>
</section>
