@import '~ng-devui/styles-var/devui-var.scss';

tr {
  td:first-child {
    border-left: 1px solid $devui-dividing-line;
  }

  td {
    border-right: 1px solid $devui-dividing-line;
  }
}

thead {
  tr {
    th:first-child {
      border-left: 1px solid $devui-dividing-line;
    }

    th {
      border-top: 1px solid $devui-dividing-line;
      border-right: 1px solid $devui-dividing-line;
    }
  }
}
