.devui-table > tbody > tr {
  &:first-child {
    td {
      border-top: none;
    }
  }
}
table.devui-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
table.devui-table > tbody > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
