<div
  [style.display]="withoutBtn ? '' : '-webkit-inline-box'"
  d-file-drop
  [enableDrop]="enableDrop"
  [isSingle]="true"
  (fileDrop)="onFileDrop($event)"
  (fileOver)="onFileOver($event)"
  [ngStyle]="{ border: isDropOVer ? '1px solid #15bf15' : '0' }"
>
  <div (click)="onClick($event)" class="devui-input-group">
    <input
      class="devui-form-control devui-upload-input"
      [placeholder]="placeholderText ? placeholderText : i18nText?.chooseFile"
      [value]="filename"
      [title]="filename"
      readonly
      [class.disabled]="
        dSingleUploadView.uploadedFilesComponent.uploadedFiles.length > 0 ||
        dSingleUploadView.fileUploaders[0]?.status === UploadStatus.uploading
      "
    />
    <span *ngIf="!!filename" class="icon-close devui-upload-delete-file-button" (click)="deleteFile($event)"></span>
    <span class="devui-input-group-addon" style="cursor: pointer;">
      <svg class="svg-icon-dot" height="1em" width="1em" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
        <path
          d="m400.31892 176.970574c0-61.574381 50.113351-111.680569 111.679545-111.680569 61.576427 0 111.680569 50.106188 111.680569 111.680569 0 61.568241-50.104141 111.679545-111.680569 111.679545-61.566194 0-111.679545-50.111304-111.679545-111.679545zm0 335.028403c0-61.568241 50.113351-111.678522 111.679545-111.678522 61.576427 0 111.680569 50.110281 111.680569 111.678522 0 61.574381-50.105165 111.682615-111.680569 111.682615-61.566194 0-111.679545-50.108235-111.679545-111.682615zm0 335.037612c0-61.572334 50.113351-111.679545 111.679545-111.679545 61.575404 0 111.680569 50.107211 111.680569 111.679545 0 61.567217-50.105165 111.672382-111.680569 111.672382-61.566194 0-111.679545-50.105164-111.679545-111.672382zm0 0"
        />
      </svg>
    </span>
  </div>
  <d-button
    *ngIf="!autoUpload && !withoutBtn"
    (btnClick)="upload()"
    bsStyle="common"
    [style.margin-left.px]="10"
    [disabled]="
      dSingleUploadView.uploadedFilesComponent.uploadedFiles.length > 0 ||
      dSingleUploadView.fileUploaders[0]?.status === UploadStatus.uploading
    "
  >
    <span *ngIf="!dSingleUploadView.fileUploaders[0] || dSingleUploadView.fileUploaders[0]?.status === UploadStatus.preLoad">{{
      uploadText || i18nText?.upload
    }}</span>
    <span *ngIf="dSingleUploadView.fileUploaders[0]?.status === UploadStatus.uploading">{{ i18nText?.uploading }}</span>
    <span *ngIf="dSingleUploadView.fileUploaders[0]?.status === UploadStatus.uploaded">{{ i18nText?.uploaded }}</span>
    <span *ngIf="dSingleUploadView.fileUploaders[0]?.status === UploadStatus.failed">{{ i18nText?.uploadFailed }}</span>
  </d-button>
</div>
<d-toast [value]="errorMsg"></d-toast>
<d-single-upload-view
  #dSingleUploadView="dSingleUploadView"
  [uploadOptions]="uploadOptions"
  [filePath]="filePath"
  [uploadedFiles]="uploadedFiles"
  [uploadedFilesRef]="uploadedFilesRef"
  [preloadFilesRef]="preloadFilesRef"
  (deleteUploadedFileEvent)="_onDeleteUploadedFile($event)"
>
</d-single-upload-view>
