.align-origin {
  border: 1px dashed #E3E5E9;
  min-width: 200px;
  min-height: 50px;
  line-height: 50px;
}
.dropdown-menu > li > input {
  margin-left: 10px;
}
.devui-dropdown-menu {
  overflow-y: auto;
}
