@import '~ng-devui/styles-var/devui-var.scss';

.align-origin {
  border: 1px dashed $devui-line;
  min-width: 200px;
  min-height: 50px;
  line-height: 50px;
  display: inline-block;
  padding-left: 10px;
}

.devui-dropdown-default {
  margin-left: 4px;
}
