@import '../style/theme/color';

.devui-quadrant-diagram {
  position: relative;
}

.devui-control-zoom-container {
  position: absolute;
  top: 0;
  height: 32px;
  width: 96px;
  box-shadow: 0 1px 2px 0 $devui-shadow;
  background: #ffffff;
  z-index: 10;
}

.devui-icon-display {
  line-height: 32px;
  width: 32px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;

  svg g polygon {
    fill: $devui-disabled-text;
  }
}
