<d-fullscreen (fullscreenLaunch)="launchFullscreen($event)" [zIndex]="1001">
  <div fullscreen-target>
    <div
      [id]="diagramId"
      dDroppable
      [dropScope]="dropScope"
      (dragOverEvent)="dragOverEvent($event)"
      (dropEvent)="onDrop($event)"
      (dragleave)="handleDropOut()"
      class="devui-quadrant-diagram"
      [style.height.px]="view?.height"
      [style.width.px]="view?.width"
    >
      <div *ngIf="showToolbar" class="devui-control-zoom-container" [style.right.px]="axisConfigs.axisMargin">
        <div class="devui-icon-display" [class.disabled]="currentLabelSize === 'small'" (click)="zoomOut(currentLabelSize)">
          <svg
            width="16px"
            height="16px"
            viewBox="0 0 16 16"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <polygon fill="#293040" points="14 7 14 9 2 9 2 7"></polygon>
            </g>
          </svg>
        </div>
        <div class="devui-icon-display" [class.disabled]="currentLabelSize === 'large'" (click)="zoomIn(currentLabelSize)">
          <svg
            width="16px"
            height="16px"
            viewBox="0 0 16 16"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <polygon fill="#293040" points="7 7 7 2 9 2 9 7 14 7 14 9 9 9 9 14 7 14 7 9 2 9 2 7"></polygon>
            </g>
          </svg>
        </div>
        <div fullscreen-launch class="devui-icon-display">
          <svg
            *ngIf="!isFullScreen"
            width="14px"
            height="14px"
            viewBox="0 0 14 14"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-1482.000000, -1285.000000)" fill="#293040" fill-rule="nonzero">
                <g transform="translate(1481.000000, 1284.000000)">
                  <path
                    d="M15,1 L15,6 L13,6 L13,3 L10,3 L10,1 L15,1 Z M15,10 L15,15 L10,15 L10,13 L13,13 L13,10 L15,10
                Z M1,15 L1,10 L3,10 L3,13 L6,13 L6,15 L1,15 Z M1,1 L6,1 L6,3 L3,3 L3,6 L1,6 L1,1 Z"
                    id="Combined-Shape"
                  ></path>
                </g>
              </g>
            </g>
          </svg>
          <svg
            *ngIf="isFullScreen"
            width="16px"
            height="16px"
            viewBox="0 0 16 16"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <path
                d="M10,6 L10,1 L12,1 L12,4 L15,4 L15,6 L10,6 Z M6,1 L6,6 L1,6 L1,4 L4,4 L4,1 L6,1 Z M10,15 L10,10 L15,10 L15,12
        L12,12 L12,15 L10,15 Z M6,10 L6,15 L4,15 L4,12 L1,12 L1,10 L6,10 Z"
                id="形状"
                fill="#293040"
                fill-rule="nonzero"
              ></path>
            </g>
          </svg>
        </div>
      </div>
      <d-quadrant-axis [diagramId]="diagramId" [view]="view" [axisConfigs]="axisConfigs"></d-quadrant-axis>
      <d-quadrant-region
        [view]="view"
        [labelData]="labelData"
        [axisConfigs]="axisConfigs"
        [quadrantConfigs]="quadrantConfigs"
        [currentLabelSize]="currentLabelSize"
        [showQuadrants]="showQuadrants"
        [dropScope]="dropScope"
        [diagramId]="diagramId"
      ></d-quadrant-region>
    </div>
  </div>
</d-fullscreen>
