@import '~ng-devui/styles-var/devui-var.scss';

:host ::ng-deep .btn-group {
  display: inline-block;
  vertical-align: middle;

  d-button-group {
    margin-right: 20px;
    margin-bottom: 20px;

    d-button + d-button {
      .devui-btn-primary:not(:disabled)::before {
        content: '';
        position: absolute;
        top: 4px;
        bottom: 4px;
        left: 0;
        width: 1px;
        background-color: $devui-light-text;
      }

      .devui-btn:disabled {
        border-left-style: none;
        margin-left: 0;
      }
    }
  }
}

.icon-in-search {
  height: 28px;
  line-height: 28px;
  width: 20px;
  position: absolute;
  top: 0;
  right: 7px;
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
