<section>
  <h4>按钮组有4种大小，可通过size设置所有元素尺寸</h4>
  <div class="btn-group">
    <d-button-group size="xs">
      <d-button bsStyle="common" [disabled]="true">L</d-button>
      <d-button bsStyle="common">M</d-button>
      <d-button bsStyle="common" [disabled]="true">R</d-button>
    </d-button-group>
    <d-button-group size="sm">
      <d-button bsStyle="primary">Left</d-button>
      <d-button bsStyle="primary">Middle</d-button>
      <d-button bsStyle="primary">Right</d-button>
    </d-button-group>
    <d-button-group>
      <d-button bsStyle="primary" icon="icon-filter">过滤</d-button>
      <d-button bsStyle="common" class="border-remove">88</d-button>
    </d-button-group>
    <d-button-group size="lg">
      <d-button bsStyle="common" icon="icon-add">新建</d-button>
      <d-button bsStyle="common">793</d-button>
    </d-button-group>
  </div>
  <h4>与下拉菜单混合使用</h4>
  <div class="btn-group">
    <d-button-group size="">
      <d-button bsStyle="primary" icon="icon-add">新建</d-button>
      <d-button bsStyle="primary">删除</d-button>
      <div dDropDown [closeScope]="'blank'">
        <d-button bsStyle="common" dDropDownToggle class="devui-dropdown-origin border-remove">
          点击下拉
          <span class="icon-chevron-down"></span>
        </d-button>
        <ul dDropDownMenu class="devui-dropdown-menu devui-scrollbar devui-dropdown-overlay" role="menu">
          <li role="menuitem">
            <input type="text" class="devui-input devui-input devui-search-in-dropdown" placeholder="输入框" />
            <div class="icon-in-search">
              <i class="icon icon-search"></i>
            </div>
          </li>
          <li class="disabled" role="menuitem">
            <a class="devui-dropdown-item disabled">菜单一</a>
          </li>
          <li role="menuitem"><a class="devui-dropdown-item">菜单二</a></li>
          <li role="menuitem"><a class="devui-dropdown-item">菜单三</a></li>
        </ul>
      </div>
    </d-button-group>
  </div>
</section>
