@import '~ng-devui/styles-var/devui-var.scss';

.btn-wrapper {
  display: flex;
}

.icon-chevron-down-2 {
  margin-left: 4px;
}

// 为兼容老版本common类型button无边框
:host ::ng-deep d-button-group .devui-btn.d-btn-icon {
  border: 1px solid var(--devui-btn-common-border-color, #adb0b8);
}
