<div>
  <h4>单选</h4>
  <d-cascader
    [options]="options"
    [placeholder]="'请选择'"
    [(ngModel)]="value1"
    (ngModelChange)="onChanges($event)"
    [trigger]="'click'"
    [width]="300"
    [dropdownWidth]="200"
    [allowClear]="true"
    [canSelectParent]="true"
  >
  </d-cascader>

  <h4>多选父子独立</h4>
  <d-cascader
    [options]="options"
    [placeholder]="'请选择'"
    [(ngModel)]="value2"
    (ngModelChange)="onChanges($event)"
    [trigger]="'click'"
    [width]="300"
    [dropdownWidth]="200"
    [multiple]="true"
    [allowClear]="true"
    [canSelectParent]="true"
    [checkboxRelation]="noRelation"
  >
  </d-cascader>

  <h4>多选向子项关联</h4>
  <d-cascader
    [options]="options"
    [placeholder]="'请选择'"
    [(ngModel)]="value3"
    (ngModelChange)="onChanges($event)"
    [trigger]="'click'"
    [width]="300"
    [dropdownWidth]="200"
    [multiple]="true"
    [allowClear]="true"
    [canSelectParent]="true"
    [checkboxRelation]="downward"
  >
  </d-cascader>

  <h4>多选向父项关联</h4>
  <d-cascader
    [options]="options"
    [placeholder]="'请选择'"
    [(ngModel)]="value4"
    (ngModelChange)="onChanges($event)"
    [trigger]="'click'"
    [width]="300"
    [dropdownWidth]="200"
    [multiple]="true"
    [allowClear]="true"
    [canSelectParent]="true"
    [checkboxRelation]="upward"
  >
  </d-cascader>
</div>
