@import '../style/theme/color';

:host {
  display: block;
  outline: none;
}

.devui-tags-host {
  position: relative;
  height: 100%;
  outline: none;

  &:active {
    outline: 0;
  }
}

.devui-tags {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  padding: 2px 5px;
  overflow: hidden;
  word-wrap: break-word;
  cursor: text;
  background-color: $bg-white;
  border: 1px solid $gray-1;
  border-radius: 2px;
  height: 100%;

  &:hover {
    border-color: $hover-control;
  }

  &.focused {
    outline: 0;
  }

  &.devui-dropdown-origin:focus-within {
    border-color: $brand-1;
  }

  .devui-tag-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .devui-tag-item {
    margin: 1px;
    padding: 0 10px;
    display: inline-block;
    min-height: 18px;
    line-height: 18px;
    border-radius: 2px;
    color: $dark-1;
    background-color: $tag-label-bgcolor;
    position: relative;
    border: 1px solid $tag-label-bgcolor;

    span {
      line-height: 1.5;
      margin-right: 25px;
    }

    .remove-button {
      margin: 0 0 0 12px;
      padding: 0;
      border: none;
      // background: 0 0;
      vertical-align: top;
      font-size: 16px;
      // line-height: 20px;
      // color: $dark-1;
      border-radius: 50%;
      background-color: $gray-1;
      width: 12px;
      height: 12px;
      display: inline-block;
      line-height: 12px;
      text-align: center;
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      right: 10px;

      svg path {
        fill: $font-white;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  &:not(.devui-disabled) {
    .devui-tag-item {
      cursor: pointer;

      span {
        &:hover {
          color: $hover-control;
        }
      }

      .remove-button {
        &:hover {
          background-color: $hover-control;
        }
      }
    }
  }

  &.devui-disabled {
    border-color: $disabled-border;
    background-color: $disabled-bg;
    cursor: not-allowed;

    .devui-tag-item {
      color: $disabled-content;
      background-color: $disabled-bg;
      border-color: $disabled-border;

      span {
        margin-right: 0;
      }

      .remove-button {
        background-color: $disabled-border;

        svg path {
          fill: $font-white;
        }
      }
    }
  }

  input.devui-input {
    border: 0;
    outline: 0;
    float: left;
    width: 100%;
    height: 22px;
    font-size: 12px;
    padding-left: 5px;

    &::-ms-clear {
      display: none;
    }
  }
}

.devui-tags-autocomplete {
  position: absolute;
  padding-bottom: 5px;
  z-index: 1000;
  width: 100%;
  background-color: $bg-white;
  // border: $gray-1;
  box-shadow: 0 5px 10px $dark-1-boxshadow;

  &.devui-dropdown-menu.devui-dropdown-overlay {
    display: block;
  }

  .devui-suggestion-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-height: 280px;
    overflow-y: auto;
    position: relative;

    .devui-suggestion-item {
      padding: 5px 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
      line-height: 20px;

      &:not(.devui-disabled) {
        cursor: pointer;
        color: $dark-1;
        background-color: $bg-white;

        &:hover {
          background-color: $hover-content;
        }

        &.selected {
          color: $brand-1;
          background-color: $brand-3;
        }
      }
    }
  }
}
