@import '../style/theme/color';
@import '../style/theme/shadow';
@import '../style/theme/corner';
@import '../style/core/_font';
@import '../style/core/animation';
@import '../style/theme/z-index';

:host {
  display: block;
  outline: none;

  .devui-tags-host {
    position: relative;
    height: 100%;
    outline: none;

    &:active {
      outline: 0;
    }
  }

  ::ng-deep {
    .devui-tags-host {
      &.init-inline {
        height: 30px;
        border-radius: $devui-border-radius;
        border: solid 1px $devui-form-control-line;

        div.devui-toggle-menu-container {
          justify-content: flex-start;
          flex-wrap: nowrap;
          overflow-x: auto;
          overflow-y: hidden;
          border: none;

          d-toggle-menu-label {
            width: auto;
            max-width: none;
            background-color: transparent;

            ul.devui-select-tag-list {
              white-space: nowrap;
            }
          }

          d-toggle-menu-search .devui-toggle-menu-search {
            min-width: 160px;
          }
        }
      }

      &:not(.init-inline) {
        d-toggle-menu-label {
          width: 100%;
          background-color: $devui-base-bg;
        }
      }

      .devui-toggle-menu-container {
        flex-wrap: wrap;
        align-content: flex-start;

        &.disabled d-toggle-menu-search .devui-toggle-menu-search input {
          cursor: not-allowed;
        }

        d-toggle-menu-list ul d-toggle-menu-list-item .devui-dropdown-item:not(.disabled) {
          &:active,
          &:active:hover {
            color: $devui-list-item-hover-text;
            background-color: $devui-list-item-hover-bg;
          }
        }
      }
    }
  }
}

::ng-deep {
  .devui-dropdown-menu d-toggle-menu-list-item .devui-dropdown-item:not(.disabled) {
    &:active,
    &:active:hover {
      color: $devui-list-item-hover-text;
      background-color: $devui-list-item-hover-bg;
    }
  }
}
