@import '../style/theme/color';
@import '../style/theme/shadow';
@import '../style/theme/corner';

.devui-date-range-wrapper {
  display: inline-flex !important;
  box-shadow: $devui-shadow-length-connected-overlay $devui-shadow;
  background-color: $devui-connected-overlay-bg;
  transform: perspective(1px) translate3d(0, 0, 0);
  flex-direction: column;
  border-radius: $devui-border-radius;
  margin: 4px 0;
  user-select: none;
}

.devui-date-range-custom {
  width: 500px;
  border-top: 1px solid $devui-line;
}

.devui-date-picker:not(:last-child) {
  margin-right: 20px;
}
