@import '../style/theme/color';

.devui-datepicker {
  transform: perspective(1px) translate3d(0, 0, 0);
  border-radius: 2px;
}

.devui-dropdown-overlay {
  position: relative;
  left: -1px;
  border: 1px solid $brand-1;
}
