@import '../style/theme/color';

.devui-dropdown-overlay {
  position: relative;
  left: -1px;
  border: 1px solid $devui-connected-overlay-line;
}

.devui-date-range-wrapper {
  display: inline-flex !important;
  box-shadow: 0 4px 8px 0 $devui-shadow;
  background-color: $devui-connected-overlay-bg;
  transform: perspective(1px) translate3d(0, 0, 0);
  flex-direction: column;
  border-radius: 2px;

  .devui-date-range-picker {
    display: inline-flex !important;
    user-select: none;
  }

  .devui-date-range-custom {
    width: 500px;
    border-top: 1px solid $devui-line;
  }
}

.devui-date-picker:not(:last-child) {
  margin-right: 20px;
}

.devui-date-range-title {
  height: 38px;

  & > span {
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: calc((100% - 20px) / 2);
    padding-left: 10px;
    font-weight: bold;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
