@import '../style/theme/color';
.loading-wrapper {
  display: flex;
  flex: 1 1 auto;
}
.devui-spinner-wrapper {
  position: absolute;
  z-index: 1001;
}
.fix-loading-position{
  transform: translate(-50%, -50%);
}
.devui-busy-default-sign {
  position: relative;
  display: inline-block;
  z-index: 1001;
  padding: 12px 14px;
  color: $dark1;
}

.devui-busy-default-text {
  display: inline-block;
  margin-left: 6px;
  max-width: 400px;
  font-size: 14px;
  text-align: left;
}

.devui-busy-default-spinner {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  animation: devui-busy-spinner-anim 1s linear infinite;
  div {
    position: absolute;
    left: 44.5%;
    top: 37%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
  .bar1{
    top: 0;
    left: 0;
    background:$status-blue;
  }
  .bar2{
    top: 0;
    left: 9px;
    background:$focus4;
  }
  .bar3{
    top: 9px;
    left: 0;
    background:$focus4;

  }
  .bar4{
    top: 9px;
    left: 9px;
    background:$status-blue;
  }

}
@keyframes devui-busy-spinner-anim {
  0% {
    transform:rotate(0deg) scale(1);
  }
  50% {
    transform:rotate(135deg) scale(1.5);
  }
  100% {
     transform:rotate(270deg) scale(1);
  }
}
