@import '../style/theme/color';
@import '../style/core/z-index';

.devui-loading-backdrop {
  position: absolute;
  z-index: calc(#{$devui-z-index-full-page-overlay} - 1);
  background-color: $devui-line;
  opacity: 0.3;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.devui-loading-backdrop.devui-loading-full {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
