@import '../style/theme/color';
@import '../style/theme/variables';
@import '../style/mixins/index';


.devui-loading-spinner-wrapper {
  .devui-loading-default-sign {
    background-color: $gray3;
    color: $dark1;
    border-color: $gray1;
    box-shadow: 0 1px 2px rgba($dark1, .05);
    .devui-loading-default-spinner {
      div {
        background: $dark1;
        box-shadow: 0 0 3px rgba($dark1, .2);
      }
    }
  }
}
