<div
  class="drawer"
  [attr.id]="id"
  [ngStyle]="{ 'z-index': zIndex }"
  [ngClass]="{ 'display-width': _isCover && animateState === 'in' }"
  [style.left]="position === 'left' ? 0 : null"
  [style.right]="position === 'right' ? 0 : null"
>
  <div
    class="overlay-wrapper"
    [ngClass]="{ 'display-width': _isCover && animateState === 'in' }"
    [style.left]="position === 'left' ? 0 : null"
    [style.right]="position === 'right' ? 0 : null"
  >
    <div class="overlay-backdrop" [@fadeInOut]="animateState" [@.disabled]="!showAnimation" (click)="backdropCloseable && hide()"></div>
    <div
      #drawerContainer
      class="drawer-nav"
      [ngStyle]="{ width: _width }"
      [@flyInOut]="position + '-' + animateState"
      (@flyInOut.done)="animationDone.next($event)"
      [@.disabled]="!showAnimation"
      [style.left]="position === 'left' ? 0 : null"
      [style.right]="position === 'right' ? 0 : null"
    >
      <div class="drawer-content" cdkScrollable>
        <ng-template dDrawerContentHost></ng-template>
      </div>
    </div>
  </div>
</div>
