.devui-dropdown-menu {
  overflow-y: auto;
}

.devui-dropdown-toggle.more {
  position: relative;
  display: inline-block;
  background: #5e7ce0;
  background: var(--devui-primary, #5e7ce0);
  border-radius: 0 1px 1px 0;
  color: #ffffff;
  color: var(--devui-light-text, #ffffff);
  height: 28px;
  width: 28px;
  padding-top: 6px;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
}

.devui-dropdown-toggle.more:hover {
  background: #7693f5;
  background: var(--devui-primary-hover, #7693f5);
}

.devui-dropdown-toggle.more::before {
  content: ' ';
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 0;
  width: 1px;
  background-color: #ffeeed;
}

.btn-group {
  display: inline-block;
}
