.devui-dropdown-menu {
  overflow-y: auto;
}
.devui-dropdown-toggle.more {
  position: relative;
  display: inline-block;
  background: #5170ff;
  background: var(--brand-1, #5170ff);
  border-radius: 0 1px 1px 0;
  color: #fff;
  color: var(--font-white, #fff);
  height: 32px;
  width: 32px;
  padding-top: 8px;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
}
.devui-dropdown-toggle.more:hover {
  background: #405dff;
  background: var(--hover-control, #405dff);
}
.devui-dropdown-toggle.more::before {
  content: ' ';
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 0;
  width: 1px;
  background-color: #748dff;
}
.btn-group {
  display: inline-block;
}
