@import '~ng-devui/styles-var/devui-var.scss';

.devui-dropdown-menu {
  overflow-y: auto;
}

:host ::ng-deep d-button-group {
  margin-right: 20px;
  margin-bottom: 20px;

  d-button + d-button {
    .devui-btn-primary:not(:disabled)::before {
      content: '';
      position: absolute;
      top: 4px;
      bottom: 4px;
      left: 0;
      width: 1px;
      background-color: $devui-light-text;
    }
  }
}
