@import '~ng-devui/styles-var/devui-var.scss';

.devui-dropdown-menu {
  overflow-y: auto;
}

.devui-dropdown-toggle.more {
  position: relative;
  display: inline-block;
  background: $devui-primary;
  border-radius: 0 1px 1px 0;
  color: $devui-light-text;
  height: 28px;
  width: 28px;
  padding-top: 6px;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
}

.devui-dropdown-toggle.more:hover {
  background: $devui-primary-hover;
}

.devui-dropdown-toggle.more::before {
  content: ' ';
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 0;
  width: 1px;
  background-color: $devui-light-text; // the dividing line between buttons
}

.btn-group {
  display: inline-block;
}
