<section>
  <d-input-number
    size="sm"
    [min]="min"
    [max]="max"
    [step]="step"
    [allowEmpty]="true"
    [(ngModel)]="value"
    (blur)="blurDetection($event)"
    (whileValueChanging)="showValue($event, 'typing')"
    (ngModelChange)="showValue($event, 'model')"
    class="input-number"
    [disabled]="true"
  >
  </d-input-number>
  <d-input-number
    size="sm"
    [step]="step"
    [allowEmpty]="true"
    [(ngModel)]="value"
    (blur)="blurDetection($event)"
    (whileValueChanging)="showValue($event, 'typing')"
    (ngModelChange)="showValue($event, 'model')"
    class="input-number"
  >
  </d-input-number>
</section>
