<d-button
  bsStyle="common"
  dStepsGuide
  [pageName]="'step-basic-demo'"
  [steps]="steps"
  [stepIndex]="0"
  [dStepsGuidePosition]="'top'"
  (operateChange)="operateChange($event)"
>
  Top
</d-button>
<d-button
  bsStyle="common"
  dStepsGuide
  [pageName]="'step-basic-demo'"
  [steps]="steps"
  [stepIndex]="1"
  [zIndex]="1900"
  [dStepsGuidePosition]="'top-left'"
  (operateChange)="operateChange($event)"
>
  Top-Left
</d-button>
<d-button
  bsStyle="common"
  dStepsGuide
  [pageName]="'step-basic-demo'"
  [steps]="steps"
  [stepIndex]="2"
  [dStepsGuidePosition]="'top-right'"
  (operateChange)="operateChange($event)"
>
  Top-Right
</d-button>
<d-button
  bsStyle="common"
  dStepsGuide
  [pageName]="'step-basic-demo'"
  [steps]="steps"
  [stepIndex]="3"
  [dStepsGuidePosition]="'left'"
  (operateChange)="operateChange($event)"
>
  Left
</d-button>
<d-button
  bsStyle="common"
  dStepsGuide
  [pageName]="'step-basic-demo'"
  [steps]="steps"
  [stepIndex]="4"
  [dStepsGuidePosition]="'right'"
  (operateChange)="operateChange($event)"
>
  Right
</d-button>
<d-button
  bsStyle="common"
  dStepsGuide
  [pageName]="'step-basic-demo'"
  [steps]="steps"
  [stepIndex]="5"
  [dStepsGuidePosition]="'bottom'"
  (operateChange)="operateChange($event)"
>
  Bottom
</d-button>
<d-button
  bsStyle="common"
  dStepsGuide
  [pageName]="'step-basic-demo'"
  [steps]="steps"
  [stepIndex]="6"
  [dStepsGuidePosition]="'bottom-left'"
  (operateChange)="operateChange($event)"
>
  Bottom-Left
</d-button>
<d-button
  bsStyle="common"
  dStepsGuide
  [pageName]="'step-basic-demo'"
  [steps]="steps"
  [stepIndex]="7"
  [dStepsGuidePosition]="'bottom-right'"
  (operateChange)="operateChange($event)"
>
  Bottom-Right
</d-button>
<d-button (click)="reset()" bsStyle="primary"> show </d-button>
<d-button (click)="close()" bsStyle="common"> close </d-button>
<br />
<br />
<p>Current Step：{{ currentStep }}</p>
<p>Operation Output：{{ currentStepOutPut | json }}</p>
