<section class="demo-section">
  <div>
    <input
      dTextInput
      placeholder="Input"
      autocomplete="off"
      name="singleInput"
      maxlength="11"
      [(ngModel)]="singleInput1Data"
      [dValidateRules]="[
        { required: true },
        { whitespace: true },
        { minlength: 3 },
        { maxlength: 10 },
        { pattern: isAlphabetPattern, message: 'The value cannot contain characters except uppercase and lowercase letters.' }
      ]"
    />
  </div>
</section>
