<h4>hover mode</h4>
<d-cascader
  [options]="options"
  [placeholder]="'please select'"
  [(ngModel)]="value1"
  (ngModelChange)="onChanges($event)"
  [dropdownPanelClass]="'custom-class'"
>
</d-cascader>

<h4>click mode</h4>
<d-cascader
  [options]="options"
  [placeholder]="'please select'"
  [(ngModel)]="value2"
  [trigger]="'click'"
  (ngModelChange)="onChanges($event)"
  [showPath]="true"
  [allowClear]="true"
  [dropdownWidth]="120"
></d-cascader>

<h4>data empty</h4>
<d-cascader
  [options]="[]"
  [placeholder]="'please select'"
  [(ngModel)]="value3"
  [trigger]="'click'"
  (ngModelChange)="onChanges($event)"
></d-cascader>

<h4>disabled</h4>
<d-cascader [options]="[]" [placeholder]="'please select'" [(ngModel)]="value4" [trigger]="'click'" [disabled]="true"></d-cascader>
