@import '../style/theme/color';
@import '../style/theme/shadow';
@import '../style/core/animation';
@import '../style/core/font';

.devui-is-sprite {
  background-color: $devui-connected-overlay-bg;
  box-shadow: $devui-shadow-length-connected-overlay $devui-shadow;
  cursor: move;
  padding: 0 16px 16px;
  max-width: 300px;

  &.is-min {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px !important;
    height: 40px !important;
    border-radius: 100%;
    padding: 0;

    &:hover {
      background-color: $devui-brand;

      svg path {
        fill: $devui-light-text;
      }
    }

    svg {
      display: block;
      cursor: pointer;

      path {
        fill: $devui-text;
      }
    }
  }

  .devui-nav-sprite-menus {
    width: 100%;
    height: 100%;
    max-height: 240px;
  }
}

.devui-nav-sprite-content {
  width: 100%;
  height: 100%;
  padding: 0 12px 16px 12px;

  .devui-nav-sprite-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: $devui-text;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    font-size: $devui-font-size-card-title;

    &.devui-nav-sprite-header-with-title {
      border-bottom: 1px solid $devui-dividing-line;
    }

    .devui-nav-sprite-header-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .devui-nav-spiri-close {
      cursor: pointer;
    }
  }
}

.devui-nav-sprite-menus {
  margin-top: 10px;
  overflow-y: hidden;
  height: calc(100% - 80px);

  &:hover {
    overflow-y: auto;
  }

  & > li {
    list-style: none;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    font-size: $devui-font-size;
    color: $devui-text;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    a {
      color: $devui-text;
    }

    &.active {
      a {
        color: $devui-link;

        &:not(.open) {
          font-weight: 600;
        }
      }

      color: $devui-link;

      &:not(.open) {
        font-weight: 600;
      }
    }

    &:not(.disabled):hover {
      color: $devui-link;
    }

    .nav-item {
      a,
      span {
        &:hover {
          color: $devui-link;
        }
      }
    }
  }
}

.devui-no-data {
  line-height: 32px;
  color: $devui-text;
}
