<section class="demo-section" style="width: 400px">
  <div>
    <d-select
      [options]="verifierOptions"
      [(ngModel)]="singleSelectData1"
      [multiple]="true"
      [name]="'singleSelect2'"
      [filterKey]="'name'"
      [placeholder]="'Select'"
      [dValidateRules]="{
        errorStrategy: 'pristine',
        validators: [{ required: true }],
        asyncValidators: [{ isUserBusy: isUserBusy, errorStrategy: 'dirty' }]
      }"
    >
    </d-select>
  </div>
  <br />
  <div>
    <d-select
      [options]="verifierOptions"
      [(ngModel)]="singleSelectData2"
      [multiple]="true"
      [name]="'singleSelect2'"
      [filterKey]="'name'"
      [placeholder]="'Select'"
      [ngModelOptions]="{ updateOn: 'blur' }"
      [dValidateRules]="[{ required: true }, { maxUser: maxUsers(3), message: 'Do not select more than three administrators.' }]"
    >
    </d-select>
  </div>
</section>
