<div class="drawer-menu">
  <div [style.margin]="'20px 20px 0 0'" [style.text-align]="'right'" [style.cursor]="'pointer'">
    <span [style.margin-right]="'12px'" title="More" class="icon icon-more-operate"> </span>
    <span
      [style.margin-right]="'8px'"
      title="Fullscreen"
      (click)="toggleFullScreen()"
      class="icon"
      [ngClass]="{ 'icon-maxmize': !isFullScreen, 'icon-minimize': isFullScreen }"
    >
    </span>
    <span (click)="close($event)" title="Close" class="icon icon-close"> </span>
  </div>
  <ul class="list-group" [style.margin-top.px]="20">
    <li class="list-group-item" *ngFor="let item of items; let i = index">
      {{ item }}
    </li>
  </ul>
  <div class="operation-area">
    <input #widthInput placeholder="Please input a number" dTextInput type="text" />
    <d-button (btnClick)="changeWidth(widthInput.value)">Change Width</d-button>
  </div>
</div>
