input[type='text'] {
  width: 300px;
  height: 32px;
  box-sizing: border-box;
  padding: 5px 10px;
  font-size: 12px;
  color: #333;
  vertical-align: middle;
  border: 1px solid #c8cbcc;
  border-radius: 3px;
  outline: none;
  background-color: white;
}

input[type='text']:hover {
  border-color: #405dff;
}
