<div class="wrapper">
  <div id="menuLink" class="menu-link">
    <span></span>
  </div>
  <div class="devui-components-search">
    <d-search #dSearch [isKeyupSearch]="true" (searchFn)="onSearch($event)"></d-search>
  </div>
  <div class="sidebar">
    <ul class="devui-menu" style="margin-bottom: 0">
      <li class="devui-menu-item" routerLinkActive="devui-menu-item-selected">
        <a routerLink="get-start">{{ 'public.start' | translate }}</a>
      </li>
      <li class="devui-menu-item" routerLinkActive="devui-menu-item-selected">
        <a routerLink="color" style="position: relative"
          >颜色变量
          <sup class="devui-beta-label">Beta</sup>
        </a>
      </li>
      <li class="devui-menu-item" routerLinkActive="devui-menu-item-selected">
        <a routerLink="theme-guide" style="position: relative">主题化使用指南 </a>
      </li>
    </ul>
    <nav class="side-nav">
      <d-accordion [data]="componentsDataDisplay" [linkType]="'routerLink'"></d-accordion>
    </nav>
  </div>
  <div class="doc-viewer-container">
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
