.nav-main {
    position: fixed;
    right: 20px;
    top: 60px;
  }
  
  .step-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 200px;
    margin-top: -10px;
  }
  
  .step-nav > li {
    list-style: none;
    padding: 0;
    cursor: pointer;
    height: 25px;
    line-height: 30px;
    font-size: 12px;
    color: #5e6678;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .step-nav > li:hover {
    color: #405dff;
  }
  
  .step-nav > li.active {
    color: #5170ff;
  }
  