@import '../../../devui/style/theme/color';

.demo-nav {
  width: 240px;
  position: fixed;
  top: 100px;
  right: 0;
  height: 100%;
  z-index: 1;

  .fast-forward {
    font-family: PingFangSC-Semibold;
    width: 130px;
    font-size: 14px;
    color: $dark-1;
    line-height: 24px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-left: 20px;
    border-bottom: 1px solid $gray-2;
  }

  .step-nav {
    margin-top: 10px;

    & > li {
      list-style: none;
      padding-left: 20px;
      cursor: pointer;
      height: 25px;
      line-height: 25px;
      font-size: 12px;
      color: $dark-1;
      position: relative;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &.active {
        color: $brand-1;
      }
    }
  }
}

@media (max-width: 1280px) {
  .demo-nav {
    display: none;
  }
}
