<div class="docs-header">
    <h1>{{(data.name || componentName)}} {{data.cnName}}</h1>
    <div style="margin-bottom: 40px;">{{data.description}}</div>
    <div *ngIf="data.tmw">
        <h3>何时使用</h3>
        <div style="margin-bottom: 20px;" [innerHTML]="data.tmw"></div>
    </div>
    <ave-tabs [showContent]="false" [(activeTab)]="componentTab" (activeTabChange)="activeTabChange($event)">
        <ave-tab id="demo" title="Demo" tabId="demo"></ave-tab>
        <ave-tab id="api" title="API" tabId="api"></ave-tab>
    </ave-tabs>
</div>
<div class="examples-viewer">
    <div class="examples-viewer-wrapper">
            <router-outlet></router-outlet>
    </div>
</div>
