@import '~ng-devui/styles-var/devui-var.scss';

$header-z-index: calc(#{$devui-z-index-framework} - 1);

:host ::ng-deep section h4,
:host ::ng-deep section h5 {
  font-weight: bold;
  color: $devui-text-weak;
}

:host ::ng-deep section {
  margin-bottom: 50px;
}

.devui-component-icon {
  position: absolute;
  top: -90px;
  right: 24px;
  width: 160px;
  height: 160px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 20px;

  img {
    height: 100%;
    width: 100%;
  }
}

.examples-viewer-title {
  display: flex;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: bold;
}

.examples {
  position: relative;
  padding: 30px;
  background: $devui-base-bg;
}

div.html,
div.typescript,
div.markdown {
  padding: 0;
}

.html pre,
.typescript pre,
.markdown pre {
  padding: 26.5px;
}

:host ::ng-deep pre table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

:host h1 {
  position: sticky;
  z-index: $header-z-index;
  margin-top: 0;
  padding: 32px 0 0 0;
  line-height: 1;
  font-size: 36px;
  margin-bottom: 16px;
}

.devui-docs-header {
  z-index: $header-z-index;

  .devui-docs-header-description {
    color: $devui-aide-text;
  }

  margin-bottom: 24px;
}

.d-website-demo-tabs {
  position: absolute;
  bottom: 0;
  z-index: $header-z-index;

  &.fix-tab {
    position: fixed;
    top: 0;
    height: 56px;
  }

  span {
    color: $devui-text;
  }
}

.devui-title-container {
  background: $devui-glass-morphism-bg;
  position: absolute;
  height: calc(100% + 50px);
  width: calc(100vw - 20px);
  top: 0;
  margin: 0 -15vw 0 -25vw;
  backdrop-filter: blur(6px);
}

.devui-tabs-containter {
  height: 176px;
  position: relative;
}

:host ::ng-deep .devui-tabs-containter .devui-nav-container .devui-nav-slider {
  background: rgba(#f2f2f3, 0.6);
  backdrop-filter: blur(20px);
}

:host ::ng-deep .devui-tabs-containter d-tabs .devui-nav-container.devui-nav-lg .devui-nav-slider > li {
  height: 56px !important;
  line-height: 56px !important;
  margin: 0;

  & > a {
    color: $devui-text !important;
    font-size: 18px;
  }

  svg path {
    transition: all $devui-animation-duration-slow $devui-animation-ease-in-out;
  }
}

:host ::ng-deep .devui-tabs-containter d-tabs .devui-nav-container.devui-nav-lg .devui-nav-slider {
  border-radius: 0 0 20px 20px;
}

:host ::ng-deep .devui-tabs-containter d-tabs .devui-nav-container.devui-nav-lg .devui-nav-slider-animation {
  height: 56px !important;
  line-height: 56px !important;
  top: 0;
  border-radius: 0 0 20px 20px;
  box-shadow: 2px 2px 16px 0 rgba(13, 39, 80, 0.16);
}

:host ::ng-deep .examples-viewer-wrapper .devui-api-container {
  box-shadow: none;
  border: 1px solid $devui-dividing-line;
}

:host ::ng-deep .devui-tabs-containter d-tabs .devui-nav-container.devui-nav-lg .devui-nav-slider > .active {
  svg path {
    fill: $devui-text;
  }
}

:host ::ng-deep .devui-tabs-containter d-tabs .devui-nav-container.devui-nav-lg .devui-nav-slider > li:hover {
  svg path {
    fill: $devui-text;
  }
}

:host ::ng-deep .devui-tabs-containter d-tabs .devui-nav-container.devui-nav-lg > div {
  width: 100%;
}

:host ::ng-deep .devui-tabs-containter d-tabs .devui-nav-container.devui-nav-lg .devui-nav-slider {
  width: 100%;
}

:host ::ng-deep .devui-tabs-containter d-tabs .devui-nav-container.devui-nav-lg .devui-nav-slider > li {
  flex: 1;
}

.examples-viewer {
  min-height: calc(100vh - 523px);
}

.devui-docs-footer {
  height: 162px;
  padding: 32px 32px 0 32px;
  background-color: $devui-global-bg;
  border-radius: 20px 20px 0 0;

  &-title {
    font-size: $devui-font-size;
    color: $devui-text;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &-content {
    display: flex;
    height: 52px;

    .content-foot {
      margin-right: 80px;

      a {
        display: flex;
        align-items: center;
      }

      span {
        font-size: $devui-font-size-sm;
        line-height: 16px;
        margin-left: 8px;
      }
    }
  }

  &-desc {
    border-top: 1px solid $devui-dividing-line;
    height: 40px;
    display: flex;
    align-items: center;

    img {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }

    span {
      font-size: $devui-font-size-sm;
      color: $devui-aide-text;
      line-height: 40px;
    }
  }
}

.devui-docs-footer-link {
  color: $devui-text;

  &:hover {
    color: $devui-link-active;
    text-decoration: underline;
    cursor: pointer;
  }
}

.wechat-info {
  color: $devui-text;

  &:hover {
    cursor: pointer;
    color: $devui-link-active;

    .wechat-img {
      display: block !important;
    }
  }

  .wechat-img {
    position: absolute;
    display: none;
    width: 160px;
    bottom: 60px;
    left: -68px;
  }
}

.devui-content-container {
  max-width: 1064px;
  min-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.devui-banner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;

  img {
    width: 1024px;
    border-radius: 20px;
  }
}
