<section dLoading>
  <h3>Scroll mode: normal</h3>
  <d-tabs [type]="'wrapped'" [scrollMode]="true">
    <d-tab *ngFor="let item of staticData" [id]="item.id">
      <ng-template dTabTitle>{{ item.title }}</ng-template>
    </d-tab>
  </d-tabs>
  <br />
  <h3>Scroll mode: auto</h3>
  <d-button [showLoading]="showLoading" (btnClick)="getData()">Load Data</d-button>
  <d-tabs [type]="'wrapped'" [scrollMode]="'auto'" [(activeTab)]="tabActiveId">
    <d-tab *ngFor="let item of dynamicData" [id]="item.id">
      <ng-template dTabTitle>{{ item.title }}</ng-template>
    </d-tab>
  </d-tabs>
</section>
