section {
  position: relative;
}

d-button {
  position: absolute;

  &#normal {
    left: 184px;
    top: -2px;
  }

  &#auto {
    left: 160px;
    top: 128px;
  }
}

d-tabs:last-child {
  margin-top: 32px;
}

.clear-button {
  display: block;
  width: 16px;
  height: 16px;
  font-size: 16px;
}
