<div class="demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 60, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="demo-example">
    <div class="demo-title">{{ 'components.form.basicDemo.d-form-item-title' | translate }}</div>
    <div class="demo-text">{{ 'components.form.basicDemo.d-form-item-description' | translate }}</div>
  </div>
  <div class="demo-example">
    <div class="demo-title">{{ 'components.form.basicDemo.d-form-label-title' | translate }}</div>
    <div class="demo-text">{{ 'components.form.basicDemo.d-form-label-description' | translate }}</div>
  </div>
  <div class="demo-example">
    <div class="demo-title">{{ 'components.form.basicDemo.d-form-control-title' | translate }}</div>
    <div class="demo-text">{{ 'components.form.basicDemo.d-form-control-description' | translate }}</div>
  </div>
  <div class="demo-example">
    <div class="demo-title">{{ 'components.form.basicDemo.d-form-operation-title' | translate }}</div>
    <div class="demo-text">{{ 'components.form.basicDemo.d-form-operation-description' | translate }}</div>
  </div>

  <div class="demo-example">
    <div class="demo-title">{{ 'components.form.basicDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.form.basicDemo.description' | translate }}</div>
    <d-codebox id="form-base" [sourceData]="BasicSource">
      <d-form-demo-base demo></d-form-demo-base>
    </d-codebox>
  </div>
  <div class="demo-example" [dAnchor]="'demo-label-horizontal'">
    <div class="demo-title">{{ 'components.form.labelHorizontalDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.form.labelHorizontalDemo.description' | translate }}</div>
    <d-codebox id="form-label-horizontal" [sourceData]="LabelHorizontalSource">
      <d-form-demo-label-horizontal demo></d-form-demo-label-horizontal>
    </d-codebox>
  </div>
  <div class="demo-example" [dAnchor]="'demo-modal'">
    <div class="demo-title">{{ 'components.form.modalDemo.title' | translate }}</div>
    <div class="demo-text">
      {{ 'components.form.modalDemo.description' | translate }}
    </div>
    <d-codebox id="form-modal" [sourceData]="ModalSource">
      <d-form-demo-modal demo></d-form-demo-modal>
    </d-codebox>
  </div>

  <div class="demo-example" [dAnchor]="'demo-multi-col'">
    <div class="demo-title">{{ 'components.form.multiColDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.form.multiColDemo.description' | translate }}</div>
    <d-codebox id="form-multi-col" [sourceData]="MultiColSource">
      <d-form-demo-multi-col demo></d-form-demo-multi-col>
    </d-codebox>
  </div>

  <hr class="split-line" />

  <div class="demo-example" [dAnchor]="'demo-validate-template'">
    <div class="demo-title">{{ 'components.form.innerValidatorDemo.title' | translate }}</div>
    <div class="demo-text" [innerHTML]="'components.form.innerValidatorDemo.description' | translate"></div>
    <div id="demo-validate-template">
      <d-codebox id="inner-validator" [sourceData]="InnerValidatorSource">
        <d-form-demo-inner-validator demo></d-form-demo-inner-validator>
      </d-codebox>
      <d-codebox id="custom-validator" [sourceData]="CustomValidatorSource">
        <d-form-demo-custom-validator demo></d-form-demo-custom-validator>
      </d-codebox>
      <d-codebox id="error-strategy" [sourceData]="ErrorStrategySource">
        <d-form-demo-error-strategy demo></d-form-demo-error-strategy>
      </d-codebox>
      <d-codebox id="custom-message-show" [sourceData]="CustomMessageShowSource">
        <d-form-demo-custom-message-show demo></d-form-demo-custom-message-show>
      </d-codebox>
      <d-codebox id="debounce-time" [sourceData]="DebounceTimeSource">
        <d-form-demo-debounce-time demo></d-form-demo-debounce-time>
      </d-codebox>
      <d-codebox id="validate-template-form" [sourceData]="ValidateTemplateForm">
        <d-form-demo-validate-template-form demo></d-form-demo-validate-template-form>
      </d-codebox>
      <d-codebox id="user-register" [sourceData]="UserRegisterShowSource">
        <d-form-demo-user-register demo></d-form-demo-user-register>
      </d-codebox>
    </div>
  </div>
  <div class="demo-example" [dAnchor]="'demo-validate-reactive'">
    <div class="demo-title">{{ 'components.form.validateReactiveDemo.title' | translate }}</div>
    <div class="demo-text" [innerHTML]="'components.form.validateReactiveDemo.description' | translate">
      模板中绑定<code>formGroup、formControlName、formControl</code>，使用<code>dValidateRules</code>配置校验规则。
      <p>推荐阅读<a href="https://angular.cn/guide/reactive-forms" target="_blank">【Angular响应式表单】</a></p>
    </div>
    <d-codebox id="form-validate-reactive" [sourceData]="ValidateReactiveSource">
      <d-form-demo-validate-reactive demo></d-form-demo-validate-reactive>
    </d-codebox>
  </div>

  <div class="demo-example" [dAnchor]="'demo-custom-status'">
    <div class="demo-title">{{ 'components.form.customStatusDemo.title' | translate }}</div>
    <div class="demo-text" [innerHTML]="'components.form.customStatusDemo.description' | translate">
      你可通过对<code>d-form-control</code>设置<code>feedbackStatus</code>手动指定反馈状态。
      当前已支持状态：<code>success、error、pending</code>。
    </div>
    <d-codebox id="form-custom-status" [sourceData]="ValidateCustomStatus">
      <d-form-custom-status demo></d-form-custom-status>
    </d-codebox>
  </div>

  <div class="demo-example" [dAnchor]="'demo-validate-sync'">
    <div class="demo-title">{{ 'components.form.validateSyncDemo.title' | translate }}</div>
    <div class="demo-text" [innerHTML]="'components.form.validateSyncDemo.description' | translate">
      在一些场景下，你的多个表单组件互相依赖，需共同校验（如注册场景中的密码输入与确认密码），此时你需要用协同验证指令<code>dValidateSyncKey</code>来为需要系统校验的组件指定相同的<code
        >key</code
      >
      <code>dValidateSyncKey</code>指令支持模板驱动表单与响应式表单，以下示例以模板驱动表单为例：
      <code>password</code>与<code>confirmPassword</code>设置相同的<code>dValidateSyncKey</code>值，
      在其中一个组件值变更时，另一个组件也将进行校验。
    </div>
    <div id="demo-validate-sync">
      <d-codebox [sourceData]="ValidateSyncSource">
        <d-form-demo-validate-sync demo></d-form-demo-validate-sync>
      </d-codebox>
    </div>
  </div>

  <div class="demo-example" [dAnchor]="'demo-validate-cross-component'">
    <div class="demo-title">{{ 'components.form.validateCrossComponentDemo.title' | translate }}</div>
    <div class="demo-text" [innerHTML]="'components.form.validateCrossComponentDemo.description' | translate"></div>
    <div id="demo-validate-cross-component">
      <d-codebox [sourceData]="ReactiveFormCrossComponent">
        <d-form-demo-validate-cross-component demo></d-form-demo-validate-cross-component>
      </d-codebox>
      <d-codebox [sourceData]="ValidateTemplateCrossComponent">
        <d-form-demo-template-cross-component demo></d-form-demo-template-cross-component>
      </d-codebox>
    </div>
  </div>
</div>
