@import '~ng-devui/styles-var/devui-var.scss';

.split-line {
  border-top: 1px dashed $devui-dividing-line;
  margin: 60px 0;
}

#demo-validate-template,
#demo-validate-sync,
#demo-validate-cross-component,
#form-custom-status {
  d-codebox {
    display: block;
    margin-top: 16px;
  }

  ::ng-deep .demo-section {
    & > div {
      margin-top: 12px;
      width: 450px;
    }

    form {
      margin-left: 12px;
    }
  }

  h5 {
    margin-top: 24px;
    margin-bottom: 8px;
  }
}

#form-label-horizontal ::ng-deep d-form-demo-label-horizontal form {
  width: 550px;
}

#demo-validate-update ::ng-deep {
  .demo-section {
    width: 450px;
  }

  d-button {
    margin-bottom: 20px;
  }
}
