<h3>Grid</h3>
<h4>Basic</h4>
<d-row>
  <d-col [dSpan]="8">col-8</d-col>
  <d-col [dSpan]="8" [dStyle]="{ 'font-size': '20px' }">col-8</d-col>
  <d-col [dSpan]="8">col-8</d-col>
</d-row>
<h4>Responsive</h4>
<d-row>
  <d-col [dSpan]="8">col-8</d-col>
  <d-col [dSpan]="8" [dStyle]="{ ss: { 'font-size': '12px' }, md: { 'font-size': '20px' } }">col-8</d-col>
  <d-col [dSpan]="8">col-8</d-col>
</d-row>

<h3>No Grid</h3>
<h4>Basic</h4>
<div [dFlex] [dFlexContainer]="'row'" [dAlign]="'center'" class="base-container">
  <div style="width: 100px; height: 40px">
    <div class="brand-content">col</div>
  </div>
  <div style="height: 80px" [dFlex]="1" [dFlexContainer]="'column'" [dAlign]="'center'">
    <div [dFlex]="1" style="width: 300px" class="hover-content" [dStyle]="{ 'font-size': '20px' }">item</div>
    <div style="width: 100%; height: 30px" class="brand-content">item</div>
  </div>
</div>
<h4>Responsive</h4>
<div [dFlex] [dFlexContainer]="'row'" [dAlign]="'center'" class="base-container">
  <div style="width: 100px; height: 40px">
    <div class="brand-content">col</div>
  </div>
  <div style="height: 80px" [dFlex]="1" [dFlexContainer]="'column'" [dAlign]="'center'">
    <div [dFlex]="1" style="width: 300px" class="hover-content" [dStyle]="{ ss: { 'font-size': '12px' }, md: { 'font-size': '20px' } }">
      item
    </div>
    <div style="width: 100%; height: 30px" class="brand-content">item</div>
  </div>
</div>
