<d-card style="width: 350px">
  <div class="custom-avatar">
    <d-avatar [imgSrc]="imgSrc" [width]="48" [height]="48" [isRound]="false"></d-avatar>
    <div class="icon-star-o custom-star-action"></div>
  </div>
  <d-card-header>
    <d-card-title>DEVUI Course</d-card-title>
  </d-card-header>
  <d-card-actions [align]="'spaceBetween'">
    <div class="action-text">Updated at Dec 31 15:55</div>
    <div>
      <i class="icon-like card-icon"></i>
      <i class="icon-more-operate card-icon"></i>
    </div>
  </d-card-actions>
</d-card>
