<d-card style="width: 350px">
  <div style="display: flex; justify-content: space-between; margin-bottom: 16px">
    <d-avatar style="vertical-align: middle" [imgSrc]="imgSrc" [width]="48" [height]="48"></d-avatar>
    <div style="font-size: 20px; cursor: pointer" class="icon-star-o"></div>
  </div>
  <d-card-header>
    <d-card-title>DEVUI精品实践课</d-card-title>
  </d-card-header>
  <d-card-actions [align]="'spaceBetween'">
    <div class="action-text">更新于07月31日 15:55</div>
    <div>
      <i class="icon-like card-icon"></i>
      <i class="icon-more-operate card-icon"></i>
    </div>
  </d-card-actions>
</d-card>
