@import '~ng-devui/styles-var/devui-var.scss';

.action-text {
  color: $devui-aide-text;
}

.card-icon {
  cursor: pointer;
  font-size: $devui-font-size-icon;
  vertical-align: middle;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

d-card {
  &:hover {
    box-shadow: $devui-shadow-length-hover $devui-light-shadow;
  }
}

.custom-avatar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  .custom-star-action {
    font-size: 20px;
    cursor: pointer;
  }
}

d-avatar {
  vertical-align: middle;
}
