<div class="devui-demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 180, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="devui-demo-example" [dAnchor]="'z-index'">
    <div class="devui-demo-title">{{ 'components.design-z-index.ZIndexDemo.title' | translate }}</div>
    <div class="devui-demo-text">
      {{ 'components.design-z-index.ZIndexDemo.description1' | translate }}<br />
      {{ 'components.design-z-index.ZIndexDemo.description2' | translate }}<br />
      {{ 'components.design-z-index.ZIndexDemo.description3' | translate }}<br />
      {{ 'components.design-z-index.ZIndexDemo.description4' | translate }}<br />
      {{ 'components.design-z-index.ZIndexDemo.description5' | translate }}<br />
      {{ 'components.design-z-index.ZIndexDemo.description6' | translate }}
    </div>
    <d-z-index></d-z-index>
    <div class="devui-demo-title">{{ 'components.design-z-index.ZIndexDemo.title2' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.design-z-index.ZIndexDemo.description7' | translate }}<br /></div>
    <h3 class="devui-h3-title">{{ 'components.design-z-index.ZIndexDemo.subTitle1' | translate }}</h3>
    <div class="devui-demo-text">
      {{ 'components.design-z-index.ZIndexDemo.description8' | translate }}<br />
      {{ 'components.design-z-index.ZIndexDemo.description9' | translate }}
    </div>
    <h3 class="devui-h3-title">{{ 'components.design-z-index.ZIndexDemo.subTitle2' | translate }}</h3>
    <div class="devui-demo-text">
      {{ 'components.design-z-index.ZIndexDemo.description10' | translate }}
    </div>
    <h3 class="devui-h3-title">{{ 'components.design-z-index.ZIndexDemo.subTitle3' | translate }}</h3>
    <div class="devui-demo-text">
      {{ 'components.design-z-index.ZIndexDemo.description11' | translate }}
    </div>
  </div>
</div>
