<section>
    <div class="btn-group">
        <ave-button avePopover
                [content]="'Left!'"
                [position]="'left'"
                [trigger]="'click'"
                [showAnimate]="true"
                [appendToBody]="false">
            Left
        </ave-button>
        <ave-button avePopover
                [content]="'Top!'"
                [position]="'top'"
                [trigger]="'click'"
                [showAnimate]="true"
                [appendToBody]="false">
            Top
        </ave-button>
        <ave-button avePopover
                [content]="'Bottom!'"
                [position]="'bottom'"
                [trigger]="'click'"
                [appendToBody]="false">
            Bottom
        </ave-button>
        <ave-button avePopover
                [content]="'Right!'"
                [position]="'right'"
                [trigger]="'click'"
                [appendToBody]="false">
            Right
        </ave-button>
    </div>
</section>
