<div class="demo-container" dAnchorBox [view]="{ top: 60, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="demo-example" [dAnchor]="'basic-usage'">
    <div class="demo-title">基本用法</div>
    <div class="demo-text"></div>
    <d-codebox id="components-search-default" [sourceData]="basicSource">
      <d-basic demo></d-basic>
    </d-codebox>
  </div>

  <div class="demo-example" [dAnchor]="'bidirectional-binding'">
    <div class="demo-title">双向绑定</div>
    <div class="demo-text"></div>
    <d-codebox id="components-search-ngmodel" [sourceData]="ngmodelDemoSource">
      <d-ngmodel demo></d-ngmodel>
    </d-codebox>
  </div>
</div>
