<div class="demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 60, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="demo-example" [dAnchor]="'basic-usage'">
    <div class="demo-title">{{ 'components.search.basicDemo.title' | translate }}</div>
    <div class="demo-text"></div>
    <d-codebox id="components-search-default" [sourceData]="basicSource">
      <d-basic demo></d-basic>
    </d-codebox>
  </div>

  <div class="demo-example" [dAnchor]="'icon-left'">
    <div class="demo-title">{{ 'components.search.leftIconDemo.title' | translate }}</div>
    <div class="demo-text"></div>
    <d-codebox id="components-search-default" [sourceData]="iconLeftSource">
      <d-icon-left demo></d-icon-left>
    </d-codebox>
  </div>

  <div class="demo-example" [dAnchor]="'search-no-border'">
    <div class="demo-title">{{ 'components.search.no-borderDemo.title' | translate }}</div>
    <div class="demo-text"></div>
    <d-codebox id="components-search-no-border" [sourceData]="searchDemoNoBorder">
      <d-demo-search-no-border demo></d-demo-search-no-border>
    </d-codebox>
  </div>

  <div class="demo-example" [dAnchor]="'bidirectional-binding'">
    <div class="demo-title">{{ 'components.search.ngModelDemo.title' | translate }}</div>
    <div class="demo-text"></div>
    <d-codebox id="components-search-ngmodel" [sourceData]="ngmodelDemoSource">
      <d-ngmodel demo></d-ngmodel>
    </d-codebox>
  </div>

  <div class="demo-example" [dAnchor]="'auto-focus'">
    <div class="demo-title">{{ 'components.search.autoFocusDemo.title' | translate }}</div>
    <div class="demo-text"></div>
    <d-codebox id="components-search-auto-focus" [sourceData]="autoFocusDemoSource">
      <d-auto-focus demo></d-auto-focus>
    </d-codebox>
  </div>
</div>
