<div class="devui-demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 180, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>

  <div class="devui-demo-example" [dAnchor]="'basic-usage'">
    <div class="devui-demo-title">{{ 'components.time-picker.basicDemo.basic' | translate }}</div>
    <div class="devui-demo-text"></div>
    <d-codebox id="components-time-picker-basic-demo" [sourceData]="TimePickerDemoBasicComponent">
      <d-basic-demo demo></d-basic-demo>
    </d-codebox>
  </div>

  <div class="devui-demo-example" [dAnchor]="'format'">
    <div class="devui-demo-title">{{ 'components.time-picker.formatDemo.title' | translate }}</div>
    <div class="devui-demo-text"></div>
    <d-codebox id="components-time-picker-format-demo" [sourceData]="TimePickerDemoFormatComponent">
      <d-format-demo demo></d-format-demo>
    </d-codebox>
  </div>

  <div class="devui-demo-example" [dAnchor]="'custom'">
    <div class="devui-demo-title">{{ 'components.time-picker.customDemo.template' | translate }}</div>
    <div class="devui-demo-text"></div>
    <d-codebox id="components-time-picker-custom-demo" [sourceData]="TimePickerDemoCustomComponent">
      <d-custom-demo demo></d-custom-demo>
    </d-codebox>
  </div>
</div>
