<span
  class="devui-toggle {{ size ? 'devui-toggle-' + size : '' }}"
  [ngClass]="{ 'devui-checked': checked, 'devui-disabled': disabled }"
  [style.background]="checked && !disabled ? color : ''"
  [style.border-color]="checked && !disabled ? color : ''"
>
  <span class="devui-toggle-inner-wrapper">
    <ng-template [ngTemplateOutlet]="customTemplate || defaultTemplate"></ng-template>
  </span>
  <small></small>
</span>

<ng-template #defaultTemplate>
  <div class="devui-toggle-inner" [innerHTML]="content | safe: 'html'"></div>
</ng-template>
