<div *ngIf="show">
  <div
    dAnchorBox
    dAnchorHashSupport
    [view]="{ top: 60, bottom: 0 }"
    class="mymain"
    style="position: relative"
    [updateUrlWhenAnchorActive]="updateUrlWhenAnchorActive"
    [scrollToAnchorByHashOnlyInit]="scrollToAnchorByHashOnlyInit"
  >
    <div class="mysidebar">
      <d-sticky [view]="{ top: 60, bottom: 0 }">
        <ul class="step-nav">
          <li [dAnchorLink]="'base-info'" anchorActive="active">Basic Infomation</li>
          <li [dAnchorLink]="'issue-list'" anchorActive="active">Demand List</li>
          <li [dAnchorLink]="'case-list'" anchorActive="active" id="case_list_anchor">Case List</li>
          <li [dAnchorLink]="'quality-result'" anchorActive="active">Quality Assessment</li>
        </ul>
      </d-sticky>
    </div>
    <div class="mycontent">
      <div [dAnchor]="'base-info'" class="section-block">
        <h3>Basic Infomation</h3>
        Show basic infomation here.
      </div>
      <div [dAnchor]="'issue-list'" class="section-block">
        <h3>Demand List</h3>
        Show demand list here.
      </div>
      <div [dAnchor]="'case-list'" class="section-block">
        <h3>Case List</h3>
        Show case list here.
      </div>
      <div [dAnchor]="'quality-result'" class="section-block" id="quality_result">
        <h3>Quality Assessment</h3>
        Show quality assessment here.
      </div>
    </div>
  </div>
</div>
