<ng-content select="d-splitter-pane"></ng-content>
<ng-container *ngFor="let pane of panes; let index = index; let last = last">
  <d-splitter-bar
    #bar
    dResize
    [style.order]="index * 2 + 1"
    *ngIf="!last"
    [index]="index"
    [splitBarSize]="splitBarSize"
    [disabledBarSize]="disabledBarSize"
    [orientation]="orientation"
    [showCollapseButton]="showCollapseButton"
    [collapsePosLeft]="collapsePosLeft"
    [collapsePosTop]="collapsePosTop"
  >
  </d-splitter-bar>
</ng-container>
