@import '../style/theme/color';

:host {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 2px;
  &.devui-splitter-horizontal {
    flex-direction: row;
  }

  &.devui-splitter-vertical {
    flex-direction: column;
  }
}
