@import '../style/theme/color';

:host {
  &.devui-splitter-pane {
    position: relative;
    flex: 1 1 auto;
    display: block;
    min-width: 0;
    max-width: 100%;
    min-height: 0;
    max-height: 100%;

    &-fixed {
      flex-grow: 0;
      flex-shrink: 0;
    }

    &-grow {
      flex-grow: 1 !important;
    }

    &-hidden {
      flex: 0 !important;
      overflow: hidden !important;
    }
  }
}
