<div
  class="prev"
  *ngIf="showCollapseButton"
  dPopover
  [trigger]="'hover'"
  [controlled]="true"
  [ngClass]="prevClass"
  [content]="preTip"
  [showAnimate]="false"
  [mouseEnterDelay]="100"
  [mouseLeaveDelay]="0"
  (click)="collapsePrePane()"
  (touchstart)="collapsePrePane()"
></div>
<div class="devui-resize-handle"></div>
<div
  class="next"
  *ngIf="showCollapseButton"
  dPopover
  [trigger]="'hover'"
  [controlled]="true"
  [ngClass]="nextClass"
  [content]="nextTip"
  (click)="collapseNextPane()"
  (touchstart)="collapseNextPane()"
></div>
