<div class="demo-container" dAnchorBox [view]="{ top: 60, bottom: 0 }">
  <div style="position: fixed;right:100px;top:60px;">
    <d-sticky [view]="{ top: 60, bottom: 0 }" [zIndex]="2000" [container]="demoDocViewerMain">
      <div>
        <h3 style="padding-bottom: 20px; border-bottom: 1px #cacfd8 solid;">快速前往</h3>
        <ul class="step-nav">
          <li [dAnchorLink]="'basic-usage'" anchorActive="active">基本用法</li>
          <li [dAnchorLink]="'tips-to-close'" anchorActive="active">可关闭的提示</li>
        </ul>
      </div>
    </d-sticky>
  </div>
  <div class="demo-example">
    <div class="demo-title" [dAnchor]="'basic-usage'">基本用法</div>
    <div class="demo-text">
      共有四种样式：success、danger、warning、info
    </div>
    <d-codebox id="components-tabs-default" [sourceData]="basicSource">
      <d-alert-basic demo></d-alert-basic>
    </d-codebox>
  </div>

  <div class="demo-example">
    <div class="demo-title" [dAnchor]="'tips-to-close'">可关闭的提示</div>
    <div class="demo-text">
      显示关闭按钮，点击可关闭提示。
    </div>
    <d-codebox id="components-tabs-close" [sourceData]="closeSource">
      <d-alert-close demo></d-alert-close>
    </d-codebox>
  </div>
</div>
