<div class="devui-demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 180, bottom: 0 }">
  <d-demo-nav [navItems]="navItems">></d-demo-nav>
  <div class="devui-demo-example" [dAnchor]="'basic-usage'">
    <div class="devui-demo-title">{{ 'components.alert.basicDemo.title' | translate }}</div>
    <div class="devui-demo-text">
      {{ 'components.alert.basicDemo.description' | translate }}
    </div>
    <d-codebox id="components-tabs-default" [sourceData]="basicSource">
      <d-alert-basic demo></d-alert-basic>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'tips-to-close'">
    <div class="devui-demo-title">{{ 'components.alert.closableDemo.title' | translate }}</div>
    <div class="devui-demo-text">
      {{ 'components.alert.closableDemo.description' | translate }}
    </div>
    <d-codebox id="components-tabs-close" [sourceData]="closeSource">
      <d-alert-close demo></d-alert-close>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'without-icon'">
    <div class="devui-demo-title">{{ 'components.alert.withoutIconDemo.title' | translate }}</div>
    <div class="devui-demo-text">
      {{ 'components.alert.withoutIconDemo.description' | translate }}
    </div>
    <d-codebox id="components-tabs-withoutIcon" [sourceData]="withoutIconSource">
      <d-alert-without-icon demo></d-alert-without-icon>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'carousel'">
    <div class="devui-demo-title">{{ 'components.alert.carouselDemo.title' | translate }}</div>
    <div class="devui-demo-text">
      {{ 'components.alert.carouselDemo.description' | translate }}
    </div>
    <d-codebox id="components-tabs-carousel" [sourceData]="carouselSource">
      <d-alert-carousel demo></d-alert-carousel>
    </d-codebox>
  </div>
</div>
