<div class="demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 60, bottom: 0 }">
  <d-demo-nav [navItems]="navItems">></d-demo-nav>
  <div class="demo-example" [dAnchor]="'basic-usage'">
    <div class="demo-title">{{ 'components.alert.basicDemo.title' | translate }}</div>
    <div class="demo-text">
      {{ 'components.alert.basicDemo.description' | translate }}
    </div>
    <d-codebox id="components-tabs-default" [sourceData]="basicSource">
      <d-alert-basic demo></d-alert-basic>
    </d-codebox>
  </div>

  <div class="demo-example" [dAnchor]="'tips-to-close'">
    <div class="demo-title">{{ 'components.alert.closableDemo.title' | translate }}</div>
    <div class="demo-text">
      {{ 'components.alert.closableDemo.description' | translate }}
    </div>
    <d-codebox id="components-tabs-close" [sourceData]="closeSource">
      <d-alert-close demo></d-alert-close>
    </d-codebox>
  </div>
</div>
