<section>
  <form dForm [layout]="'vertical'">
    <d-form-item>
      <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the plan name.'">Name</d-form-label>
      <d-form-control>
        <input dTextInput name="userName" />
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>Description</d-form-label>
      <d-form-control>
        <textarea dTextarea name="desc" maxlength="200"></textarea>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">Select</d-form-label>
      <d-form-control>
        <d-select [options]="selectOptions" name="select1" size="sm" [filterKey]="'label'" [(ngModel)]="formData.selectValue"></d-select>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">Multiple options</d-form-label>
      <d-form-control>
        <d-select
          name="multiSelect"
          [options]="selectOptions"
          size="sm"
          [filterKey]="'label'"
          [isSearch]="true"
          [multiple]="true"
          [extraConfig]="{
            labelization: multipleSelect2DemoConfig.labelization
          }"
          [ngModel]="formData.multipleSelectValue"
        ></d-select>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>Tags</d-form-label>
      <d-form-control>
        <d-tags-input
          name="tag"
          (click)="$event.stopPropagation()"
          [displayProperty]="'label'"
          [tags]="addedLabelList"
          [placeholder]="'Tags'"
          [suggestionList]="labelList"
        >
        </d-tags-input>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>Radio</d-form-label>
      <d-form-control>
        <d-radio-group name="schedule" [cssStyle]="'row'" [(ngModel)]="formData.radioValue">
          <d-radio *ngFor="let option of radioOptions" [name]="'schedule'" [value]="option.id">
            {{ option.label }}
          </d-radio>
        </d-radio-group>
      </d-form-control>
    </d-form-item>
  </form>
</section>
