@import '../style/mixins/index';
@import '../style/theme/color';
@import '../style/theme/variables';
@import '../style/core/font';

$devui-btn-loading-color: $dark-1;
$devui-btn-xs-padding: 1px 5px;
$devui-btn-xs-height: 24px;
$devui-btn-xs-min-width: 48px;
$devui-btn-sm-padding: 1px 15px;
$devui-btn-sm-min-width: 56px;
$devui-btn-sm-height: 24px;
$devui-btn-min-width: 64px;
$devui-btn-height: 28px;
$devui-btn-padding: 3px 20px;
$devui-btn-lg-padding: 5px 23px;
$devui-btn-lg-min-width: 72px;
$devui-btn-lg-height: 32px;
$devui-btn-xs-font-size: $font-size-base;
$devui-btn-sm-font-size: $font-size-base;
$devui-btn-font-size: $font-size-base;
$devui-btn-lg-font-size: $font-size-base;
$devui-btn-line-height: $line-height-base;

$devui-btn-normal-config: (
  text: (
    color: $hwc-color-text-active-text-link,
    padding: 0
  ),
  text-dark: (
    color: $hwc-color-text-active-text-link,
    padding: 0
  ),
  common: (
    color: $dark-1,
    min-width: $devui-btn-min-width,
    background-color: $block-bg-white,
    border-color: $gray-1
  ),
  stress: (
    color: $font-white,
    min-width: $devui-btn-min-width,
    background-color: $color-bg-primary
  ),
  primary: (
    color: $font-white,
    min-width: $devui-btn-min-width,
    background-color: $color-bg-primary
  ),
  danger: (
    color: $font-white,
    min-width: $devui-btn-min-width,
    background-color: $huawei-red
  ),
  xs: (
    padding: $devui-btn-xs-padding,
    height: $devui-btn-xs-height,
    font-size: $devui-btn-xs-font-size,
    min-width: $devui-btn-xs-min-width
  ),
  sm: (
    padding: $devui-btn-sm-padding,
    height: $devui-btn-sm-height,
    font-size: $devui-btn-sm-font-size,
    min-width: $devui-btn-sm-min-width,
  ),
  lg: (
    padding: $devui-btn-lg-padding,
    height: $devui-btn-lg-height,
    font-size: $devui-btn-lg-font-size,
    min-width: $devui-btn-lg-min-width,
  ),
  left: (
    border-radius: 2px 0 0 2px,
  ),
  right: (
    border-radius: 0 2px 2px 0,
  ),
  default: (
    border-radius: 2px,
  )
);

$devui-btn-pseudo-config: (
  text: (
    hover: (
      background-color: transparent,
      color: $hwc-color-text-link-hover-active
    ),
    focus: (
      background-color: transparent,
      color: $hwc-color-text-link-hover-active
    ),
    active: (
      background-color: transparent,
      color: $hwc-color-text-link-hover-active
    )
  ),
  text-dark: (
    hover: (
      background-color: transparent,
      color: $hwc-color-text-link-hover-active
    ),
    focus: (
      background-color: transparent,
      color: $hwc-color-text-link-hover-active
    ),
    active: (
      background-color: transparent,
      color: $hwc-color-text-link-hover-active
    )
  ),
  common: (
    hover: (
      border-color: $hwc-color-border-active,
      color: $hwc-color-text-active-text-link
    ),
    focus: (
      border-color: $hwc-color-border-active,
      color: $hwc-color-text-active-text-link
    ),
    active: (
      border-color: $hwc-color-border-active,
      color: $hwc-color-text-active-text-link
    )
  ),
  stress: (
    hover: (
      background-color: $color-bg-primary-hover
    ),
    focus: (
      background-color: $color-bg-primary-active
    ),
    active: (
      background-color: $color-bg-primary-active
    )
  ),
  primary: (
    hover: (
      background-color: $color-bg-primary-hover
    ),
    focus: (
      background-color: $color-bg-primary-active
    ),
    active: (
      background-color: $color-bg-primary-active
    )
  ),
  danger: (
    hover: (
      background-color: $color-bg-danger-hover
    ),
    focus: (
      background-color: $color-bg-danger-active
    ),
    active: (
      background-color: $color-bg-danger-active
    )
  )
);

.devui-btn {
  padding: $devui-btn-padding;
  font-size: $devui-btn-font-size;
  height: $devui-btn-height;
  line-height: $devui-btn-line-height;
  border-radius: 2px;
  border-width: 1px;
  border-color: transparent;
  background-color: transparent;
  @each $type in text, text-dark, common, stress, primary, danger, left, right, xs, sm, lg {
    &.devui-btn-#{$type} {
      @each $key, $value in map-get($devui-btn-normal-config, $type) {
        #{$key}: $value;
      }
    }
  }
  @each $type in text, text-dark, common, stress, primary, danger {
    &.devui-btn-#{$type} {
      @each $pseudo, $value in map-get($devui-btn-pseudo-config, $type) {
        &:#{$pseudo} {
          @each $key, $value2 in map-get(map-get($devui-btn-pseudo-config, $type), $pseudo) {
            #{$key}: $value2;
          }
        }
      }
    }
  }

  &.devui-btn-common {
    &:disabled {
      color: $disabled-content;
      background: $disabled-bg;
      border: 1px solid $disabled-border;
    }
  }

  &.devui-btn-primary {
    &:disabled {
      color: $disabled-content;
      background: $disabled-bg;
      border: 1px solid $disabled-border;
    }
  }

  &.devui-btn-text-dark {
    &:disabled {
      color: $disabled-content;
    }
  }

  &.devui-btn-text {
    &:disabled {
      color: $disabled-content;
    }
  }

  &.bordered {
    &.devui-btn-common {
      color: $dark-1;
      border-color: transparent;

      &:hover,
      &:focus {
        border-color: $hover-control;
      }

      &:active {
        border-color: $hwc-color-border-active-and-hover;
      }
    }

    &.devui-btn-stress,
    &.devui-btn-primary {
      border-color: $brand-1;
      color: $brand-1;
      background-color: $block-bg-white;
    }

    &.devui-btn-success {
      border-color: $status-green;
      color: $status-green;
      background-color: $block-bg-white;
    }

    &.devui-btn-warning {
      border-color: $status-yellow;
      color: $status-yellow;
      background-color: $block-bg-white;
    }

    &.devui-btn-danger {
      border-color: $status-red;
      color: $status-red;
      background-color: $block-bg-white;
    }
  }

  &.d-btn-icon {
    &:hover,
    &:focus {
      border: 1px solid $hover-content;
      background-color: $hover-content;
    }

    &:disabled {
      background-color: $disabled-bg;
    }
  }

  &:not(:disabled) {
    &.devui-btn-text,
    &.devui-btn-text-dark {
      &.d-btn-icon-wrap {
        color: $dark-1;

        .devui-icon-fix {
          color: $dark-2;
        }

        &:hover {
          color: $hover-control;

          .devui-icon-fix {
            color: $hwc-color-icon-hover-active;
          }
        }
      }
    }
  }
}

.devui-loading {
  .devui-loading-default-spinner {
    div {
      background-color: $dark-1;
    }
  }
}

:host {
  display: inline-block;
}

.devui-btn {
  transition: all 0.2s;
  border-style: solid;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
  }

  &.d-btn-icon {
    padding: 7px 8px;
    line-height: 1em;
    border: 1px solid transparent;
  }

  &:not(.d-btn-icon) {
    .icon-fix {
      font-size: 16px;
    }
  }
}

.devui-icon-fix {
  position: relative;
  font-size: 12px;
}

.devui-btn.devui-btn-common:not(:disabled) {
  .devui-icon-fix {
    color: $dark-2;
  }

  &:hover,
  &:active,
  &:focus {
    .devui-icon-fix {
      color: $hwc-color-icon-hover-active;
    }
  }
}

.button-content {
  display: inline-block;
}

.clear-right-5 {
  margin-right: 5px;
}
