<button
  [attr.id]="id"
  class="devui-btn devui-btn-{{ bsStyle }} devui-btn-{{ bsSize }} devui-btn-{{ bsPosition }}"
  [class.devui-btn-circle]="shape === 'circle'"
  [type]="type"
  [disabled]="disabled"
  [class.bordered]="bordered"
  [class.mouseDown]="isMouseDown"
  [backdrop]="true"
  dLoading
  [showLoading]="showLoading"
  [loadingTemplateRef]="loadingTemplateRef"
  [ngStyle]="{ width: width }"
  [dAutoFocus]="autofocus"
  (click)="onClick($event)"
  [ngClass]="{ 'd-btn-icon': !!icon && !hasContent(), 'd-btn-icon-wrap': !!icon }"
  (mousedown)="isMouseDown = true"
  (mouseup)="isMouseDown = false"
>
  <span *ngIf="!!icon" class="devui-icon-fix icon {{ icon }}" [ngClass]="{ 'clear-right-8': hasContent() }"></span>
  <!--
  --><span class="button-content" [class.devui-btn-more-text-omits]="width !== undefined" #buttonContent><ng-content></ng-content></span>
  <div class="devui-button-water-wave" *ngIf="showWave" [ngStyle]="{ top: waveTop + 'px', left: waveLeft + 'px' }"></div>
</button>
