<button
  [attr.id]="id"
  class="devui-btn devui-btn-{{ bsStyle }} devui-btn-{{ bsSize }}"
  [type]="type"
  [disabled]="disabled"
  [class.bordered]="bordered"
  [backdrop]="true"
  dLoading
  [showLoading]="showLoading"
  [ngStyle]="{ width: width }"
  [dAutoFocus]="autofocus"
  (click)="onClick($event)"
  [ngClass]="{ 'd-btn-icon': !!icon && !hasContent() && bsStyle !== 'primary' }"
>
  <span *ngIf="!!icon" class="devui-icon-fix icon {{ icon }}" [ngClass]="{ 'clear-right-5': hasContent() }"></span>
  <!--
  --><span class="button-content" #buttonContent><ng-content></ng-content></span>
</button>
