<div class="demo-container">
  <div class="demo-example">
    <div class="demo-title">基本用法</div>
    <div class="demo-text">
      使用image-preview指令，对容器内图片进行预览
    </div>
    <d-codebox id="components-image-preview-default" [sourceData]="basicSource">
      <d-image-preview-basic demo></d-image-preview-basic>
    </d-codebox>
  </div>
  <div class="demo-example">
    <div class="demo-title">自定义开启预览窗口</div>
    <div class="demo-text">
      传入subject自定义开启时机
    </div>
    <d-codebox id="components-image-preview-custom-open" [sourceData]="customOpen">
      <d-image-preview-custom-open demo></d-image-preview-custom-open>
    </d-codebox>
  </div>
</div>
