@import '~@devui-design/icons/icomoon/devui-icon.css';

div.box {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-size: 16px;
  line-height: 32px;
}

div.singleTemplate {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

div.singleTemplate:not(:last-child) {
  border-right: 1px solid #cacfd8;
}

.input-group:not(:last-child) {
  margin-bottom: 20px;
}

.devui-input-group-addon {
  vertical-align: middle;
  padding-top: 4px;
}

.devui-input-group {
  width: 250px;
}

.devui-input-group-addon:hover {
  color: #526ecc;
}

.icon-close-wrapper {
  padding-right: 0;
  padding-top: 0;
}

.icon-close {
  border-right: 1px solid #dfe1e6;
  padding-right: 10px;
  cursor: pointer;
}
