@import '~@devui-design/icons/icomoon/devui-icon.css';
div.box {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-size: 16px;
  line-height: 32px;
}
div.singleTemplate {
  flex: 1;
  display: flex;
  justify-content: space-around;
}
div.singleTemplate:not(:last-child) {
  border-right: 1px solid #cacfd8;
}
.input-group {
  width: 300px;
}

.input-group:not(:last-child) {
  margin-bottom: 20px;
}

.devui-input-group-addon {
  vertical-align: middle;
  padding-top: 4px;
}
