<section>
  <div class="btn-group" dDropDown (toggleEvent)="onToggle($event)">
    <d-icon dDropDownToggle [icon]="'icon-chevron-down-2'" [operable]="true" [rotate]="rotateDegrees">
      <span iconPrefix>more</span>
    </d-icon>
    <ul dDropDownMenu class="devui-dropdown-menu">
      <li>
        <input type="text" class="devui-input devui-input-sm devui-search-in-dropdown" placeholder="input box" />
        <div class="icon-in-search">
          <i class="icon icon-search"></i>
        </div>
      </li>
      <li class="disabled">
        <a dDropDownMenuItem class="disabled" [disabled]="true" (click)="showClickEvent($event)">Disabled Option</a>
      </li>
      <li>
        <a dDropDownMenuItem>New</a>
      </li>
      <li>
        <a dDropDownMenuItem>Delete</a>
      </li>
      <li>
        <a dDropDownMenuItem>Item 1</a>
      </li>
      <li class="disabled">
        <a dDropDownMenuItem class="disabled" (click)="showClickEvent($event)">Item 2</a>
      </li>
      <li>
        <a dDropDownMenuItem>Item 3</a>
      </li>
      <li>
        <a dDropDownMenuItem>Item 4</a>
      </li>
    </ul>
  </div>
</section>
<section>
  <h5>Attached to Body to avoid being blocked by container with scrollbar</h5>
  <div class="btn-group" dDropDown appendToBody (toggleEvent)="onToggle($event)">
    <d-icon dDropDownToggle class="devui-dropdown-default devui-dropdown-origin" [icon]="'icon-chevron-down-2'" [rotate]="rotateDegrees">
      <span iconPrefix>more</span>
    </d-icon>
    <ul dDropDownMenu class="devui-dropdown-menu devui-scrollbar">
      <li>
        <input type="text" class="devui-input devui-input-sm devui-search-in-dropdown" placeholder="input box" />
        <div class="icon-in-search">
          <i class="icon icon-search"></i>
        </div>
      </li>
      <li class="disabled">
        <a dDropDownMenuItem class="disabled">Disabled Option</a>
      </li>
      <li>
        <a dDropDownMenuItem>New</a>
      </li>
      <li>
        <a dDropDownMenuItem>Delete</a>
      </li>
      <li>
        <a dDropDownMenuItem>Item 1</a>
      </li>
      <li class="disabled">
        <a dDropDownMenuItem class="disabled">Item 2</a>
      </li>
      <li>
        <a dDropDownMenuItem>Item 3</a>
      </li>
      <li>
        <a dDropDownMenuItem>Item 4</a>
      </li>
    </ul>
  </div>
</section>
