@import '~ng-devui/styles-var/devui-var.scss';

.btn-group {
  display: inline-block;
}

.icon-in-search {
  height: 28px;
  line-height: 28px;
  width: 20px;
  position: absolute;
  top: 0;
  right: 7px;
  text-align: center;
  font-size: $devui-font-size-icon;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  white-space: nowrap;

  li.disabled {
    cursor: not-allowed;
  }
}
