<h4>Default Checkable Tree</h4>
<d-operable-tree [tree]="data1"> </d-operable-tree>

<h4>Set checkableRelation = "upward"</h4>
<d-operable-tree [tree]="data2" [checkableRelation]="'upward'"> </d-operable-tree>

<h4>Set checkableRelation = "downward"</h4>
<d-operable-tree [tree]="data3" [checkableRelation]="'downward'"> </d-operable-tree>

<h4>Set checkableRelation = "none"</h4>
<d-operable-tree [tree]="data4" [checkableRelation]="'none'"> </d-operable-tree>

<h4>Use "showCheckbox" to control checkbox display</h4>
<d-operable-tree [tree]="data5"> </d-operable-tree>
