<section>
  <h5 class="text-muted">小尺寸</h5>
  <ave-search style="width:200px" [placeholder]="'Please Input keywords'" [size]="'sm'"
    (searchFn)="onSearch($event)"></ave-search>
  <h5 class="text-muted">标准尺寸</h5>
  <ave-search style="width:300px" [placeholder]="'Please Input keywords'" [isKeyupSearch]="true"
    (searchFn)="onSearch($event)"></ave-search>
  <h5 class="text-muted">大尺寸</h5>
  <ave-search style="width:300px" [placeholder]="'Please Input keywords'" [size]="'lg'"
    (searchFn)="onSearch($event)"></ave-search>
</section>
