:host {
  display: block;
}

.devui-checkbox-list-inline {
  min-height: 28px;
  line-height: 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  // hack for margin between lines
  margin: -8px 0 0 0;

  & > * {
    margin-top: 8px;
  }

  ::ng-deep li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.devui-checkbox-wrap ::ng-deep .devui-checkbox label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.devui-checkbox-column-margin {
  height: 28px;
  line-height: 28px;
}
