:host {
  display: block;
}

.devui-checkbox-list-inline {
  min-height: 32px;
  line-height: 32px;

  ::ng-deep li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.devui-checkbox-column-margin:nth-child(n + 2) {
  margin-top: 15px;
}
