:host {
  display: block;
}

.devui-checkbox-list-inline {
  min-height: 28px;
  line-height: 28px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  ::ng-deep li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.devui-checkbox-column-margin {
  height: 28px;
  line-height: 28px;
}
