@import '../style/theme/color';
@import '../style/theme/shadow';
@import '../style/theme/corner';
@import '../style/theme/_font';

.devui-dropdown-menu {
  &:not(.devui-dropdown-menu-cdk) {
    width: calc(100% + 2px);
    left: -1px;
  }

  &.devui-custom-right,
  &.devui-custom-left {
    min-width: 400px;
    display: flex !important;

    & > .devui-dropdown-menu-wrap {
      display: inline-block;
    }

    & > .devui-select-custom-area {
      display: inline-block;
      overflow: auto;
    }

    & > .devui-dropdown-menu-wrap {
      width: calc(50% - 1px);
    }

    & > .devui-select-custom-area {
      width: 50%;
      border-left: 1px solid $devui-dividing-line;

      &::before {
        display: none;
      }
    }
  }

  &.devui-custom-left .devui-select-custom-area {
    order: -1;
  }

  .devui-dropdown-menu-wrap {
    position: initial;
  }
}

.devui-dropdown-menu-cdk {
  position: static;
  display: block;
  width: 100%;
  // border: none;
  &.devui-dropdown-cdk-top {
    margin-bottom: -1px;
  }

  &.devui-dropdown-cdk-bottom {
    margin-top: -1px;
  }
}

.devui-form-group.devui-has-feedback[tabindex] {
  outline: none;
}

.devui-select-placeholder,
.devui-select-list-wrapper.devui-form-control,
.devui-select-selected-item-with-template {
  font-size: $devui-font-size;
}

.devui-select-list-wrapper.devui-form-control {
  cursor: pointer;
}

.devui-form-group > input.devui-form-control.devui-select-input {
  cursor: pointer;
  padding-right: 2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &.devui-select-search {
    padding-right: 2em;
    cursor: text;

    &.devui-search-filter {
      padding-right: 4em;
    }
  }
}

.devui-select-list-wrapper.devui-form-control {
  cursor: pointer;
}

.devui-dropdown-item {
  font-size: $devui-font-size;
  display: block;
  min-height: 36px;
  line-height: 1.5;
  width: 100%;
  padding: 10px 10px;
  clear: both;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 0;

  input[name='search'] {
    font-size: $devui-font-size;
  }

  color: $devui-text;
}

.devui-dropdown-item ::ng-deep .devui-select-checkbox {
  label {
    max-width: calc(100%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.devui-select-lg {
  font-size: $devui-font-size-lg;
  min-height: 46px;
  line-height: 46px;

  .devui-form-control:not(.devui-select-list-wrapper) {
    height: 44px;
  }

  .devui-select-placeholder,
  .devui-select-list-wrapper.devui-form-control,
  .devui-select-selected-item-with-template {
    font-size: $devui-font-size-lg;
  }

  .devui-dropdown-item {
    font-size: $devui-font-size-lg;
    min-height: 40px;
    line-height: 28px;
    padding: 11px 10px;

    input[name='search'] {
      font-size: $devui-font-size-lg;
    }
  }

  ::ng-deep .devui-checkbox,
  ::ng-deep .devui-select-checkbox label,
  ::ng-deep .devui-select-checkbox label .checkbox-label {
    font-size: $devui-font-size-lg;
    height: 18px;
  }

  ::ng-deep .devui-checkbox-material {
    width: 16px;
    height: 16px;
  }
}

.devui-select-sm {
  font-size: $devui-font-size-sm;
  min-height: 26px;
  line-height: 14px;
  height: unset;

  .devui-form-control:not(.devui-select-list-wrapper) {
    height: 24px;
  }

  .devui-select-placeholder,
  .devui-select-list-wrapper.devui-form-control,
  .devui-select-selected-item-with-template {
    font-size: $devui-font-size-sm;
  }

  .devui-dropdown-item {
    font-size: $devui-font-size-sm;
    min-height: 26px;
    line-height: 14px;

    input[name='search'] {
      font-size: $devui-font-size-sm;
    }
  }

  ::ng-deep .devui-select-checkbox label .checkbox-label {
    font-size: $devui-font-size-sm;
    line-height: 16px;
  }

  ::ng-deep .devui-checkbox-material {
    width: 12px;
    height: 12px;

    & > svg {
      width: 12px;
      height: 12px;
    }
  }
}

.devui-dropdown-menu-lg {
  .devui-dropdown-item {
    font-size: $devui-font-size-lg;
    min-height: 40px;
    line-height: 28px;

    input[name='search'] {
      font-size: $devui-font-size-lg;
    }
  }

  ::ng-deep .devui-checkbox,
  ::ng-deep .devui-select-checkbox label .checkbox-label {
    font-size: $devui-font-size-lg;
    line-height: 28px;
  }

  ::ng-deep .devui-checkbox-material {
    width: 16px;
    height: 16px;

    & > svg {
      width: 16px;
      height: 16px;
    }
  }
}

.devui-dropdown-menu-sm {
  .devui-dropdown-item {
    font-size: $devui-font-size-sm;
    min-height: 26px;
    line-height: 14px;

    input[name='search'] {
      font-size: $devui-font-size-sm;
    }
  }

  ::ng-deep .devui-select-checkbox label .checkbox-label {
    font-size: $devui-font-size-sm;
    line-height: 16px;
  }

  ::ng-deep .devui-checkbox-material {
    width: 12px;
    height: 12px;
  }
}

div.devui-dropdown-menu {
  // margin-bottom: 5px;
  cursor: pointer;
  min-width: auto;
  box-shadow: $devui-shadow-length-connected-overlay $devui-shadow;
}

div.devui-dropdown-menu .devui-select-list-unstyled,
div.devui-dropdown-menu > ul.devui-select-list-unstyled {
  overflow-y: auto;

  & li:hover:not(.active):not(.disabled) {
    background-color: $devui-list-item-hover-bg;
    color: $devui-list-item-hover-text;
  }
}

div.devui-dropdown-menu .devui-select-list-unstyled li.selected,
div.devui-dropdown-menu > ul.devui-select-list-unstyled li.selected {
  background-color: $devui-list-item-hover-bg;
  color: $devui-list-item-hover-text;
}

div.devui-dropdown-menu:not(.devui-dropdown-menu-multiple) .devui-select-list-unstyled li.active,
div.devui-dropdown-menu:not(.devui-dropdown-menu-multiple) .devui-select-list-unstyled li.active:hover,
div.devui-dropdown-menu:not(.devui-dropdown-menu-multiple) > ul.devui-select-list-unstyled li.active,
div.devui-dropdown-menu:not(.devui-dropdown-menu-multiple) > ul.devui-select-list-unstyled li.active:hover {
  background-color: $devui-list-item-active-bg;
  color: $devui-list-item-active-text;
}

:host ::ng-deep .devui-dropdown-menu.devui-dropdown-menu-multiple .devui-select-list-unstyled li:not(.disabled):hover,
:host ::ng-deep .devui-dropdown-menu.devui-dropdown-menu-multiple > ul.devui-select-list-unstyled li:not(.disabled):hover {
  .devui-checkbox {
    & > label {
      color: $devui-list-item-hover-text;

      & > .devui-checkbox-material {
        border-color: $devui-form-control-line-active;
      }
    }
  }
}

div.devui-dropdown-menu.devui-dropdown-menu-multiple .devui-select-list-unstyled li.active:not(.disabled),
div.devui-dropdown-menu.devui-dropdown-menu-multiple > ul.devui-list-unstyled li.active:not(.disabled) {
  background-color: transparent;
  color: $devui-text;

  &:hover {
    background-color: $devui-list-item-hover-bg;
    color: $devui-list-item-hover-text;
  }
}

.devui-has-feedback {
  z-index: 1;

  .devui-dropdown-origin-open > & {
    z-index: 1001;
  }

  .devui-form-control-feedback {
    z-index: 1001;
  }
}

.devui-dropdown-menu ul.devui-dropdown-menu-wrap .devui-form-group.devui-has-feedback {
  & > input.devui-form-control.devui-select-search.devui-select-input {
    &,
    &:focus {
      background-color: $devui-embed-search-bg;
    }

    &:hover,
    &:hover:focus {
      background-color: $devui-embed-search-bg-hover;
    }

    &::placeholder {
      color: $devui-line; //TODO: Color-Question
    }
  }
}

.devui-form-control,
.devui-form-group .devui-form-control {
  border-radius: $devui-border-radius;
  box-shadow: none;
}

.devui-form-control.no-radius,
.devui-form-group .devui-form-control.no-radius {
  border-radius: $devui-border-radius $devui-border-radius 0 0;
}

.devui-select-underlined-border {
  border: 0;
  border-bottom: 1px solid $devui-line;
  border-radius: 0;
}

.devui-select-list-wrapper.devui-form-control {
  height: auto;
  margin: 0;
  padding: 0;
  padding-right: 30px;

  + .devui-form-control-feedback {
    height: 100%;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.devui-form-control {
  &.devui-select-input {
    line-height: 14px;
    height: 26px;
    border-color: transparent;
    outline: none;

    + .devui-form-control-feedback {
      height: 100%;
      padding: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.devui-select-input-lg {
    line-height: 32px;
    // height: 44px;
  }

  &.devui-select-input-sm {
    line-height: 12px;
    // height: 24px;
  }
}

.devui-select-list-wrapper {
  .devui-select-selected-item-with-template {
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    cursor: pointer;
  }

  .devui-select-placeholder {
    height: 24px;
    line-height: 24px;
    color: $devui-placeholder;
    padding-left: 10px;
  }

  .devui-select-tag-list {
    height: 24px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
  }

  .devui-select-tag-list.normal {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .devui-select-tag-list.scroll-y {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .devui-select-tag-list.multiple-line {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 1.5;
    max-height: 48px;
  }

  .devui-select-tag-item {
    display: inline-block;
    margin: 1px 1px 0;
    padding: 0 4px;
    min-height: 22px;
    max-height: 22px;
    border-radius: $devui-border-radius;
    color: $devui-text;
    background: $devui-label-bg;
    max-width: 100%;
    position: relative;
    border: 1px solid $devui-label-bg;

    &.disabled {
      background: $devui-disabled-bg;
      border-color: $devui-disabled-bg;
      cursor: not-allowed;
    }
  }

  .devui-select-tag-item span {
    display: inline-block;
    max-width: 100%;
    padding-right: 30px;
  }

  .devui-select-tag-item span:hover {
    color: $devui-brand;
  }

  .devui-select-tag-item.disabled span {
    padding-right: 0;
    color: $devui-disabled-text;
  }

  .devui-select-tag-item .devui-select-tag-remove-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    // line-height: 12px;
    // text-align: center;
    color: $devui-text; // TODO： Color-Question
    width: 12px;
    height: 12px;
    // display: inline-block;
    transition: transform 0.2s ease;
    pointer-events: auto;
    cursor: pointer;
    background-color: $devui-line;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    svg path {
      fill: $devui-light-text; // TODO: Color-Question
    }

    &:hover {
      background-color: $devui-icon-fill-active;
    }
  }

  .over-flow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
  }

  &.devui-select-input-lg {
    line-height: 1.5;

    .devui-select-selected-item-with-template,
    .devui-select-placeholder,
    .devui-select-tag-list {
      height: 42px;

      &.multiple-line {
        max-height: 74px;
        height: unset;
      }
    }

    .devui-select-selected-item-with-template,
    .devui-select-placeholder {
      line-height: 42px;
    }

    .devui-select-tag-item {
      margin: 5px 3px 0;
      padding: 0 5px;
      min-height: 32px;
      max-height: 32px;

      .over-flow-ellipsis {
        height: 30px;
        line-height: 30px;
      }
    }
  }

  &.devui-select-input-sm {
    line-height: 1.5;

    .devui-select-selected-item-with-template,
    .devui-select-placeholder,
    .devui-select-tag-list {
      height: 22px;

      &.multiple-line {
        max-height: 48px;
        height: unset;
      }
    }

    .devui-select-selected-item-with-template,
    .devui-select-placeholder {
      line-height: 22px;
    }

    .devui-select-tag-item {
      margin: 1px 1px 0;
      padding: 0 5px;
      min-height: 20px;
      max-height: 20px;

      .over-flow-ellipsis {
        height: 18px;
        line-height: 18px;
      }
    }
  }
}

.disabled .devui-select-list-wrapper .devui-select-tag-item span {
  padding-right: 0;
}

/* 选项disabled */
.devui-dropdown-item.disabled,
.devui-dropdown-item.disabled:hover,
div.devui-dropdown-menu li.disabled:hover,
div.devui-dropdown-menu .devui-select-list-unstyled li.disabled:hover,
div.devui-dropdown-menu > ul.devui-select-list-unstyled li.disabled:hover {
  cursor: not-allowed;
  color: $devui-disabled-text;
}

div.devui-dropdown-menu .devui-select-list-unstyled li.active.disabled,
div.devui-dropdown-menu > ul.devui-select-list-unstyled li.active.disabled,
div.devui-dropdown-menu .devui-select-list-unstyled li.active.disabled:hover,
div.devui-dropdown-menu > ul.devui-select-list-unstyled li.active.disabled:hover {
  background: $devui-disabled-bg;
}

/* checkbox的label灰化 */
:host ::ng-deep li.disabled .devui-checkbox.disabled label,
:host ::ng-deep .li.disabled .devui-checkbox.disabled label,
li.disabled ::ng-deep .devui-checkbox.disabled label,
li.disabled ::ng-deep .devui-checkbox.disabled label {
  color: $devui-disabled-text;
}

.devui-no-data-tip {
  user-select: none;
  cursor: not-allowed;
  padding: 10px;
  background-color: $devui-disabled-bg;
  color: $devui-disabled-text;
}

.devui-dropdown-origin-wrapper.disabled,
.devui-dropdown-origin-wrapper.disabled:hover {
  cursor: not-allowed;
  background-color: $devui-disabled-bg;
  border-color: $devui-disabled-line;
  color: $devui-disabled-text;

  .devui-select-list-wrapper.devui-form-control,
  .devui-form-control.devui-select-input {
    cursor: not-allowed;
    background-color: $devui-disabled-bg;
    color: $devui-disabled-text;
  }

  .devui-select-list-wrapper.devui-form-control.disabled {
    color: $devui-disabled-text;
  }
}

.devui-dropdown-origin-wrapper,
.devui-dropdown-origin-wrapper:hover {
  &.disabled .devui-select-tag-list .devui-select-tag-item,
  .devui-select-tag-list .devui-select-tag-item.disabled {
    background-color: $devui-disabled-bg;
    border-color: $devui-disabled-line;

    & > span {
      color: $devui-disabled-text;
    }

    & > .devui-select-tag-remove-button {
      background-color: $devui-disabled-line;
    }
  }
}

.devui-select-list-wrapper.devui-form-control.disabled + .devui-form-control-feedback,
.devui-form-control.devui-select-input:disabled + .devui-form-control-feedback {
  cursor: not-allowed;
  background-color: $devui-disabled-bg;

  .devui-select-clear-icon svg path,
  .devui-select-chevron-icon svg polygon {
    fill: $devui-disabled-text;
  }
}

.devui-select-custom-area::before {
  display: block;
  content: '';
  width: calc(100% - 20px);
  margin: 0 10px;
  height: 1px;
  border-top: 1px solid $devui-dividing-line;
}

svg.svg-icon-search path {
  fill: $devui-icon-text;
}

.open .devui-select-chevron-icon {
  transform: rotate(180deg);
}

.devui-select-chevron-icon {
  display: inline-flex;
  vertical-align: middle;
  transition: transform 0.3s;
}

.devui-select-chevron-icon svg polygon {
  fill: $devui-icon-text;
}

.disabled {
  .devui-select-chevron-icon svg polygon {
    fill: $devui-disabled-text;
  }
}

.devui-form-group.devui-has-feedback:hover {
  .devui-form-control-feedback.devui-clear-icon-show {
    .devui-select-chevron-icon {
      display: none;
    }

    .devui-select-clear-icon {
      display: inline-flex;
      vertical-align: middle;
    }
  }
}

.devui-form-control-feedback.devui-search-clear {
  right: 28px;
  cursor: pointer;
  pointer-events: initial;

  svg.svg-icon-clear-sm {
    transform: translateY(0.1em);
  }

  svg.svg-icon-clear path {
    fill: $devui-icon-text;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 15%;
    height: 70%;
    width: 1px;
    border-left: 1px solid $devui-line;
  }

  &.devui-search-clear-lg {
    right: 30px;
    width: 32px;
    height: 44px;
    line-height: 44px;
  }

  &.devui-search-clear-sm {
    right: 26px;
    width: 24px;
    height: 24px;
    line-height: 24px;
  }
}

.devui-select-clear-icon {
  width: 14px;
  height: 14px;
  display: none;
  transition: transform 0.2s ease;
  pointer-events: auto;
  cursor: pointer;

  &::after,
  &::before {
    position: absolute;
    content: '';
    height: 14px;
    width: 2px;
    background-color: $devui-icon-text;
    left: 50%;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.devui-form-control-feedback.devui-search-clear:hover g > g > polygon {
  fill: $devui-icon-fill-active;
}

.devui-select-clear-icon:hover::before,
.devui-select-clear-icon:hover::after {
  background-color: $devui-icon-fill-active;
}

input::-ms-clear {
  display: none;
}

.devui-dropup .devui-dropdown-menu {
  top: auto;
  bottom: 100%;
}

.devui-dropdown {
  height: unset;
}
