h5 {
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.4);
}

.basic-color {
  width: 234px;
}

.advanced-color-panel {
  width: 280px;
  height: 130px;
  user-select: none;
}

.advanced-color-slider {
  width: 30px;
  height: 130px;
  user-select: none;
}