<section>
  <h5>color-cube</h5>
  <d-color-cube></d-color-cube>
  <h5>color-input</h5>
  <d-color-input></d-color-input>
  <h5>basic-color</h5>
  <div class="basic-color">
    <d-basic-color></d-basic-color>
  </div>
  <h5>recent-color</h5>
  <d-recent-color></d-recent-color>
  <h5>advanced-color-panel</h5>
  <div class="advanced-color-panel">
    <d-advanced-color-panel></d-advanced-color-panel>
  </div>
  <h5>advanced-color-slider</h5>
  <div class="advanced-color-slider">
    <d-advanced-color-slider></d-advanced-color-slider>
  </div>
</section>
