<section>
  <h3>默认拖拽</h3>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header">可拖拽项</div>
        <div class="card-block">
          <ul class="list-group">
            <li
              dDraggable
              *ngFor="let item of list1"
              [dragScope]="'default-css'"
              [dragData]="{ item: item, parent: list1 }"
              class="list-group-item over-flow-ellipsis"
            >
              {{ item.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-outline-primary mb-3" dDroppable [dropScope]="'default-css'" (dropEvent)="onDrop($event, list2)">
        <div class="card-header">放置排序区</div>
        <div class="card-block">
          <ul class="list-group d-drop-el" dSortable>
            <li
              dDraggable
              *ngFor="let item of list2"
              [dragScope]="'default-css'"
              [dragHandleClass]="'drag-handle'"
              [dragData]="{ item: item, parent: list2 }"
              class="list-group-item over-flow-ellipsis"
            >
              {{ item.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-outline-primary mb-3" dDroppable [dropScope]="'default-css'" (dropEvent)="onDrop($event, list3)">
        <div class="card-header">放置区（无排序）</div>
        <div class="card-block">
          <ul class="list-group drop-el">
            <li
              dDraggable
              *ngFor="let item of list3"
              [dragScope]="'default-css'"
              [dragHandleClass]="'drag-handle'"
              [dragData]="{ item: item, parent: list3 }"
              class="list-group-item over-flow-ellipsis"
            >
              <div>
                {{ item.name }}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
