<div class="demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 60, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="demo-example" [dAnchor]="'basic-usage'">
    <div class="demo-title">{{ 'components.progress.basicDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.progress.basicDemo.description' | translate }}</div>
    <d-codebox id="components-tabs-default" [sourceData]="basicSource">
      <d-basic demo></d-basic>
    </d-codebox>
  </div>
  <div class="demo-example" [dAnchor]="'circle-usage'">
    <div class="demo-title">{{ 'components.progress.circleDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.progress.basicDemo.description' | translate }}</div>
    <d-codebox id="components-tabs-default" [sourceData]="circleSource">
      <d-circle demo></d-circle>
    </d-codebox>
  </div>
</div>
