<div class="demo-container" dAnchorBox [view]="{ top: 60, bottom: 0 }">
  <d-demo-nav  [navitems]=navitems></d-demo-nav>
  <div class="demo-example">
    <div class="demo-title" [dAnchorLink]="'basic-usage1'">基本用法1</div>
    <div class="demo-text">
      基本的进度和文字配置。
    </div>
    <d-codebox id="components-tabs-default" [sourceData]="basicSource">
      <d-basic demo></d-basic>
    </d-codebox>
  </div>
  <div class="demo-example">
    <div class="demo-title" [dAnchorLink]="'basic-usage2'">基本用法2</div>
    <div class="demo-text">
      基本的进度和文字配置。
    </div>
    <d-codebox id="components-tabs-default" [sourceData]="circleSource">
      <d-circle demo></d-circle>
    </d-codebox>
  </div>
</div>
