<div class="demo-container">
  <div class="demo-example">
    <div class="demo-title">基本用法</div>
    <div class="demo-text"></div>
    <d-codebox id="components-checkbox-basic" [sourceData]="checkboxDemoBasic">
      <d-demo-checkbox-basic demo></d-demo-checkbox-basic>
    </d-codebox>
  </div>
  <div class="demo-example">
    <div class="demo-title">使用CheckBoxGroup</div>
    <div class="demo-text"></div>
    <d-codebox id="components-tabs-group" [sourceData]="checkboxDemoGroup">
      <d-checkbox-group-basic demo></d-checkbox-group-basic>
    </d-codebox>
  </div>
</div>
