<div class="container" #scrollTarget>
  <div
    dAnchorBox
    [scrollTarget]="scrollTarget"
    [view]="{ top: 10 }"
    [defaultAnchor]="'base-info'"
    class="mymain"
    style="position: relative"
  >
    <div class="mysidebar">
      <d-sticky [scrollTarget]="scrollTarget">
        <ul class="step-nav">
          <li [dAnchorLink]="'base-info'" anchorActive="active">Basic Infomation</li>
          <li [dAnchorLink]="'issue-list'" anchorActive="active">Demand List</li>
          <li [dAnchorLink]="'case-list'" anchorActive="active">Case List</li>
          <li [dAnchorLink]="'quality-result'" anchorActive="active">Quality Assessment</li>
        </ul>
      </d-sticky>
    </div>
    <div class="mycontent">
      <div [dAnchor]="'base-info'" class="section-block">
        <h3 class="devui-h3-title">Basic Infomation</h3>
        Show basic infomation here.
      </div>
      <div [dAnchor]="'issue-list'" class="section-block">
        <h3 class="devui-h3-title">Demand List</h3>
        Show demand list here.
      </div>
      <div [dAnchor]="'case-list'" class="section-block">
        <h3 class="devui-h3-title">Case List</h3>
        Show case list here.
      </div>
      <div [dAnchor]="'quality-result'" class="section-block">
        <h3 class="devui-h3-title">Quality Assessment</h3>
        Show quality assessment here.
      </div>
    </div>
  </div>
</div>
