<section>
  <div class="row">
    <div class="col-md-5">
      <d-select [options]="options" [isSearch]="true" [filterKey]="'name'" [(ngModel)]="objectValue" [placeholder]="'Search'"></d-select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <pre>Current Select: {{ objectValue | json }}</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <d-select [options]="options" [valueKey]="'value'" [filterKey]="'name'" [(ngModel)]="numberValue" [placeholder]="'Search'"></d-select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <pre>Current Value: {{ numberValue }}</pre>
    </div>
  </div>
</section>
