<div>
  <div class="demo-container">
    <div class="demo-example">
      <div class="demo-title">基本用法</div>
      <div class="demo-text">
        传入size可定制大小
      </div>
      <d-codebox id="components-input-number-default" [sourceData]="InputNumberDemoBasic">
        <d-input-number-demo-basic demo></d-input-number-demo-basic>
      </d-codebox>
    </div>
    <div class="demo-example">
      <div class="demo-title">禁止输入态</div>
      <div class="demo-text">
        当 disabled 为 true 的时候是禁止用户输入的状态。
      </div>
      <d-codebox id="components-input-number-disabled" [sourceData]="InputNumberDemoDisabled">
        <d-input-number-demo-disabled demo></d-input-number-demo-disabled>
      </d-codebox>
    </div>
  </div>
</div>
