.row {
  overflow: hidden;
}

.col-sm-3 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  min-width: 220px;
  width: 220px;
}

.list-group .list-group-item {
  padding: 0 16px;
}

.drop-row {
  white-space: nowrap;
  overflow-x: auto;
  margin-bottom: 10px;
}

.drop-col {
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  width: 180px;
  padding-bottom: 10px;
}

.show-drop-area ::ng-deep .dropover-scroll-area,
.color-example {
  opacity: 0.1;
}

.show-drop-area ::ng-deep .dropover-scroll-area.active,
.color-example.active {
  background: red;
}

.show-drop-area ::ng-deep .dropover-scroll-area.inactive,
.color-example.inactive {
  background: blue;
}

.drag-border {
  border: #5170ff dashed 1px;
}

.drag-handle {
  cursor: move;

  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.drag-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.drag-hint-border {
  border: #3c763d dashed 2px;
}

.drag-over-border {
  border: #fbbc05 dashed 2px;
}

.card {
  border: 1px solid #cecece;
}

.card .card-header {
  font-size: 18px;

  /* color: #333; */
  padding: 10px;
}

.list-group {
  padding: 10px;
  max-height: 100px;
  overflow-y: auto;
}

.list-group > li {
  height: 30px;
  border: 1px solid #5170ff;
  border: 1px solid var(--brand-1, #5170ff);
  color: #ffffff;
  margin-bottom: 5px;
  line-height: 30px;
  background-color: #5170ff;
  background-color: var(--brand-1, #5170ff);
}
