<div class="btn-group" dDropDown [trigger]="'hover'" (toggleEvent)="onToggle($event)" appendToBody>
  <span dDropDownToggle class="icon icon-setting devui-dropdown-origin"></span>
  <ul dDropDownMenu class="devui-dropdown-menu devui-scrollbar" role="menu">
    <li class="disabled" role="menuitem">
      <a dDropDownMenuItem class="disabled">Item 1</a>
    </li>
    <li role="menuitem"><a dDropDownMenuItem>Item 2</a></li>
    <li role="menuitem"><a dDropDownMenuItem>Item 3</a></li>
  </ul>
</div>
