.btn-group > span {
  font-size: 20px;
  color: #666666;
  cursor: pointer;
  background-color: transparent;
}

.devui-dropdown-menu {
  overflow-y: auto;
}

.btn-group {
  display: inline-block;
  height: 20px;
}

.icon-setup::before {
  height: 20px;
  display: block;
}
