@import '../style/theme/color';

:host-context(.devui-tooltip) {
  position: absolute;
  z-index: 1070;
  display: block;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  line-break: auto;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  font-size: 12px;
  opacity: 1;

  & .devui-tooltip-arrow {
    display: block;
  }

  &.top {
    margin-top: -5px;
    padding: 0;
    box-shadow: -5px 5px 20px 0 rgba($dark-1, 0.2);

    & .devui-tooltip-arrow {
      bottom: -5px;
      left: 50%;
      margin-left: -5px;
      border-width: 5px 5px 0;
      border-top-color: $hwc-feedback-overlay-background;
    }
  }

  &.bottom {
    margin-top: 5px;
    padding: 0;
    box-shadow: 5px -5px 20px 0 rgba($dark-1, 0.2);

    & .devui-tooltip-arrow {
      top: -5px;
      left: 50%;
      margin-left: -5px;
      border-width: 0 5px 5px;
      border-bottom-color: $hwc-feedback-overlay-background;
    }
  }

  &.left {
    margin-left: -5px;
    padding: 0;
    box-shadow: 5px -5px 20px 0 rgba($dark-1, 0.2);

    & .devui-tooltip-arrow {
      top: 50%;
      right: -5px;
      margin-top: -5px;
      border-width: 5px 0 5px 5px;
      border-left-color: $hwc-feedback-overlay-background;
    }
  }

  &.right {
    margin-left: 5px;
    padding: 0;
    box-shadow: -5px 5px 20px 0 rgba($dark-1, 0.2);

    & .devui-tooltip-arrow {
      top: 50%;
      left: -5px;
      margin-top: -5px;
      border-width: 5px 5px 5px 0;
      border-right-color: $hwc-feedback-overlay-background;
    }
  }

  .devui-tooltip-inner {
    max-width: 200px;
    padding: 5px 10px;
    font-size: 12px;
    color: $hwc-feedback-overlay-font-color;
    letter-spacing: 0;
    line-height: 1.5;
    background: $hwc-feedback-overlay-background;
    box-shadow: none;
    overflow-wrap: break-word;
    word-break: normal;
    word-wrap: break-word;
    text-align: start;
    border-radius: 4px;
  }

  .devui-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
}
