@import '../style/theme/color';
@import '../style/theme/variables';
@import '../style/mixins/index';

:host-context(.tooltip) {
  position: absolute;
  z-index: 1070;
  display: block;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  line-break: auto;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  font-size: 12px;
  opacity: 1;
  & .tooltip-arrow {
    display: block;
  }

  &.top {
      margin-top: -5px;
      padding: 0;
      box-shadow: -5px 5px 20px 0px rgba($dark1, .2);
      & .tooltip-arrow {
        bottom: -5px;
        left: 50%;
        margin-left: -5px;
        border-width: 5px 5px 0;
        border-top-color: $white;
    }
  }

  &.bottom {
      margin-top: 5px;
      padding: 0;
      box-shadow: 5px -5px 20px 0px rgba($dark1, .2);
      & .tooltip-arrow {
        top: -5px;
        left: 50%;
        margin-left: -5px;
        border-width: 0 5px 5px;
        border-bottom-color: $white;
    }
  }

  &.left {
      margin-left: -5px;
      padding: 0;
      box-shadow: 5px -5px 20px 0px rgba($dark1, .2);
      & .tooltip-arrow {
        top: 50%;
        right: -5px;
        margin-top: -5px;
        border-width: 5px 0 5px 5px;
        border-left-color: $white;
    }
  }

  &.right {
      margin-left: 5px;
      padding: 0;
      box-shadow: -5px 5px 20px 0px rgba($dark1, .2);
      & .tooltip-arrow {
        top: 50%;
        left: -5px;
        margin-top: -5px;
        border-width: 5px 5px 5px 0;
        border-right-color: $white;
    }
  }
}

.tooltip-inner {
    padding: 5px 10px;
    font-size: 14px;
    color: #293040;
    letter-spacing: 0;
    line-height: 20px;
    word-wrap: break-word;
    background: $white;
    box-shadow: none;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
