$len: 170px;
$time: 1800ms;

.col-md-5 {
  width: 50%;
}

.devui-infinity-loading {
  svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

#infinity-outline {
  stroke-dasharray: $len * 0.01, $len;
  stroke-dashoffset: 0;
  animation: anim $time linear infinite;
  opacity: 1;
}

#infinity-bg {
  stroke: #3b5885;
}

@keyframes anim {
  0% {
    stroke-dasharray: $len * 0, $len;
    stroke-dashoffset: -$len * 0;
  }

  55% {
    stroke-dasharray: $len * 0.24, $len;
    stroke-dashoffset: -$len * 0.36;
  }

  100% {
    stroke-dasharray: -$len * 0.93, $len;
    stroke-dashoffset: -$len * 0.93;
  }
}
