@import '~ng-devui/styles-var/devui-var.scss';

.col-md-6 {
  float: left;
  margin-right: 10px;
}

.devui-input-group-addon {
  vertical-align: middle;
}

.devui-input-group {
  width: 200px;
}

.devui-input-group-addon:hover {
  color: $devui-brand-active;
}

.close-icon-wrapper {
  padding: 0;
}

.icon-close {
  border-right: 1px solid $devui-dividing-line;
  padding-right: 10px;
  cursor: pointer;
}
