<section>
  <div class="input-group" style="margin-bottom: 10px; width: 200px">
    <d-select [size]="'sm'" [(ngModel)]="dateFormat" [options]="dateFormatOptions"></d-select>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="devui-input-group devui-dropdown-origin">
        <input
          class="devui-input devui-form-control"
          [placeholder]="dateFormat"
          name="dp"
          [(ngModel)]="selectedDate3"
          [dateFormat]="dateFormat"
          [showTime]="true"
          autocomplete="off"
          dDatepicker
          #datePicker2="datepicker"
          direction="up"
          placement="top-left"
          [minDate]="'2010-12-30'"
          [maxDate]="'2018-02-27'"
          (click)="datePicker2.toggle()"
        />
        <div *ngIf="selectedDate3" class="devui-input-group-addon close-icon-wrapper" (click)="datePicker2.clearAll()">
          <i class="icon icon-close"></i>
        </div>
        <div class="devui-input-group-addon" (click)="datePicker2.toggle()">
          <i class="icon icon-calendar"></i>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <d-button bsStyle="primary" (click)="datePicker2.clearAll()">reset</d-button>
    </div>
  </div>
</section>
