@import '../style/theme/color';
@import '../style/theme/variables';
@import '../style/mixins/index';

:host.devui-popover {
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  border: none;
  border-radius: 2px;
  z-index: 1060;
  background-color: $hwc-feedback-overlay-background;
  color: $hwc-feedback-overlay-font-color;
  overflow-wrap: break-word;

  > .arrow {
    border-width: 8px;

    &,
    &::after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }

    &::after {
      content: '';
    }
  }

  &.top > .arrow {
    left: 50%;
    margin-left: -7px;
    border-bottom-width: 0;
    border-top-color: $hwc-feedback-overlay-background;
    bottom: -8px;
  }

  &.right > .arrow {
    top: 50%;
    left: -8px;
    margin-top: -8px;
    border-left-width: 0;
    border-right-color: $hwc-feedback-overlay-background;
  }

  &.bottom > .arrow {
    left: 50%;
    margin-left: -7px;
    border-top-width: 0;
    border-bottom-color: $hwc-feedback-overlay-background;
    top: -8px;
  }

  &.left > .arrow {
    top: 50%;
    right: -8px;
    margin-top: -8px;
    border-right-width: 0;
    border-left-color: $hwc-feedback-overlay-background;
  }

  &.top {
    margin-top: -10px;
    box-shadow: -5px 5px 20px 0 $dark-1-boxshadow;
  }

  &.bottom {
    margin-top: 10px;
    box-shadow: 5px -5px 20px 0 $dark-1-boxshadow;
  }

  &.left {
    margin-left: -10px;
    box-shadow: 5px -5px 20px 0 $dark-1-boxshadow;
  }

  &.right {
    margin-left: 10px;
    box-shadow: -5px 5px 20px 0 $dark-1-boxshadow;
  }
}

.devui-popover-content {
  padding: 5px 14px;
}

.devui-popover-icon {
  display: block;
  position: absolute;
  left: 12px;
  top: 8px;

  svg.devui-icon {
    width: 16px;
    height: 16px;
  }
}

.devui-popover-main-content.with-icon {
  text-indent: 20px;
}

.devui-icon.devui-icon-success > g {
  & > path {
    fill: $status-green;
  }

  & > circle,
  & > polygon {
    fill: $font-white;
  }
}

.devui-icon.devui-icon-warning > g {
  & > polygon {
    fill: $font-white;
  }

  & > path {
    fill: $status-yellow;
  }
}

.devui-icon.devui-icon-info > g {
  & > g {
    fill: $status-blue;
  }

  & > circle {
    fill: $font-white;
  }
}

.devui-icon.devui-icon-error > g {
  & > path {
    fill: $status-red;
  }

  & > circle {
    fill: $font-white;
  }
}

.devui-popover-content {
  padding: 5px 14px;
}
