@import '~ng-devui/styles-var/devui-var.scss';

.breadcrumb-dropdown-menu {
  padding: 8px 0;
  width: 160px;

  li {
    padding: 0 16px;
    font-size: $devui-font-size;
    line-height: 36px;
    cursor: pointer;
  }

  li a {
    color: $devui-text;
    margin-left: 8px;
  }

  li:hover {
    background: $devui-list-item-hover-bg;
  }

  li:hover a {
    text-decoration: none;
  }
}

.icon-chevron-down-2 {
  font-size: 12px;
  margin-left: 4px;
}
