@import '~ng-devui/styles-var/devui-var.scss';

.breadcrumb-dropdown-menu {
  padding: 10px 0;
  width: 160px;
}

li {
  padding: 0 15px;
  font-size: $devui-font-size;
  line-height: 36px;
  cursor: pointer;
}

li a {
  color: $devui-text;
  margin-left: 10px;
}

li:hover {
  background: $devui-list-item-hover-bg;
}

li:hover a {
  text-decoration: none;
}
