@import '~ng-devui/styles-var/devui-var.scss';

.devui-backtop-custom {
  text-align: center;
  border-radius: 50%;
  background-color: $devui-brand;
  width: 40px;
  height: 40px;

  .icon-chevron-up {
    font-size: 16px;
    color: $devui-light-text;
    line-height: 40px;
  }
}
