@import '../../../../../style/theme/color';
@import '../../../../../style/theme/corner';
@import '../../../../../style/core/_font';

:host {
  text-align: right;
  margin-left: 8px;

  &.devui-icon-show {
    display: block;
  }
}

.data-table-column-filter-content {
  background: $devui-connected-overlay-bg;
  border-radius: $devui-border-radius-card;

  .drop-down-item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .line {
    width: calc(100% - 20px);
    margin-left: 10px;
  }

  & > .filter-options > d-checkbox {
    height: 30px;
    padding: 0 10px;
  }

  .checkbox-group {
    padding: 0 10px;
  }
}

.devui-dropdown-menu {
  border-radius: $devui-border-radius-card;
}

.filter-content-hidden {
  display: none !important;
}

.line {
  height: 1px;
  background: $devui-dividing-line;
  margin-top: 4px;
  margin-bottom: 4px;
}

.filter-operation {
  text-align: center;
  padding-bottom: 8px;
  padding-top: 4px;

  .reset-btn {
    margin-right: 8px;
  }
}

.checkbox-group {
  height: 30px;
}

::ng-deep .filter-options .normal-filter-list-container .cdk-virtual-scroll-content-wrapper {
  width: 100%;

  .no-data-container {
    padding: 0 10px;
    line-height: 30px;
  }
}

.filter-options ::ng-deep .devui-checkbox > label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.normal-filter-list-container {
  overflow-y: auto;
}

.filter-search-container {
  padding-top: 10px;
  text-align: center;
}

.filter-options {
  padding: 4px 8px;
}

.icon-filter-style {
  color: $devui-dividing-line;
  cursor: pointer;
  margin-left: 20px;
}

.label-style {
  font-size: $devui-font-size;
  color: $devui-text;
  letter-spacing: 0;
  margin-left: 10px;
}

.email-style {
  font-size: $devui-font-size;
  color: $devui-placeholder;// TODO: Color-Question
  letter-spacing: 0;
  margin-left: 10px;
}

.overlay-mask {
  position: fixed;
  top: 0;
  bottom: 0 !important;
  right: 0;
  left: 0;
  z-index: 9;
}

.drop-down-item {
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;

  &:hover {
    background: $devui-list-item-hover-bg;
    color: $devui-list-item-hover-text;
  }
}

.filter-item-active {
  background: $devui-list-item-active-bg;
  color: $devui-list-item-active-text;
}

.edit-padding-fix {
  margin-top: -6px;
  margin-bottom: -6px;
}

.filter-icon {
  display: inline-block;
  vertical-align: -3px;
  visibility: hidden;
  cursor: pointer;
  height: 16px;
  margin-top: -1px; // 解决漏斗形状视觉效果不局中

  > svg g {
    fill: $devui-shape-icon-fill;
  }

  &:hover {
    > svg g {
      fill: $devui-shape-icon-fill-active;
    }
  }

  &-visiable {
    visibility: visible;
  }
}

.filter-icon-active {
  visibility: visible !important;

  > svg g {
    fill: $devui-brand;
  }

  &:hover {
    > svg g {
      fill: $devui-brand;
    }
  }
}
