<div class="devui-demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 180, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="devui-demo-example" [dAnchor]="'basic-usage'">
    <div class="devui-demo-title">{{ 'components.tabs.basicDemo.title' | translate }}</div>
    <div class="devui-demo-text"></div>
    <d-codebox id="components-tabs-default" [sourceData]="basicSource">
      <d-basic demo></d-basic>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'type-pills'">
    <div class="devui-demo-title">{{ 'components.tabs.typePillsDemo.title' | translate }}</div>
    <d-codebox id="components-tabs-type-pills" [sourceData]="typePillsSource">
      <d-type-pills demo></d-type-pills>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'type-options'">
    <div class="devui-demo-title">{{ 'components.tabs.typeOptionsDemo.title' | translate }}</div>
    <d-codebox id="components-tabs-type-options" [sourceData]="typeOptionsSource">
      <d-type-options demo></d-type-options>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'type-slider'">
    <div class="devui-demo-title">{{ 'components.tabs.typeSliderDemo.title' | translate }}</div>
    <d-codebox id="components-tabs-type-slider" [sourceData]="typeSliderSource">
      <d-type-slider demo></d-type-slider>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'type-wrapped'">
    <div class="devui-demo-title">{{ 'components.tabs.typeWrappedDemo.title' | translate }}</div>
    <d-codebox id="components-tabs-type-wrapped" [sourceData]="typeWrappedSource">
      <d-type-wrapped demo></d-type-wrapped>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'size'">
    <div class="devui-demo-title">{{ 'components.tabs.sizeDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.tabs.sizeDemo.description' | translate }}</div>
    <d-codebox id="components-tabs-size" [sourceData]="sizeSource">
      <d-size demo></d-size>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'no-set-content'">
    <div class="devui-demo-title">{{ 'components.tabs.withoutContentDemo.title' | translate }}</div>
    <div class="devui-demo-text"></div>
    <d-codebox id="components-tabs-without-content" [sourceData]="withoutContentSource">
      <d-without-content demo></d-without-content>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'custom-template'">
    <div class="devui-demo-title">{{ 'components.tabs.customDemo.title' | translate }}</div>
    <d-codebox id="components-tabs-custom" [sourceData]="customSource">
      <d-custom demo></d-custom>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'intercept-tab-switch'">
    <div class="devui-demo-title">{{ 'components.tabs.beforeChangeDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.tabs.beforeChangeDemo.description' | translate }}</div>
    <d-codebox id="components-tabs-before-change" [sourceData]="beforeChangeSource">
      <d-before-change demo></d-before-change>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'add-delete'">
    <div class="devui-demo-title">{{ 'components.tabs.addDeleteDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.tabs.addDeleteDemo.description' | translate }}</div>
    <d-codebox id="components-tabs-add-delete" [sourceData]="AddDeleteSource">
      <d-add-delete demo></d-add-delete>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'big-data'">
    <div class="devui-demo-title">{{ 'components.tabs.bigDataDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.tabs.bigDataDemo.description' | translate }}</div>
    <d-codebox id="components-tabs-big-data" [sourceData]="BigDataSource">
      <d-big-data demo></d-big-data>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'custom-tabs-display-and-arrangement'">
    <div class="devui-demo-title">{{ 'components.tabs.configurableTabsDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.tabs.configurableTabsDemo.description' | translate }}</div>
    <d-codebox id="components-tabs-configurable" [sourceData]="ConfigurableSource">
      <d-configurable demo></d-configurable>
    </d-codebox>
  </div>
</div>
