@import '../../../style/theme/color';
.setRole {
  display: inline-block;
  position: relative;
  cursor: pointer;
  top: 2px;
  width: 24px;
  height: 24px;
  margin-left: -6px;
}

.filter_box {
  width: 110px;
  background: $bg-white;
  font-size: 12px;
  font-style: normal;
  max-height: 400px;
  right: 0px;
  top: 42px;
  overflow-y: auto;
  padding: 5px;
  border: 1px solid $gray-1;
  position: absolute;
  z-index: 999;
}

.filter_ul {
  padding: 2px;
  max-height: 500px;
}
