<div class="demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 60, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="demo-example" [dAnchor]="'back-top-basic'">
    <div class="demo-title">{{ 'components.back-top.basicDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.back-top.basicDemo.description' | translate }}</div>
    <d-codebox id="components-button-primary" [sourceData]="basicSource">
      <d-back-top-basic demo></d-back-top-basic>
    </d-codebox>
  </div>
  <div class="demo-example" [dAnchor]="'back-top-customize'">
    <div class="demo-title">{{ 'components.back-top.customizeDemo.title' | translate }}</div>
    <div class="demo-text"></div>
    <d-codebox id="components-button-primary" [sourceData]="customizeSource">
      <d-back-top-customize demo></d-back-top-customize>
    </d-codebox>
  </div>
  <div class="demo-example" [dAnchor]="'back-top-scroll-container'">
    <div class="demo-title">{{ 'components.back-top.scrollDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.back-top.scrollDemo.description' | translate }}</div>
    <d-codebox id="components-button-primary" [sourceData]="scrollContainerSource">
      <d-back-top-scroll-container demo></d-back-top-scroll-container>
    </d-codebox>
  </div>
</div>
