@import '~ng-devui/styles-var/devui-var.scss';

h5 {
  margin-top: 24px;
}

.slider-wrapper {
  position: relative;

  span {
    position: absolute;
    top: 15px;

    &:last-child {
      right: 10%;
    }
  }
}

.snapshot-value {
  display: inline-block;
  margin-left: 20px;
}

.slider {
  width: 90%;
}

.composite-slider {
  display: flex;
  align-items: center;
}
