<section>
  <h4>Operable Tree</h4>
  <d-operable-tree
    #operableTree1
    [tree]="data3"
    [treeNodeIdKey]="'id'"
    [treeNodeChildrenKey]="'children'"
    [checkboxDisabledKey]="'disabled'"
    [toggleDisabledKey]="'disableToggle'"
    [selectDisabledKey]="'disableSelect'"
    (nodeDeleted)="onOperableNodeDeleted($event)"
    (nodeSelected)="onOperableNodeSelected($event)"
    (nodeDblClicked)="onOperableNodeDblClicked($event)"
    (nodeRightClicked)="onOperableNodeRightClicked($event)"
    (nodeToggled)="onOperableNodeToggled($event)"
    (nodeChecked)="onOperableNodeChecked($event)"
    (currentNodeChecked)="currentNodeChecked($event)"
  >
  </d-operable-tree>
  <pre>All Checked Notes:{{ checkNote | json }}</pre>
</section>
