@import '~ng-devui/styles-var/devui-var.scss';

.readtip-container {
  padding: 12px;
  background-color: $devui-area;
}

.readtip-target {
  color: $devui-aide-text-stress;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
