<div class="demo-container" dAnchorBox [view]="{ top: 60, bottom: 0 }">
  <div class="nav-main">
    <d-sticky [view]="{ top: 60, bottom: 0 }" [zIndex]="2000" [container]="demoDocViewerMain">
      <div>
        <h3 style="padding-bottom: 20px; border-bottom: 1px #cacfd8 solid;">快速前往</h3>
        <ul class="step-nav">
          <li [dAnchorLink]="'basic-usage'" anchorActive="active">基本用法</li>
          <li [dAnchorLink]="'multiple-types'" anchorActive="active">多种类型</li>
        </ul>
      </div>
    </d-sticky>
  </div>
  <div class="demo-example">
    <div class="demo-title" [dAnchor]="'basic-usage'">基本用法</div>
    <div class="demo-text"></div>
    <d-codebox id="components-panel-default" [sourceData]="basicSource">
      <d-basic demo></d-basic>
    </d-codebox>
  </div>
  <div class="demo-example">
    <div class="demo-title" [dAnchor]="'multiple-types'">多种类型</div>
    <div class="demo-text">
      'default'|'primary'| 'success' | 'danger' | 'warning' | 'info';
    </div>
    <d-codebox id="components-panel-default" [sourceData]="typeSource">
      <d-type demo></d-type>
    </d-codebox>
  </div>
</div>
