<div class="demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 60, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="demo-example" [dAnchor]="'basic-usage'">
    <div class="demo-title">{{ 'components.panel.basicDemo.title' | translate }}</div>
    <div class="demo-text"></div>
    <d-codebox id="components-panel-basic" [sourceData]="basicSource">
      <d-basic demo></d-basic>
    </d-codebox>
  </div>
  <div class="demo-example" [dAnchor]="'multiple-types'">
    <div class="demo-title">{{ 'components.panel.typeDemo.title' | translate }}</div>
    <div class="demo-text">'{{ 'components.panel.typeDemo.description' | translate }}</div>
    <d-codebox id="components-panel-multiple-types" [sourceData]="typeSource">
      <d-type demo></d-type>
    </d-codebox>
  </div>
  <div class="demo-example" [dAnchor]="'condition-change'">
    <div class="demo-title">{{ 'components.panel.conditionChangeDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.panel.conditionChangeDemo.description' | translate }}</div>
    <d-codebox id="components-panel-condition-change" [sourceData]="conditionChangeSource">
      <d-condition-change demo></d-condition-change>
    </d-codebox>
  </div>
</div>
