<div class="demo-container">
  <div class="demo-example">
    <div class="demo-title">基本用法</div>
    <div class="demo-text">

    </div>
    <ave-codebox id="components-tabs-default" [sourceData]="basicSource">
      <ave-basic demo></ave-basic>
    </ave-codebox>
  </div>

  <div class="demo-example">
    <div class="demo-title">多种类型</div>
    <div class="demo-text">
      'default'|'primary'| 'success' | 'danger' | 'warning' | 'info';
    </div>
    <ave-codebox id="components-tabs-default" [sourceData]="typeSource">
      <ave-type demo></ave-type>
    </ave-codebox>
  </div>
</div>
