@import '../../../style/theme/color';

.select-options {
  cursor: pointer;
  vertical-align: middle;
}

svg > g > polygon {
  fill: $devui-icon-text;
}

.close-icon {
  cursor: pointer;
  vertical-align: text-bottom;
  margin-left: 12px;
}

.active {
  background-color: $devui-list-item-active-bg;
}
