<div class="demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 60, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="demo-example" [dAnchor]="'basic-rules'">
    <div class="demo-title">{{ 'components.avatar.basicDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.avatar.basicDemo.description' | translate }}</div>
    <d-codebox id="components-avatar-basic" [sourceData]="basicSource">
      <d-basic demo></d-basic>
    </d-codebox>
  </div>
  <div class="demo-example" [dAnchor]="'basic-configuration'">
    <div class="demo-title">{{ 'components.avatar.configDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.avatar.configDemo.description' | translate }}</div>
    <d-codebox id="components-avatar-config" [sourceData]="configSource">
      <d-config demo></d-config>
    </d-codebox>
  </div>
  <div class="demo-example" [dAnchor]="'special-display'">
    <div class="demo-title">{{ 'components.avatar.specialDemo.title' | translate }}</div>
    <div class="demo-text">{{ 'components.avatar.specialDemo.description' | translate }}</div>
    <d-codebox id="components-avatar-special" [sourceData]="specialSource">
      <d-special demo></d-special>
    </d-codebox>
  </div>
</div>
