<div class="demo-container" dAnchorBox [view]="{ top: 60, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="demo-example" [dAnchor]="'basic-rules'">
    <div class="demo-title">头像显示的基本规则</div>
    <div class="demo-text">
      头像组件传入'name'属性时，会根据一定的规则显示头像的字段，具体规则如下：
    </div>
    <d-codebox id="components-avatar-basic" [sourceData]="basicSource">
      <d-basic demo></d-basic>
    </d-codebox>
  </div>
  <div class="demo-example" [dAnchor]="'basic-configuration'">
    <div class="demo-title">头像的基础配置</div>
    <div class="demo-text">
      头像组件可设置宽度，高度，是否为圆形头像，同时可自定义头像的显示字段，传入自定义图片等
    </div>
    <d-codebox id="components-avatar-config" [sourceData]="configSource">
      <d-config demo></d-config>
    </d-codebox>
  </div>
  <div class="demo-example" [dAnchor]="'special-display'">
    <div class="demo-title">头像的特殊显示</div>
    <div class="demo-text">
      头像组件会对一些特殊情况进行处理，具体如下：
    </div>
    <d-codebox id="components-avatar-special" [sourceData]="specialSource">
      <d-special demo></d-special>
    </d-codebox>
  </div>
</div>
