.title {
  display: flex;
  height: 40px;
  line-height: 40px;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  margin-left: 20px;
}

.line {
  height: 1px;
  background: #e3e5e9;
  margin-bottom: 10px;
}
