@import '~ng-devui/styles-var/devui-var.scss';

.title {
  display: flex;
  height: 40px;
  line-height: 40px;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  padding-left: 20px;
  background: $devui-area;
  font-weight: 600;
}
