<h4 class="devui-h3-title">Default</h4>
<d-operable-tree
  [tree]="data"
  [draggable]="true"
  [beforeNodeDrop]="beforeNodeDrop"
  (nodeDragStart)="dragStart($event)"
  (nodeOnDrop)="onDrop($event)"
  (nodeToggled)="showNode($event)"
>
</d-operable-tree>
<h4 class="devui-h3-title">Sortable</h4>
<d-operable-tree
  [tree]="data"
  [draggable]="true"
  [canActivateMultipleNode]="true"
  [dropType]="dropType"
  [beforeNodeDrop]="beforeNodeDrop"
  (nodeDragStart)="dragStart($event)"
  (nodeOnDrop)="onDrop($event)"
  (nodeToggled)="showNode($event)"
>
</d-operable-tree>

<div class="drop-area" (dragover)="dragOver($event)" (drop)="drop($event)">
  <div class="drop-item" *ngFor="let item of dropItems">
    <span>{{ item }}</span>
  </div>
</div>
