<div class="devui-demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 180, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="devui-demo-example" [dAnchor]="'basic-usage'">
    <div class="devui-demo-title">{{ 'components.quadrant-diagram.basicDemo.title' | translate }}</div>
    <d-codebox id="components-quadrant-diagram-basic" [sourceData]="basicSource">
      <d-basic demo></d-basic>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'custom-quadrant'">
    <div class="devui-demo-title">{{ 'components.quadrant-diagram.customizeDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.quadrant-diagram.customizeDemo.description' | translate }}</div>
    <d-codebox id="components-quadrant-diagram-basic" [sourceData]="configSource">
      <d-config demo></d-config>
    </d-codebox>
  </div>
</div>
