<div class="devui-demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 180, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="devui-demo-example" [dAnchor]="'immersive-full-screen'">
    <div class="devui-demo-title">{{ 'components.fullscreen.immersiveDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.fullscreen.immersiveDemo.description' | translate }}</div>
    <d-codebox id="fullscreen-demo-immersive" [sourceData]="FullscreenDemoImmersive">
      <d-fullscreen-demo-immersive demo></d-fullscreen-demo-immersive>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'general-full-screen'">
    <div class="devui-demo-title">{{ 'components.fullscreen.normalDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.fullscreen.normalDemo.description' | translate }}</div>
    <d-codebox id="fullscreen-demo-normal" [sourceData]="FullscreenDemoNormal">
      <d-fullscreen-demo-normal demo></d-fullscreen-demo-normal>
    </d-codebox>
  </div>
  
</div>
