<div
  class="input-control-buttons"
  [ngClass]="{
    disabled: disabled,
    'devui-input-number-lg': size === 'lg',
    'devui-input-number-sm': size === 'sm'
  }"
>
  <span class="input-control-button input-control-inc" [ngClass]="{ disabled: disabledInc }" #incButton>
    <svg
      class="devui-svg-icon-arrow"
      width="10px"
      height="10px"
      viewBox="0 0 10 10"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polygon points="1 2.5 9 2.5 5 7.5"></polygon>
      </g>
    </svg>
  </span>
  <span class="input-control-button input-control-dec" [ngClass]="{ disabled: disabledDec }" #decButton>
    <svg
      class="devui-svg-icon-arrow"
      width="10px"
      height="10px"
      viewBox="0 0 10 10"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polygon points="1 2.5 9 2.5 5 7.5"></polygon>
      </g>
    </svg>
  </span>
</div>
<div
  class="input-container"
  [ngClass]="{
    'devui-input-number-lg': size === 'lg',
    'devui-input-number-sm': size === 'sm'
  }"
>
  <input
    class="input-box devui-input"
    [ngClass]="{ disabled: disabled }"
    [placeholder]="placeholder"
    [attr.readonly]="disabled ? '' : null"
    (keydown)="handleKeyDown($event)"
    (input)="protectInput($event)"
    (blur)="ensureValueIsValid($event)"
    (paste)="protectInput($event)"
    #inputElement
  />
</div>
