<div>
  <d-toggle [checked]="true" [size]="'lg'" [color]="'#FECC55'"></d-toggle>
</div>
<div>
  <d-toggle [checkedContent]="'开'" [uncheckedContent]="'关'"></d-toggle>
</div>
<div>
  <d-toggle [color]="'#029931'" [checkedContent]="iconCheckedContent" [uncheckedContent]="iconUncheckedContent"></d-toggle>
  <ng-template #iconCheckedContent>
    <div class="toggle-inner">
      <i class="icon-right"></i>
    </div>
  </ng-template>
  <ng-template #iconUncheckedContent>
    <div class="toggle-inner">
      <i class="icon-error"></i>
    </div>
  </ng-template>
</div>
