<div class="devui-demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 180, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="devui-demo-example" [dAnchor]="'basic-usage'">
    <div class="devui-demo-title">{{ 'components.upload.basicDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.upload.basicDemo.description' | translate }}</div>
    <d-codebox id="basic" [sourceData]="basicSource">
      <d-basic demo></d-basic>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'multi-files'">
    <div class="devui-demo-title">{{ 'components.upload.multiDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.upload.multiDemo.description' | translate }}</div>
    <d-codebox id="multi" [sourceData]="multiSource">
      <d-multi demo></d-multi>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'auto-upload'">
    <div class="devui-demo-title">{{ 'components.upload.autoDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.upload.autoDemo.description' | translate }}</div>
    <d-codebox id="customize" [sourceData]="autoSource">
      <d-auto demo></d-auto>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'custom'">
    <div class="devui-demo-title">{{ 'components.upload.customizeDemo.title' | translate }}</div>
    <div class="devui-demo-text">
      {{ 'components.upload.customizeDemo.description' | translate }}
    </div>
    <d-codebox id="customize" [sourceData]="customizeSource">
      <d-customize demo></d-customize>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'dynamic-upload-options'">
    <div class="devui-demo-title">{{ 'components.upload.dynamicDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.upload.dynamicDemo.description' | translate }}</div>
    <d-codebox id="dynamicUploadOptions" [sourceData]="dynamicUploadOptionsSource">
      <d-dynamic-upload-options demo></d-dynamic-upload-options>
    </d-codebox>
  </div>
  <div class="devui-demo-example" [dAnchor]="'customize-area-upload'">
    <div class="devui-demo-title">{{ 'components.upload.areaDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.upload.areaDemo.description' | translate }}</div>
    <d-codebox id="customizeAreaUpload" [sourceData]="customizeAreaUploadSource">
      <d-customize-area-upload demo></d-customize-area-upload>
    </d-codebox>
  </div>
</div>
