@import '~ng-devui/styles-var/devui-var.scss';

d-badge {
  margin-right: 20px;
}

.demo-card {
  width: 90px;
  height: 42px;
  line-height: 42px;
  border-radius: $devui-border-radius-card;
  background: $devui-global-bg;
  font-size: $devui-font-size-card-title;
  text-align: center;
  display: inline-block;
}
