@import '~ng-devui/styles-var/devui-var.scss';

.badge-group {
  margin-top: 20px;

  d-badge {
    margin-right: 20px;
  }
}

.demo {
  vertical-align: middle;
  font-size: $devui-font-size-page-title;

  &-card {
    width: 90px;
    height: 42px;
    line-height: 42px;
    border-radius: $devui-border-radius-card;
    background: $devui-global-bg;
    font-size: $devui-font-size-card-title;
    text-align: center;
    display: inline-block;
  }
}
