<section>
  <div class="badge-group">
    <d-badge count="6" status="success">
      <div class="demo-card">未读消息</div>
    </d-badge>
    <d-badge count="14" status="waiting">
      <div class="demo-card">未读消息</div>
    </d-badge>
    <d-badge count="6" status="danger">
      <div class="demo-card">未读消息</div>
    </d-badge>
    <d-badge count="14" status="warning">
      <div class="demo-card">未读消息</div>
    </d-badge>
    <h5>标准徽章，通过count参数设置徽章展示的数目，通过status参数可设置徽章状态色</h5>
  </div>

  <div class="badge-group">
    <d-badge count="114">
      <div class="demo-card">未读消息</div>
    </d-badge>
    <d-badge count="114" maxCount="10">
      <div class="demo-card">未读消息</div>
    </d-badge>
    <h5>可通过maxCount参数设置徽章展示的数目最大值，默认为99</h5>
  </div>

  <div class="badge-group">
    <d-badge count="8" bgColor="#678">
      <i class="demo icon icon-helping"></i>
    </d-badge>

    <d-badge count="8" [offsetXY]="[0, 0]">
      <i class="demo icon icon-comment"></i>
    </d-badge>
    <h5>通过bgColor参数设置徽章展示状态色，通过offsetXY参数可设置徽章偏移量</h5>
  </div>

  <div class="badge-group">
    <d-badge count="8" badgePos="top-left">
      <i class="demo icon icon-infomation"></i>
    </d-badge>

    <d-badge count="8" badgePos="top-right">
      <i class="demo icon icon-desk-notice"></i>
    </d-badge>
    <h5>通过badgePos参数设置徽章位置</h5>
  </div>
</section>
