@import '../style/theme/color';
@import '../style/theme/variables';
@import '../style/mixins/index';

.devui-panel {
  box-shadow: 0 1px 6px 0 rgba($dark1, .12), 0 1px 6px 0 rgba($dark1, .12);
  background-color: $white;
  .devui-panel-footer {
    color: $dark1;
    background-color: $gray3;
  }
  &.devui-panel-default {
    .devui-panel-heading {
      color: $dark1;
      background-color: $gray3;
    }
  }
  &.devui-panel-success {
    .devui-panel-heading {
      color: $white;
      background-color: $status-green;
    }
  }
  &.devui-panel-info, &.devui-panel-primary {
    .devui-panel-heading {
      color: $white;
      background-color: $status-blue;
    }
  }
  &.devui-panel-warning {
    .devui-panel-heading {
      color: $dark1;
      background-color: $status-yellow;
    }
  }
  &.devui-panel-danger {
    .devui-panel-heading {
      color: $white;
      background-color: $status-red;
    }
  }
}
