:host {
  display: block;
}

.devui-panel {
  line-height: 20px;
  border-radius: 2px;
  .devui-panel-heading {
    padding: 10px 15px;
  }
  .devui-panel-body {
    padding: 15px;
  }
  .devui-panel-footer {
    padding: 10px 15px;
  }
}
