<section>
  <ng-template #customizeItemTemplate let-item="item" let-formatter="formatter" let-$index="$index" let-source="source" let-term="term">
    <span><em class="icon {{ getIcon($index) }}"></em>&nbsp;{{ $index + 1 }}: {{ formatter(item) }}</span>
  </ng-template>
  <ng-template #noResultItemTemplate let-term="term">
    <span
      >No any results match <strong>{{ term }}</strong></span
    >
  </ng-template>
  <form class="form">
    <div class="devui-form-group">
      <input
        type="text"
        class="devui-form-control"
        name="language"
        id="language-customizeItemTemplate"
        [minLength]="0"
        [(ngModel)]="selectItem4"
        dAutoComplete
        [searchFn]="onSearchLocal.bind(this)"
        [itemTemplate]="customizeItemTemplate"
        [noResultItemTemplate]="noResultItemTemplate"
      />
    </div>
    <pre>{{ (selectItem4 | json) || 'No language select!' }}</pre>
  </form>
</section>
