$devui-animation-ease-in-smooth: var(--devui-animation-ease-in-smooth, cubic-bezier(0.645, 0.045, 0.355, 1));// 命名与实际曲线不符，待废弃

$devui-animation-duration-slow: var(--devui-animation-duration-slow, 300ms);
$devui-animation-duration-base: var(--devui-animation-duration-base, 200ms);
$devui-animation-duration-fast: var(--devui-animation-duration-fast, 100ms);

$devui-animation-ease-in: var(--devui-animation-ease-in, cubic-bezier(0.5, 0, 0.84, 0.25));
$devui-animation-ease-out: var(--devui-animation-ease-out, cubic-bezier(0.16, 0.75, 0.5, 1));
$devui-animation-ease-in-out: var(--devui-animation-ease-in-out, cubic-bezier(0.5, 0.05, 0.5, 0.95));
$devui-animation-ease-in-out-smooth: var(--devui-animation-ease-in-out-smooth, cubic-bezier(0.645, 0.045, 0.355, 1));
$devui-animation-linear: var(--devui-animation-linear, cubic-bezier(0, 0, 1, 1));
