@import './basic';
// need to run `node scripts/themeable/transfer-sass-var-to-theme-data.js ` when modified
// 基础变量
$devui-global-bg: var(--devui-global-bg, $devui-slate-10); // 全局带底色背景
$devui-glass-morphism-bg: var(--devui-glass-morphism-bg, rgba(245, 246, 248, 0.9)); // 毛玻璃样式背景色
$devui-global-bg-normal: var(--devui-global-bg-normal, $devui-white-5); // 全局白色背景
$devui-base-bg: var(--devui-base-bg, $devui-white-5); // 基础区块背景白色
$devui-base-bg-dark: var(--devui-base-bg-dark, $devui-slate-100); // 基础区块背景深色(固定)
$devui-brand: var(--devui-brand, $devui-blue-50); // 品牌色
$devui-brand-foil: var(--devui-brand-foil, $devui-zinc-10); // 品牌色辅助色、正衬色
$devui-brand-hover: var(--devui-brand-hover, $devui-blue-40); // 品牌色高亮色（加亮）
$devui-brand-active: var(--devui-brand-active, $devui-blue-60); // 品牌色激活色（加深）
$devui-brand-active-focus: var(--devui-brand-active-focus, $devui-blue-90); // 品牌色焦点色（重度加深）
$devui-contrast: var(--devui-contrast, #c7000b); // 品牌色撞色、对比色、反衬色、第二品牌色
$devui-text: var(--devui-text, $devui-slate-90); // 主要文字，正文文本
$devui-text-weak: var(--devui-text-weak, $devui-slate-80); // 弱化的正文信息（手风琴子项，表头）
$devui-aide-text: var(--devui-aide-text, $devui-slate-70); // 次要文字，辅助文本、帮助信息（面包屑）
$devui-aide-text-hover: var(--devui-aide-text-hover, $devui-slate-100); // 辅助文本悬浮色，用于标签文本悬浮等场景
$devui-aide-text-stress: var(--devui-aide-text-stress, $devui-slate-80); // 辅助文本、帮助信息里的强调色
$devui-placeholder: var(--devui-placeholder, $devui-slate-60); // 占位符
$devui-light-text: var(--devui-light-text, $devui-white-5); // 有色深色背景下字体颜色（固定）
$devui-dark-text: var(--devui-dark-text, $devui-slate-100); // 有色浅色背景下字体颜色（固定）
$devui-link: var(--devui-link, $devui-blue-60); // 链接文本颜色
$devui-link-active: var(--devui-link-active, $devui-blue-60); // 链接文本悬停/激活颜色
$devui-link-light: var(--devui-link-light, $devui-blue-30); // 深色背景下链接文本颜色
$devui-link-light-active: var(--devui-link-light-active, $devui-blue-20); // 深色背景下链接文本悬停/激活颜色
$devui-line: var(--devui-line, $devui-slate-40); // 边框分割线，仅用于边框
$devui-dividing-line: var(--devui-dividing-line, $devui-slate-20); // 内容分割线，用于内容之间的分割
$devui-block: var(--devui-block, $devui-white-5); // 大面积的不可折叠区块的背景色（例如顶部导航背景色）
$devui-area: var(--devui-area, $devui-gray-5); // 可折叠区块的背景色（展开区域颜色）
$devui-danger: var(--devui-danger, $devui-red-50); // 失败、错误、告警
$devui-warning: var(--devui-warning, $devui-yellow-50); // 警告、需注意类型提示
$devui-waiting: var(--devui-waiting, $devui-blue-20); // 等待中
$devui-success: var(--devui-success, $devui-green-60); // 成功、正确
$devui-info: var(--devui-info, $devui-blue-50); // 通知、一般提示、执行中
$devui-initial: var(--devui-initial, $devui-blue-10); // 初始化、未执行
$devui-unavailable: var(--devui-unavailable, $devui-gray-5); // 不可用、禁用状态
$devui-shadow: var(--devui-shadow, rgba(0, 0, 0, 0.16)); // 阴影色
$devui-light-shadow: var(--devui-light-shadow, rgba(0, 0, 0, 0.08)); // 弱化阴影色
$devui-connected-overlay-shadow: var(--devui-connected-overlay-shadow, rgba(0, 0, 0, 0.16)); // 下拉菜单类阴影色
$devui-feedback-overlay-shadow: var(--devui-feedback-overlay-shadow, rgba(0, 0, 0, 0.16)); // 信息展示类阴影色
$devui-feedback-overlay-backdrop: var(--devui-feedback-overlay-backdrop, rgba(0, 0, 0, 0.3)); // 弹窗等信息类遮罩层背景色
$devui-feedback-overlay-light-backdrop: var(--devui-feedback-overlay-light-backdrop, rgba(255, 255, 255, 0.6)); // 暗黑主题下加载的遮罩层背景色
$devui-hover-shadow: var(--devui-hover-shadow, rgba(0, 0, 0, 0.16)); // 信息展示类阴影色
$devui-table-column-shadow-color: var(--devui-table-column-shadow-color, rgba(37, 43, 58, 0.08)); // 固定列阴影色

// 图标
$devui-icon-text: var(--devui-icon-text, $devui-slate-60); // 文字图标颜色
$devui-icon-bg: var(--devui-icon-bg, $devui-white-5); // svg图标 背景色
$devui-icon-fill: var(--devui-icon-fill, $devui-slate-70); // svg图标 灰色填充色
$devui-icon-fill-weak: var(--devui-icon-fill-weak, $devui-slate-60); // svg弱化图标 灰色填充色
$devui-icon-fill-hover: var(--devui-icon-fill-hover, $devui-slate-90); // svg图标 灰色填充色悬停反馈色
$devui-icon-fill-active: var(--devui-icon-fill-active, $devui-slate-90); // svg图标 高亮填充色（激活状态）
$devui-icon-fill-active-hover: var(--devui-icon-fill-active-hover, $devui-slate-100); // svg图标 高亮填充色悬停反馈色
$devui-shape-icon-fill: var(--devui-shape-icon-fill, $devui-slate-50); // svg图标 面型图标颜色
$devui-shape-icon-fill-hover: var(--devui-shape-icon-fill-hover, $devui-slate-60); // svg图标 面型图标悬浮色
$devui-shape-icon-fill-active: var(--devui-shape-icon-fill-active, $devui-slate-60); // svg图标 面型图标激活色
$devui-shape-icon-fill-disabled: var(--devui-shape-icon-fill-disabled, $devui-slate-20); // svg图标 面型图标激活色
// 表单
$devui-form-control-line: var(--devui-form-control-line, $devui-slate-40); // 表单控件边框色，同 边框分割线
$devui-form-control-bg: var(--devui-form-control-bg, $devui-white-5); // 表单控件背景色
$devui-form-control-line-hover: var(--devui-form-control-line-hover, $devui-slate-60); // 表单控件边框悬停反馈色
$devui-form-control-line-active: var(--devui-form-control-line-active, $devui-blue-50); // 表单控件边框激活色，用于获得焦点
$devui-form-control-interactive-outline: var(--devui-form-control-interactive-outline, rgba(94, 124, 224, 0.08)); // 表单控件边框激活色的外框阴影色
$devui-form-control-line-active-hover: var(--devui-form-control-line-active-hover, $devui-blue-90); // 表单控件边框激活色，用于获得焦点且悬停
// 列表
$devui-list-item-active-bg: var(--devui-list-item-active-bg, $devui-blue-10); // 列表类型单选选中背景
$devui-list-item-active-text: var(--devui-list-item-active-text, $devui-slate-100); // 列表类型单选选中背景搭配文本，同 有色深色背景下字体颜色（固定）
$devui-list-item-active-hover-bg: var(--devui-list-item-active-hover-bg, $devui-blue-10); // 列表类型单选选中背景悬停反馈色（仅用于分页等）
$devui-list-item-hover-bg: var(--devui-list-item-hover-bg, $devui-zinc-10); // 列表类型普通选项悬停背景
$devui-list-item-hover-text: var(--devui-list-item-hover-text, $devui-slate-100); // 列表类型普通选项悬停背景搭配文本
$devui-list-item-selected-bg: var(--devui-list-item-selected-bg, $devui-blue-10); // 列表类型多选被选中的行色，仅用于表格类
$devui-list-item-strip-bg: var(--devui-list-item-strip-bg, $devui-blue-5); // 列表类型斑马纹色，仅用于表格类
// 禁用
$devui-disabled-bg: var(--devui-disabled-bg, $devui-gray-5); // disabled背景颜色
$devui-disabled-line: var(--devui-disabled-line, $devui-slate-30); // disabled边框颜色
$devui-disabled-text: var(--devui-disabled-text, $devui-slate-50); // disabled文字颜色
$devui-primary-disabled: var(--devui-primary-disabled, $devui-blue-20); //主要按钮disabled状态文字颜色
$devui-icon-fill-active-disabled: var(--devui-icon-fill-active-disabled, $devui-blue-20); // svg图标激活状态禁用色 , 此颜色使用存疑
// 特殊背景色
$devui-label-bg: var(--devui-label-bg, $devui-slate-20); // 默认标签化选项背景色
$devui-connected-overlay-bg: var(--devui-connected-overlay-bg, $devui-white-5); // 有连接点的弹出菜单层背景色
$devui-connected-overlay-line: var(--devui-connected-overlay-line, $devui-blue-60); // 有连接点的弹出菜单层边框色
$devui-fullscreen-overlay-bg: var(--devui-fullscreen-overlay-bg, $devui-white-5); // 全屏类型的弹出内容层背景色（模态弹窗）
$devui-feedback-overlay-bg: var(--devui-feedback-overlay-bg, $devui-slate-80); // 信息提示反馈类型的漂浮层背景色（toast、popover）
$devui-feedback-overlay-text: var(--devui-feedback-overlay-text, $devui-slate-20); // 信息提示反馈类型的漂浮层背景色搭配文本色
$devui-embed-search-bg: var(--devui-embed-search-bg, $devui-zinc-10); // 被嵌套的无边框搜索框背景色
$devui-embed-search-bg-hover: var(--devui-embed-search-bg-hover, $devui-slate-10); // 被嵌套的无边框搜索框背景色
$devui-float-block-shadow: var(--devui-float-block-shadow, rgba(94, 124, 224, 0.3)); // 特殊浮层背景色（待修正）
$devui-highlight-overlay: var(--devui-highlight-overlay, rgba(255, 255, 255, 0.8)); // 局部半透明全局浮层背景色（比如底部）
$devui-range-item-hover-bg: var(--devui-range-item-hover-bg, $devui-blue-10); // datepicker范围中的日期hover的反馈背景色, glow模式下的外层涟漪
$devui-gray-form-control-bg: var(--devui-gray-form-control-bg, $devui-slate-10); // 灰色模式输入框默认背景色
$devui-gray-form-control-hover-bg: var(--devui-gray-form-control-hover-bg, $devui-gray-10); // 灰色模式输入框hover背景色
$devui-nav-expand-bg: var(--devui-nav-expand-bg, #fbfbfc); //菜单展开区域背景色

// 按钮
$devui-primary: var(--devui-primary, $devui-blue-50); // 主要按钮，同品牌色
$devui-primary-hover: var(--devui-primary-hover, $devui-blue-40); // 主要按钮悬停
$devui-primary-active: var(--devui-primary-active, $devui-blue-90); // 主要按钮激活

$devui-contrast-hover: var(--devui-contrast-hover, #cc272a); // 突出按钮悬停
$devui-contrast-active: var(--devui-contrast-active, #78080e); // 突出按钮激活

// 状态
$devui-danger-line: var(--devui-danger-line, $devui-red-50); // 失败边框
$devui-danger-bg: var(--devui-danger-bg, $devui-red-10); // 失败底色
$devui-danger-text: var(--devui-danger-text, $devui-red-70); // 失败文字色

$devui-warning-line: var(--devui-warning-line, $devui-orange-50); // 警告边框
$devui-warning-bg: var(--devui-warning-bg, $devui-orange-10); // 警告底色
$devui-warning-text: var(--devui-warning-text, $devui-orange-60); // 警告文字色

$devui-info-line: var(--devui-info-line, $devui-blue-50); // 通知边框
$devui-info-bg: var(--devui-info-bg, $devui-blue-10); // 通知底色

$devui-success-line: var(--devui-success-line, $devui-green-50); // 成功边框
$devui-success-bg: var(--devui-success-bg, $devui-green-10); // 成功底色
$devui-success-text: var(--devui-success-text, $devui-green-70); // 警告文字色

$devui-primary-line: var(--devui-primary-line, $devui-blue-50); // 主要边框
$devui-primary-bg: var(--devui-primary-bg, $devui-blue-5); // 主要底色

$devui-default-line: var(--devui-default-line, $devui-blue-50); // 默认边框
$devui-default-bg: var(--devui-default-bg, $devui-slate-5); // 默认底色
