$white: #fff !default;
$huawei-bg: #222222 !default;
$huawei-red: #e41f2b !default;
$dark: #000 !default;
$dark1: #293040 !default;
$dark2: #5e6678 !default;
$dark3: #959eb2 !default;
$focus1: #5170ff !default;
$focus2: #001bc0 !default;
$focus3: #e8f0fd !default;
$gray1: #cacfd8 !default;
$gray2: #e3e5e9 !default;
$gray3: #f8f8f8 !default;
$hover-control: #405dff !default;
$hover-content: #f3f7fe !default;
$status-red: #f95f5b !default;
$status-yellow: #fecc55 !default;
$status-green: #3dcca6 !default;
$status-blue: #5170ff !default;
