//圆角变量

$devui-border-radius: var(--devui-border-radius, 2px); //一般圆角
$devui-border-radius-feedback: var(--devui-border-radius-feedback, 4px); //反馈类圆角
$devui-border-radius-card: var(--devui-border-radius-card, 6px); //卡片圆角
