  /* stylelint-disable */
:export {
  devui-global-bg: $devui-global-bg;
  devui-glass-morphism-bg: $devui-glass-morphism-bg;
  devui-global-bg-normal: $devui-global-bg-normal;
  devui-base-bg: $devui-base-bg;
  devui-base-bg-dark: $devui-base-bg-dark;
  devui-brand: $devui-brand;
  devui-brand-foil: $devui-brand-foil;
  devui-brand-hover: $devui-brand-hover;
  devui-brand-active: $devui-brand-active;
  devui-brand-active-focus: $devui-brand-active-focus;
  devui-contrast: $devui-contrast;
  devui-text: $devui-text;
  devui-text-weak: $devui-text-weak;
  devui-aide-text: $devui-aide-text;
  devui-aide-text-hover: $devui-aide-text-hover;
  devui-aide-text-stress: $devui-aide-text-stress;
  devui-placeholder: $devui-placeholder;
  devui-light-text: $devui-light-text;
  devui-dark-text: $devui-dark-text;
  devui-link: $devui-link;
  devui-link-active: $devui-link-active;
  devui-link-light: $devui-link-light;
  devui-link-light-active: $devui-link-light-active;
  devui-line: $devui-line;
  devui-dividing-line: $devui-dividing-line;
  devui-block: $devui-block;
  devui-area: $devui-area;
  devui-danger: $devui-danger;
  devui-warning: $devui-warning;
  devui-waiting: $devui-waiting;
  devui-success: $devui-success;
  devui-info: $devui-info;
  devui-initial: $devui-initial;
  devui-unavailable: $devui-unavailable;
  devui-shadow: $devui-shadow;
  devui-light-shadow: $devui-light-shadow;
  devui-connected-overlay-shadow: $devui-connected-overlay-shadow;
  devui-feedback-overlay-shadow: $devui-feedback-overlay-shadow;
  devui-feedback-overlay-backdrop: $devui-feedback-overlay-backdrop;
  devui-hover-shadow: $devui-hover-shadow;
  devui-table-column-shadow-color: $devui-table-column-shadow-color;
  devui-icon-text: $devui-icon-text;
  devui-icon-bg: $devui-icon-bg;
  devui-icon-fill: $devui-icon-fill;
  devui-icon-fill-weak: $devui-icon-fill-weak;
  devui-icon-fill-hover: $devui-icon-fill-hover;
  devui-icon-fill-active: $devui-icon-fill-active;
  devui-icon-fill-active-hover: $devui-icon-fill-active-hover;
  devui-shape-icon-fill: $devui-shape-icon-fill;
  devui-shape-icon-fill-hover: $devui-shape-icon-fill-hover;
  devui-shape-icon-fill-active: $devui-shape-icon-fill-active;
  devui-shape-icon-fill-disabled: $devui-shape-icon-fill-disabled;
  devui-form-control-line: $devui-form-control-line;
  devui-form-control-bg: $devui-form-control-bg;
  devui-form-control-line-hover: $devui-form-control-line-hover;
  devui-form-control-line-active: $devui-form-control-line-active;
  devui-form-control-interactive-outline: $devui-form-control-interactive-outline;
  devui-form-control-line-active-hover: $devui-form-control-line-active-hover;
  devui-list-item-active-bg: $devui-list-item-active-bg;
  devui-list-item-active-text: $devui-list-item-active-text;
  devui-list-item-active-hover-bg: $devui-list-item-active-hover-bg;
  devui-list-item-hover-bg: $devui-list-item-hover-bg;
  devui-list-item-hover-text: $devui-list-item-hover-text;
  devui-list-item-selected-bg: $devui-list-item-selected-bg;
  devui-list-item-strip-bg: $devui-list-item-strip-bg;
  devui-disabled-bg: $devui-disabled-bg;
  devui-disabled-line: $devui-disabled-line;
  devui-disabled-text: $devui-disabled-text;
  devui-primary-disabled: $devui-primary-disabled;
  devui-icon-fill-active-disabled: $devui-icon-fill-active-disabled;
  devui-label-bg: $devui-label-bg;
  devui-connected-overlay-bg: $devui-connected-overlay-bg;
  devui-connected-overlay-line: $devui-connected-overlay-line;
  devui-fullscreen-overlay-bg: $devui-fullscreen-overlay-bg;
  devui-feedback-overlay-bg: $devui-feedback-overlay-bg;
  devui-feedback-overlay-text: $devui-feedback-overlay-text;
  devui-embed-search-bg: $devui-embed-search-bg;
  devui-embed-search-bg-hover: $devui-embed-search-bg-hover;
  devui-float-block-shadow: $devui-float-block-shadow;
  devui-highlight-overlay: $devui-highlight-overlay;
  devui-range-item-hover-bg: $devui-range-item-hover-bg;
  devui-gray-form-control-bg: $devui-gray-form-control-bg;
  devui-gray-form-control-hover-bg: $devui-gray-form-control-hover-bg;
  devui-nav-expand-bg: $devui-nav-expand-bg;
  devui-primary: $devui-primary;
  devui-primary-hover: $devui-primary-hover;
  devui-primary-active: $devui-primary-active;
  devui-contrast-hover: $devui-contrast-hover;
  devui-contrast-active: $devui-contrast-active;
  devui-danger-line: $devui-danger-line;
  devui-danger-bg: $devui-danger-bg;
  devui-danger-text: $devui-danger-text;
  devui-warning-line: $devui-warning-line;
  devui-warning-bg: $devui-warning-bg;
  devui-warning-text: $devui-warning-text;
  devui-info-line: $devui-info-line;
  devui-info-bg: $devui-info-bg;
  devui-success-line: $devui-success-line;
  devui-success-bg: $devui-success-bg;
  devui-success-text: $devui-success-text;
  devui-primary-line: $devui-primary-line;
  devui-primary-bg: $devui-primary-bg;
  devui-default-line: $devui-default-line;
  devui-default-bg: $devui-default-bg;
  devui-animation-ease-in-smooth: $devui-animation-ease-in-smooth;
  devui-animation-duration-slow: $devui-animation-duration-slow;
  devui-animation-duration-base: $devui-animation-duration-base;
  devui-animation-duration-fast: $devui-animation-duration-fast;
  devui-animation-ease-in: $devui-animation-ease-in;
  devui-animation-ease-out: $devui-animation-ease-out;
  devui-animation-ease-in-out: $devui-animation-ease-in-out;
  devui-animation-ease-in-out-smooth: $devui-animation-ease-in-out-smooth;
  devui-animation-linear: $devui-animation-linear;
  devui-border-radius: $devui-border-radius;
  devui-border-radius-feedback: $devui-border-radius-feedback;
  devui-border-radius-card: $devui-border-radius-card;
  devui-border-radius-full: $devui-border-radius-full;
  devui-font-size: $devui-font-size;
  devui-font-size-card-title: $devui-font-size-card-title;
  devui-font-size-page-title: $devui-font-size-page-title;
  devui-font-size-modal-title: $devui-font-size-modal-title;
  devui-font-size-price: $devui-font-size-price;
  devui-font-size-data-overview: $devui-font-size-data-overview;
  devui-font-size-h1-title: $devui-font-size-h1-title;
  devui-font-size-h2-title: $devui-font-size-h2-title;
  devui-font-size-h3-title: $devui-font-size-h3-title;
  devui-font-size-h4-title: $devui-font-size-h4-title;
  devui-font-size-h5-title: $devui-font-size-h5-title;
  devui-font-size-icon: $devui-font-size-icon;
  devui-font-size-sm: $devui-font-size-sm;
  devui-font-size-md: $devui-font-size-md;
  devui-font-size-lg: $devui-font-size-lg;
  devui-font-title-weight: $devui-font-title-weight;
  devui-font-content-weight: $devui-font-content-weight;
  devui-line-height-base: $devui-line-height-base;
  devui-shadow-length-base: $devui-shadow-length-base;
  devui-shadow-length-slide-left: $devui-shadow-length-slide-left;
  devui-shadow-length-slide-right: $devui-shadow-length-slide-right;
  devui-shadow-length-connected-overlay: $devui-shadow-length-connected-overlay;
  devui-shadow-length-hover: $devui-shadow-length-hover;
  devui-shadow-length-feedback-overlay: $devui-shadow-length-feedback-overlay;
  devui-shadow-length-fullscreen-overlay: $devui-shadow-length-fullscreen-overlay;
  devui-z-index-full-page-overlay: $devui-z-index-full-page-overlay;
  devui-z-index-pop-up: $devui-z-index-pop-up;
  devui-z-index-dropdown: $devui-z-index-dropdown;
  devui-z-index-modal: $devui-z-index-modal;
  devui-z-index-drawer: $devui-z-index-drawer;
  devui-z-index-framework: $devui-z-index-framework;
}
