@import './color';
@import '../core/font';
@import '../theme/font';

$text-color: $devui-text;
$font-family: 'Helvetica','Arial', 'PingFangSC-Regular', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', 'HarmonyOS Sans SC', 'HarmonyOS Sans', 'Microsoft JhengHei';
$font-variant-base: tabular-nums;
$body-background: $devui-base-bg;
$devui-font-size: $devui-font-size; // 12px
// $devui-font-size-modal-title: $devui-font-size-modal-title; // 18px
$font-size-page-title: $devui-font-size-page-title; // 16px
// $devui-font-size-card-title: $devui-font-size-card-title; // 14px
.devui-font-size-base {
  font-size: $devui-font-size; // 12px
}

.devui-font-base {
  @include font-content(); // 12px normal 1.5
}

.devui-font-size-modal-title {
  font-size: $devui-font-size-modal-title; // 18px
}

.devui-font-modal-title {
  @include font-title($devui-font-size-modal-title); // 18px bold 1.5
}

.devui-font-size-page-title {
  font-size: $devui-font-size-page-title; // 16px
}

.devui-font-page-title {
  @include font-title(); // 16px bold 1.5
}

.devui-font-size-secondary-title {
  font-size: $devui-font-size-card-title; // 14px
}

.devui-font-secondary-title {
  @include font-title($devui-font-size-card-title); // 14px bold 1.5
}
