@import './color';

$text-color: $dark1;
$font-size-base: 14px;
$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$font-variant-base: tabular-nums;
$line-height-base: 1.15;
$body-background: $white;
