@import './color';

$text-color: $dark-1;
$font-size-base: 14px;
$font-family: 'Helvetica Neue', helvetica, arial, 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei',
  sans-serif;
$font-variant-base: tabular-nums;
$line-height-base: 1.42857143;
$body-background: $bg-white;
