@import '../style/theme/color';
@import '../style/theme/variables';
@import '../style/mixins/index';

:host {
  display: block;
}

.devui-status {
  line-height: 20px;
  display: inline-block;
  height: 20px;

  &::before {
    display: inline-block;
    content: '';
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border-radius: 100%;
  }

  &.devui-status-bg-success::before {
    background: $status-green;
  }

  &.devui-status-bg-error::before {
    background: $status-red;
  }

  &.devui-status-bg-warning::before {
    background: $status-yellow;
  }

  &.devui-status-bg-waiting::before {
    background: #9faad7;
  }

  &.devui-status-bg-running::before {
    background: $status-blue;
  }

  &.devui-status-bg-invalid::before {
    background: $gray-1;
  }

  &.devui-status-bg-initial::before {
    background: $brand-3;
  }
}
