@import '../style/theme/color';

:host {
  display: block;
}

.devui-status {
  line-height: 20px;
  height: 20px;
  display: flex;
  align-items: center;

  &::before {
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 100%;
  }

  &.devui-status-bg-success::before {
    background: $devui-success;
  }

  &.devui-status-bg-error::before {
    background: $devui-danger;
  }

  &.devui-status-bg-warning::before {
    background: $devui-warning;
  }

  &.devui-status-bg-waiting::before {
    background: $devui-waiting;
  }

  &.devui-status-bg-running::before {
    background: $devui-info;
  }

  &.devui-status-bg-invalid::before {
    background: $devui-dividing-line;
  }

  &.devui-status-bg-initial::before {
    background: $devui-initial;
  }

  &.devui-status-bg-skipped::before {
    background: $devui-feedback-overlay-text;
  }

  &.devui-status-bg-canceled::before {
    background: $devui-icon-fill-weak;
  }
}
