<div class="devui-demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 180, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="devui-demo-example" [dAnchor]="'border-radius'">
    <div class="devui-demo-title">{{ 'components.design-border-radius.cornerDemo.title' | translate }}</div>
    <div class="devui-demo-text">
      {{ 'components.design-border-radius.cornerDemo.description1' | translate }}<br />
      {{ 'components.design-border-radius.cornerDemo.description2' | translate }}<br />
      {{ 'components.design-border-radius.cornerDemo.description3' | translate }}
    </div>
    <d-border-radius></d-border-radius>
  </div>
</div>
