<div class="header-ecosystem">
  <div
    class="g-dropdown menu-padding"
    [trigger]="'hover'"
    dDropDown
    appendToBody
  >
    <span dDropDownToggle class="drop-down-span"
      >{{curLanguage === 'zh-cn' ? '生态' : 'Ecology'}}
    </span>
    <ul dDropDownMenu class="dropdown-menu devui-dropdown-menu devui-scrollbar" role="menu">
      <li role="menuitem" class="menuitem" *ngFor="let nav of navs">
        <a id="{{ nav.id }}" routerLinkActive="active" href="{{ nav.href }}">{{curLanguage === 'zh-cn' ? nav.name : nav.enName }}</a>
      </li>
    </ul>
  </div>
</div>