<form class="form">
  <div class="disabled-container">
    <div class="input-box">
      <div class="devui-form-group">
        <input
          dTextInput
          type="text"
          class="devui-form-control devui-dropdown-origin"
          name="language"
          placeholder="Search"
          [minLength]="0"
          [disabled]="isDisabled"
          [(ngModel)]="selectItem1"
          dAutoComplete
          [searchFn]="onSearchLocal.bind(this)"
        />
      </div>
    </div>
    <div>
      <d-button (click)="isDisabled = !isDisabled">
        {{ isDisabled ? 'Enable AutoComplete' : 'Disable AutoComplete' }}
      </d-button>
    </div>
    <div class="devui-form-group">
      <input
        dTextInput
        type="text"
        class="devui-form-control devui-dropdown-origin"
        name="language"
        placeholder="Search"
        [minLength]="0"
        [disabledKey]="'disable'"
        [source]="languages1"
        [formatter]="formatter"
        [valueParser]="valueParser"
        dAutoComplete
        [tipsText]="'search result'"
      />
    </div>
  </div>
</form>
