<section>
  <form class="form">
      <div class="row">
        <div class="col-sm-6" style="width: 300px; margin-right: 15px; float:left;">
          <div class="devui-form-group">
          <input type="text" class="form-control" name="language" id="language5" [minLength]="0" [disabled]="isDisabled"
                [(ngModel)]="selectItem1" dAutoComplete [searchFn]="onSearchLocal.bind(this)"/>
            </div>
        </div>
        <div class="col-sm-4" style="float:left;">
          <d-button (click)="isDisabled = !isDisabled"> {{isDisabled ? 'Enable AutoComplete' :
            'Disable AutoComplete'}}
          </d-button>
        </div>
      </div>
  </form>
</section>
