<section style="width: 100%">
  <span> limit start and end:</span>
  <div class="devui-input-group devui-dropdown-origin">
    <input
      class="devui-input devui-form-control"
      placeholder="y/MM/dd  -  y/MM/dd"
      name="dp"
      [(ngModel)]="dateRange1"
      (click)="dateRangePicker1.toggle()"
      autocomplete="off"
      dDateRangePicker
      #dateRangePicker1="dateRangePicker"
      (selectedRangeChange)="getValue($event)"
      [minDate]="minDate"
      [maxDate]="maxDate"
    />
    <div *ngIf="everyRange(dateRange1)" class="devui-input-group-addon close-icon-wrapper" (click)="dateRangePicker1.clearAll()">
      <i class="icon icon-close"></i>
    </div>
    <div class="devui-input-group-addon" (click)="dateRangePicker1.toggle()">
      <i class="icon icon-calendar"></i>
    </div>
  </div>

  <span> limit start:</span>
  <div class="devui-input-group devui-dropdown-origin">
    <input
      class="devui-input devui-form-control"
      placeholder="y/MM/dd  -  y/MM/dd"
      name="dp"
      [(ngModel)]="dateRange2"
      (click)="dateRangePicker2.toggle()"
      autocomplete="off"
      dDateRangePicker
      #dateRangePicker2="dateRangePicker"
      (selectedRangeChange)="getValue($event)"
      [minDate]="minDate"
    />
    <div *ngIf="everyRange(dateRange2)" class="devui-input-group-addon close-icon-wrapper" (click)="dateRangePicker2.clearAll()">
      <i class="icon icon-close"></i>
    </div>
    <div class="devui-input-group-addon" (click)="dateRangePicker2.toggle()">
      <i class="icon icon-calendar"></i>
    </div>
  </div>

  <span> limit end:</span>
  <div class="devui-input-group devui-dropdown-origin">
    <input
      class="devui-input devui-form-control"
      placeholder="y/MM/dd  -  y/MM/dd"
      name="dp"
      [(ngModel)]="dateRange3"
      (click)="dateRangePicker3.toggle()"
      autocomplete="off"
      dDateRangePicker
      #dateRangePicker3="dateRangePicker"
      (selectedRangeChange)="getValue($event)"
      [maxDate]="maxDate"
    />
    <div *ngIf="everyRange(dateRange3)" class="devui-input-group-addon close-icon-wrapper" (click)="dateRangePicker3.clearAll()">
      <i class="icon icon-close"></i>
    </div>
    <div class="devui-input-group-addon" (click)="dateRangePicker3.toggle()">
      <i class="icon icon-calendar"></i>
    </div>
  </div>
</section>
