@import '~ng-devui/styles-var/devui-var.scss';

div.box {
  padding: 10px;
  font-size: $devui-font-size;
  color: $devui-brand;
  line-height: 24px;
}

a.date-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a.date-link + a.date-link {
  margin-left: 15px;
}

a.date-link:hover {
  color: $devui-link-active;
}

.devui-input-group:not(:last-child) {
  margin-bottom: 20px;
}

.devui-input-group-addon {
  width: 1%;
  vertical-align: middle;
  padding-top: 4px;
}

.devui-input-group {
  width: 250px;
}

.devui-input-group-addon:hover {
  color: $devui-brand-active;
}

.icon-close-wrapper {
  padding-right: 0;
  padding-top: 0;
}

.icon-close {
  border-right: 1px solid $devui-dividing-line;
  padding-right: 10px;
  cursor: pointer;
}
