<h5>Standard: Single Select</h5>
<div>
  <d-tree-select
    placeholder="Standard Input"
    [treeData]="data1"
    [expandTree]="true"
    [(ngModel)]="value1"
    (ngModelChange)="showSelected($event)"
    (valueChanged)="valueChanged($event)"
    (toggleChange)="toggleChange($event)"
  ></d-tree-select>
</div>
<h5>Standard: Multiple Select</h5>
<div>
  <d-tree-select
    placeholder="Standard Input"
    [treeData]="data2"
    [multiple]="true"
    [expandTree]="true"
    [(ngModel)]="value2"
    (ngModelChange)="showSelected($event)"
    (valueChanged)="valueChanged($event)"
    (toggleChange)="toggleChange($event)"
    (nodeToggleEvent)="nodeToggleEvent($event)"
  ></d-tree-select>
</div>
<h5>Disabled: Single Select</h5>
<div>
  <d-tree-select [treeData]="data1" [disabled]="true" [(ngModel)]="value1"></d-tree-select>
</div>
