<div class="devui-demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 60, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="devui-demo-example" [dAnchor]="'basic'">
    <div class="devui-demo-title">{{ 'components.nav-sprite.basicDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.nav-sprite.basicDemo.description' | translate }}</div>
    <d-codebox id="demo-nav-sprite-basic" [sourceData]="basicSource">
      <d-demo-basic demo></d-demo-basic>
    </d-codebox>
  </div>
</div>
