<ng-container *ngrxLet="parentMenu.collapsed$ as collapsed">
  <div [class]="titleCls('devui-sub-menu-item')" d-menu-item (itemClick)="titleClick()">
    <div class="devui-sub-menu-item-title" role="menu" *strTplOutlet="title; context: titleContext">
      <ng-content select="[title]" *ngIf="!title" />
      <d-icon class="devui-menu-item-icon" *ngIf="icon" [disabled]="disabled" [icon]="icon" />
      <span class="devui-menu-item-name over-flow-ellipsis" [title]="title">{{ title }}</span>
    </div>

    <div class="devui-sub-menu-item-arrow">
      <d-icon class="devui-menu-item-icon" [disabled]="disabled" icon="icon-select-arrow" />
    </div>
  </div>

  <div *ngIf="collapsed; else defaultChildrenTpl">popover</div>

  <ng-template #defaultChildrenTpl>
    <div class="devui-sub-menu-children" [style.--level]="submenuService.level" [@collapseMotion]="expandState">
      <ng-template [ngTemplateOutlet]="contentTpl" />
    </div>
  </ng-template>

  <ng-template #contentTpl>
    <ng-content />
  </ng-template>
</ng-container>
