<div class="devui-sub-menu">
  <div [class]="disabledCls('devui-sub-menu-item')" d-menu-item (itemClick)="titleClick()">
    <div class="devui-sub-menu-item-title">
      <d-icon class="devui-menu-item-icon" [disabled]="disabled" [icon]="icon" />
      <span class="devui-menu-item-name over-flow-ellipsis">{{ title }}</span>
    </div>

    <div class="devui-sub-menu-item-arrow">
      <d-icon class="devui-menu-item-icon" [disabled]="disabled" icon="icon-select-arrow" />
    </div>
  </div>
  <div class="devui-sub-menu-children" [style.--level]="submenuService.level" *ngIf="_open">
    <ng-content />
  </div>
</div>
