@import '../style/theme/color';

.devui-tree-select {
  position: relative;
  width: 100%;

  input.devui-select-input {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;

    &:not([disabled]) {
      color: $dark-1;
    }

    &.devui-tree-select-input {
      padding: 5px 2em 5px 10px;
    }
  }

  &:hover {
    & .clear {
      position: absolute;
      height: 14px;
      width: 14px;
      right: 12px;
      top: calc((100% - 14px) / 2);
      cursor: pointer;

      &::after,
      &::before {
        position: absolute;
        content: '';
        height: 14px;
        width: 1px;
        background-color: $dark-1;
        left: 50%;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }

      &:hover {
        &::after,
        &::before {
          background-color: $dark-1;
        }
      }
    }
  }

  .devui-select-chevron-icon {
    right: 12px;
    top: calc((100% - 14px) / 2);
    position: absolute;
    user-select: none;
    pointer-events: none;

    svg {
      transition: transform 0.3s;
    }

    &.open svg {
      transform: rotate(180deg);
    }

    &.clear {
      opacity: 0;
    }

    &.disabled {
      svg polygon {
        fill: $disabled-content;
      }
    }

    & ::ng-deep g {
      fill: $dark-1;
    }
  }

  &:not(:hover) {
    .devui-select-chevron-icon:not(.disabled) {
      opacity: 1;
      transition: opacity 0.1s linear;
    }
  }
}

.devui-tree-select.devui-options-container {
  width: 100%;
  color: $dark-1;
  padding: 5px 0;

  .devui-tree ::ng-deep .devui-tree-node.devui-operable-tree-node {
    .devui-tree-node__content {
      margin-left: 10px;
    }

    & .active {
      background-color: transparent;
    }

    &.selected {
      position: relative;
      -webkit-width: fit-content;
      -moz-width: fit-content;
      width: fit-content;
      min-width: calc(100% - 1.2em); // 当数据无法铺满一行时通过最小宽度使其铺满

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $hover-content;
        z-index: -1;
      }
    }
  }

  .devui-no-data-tip {
    user-select: none;
    cursor: not-allowed;
    padding: 5px 12px;
    background-color: $disabled-bg;
    color: $disabled-content;
  }
}

.devui-tree-select.devui-search-container {
  padding: 5px;
}

// 此处设置默认宽度，使用组件时可以自定义宽度，尽量不要入侵组件内部样式。
:host {
  display: inline-block;
  width: 100%;
}
