@import '../style/theme/color';

.devui-datepicker-pro-wrapper {
  display: inline-block;
  background-color: $devui-base-bg;

  .devui-single-picker {
    padding-left: 8px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 24px;

    .devui-input {
      padding: 4px 8px;
      width: calc(100% - 16px);
    }

    &-icon {
      vertical-align: bottom;
    }

    .close-icon-wrapper {
      padding: 0 8px;
      vertical-align: baseline;
      visibility: hidden;

      .close-icon {
        width: 16px;
        height: 16px;
        display: inline-block;
        line-height: 12px;

        svg {
          vertical-align: middle;
          position: relative;
          top: -0.1em;

          path {
            fill: $devui-shape-icon-fill;
          }
        }

        &:hover {
          svg path {
            fill: $devui-shape-icon-fill-active;
          }
        }
      }
    }

    &.devui-has-value:hover:not(.devui-disabled) .close-icon-wrapper {
      visibility: visible;
    }

    &:not(.devui-disabled) .close-icon-wrapper {
      cursor: pointer;
    }
  }

  .devui-input-group > .devui-input {
    display: inline-block;

    &::-ms-clear {
      display: none;
    }
  }
}
