@import '../style/theme/color';
@import '../style/theme/variables';
@import '../style/mixins/index';
@import './tree.component';

:host {
  display: block;
}

.disabled {
  color: $disabled-content;
  cursor: not-allowed;
  user-select: none;

  &.devui-tree-node__leaf,
  &.devui-tree-node__folder {
    cursor: not-allowed;

    > span > svg.svg-icon path {
      fill: $gray-1;
    }

    > span > svg.svg-icon rect {
      stroke: $gray-1;
    }

    > span > svg.svg-icon.svg-icon-close rect:last-child {
      stroke: none;
      fill: $gray-1;
    }

    .devui-leaf-icon-none {
      display: inline-block;
      width: 16px;
      height: 16px;
    }
  }
}

::ng-deep {
  &.devui-tree-node.devui-operable-tree-node {
    .devui-tree-node__checkbox {
      margin-left: 8px;
      margin-right: 5px;
    }

    .devui-tree-icons {
      margin-left: 8px;
      cursor: pointer;

      svg {
        #add-path {
          fill: $dark-2;
        }

        #edit-path {
          fill: $dark-2;
        }

        #delete-path {
          fill: $dark-2;
        }

        path,
        rect {
          fill: $dark-2;
        }
      }

      &:hover {
        #add-path {
          fill: $hover-control;
        }

        #edit-path {
          fill: $hover-control;
        }

        #delete-path {
          fill: $hover-control;
        }
      }
    }
  }
}

.devui-form-control {
  outline: none;
}
