<d-data-table #datatable [dataSource]="polyfills" [scrollable]="true" [type]="'striped'">
  <d-column field="name" header="{{ 'components.polyfill.basicDemo.name' | translate }}" [width]="'200px'"></d-column>
  <d-column field="license" header="{{ 'components.polyfill.basicDemo.license' | translate }}" [width]="'100px'"></d-column>
  <d-column field="size" header="{{ 'components.polyfill.basicDemo.size' | translate }}" [width]="'100px'"></d-column>
  <d-column field="browser" header="{{ 'components.polyfill.basicDemo.browser' | translate }}" [width]="'100px'"></d-column>
  <d-column field="description" header="{{ 'components.polyfill.basicDemo.des' | translate }}" [width]="'400px'"></d-column>
</d-data-table>
