<section>
  <h3>Tabs</h3>
  <d-tabs type="tabs" [addable]="true" [closeable]="true" [(activeTab)]="tabActiveId" (addOrDeleteTabChange)="handle($event, 'tab')">
    <d-tab *ngFor="let item of tabItems" [id]="item.id" [title]="item.title"></d-tab>
  </d-tabs>
  <br />
  <h3>Wrapped</h3>
  <d-tabs
    [type]="'wrapped'"
    [addable]="true"
    [closeable]="true"
    [closeableIds]="['tab2', 'tab3']"
    [(activeTab)]="wrappedActiveId"
    (addOrDeleteTabChange)="handle($event, 'wrapped')"
  >
    <d-tab *ngFor="let item of wrappedItems" [id]="item.id" [title]="item.title"></d-tab>
  </d-tabs>
</section>
