@import '../style/theme/color';

$component-scope: 'devui-image-preview';

::ng-deep .devui-fullscreen {
  overflow: hidden !important;
}

::ng-deep #devui-image-preview-modal .modal-content {
  overflow: hidden !important;
  transform: none !important;
  background-color: transparent;
}

.devui-image-preview-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .devui-image-preview-main-image {
    width: auto;
    height: auto;
    cursor: grab;
    margin-top: -20px;
  }

  .devui-optimal-proportion {
    max-width: 90%;
    max-height: 90%;
  }
}

@mixin fixed-button() {
  position: fixed;
  z-index: 1001;
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background: $highlight-overlay;
  box-shadow: 0 0 8px 0 $dark-1-boxshadow-light;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: $gray-3;
  }

  svg polygon {
    fill: $dark-1;
  }

  svg {
    width: 38px;
    height: 18px;
  }
}

.devui-fixed-arrow-left {
  @include fixed-button();

  top: calc(50% - 18px);
  left: 20px;
}

.devui-fixed-arrow-right {
  @include fixed-button();

  top: calc(50% - 18px);
  right: 20px;
}

svg,
polygon,
g,
path {
  fill: $dark-1;
}

.devui-image-preview-close-btn {
  @include fixed-button();

  top: 15px;
  right: 20px;
}

.devui-image-preview-toolbar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $highlight-overlay;
  box-shadow: 0 0 3px 0 $dark-1-boxshadow-light;
  position: fixed;
  bottom: 0;

  button {
    display: inline-flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    color: $dark-1;
  }

  & > :not(:first-child) {
    margin-left: 20px;
  }
}
