<section>
  <d-button bsStyle="primary" (click)="fetchTableData()">click me!</d-button>
  <table dLoading [view]="view" [loading]="loading" [backdrop]="true" [loadingStyle]="'infinity'" class="table table-hover">
    <thead>
      <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>UserName</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let names of tableNames">
        <td *ngFor="let name of names">
          {{ name }}
        </td>
      </tr>
    </tbody>
  </table>
</section>
