<div class="container devui-scrollbar" #scrollTarget>
  <div class="section-block">
    <d-sticky [view]="stickyView" [container]="scrollTarget" [zIndex]="1000" [scrollTarget]="scrollTarget">
      <div class="sticky-content">This is the content of sticky. You can set content here.</div>
    </d-sticky>
  </div>
  <div class="main-content">
    <div class="section-block">
      <h3 class="devui-h3-title">Basic Info</h3>
      Display basic info here
      <div class="tips">
        <div class="tip-content">
          <h4>Tips:</h4>
          Sticky will follow the scroll of screen.
        </div>
      </div>
    </div>
    <div class="section-block">
      <h3 class="devui-h3-title">Issue List</h3>
      Display issue list here
      <div class="tips">
        <div class="tip-content">
          <h4>Tips:</h4>
          Sticky will follow the scroll of screen.
        </div>
      </div>
    </div>
  </div>
</div>
