<d-card class="card-container">
  <d-card-header>
    <d-avatar dCardAvatar [name]="'DEVUI'"></d-avatar>
    <d-card-title>DEVUI Course</d-card-title>
    <d-card-subtitle><i class="icon-company-member card-icon"></i><span>DevUI</span></d-card-subtitle>
  </d-card-header>
  <img dCardMeta [src]="imgSrc" />
  <d-card-content>
    DEVUI is a free open-source and common solution for the front end of enterprise mid- and back-end products. Its design values are based
    on...
  </d-card-content>
  <d-card-actions [align]="'start'">
    <div class="card-block"><i class="icon-like card-icon"></i><span>12</span></div>
    <div class="card-block"><i class="icon-star-o card-icon"></i><span>8</span></div>
    <div class="card-block"><i class="icon-message card-icon"></i><span>8</span></div>
  </d-card-actions>
</d-card>

<d-card class="card-container">
  <img dCardMeta [src]="imgSrc" />
  <d-card-header>
    <d-avatar dCardAvatar [name]="'DevUI'"></d-avatar>
    <d-card-title>DEVUI Course</d-card-title>
    <d-card-subtitle><i class="icon-company-member card-icon"></i><span>DevUI</span></d-card-subtitle>
  </d-card-header>
  <d-card-content>
    DEVUI is a free open-source and common solution for the front end of enterprise mid- and back-end products. Its design values are based
    on...
  </d-card-content>
  <d-card-actions [align]="'end'">
    <div class="card-block"><i class="icon-like card-icon"></i><span>12</span></div>
    <div class="card-block"><i class="icon-star-o card-icon"></i><span>8</span></div>
    <div class="card-block"><i class="icon-message card-icon"></i><span>8</span></div>
  </d-card-actions>
</d-card>
