<d-button class="demo-margin" (btnClick)="setUnCheckableRelation('downward')">选中父不再选中子</d-button>
<d-button class="demo-margin" (btnClick)="setUnCheckableRelation('upward')">选中子不再选中父</d-button>
<d-button class="demo-margin" (btnClick)="toggleIcon()">使用自定义展开/收起图标</d-button>
<d-button class="demo-margin" (btnClick)="expandAll()">展开全部表格</d-button>
<d-data-table
  #dataTable
  [dataSource]="basicDataSource"
  [checkable]="true"
  [checkableRelation]="checkableRelation"
  [scrollable]="true"
  (cellClick)="cellClick($event)"
  (rowClick)="rowClick($event)"
  [loadChildrenTable]="loadChildrenTable"
  [loadAllChildrenTable]="loadAllChildrenTable"
  [tableOverflowType]="'overlay'"
>
  <d-column
    [order]="1"
    field="title"
    header="title"
    [width]="'40%'"
    [nestedColumn]="true"
    [extraOptions]="extraOptions"
    [nestedColumnIndent]="20"
  ></d-column>
  <d-column [order]="2" field="lastName" header="name" [width]="'20%'"></d-column>
  <d-column [order]="3" field="status" header="status" [width]="'20%'"></d-column>
  <d-column
    [order]="4"
    field="dob"
    header="date"
    [fieldType]="'date'"
    [extraOptions]="{ dateFormat: 'MM-dd-yyyy' }"
    [width]="'20%'"
  ></d-column>
</d-data-table>
