<d-button
  dPopover
  [content]="contentTemplate"
  [popMaxWidth]="100"
  [zIndex]="100"
  [position]="'right'"
  [controlled]="true"
  style="margin-right: 4px"
>
  click me!
</d-button>
<d-button
  dPopover
  bsStyle="common"
  [content]="customTemplate"
  [position]="'right'"
  [trigger]="'hover'"
  [controlled]="true"
  [popoverStyle]="{ backgroundColor: 'white', color: 'black' }"
>
  hover me!
</d-button>

<ng-template #contentTemplate>
  <p>Custom Tips with Links</p>
  <p><a class="devui-link-light" href="https://devui.design" target="_blank">Learn More</a></p>
</ng-template>

<ng-template #customTemplate>
  <h1>Custom Tips</h1>
  <h4>This is a custom tip.</h4>
</ng-template>
