@import '../style/theme/color';

.devui-time-axis-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  ::ng-deep d-time-axis-item {
    width: 100%;
  }
}

.devui-time-axis-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center !important;
  position: relative;

  ::ng-deep d-time-axis-item {
    height: 100%;
  }

  &-fullwidth {
    ::ng-deep d-time-axis-item {
      width: 100%;
    }
  }
}
