<section style="width: 100%">
  <h5>Hide on selected:</h5>
  <div class="two-date-wrapper" dTwoDatePicker (selectedRangeChange)="selectRange($event)">
    <div class="devui-input-group devui-dropdown-origin">
      <input
        class="devui-input devui-form-control"
        placeholder="y/MM/dd"
        [(ngModel)]="rangeStart"
        dTwoDatePickerStart
        #startPicker="twoDatePickerStart"
        (selectStart)="selectStart($event)"
        (click)="startPicker.toggle()"
      />
      <div *ngIf="rangeStart" class="devui-input-group-addon close-icon-wrapper" (click)="startPicker.clear()">
        <i class="icon icon-close"></i>
      </div>
      <div class="devui-input-group-addon" (click)="startPicker.toggle()">
        <i class="icon icon-calendar"></i>
      </div>
    </div>
    <div class="devui-input-group devui-dropdown-origin">
      <input
        class="devui-input devui-form-control"
        placeholder="y/MM/dd"
        [(ngModel)]="rangeEnd"
        dTwoDatePickerEnd
        #endPicker="twoDatePickerEnd"
        (selectEnd)="selectEnd($event)"
        (click)="endPicker.toggle()"
      />
      <div *ngIf="rangeEnd" class="devui-input-group-addon close-icon-wrapper" (click)="endPicker.clear()">
        <i class="icon icon-close"></i>
      </div>
      <div class="devui-input-group-addon" (click)="endPicker.toggle()">
        <i class="icon icon-calendar"></i>
      </div>
    </div>
  </div>
  <h5>Set css class:</h5>
  <div
    class="two-date-wrapper"
    dTwoDatePicker
    [hideOnRangeSelected]="false"
    [cssClass]="'custom-css-class'"
    (selectedRangeChange)="selectRange($event)"
  >
    <div class="devui-input-group devui-dropdown-origin">
      <input
        class="devui-input devui-form-control"
        placeholder="y/MM/dd"
        [(ngModel)]="rangeStart2"
        dTwoDatePickerStart
        #startPicker2="twoDatePickerStart"
        (selectStart)="selectStart($event)"
        (click)="startPicker2.toggle()"
      />
      <div *ngIf="rangeStart2" class="devui-input-group-addon close-icon-wrapper" (click)="startPicker2.clear()">
        <i class="icon icon-close"></i>
      </div>
      <div class="devui-input-group-addon" (click)="startPicker2.toggle()">
        <i class="icon icon-calendar"></i>
      </div>
    </div>
    <div class="devui-input-group devui-dropdown-origin">
      <input
        class="devui-input devui-form-control"
        placeholder="y/MM/dd"
        [(ngModel)]="rangeEnd2"
        dTwoDatePickerEnd
        #endPicker2="twoDatePickerEnd"
        (selectEnd)="selectEnd($event)"
        (click)="endPicker2.toggle()"
      />
      <div *ngIf="rangeEnd2" class="devui-input-group-addon close-icon-wrapper" (click)="endPicker2.clear()">
        <i class="icon icon-close"></i>
      </div>
      <div class="devui-input-group-addon" (click)="endPicker2.toggle()">
        <i class="icon icon-calendar"></i>
      </div>
    </div>
  </div>
  <h5>Disabled:</h5>
  <div class="two-date-wrapper" dTwoDatePicker [disabled]="true" (selectedRangeChange)="selectRange($event)">
    <div class="devui-input-group devui-dropdown-origin">
      <input
        class="devui-input devui-form-control"
        placeholder="y/MM/dd"
        [(ngModel)]="rangeStart3"
        dTwoDatePickerStart
        #startPicker3="twoDatePickerStart"
        (selectStart)="selectStart($event)"
        (click)="startPicker3.toggle()"
      />
      <div *ngIf="rangeStart3" class="devui-input-group-addon close-icon-wrapper" (click)="startPicker3.clear()">
        <i class="icon icon-close"></i>
      </div>
      <div class="devui-input-group-addon" (click)="startPicker3.toggle()">
        <i class="icon icon-calendar"></i>
      </div>
    </div>
    <div class="devui-input-group devui-dropdown-origin">
      <input
        class="devui-input devui-form-control"
        placeholder="y/MM/dd"
        [(ngModel)]="rangeEnd3"
        dTwoDatePickerEnd
        #endPicker3="twoDatePickerEnd"
        (selectEnd)="selectEnd($event)"
        (click)="endPicker3.toggle()"
      />
      <div *ngIf="rangeEnd3" class="devui-input-group-addon close-icon-wrapper" (click)="endPicker3.clear()">
        <i class="icon icon-close"></i>
      </div>
      <div class="devui-input-group-addon" (click)="endPicker3.toggle()">
        <i class="icon icon-calendar"></i>
      </div>
    </div>
  </div>
</section>
