<section style="display: flex; width：100%;">
  <div class="col-md-6" style="margin-right: 10px">
    <div class="row">
      <div class="col-md-6">
        <div class="devui-input-group devui-dropdown-origin" dActiveFormControl>
          <input
            class="devui-input devui-form-control"
            placeholder="y/MM/dd"
            name="dp"
            [(ngModel)]="startDate"
            (click)="datePicker1.toggle()"
            autocomplete="off"
            dDatepicker
            appendToBody
            #datePicker1="datepicker"
            (selectedDateChange)="getValue($event)"
            [customViewTemplate]="myCustomview"
          />
          <div *ngIf="startDate" class="devui-input-group-addon close-icon-wrapper" (click)="datePicker1.clearAll()">
            <i class="icon icon-close"></i>
          </div>
          <div class="devui-input-group-addon" (click)="datePicker1.toggle()">
            <i class="icon icon-calendar"></i>
          </div>
        </div>
      </div>
    </div>
    <ng-template #myCustomview let-chooseDate="chooseDate" let-datePicker>
      <div class="box">
        <a class="date-link" (click)="chooseDate(getDay(0))">select today</a>
      </div>
    </ng-template>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <div class="devui-input-group devui-dropdown-origin" dActiveFormControl>
          <input
            class="devui-input devui-form-control"
            placeholder="y/MM/dd"
            name="dp"
            [(ngModel)]="endDate"
            (click)="datePicker2.toggle()"
            autocomplete="off"
            dDatepicker
            appendToBody
            #datePicker2="datepicker"
            (selectedDateChange)="getValue($event)"
            [customViewTemplate]="myCustomview1"
          />
          <div *ngIf="endDate" class="devui-input-group-addon close-icon-wrapper" (click)="datePicker2.clearAll()">
            <i class="icon icon-close"></i>
          </div>
          <div class="devui-input-group-addon" (click)="datePicker2.toggle()">
            <i class="icon icon-calendar"></i>
          </div>
        </div>
      </div>
    </div>
    <ng-template #myCustomview1 let-chooseDate="chooseDate" let-datePicker>
      <div class="box">
        <a class="date-link" (click)="chooseDate(getNextWeekday(7))">after a week</a>
      </div>
    </ng-template>
  </div>
</section>
