<div (click)="onClick($event)">
  <div class="d-form-field">
    <div class="d-form-label">
      <div class="text" title="name" for="input-label">name:</div>
    </div>
    <div class="d-form-ctrl">
      <div>
        <input dTextInput type="text" class="d-form-text" autocomplete="off" maxlength="128" />
      </div>
    </div>
  </div>
  <div class="d-form-field">
    <div class="d-form-label">
      <div class="text" title="age" for="input-label">age:</div>
    </div>
    <div class="d-form-ctrl">
      <div>
        <input dTextInput type="text" class="d-form-text" autocomplete="off" maxlength="128" />
      </div>
    </div>
  </div>
  <div class="d-form-field">
    <div class="d-form-label">
      <div class="text" title="address" for="input-label">address:</div>
    </div>
    <div class="d-form-ctrl">
      <div>
        <input dTextInput type="text" class="d-form-text" autocomplete="off" maxlength="128" />
      </div>
    </div>
  </div>
</div>
