$layout-namespace: dl;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  ss: 0,
  ms: 360px,
  mm: 768px,
  ml: 1024px,
  xs: 1280px,
  sm: 1440px,
  md: 1600px,
  lg: 1760px,
  xl: 1920px
);

@include _assert-ascending($grid-breakpoints, '$grid-breakpoints');
@include _assert-starts-at-zero($grid-breakpoints, '$grid-breakpoints');

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  ms: 340px,
  mm: 720px,
  ml: 960px,
  xs: 1240px,
  sm: 1400px,
  md: 1560px,
  lg: 1760px,
  xl: 1880px
);

@include _assert-ascending($container-max-widths, '$container-max-widths');

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 24;
$grid-gutter-width: 16px;
$grid-row-columns: 12 !default;
