<section class="demo-section">
  <h5>验证单个元素，使用内置校验器</h5>
  <p>当前<code>DevUI</code>支持的内置校验器有：<code>required、minlength、maxlength、min、max、requiredTrue、email、pattern</code>。</p>
  <p>若需限制用户输入长度，将最大限制设置为实际校验值<code>+1</code>是一个好的办法。</p>
  <div>
    <input
      dTextInput
      autocomplete="off"
      name="singleInput"
      maxlength="11"
      [(ngModel)]="singleInput1Data"
      [dValidateRules]="[
        { required: true, message: '输入不能为空' },
        { minlength: 3, message: '最小长度为3' },
        { maxlength: 10, message: '最大长度不能超过10' },
        { pattern: isAlphabetPattern, message: '请勿包含大小写字母以外其他字符' }
      ]"
    />
  </div>

  <h5>验证单个元素，自定义校验器</h5>
  <ul>
    <li>
      一个校验器需要一个唯一的<code>id</code>标识，你可显式声明此<code>id</code>，
      也可声明一个与保留字不冲突的<code>key</code>，此<code>key</code>将被识别为<code>id</code>， 其<code>value</code>作为校验器。
    </li>
    <li>
      自定义校验器，你可以简单返回<code>true | false </code>来标识当前校验是否通过， 也可以返回<code>string | null</code
      >，来标识当前是否错误并返回错误消息，适用于动态错误提示。
    </li>
    <li>如果是异步校验器，你需要将你的值以<code>Observable</code>对象方式返回。</li>
    <li>更多地，<code>DevUI</code>兼容原生<code>angular</code>校验器， 你可将<code>isNgValidator</code>设置为<code>true</code>。</li>
  </ul>
  <div>
    <d-select
      [options]="verifierOptions"
      [(ngModel)]="singleSelectData1"
      [multiple]="true"
      [name]="'singleSelect1'"
      [filterKey]="'name'"
      [dValidateRules]="{
        validators: [{ maxUser: maxUsers(3), message: '请不要选择超过三个管理员' }],
        asyncValidators: [{ isUserBusy: isUserBusy }]
      }"
    >
    </d-select>
  </div>

  <h5>验证单个元素，配置错误更新策略errorStrategy、校验时机updateOn</h5>
  <ul>
    <li>
      设置<code>errorStrategy</code>元素初始化时若校验不通过，错误是否会进行提示，
      默认配置为<code>dirty</code>，若需要在初始化时将错误抛出，可配置为<code>pristine</code>。
    </li>
    <li><code>errorStrategy</code>可继承。</li>
    <li>
      设置<code>updateOn</code>，指定校验的时机。 校验器<code>updateOn</code>基于你绑定的模型的<code>updateOn</code>设置，
      在模板中你可以通过<code>ngModelOptions</code>来指定， 默认为<code>change</code>，可选值还有<code>blur</code>、<code>submit</code>，
      设置为<code>submit</code>，则当元素所在表单进行提交时将触发校验。
    </li>
  </ul>
  <div>
    <d-select
      [options]="verifierOptions"
      [(ngModel)]="singleSelectData2"
      [multiple]="true"
      [name]="'singleSelect2'"
      [filterKey]="'name'"
      [dValidateRules]="{
        errorStrategy: 'pristine',
        validators: [{ required: true, message: '请选择一个管理员' }],
        asyncValidators: [{ isUserBusy: isUserBusy, errorStrategy: 'dirty' }]
      }"
    >
    </d-select>
  </div>
  <div>
    <d-select
      [options]="verifierOptions"
      [(ngModel)]="singleSelectData3"
      [multiple]="true"
      [name]="'singleSelect2'"
      [filterKey]="'name'"
      [ngModelOptions]="{ updateOn: 'blur' }"
      [dValidateRules]="[
        { required: true, message: '请选择一个管理员' },
        { maxUser: maxUsers(3), message: '请不要选择超过三个管理员' }
      ]"
    >
    </d-select>
  </div>

  <h5>验证单个元素，自定义管理消息提示</h5>
  <ul>
    <li>配置<code>messageShowType</code>可选择消息自动提示的方式，默认为<code>popover</code>。</li>
    <li>设置为<code>popover</code>错误信息将在元素聚焦时以<code>popover</code>形式呈现。</li>
    <li>设置为<code>text</code>错误信息将自动以文本方式显示在元素下方(需要与表单控件容器配合使用)。</li>
    <li>
      设置为<code>none</code>错误信息将不会自动呈现到视图，
      可在模板中获取<code>message</code>或通过监听<code>messageChange</code>事件获取错误<code>message</code>， 或在模板中直接通过引用获取。
    </li>
    <li>此配置可继承。</li>
  </ul>
  <div>
    <input
      #inputValidate="dValidateRules"
      dTextInput
      autocomplete="off"
      name="singleInput"
      maxlength="11"
      [(ngModel)]="singleInput2Data"
      [dValidateRules]="{
        messageShowType: 'none',
        validators: [
          { required: true, message: '输入不能为空' },
          { minlength: 3, message: '最小长度为3' },
          { maxlength: 10, message: '最大长度不能超过10' },
          { pattern: isAlphabetPattern, message: '请勿包含大小写字母以外其他字符' }
        ]
      }"
      (dRulesStatusChange)="inputErrorChange($event)"
    />
    <p *ngIf="inputValidate.showError && inputValidate.errorMessage" class="error-message">{{ inputValidate.errorMessage }}</p>
  </div>
</section>

<section class="demo-section">
  <h5>Form验证与提交</h5>
  <ul>
    <li><code>dValidateRules</code>也可作用于已绑定<code>ngForm、ngModelGroup</code>元素上， 进行表单状态与错误消息的统一管理。</li>
    <li>对于非边框类元素，建议在<code>d-form-item</code>容器上配置<code>dValidateFeedback</code>为<code>label</code> 进行错误反馈提示。</li>
    <li>对于<code>dForm</code>，可使用<code>dFormSubmit、dFormReset</code> 指令关联将用于触发提交与重置操作的元素</li>
  </ul>
  <div>
    <form
      dForm
      ngForm
      [dValidateRules]="{ message: '表单校验不通过，请检查' }"
      [layout]="'vertical'"
      #planForm="dValidateRules"
      (ngSubmit)="submitPlanForm()"
    >
      <div [ngModelGroup]="'textGroup'">
        <d-form-item>
          <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'这是计划名'">计划名</d-form-label>
          <d-form-control>
            <input
              dTextInput
              autocomplete="off"
              name="planName"
              [(ngModel)]="planFormData.planName"
              [dValidateRules]="[{ required: true, message: '计划名不能为空' }]"
            />
          </d-form-control>
        </d-form-item>
        <d-form-item>
          <d-form-label>计划描述</d-form-label>
          <d-form-control>
            <textarea
              dTextarea
              autocomplete="off"
              name="planDescription"
              [(ngModel)]="planFormData.planDescription"
              [dValidateRules]="[{ maxlength: 256, message: '长度不能超过256' }]"
            ></textarea>
          </d-form-control>
        </d-form-item>
      </div>
      <d-form-item>
        <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'任务每次执行的审核人'">审核人</d-form-label>
        <d-form-control>
          <d-select
            [options]="verifierOptions"
            [(ngModel)]="planFormData.planVerifier"
            [name]="'planVerifier'"
            [filterKey]="'name'"
            [allowClear]="true"
            [dValidateRules]="[{ required: true, message: '请选择一个执行审核人' }]"
          ></d-select>
        </d-form-control>
      </d-form-item>
      <d-form-item [dFeedbackType]="'label'">
        <d-form-label [required]="true">执行日</d-form-label>
        <d-form-control [extraInfo]="customTemplate">
          <d-checkbox-group
            [options]="checkboxOptions"
            [(ngModel)]="planFormData.planExerciseDate"
            [name]="'planExerciseDate'"
            [direction]="'row'"
            [filterKey]="'label'"
            [isShowTitle]="true"
            [dValidateRules]="{
              validators: [{ required: true, message: '请至少选择一个执行日' }],
              asyncValidators: [{ canChoose: this.validateDate }]
            }"
          ></d-checkbox-group>
        </d-form-control>
      </d-form-item>
      <d-form-operation>
        <d-button class="mr-element-spacing" [title]="planForm.errorMessage || ''" circled="true" style="margin-right: 8px" dFormSubmit
          >提交</d-button
        >
      </d-form-operation>
    </form>
  </div>
  <ng-template #customTemplate>
    <span>选择您的执行周期，推荐选择周一，周三，周五</span>
  </ng-template>
</section>

<section class="demo-section">
  <d-toast [value]="msgs"></d-toast>
  <h5>Form验证与提交，用户注册场景</h5>
  <ul>
    <li>针对表单场景复杂的校验规则，我们推荐在控制器中组织，可更好地组织与复用你的校验规则。</li>
    <li>对于自动错误提示的方式，在<code>form</code>中， 建议在<code>dForm</code>层统一设置<code>messageShowType</code>。</li>
    <li>
      对于由<code>dFormSubmit</code>触发的提交事件， 你可在<code>dForm</code>层绑定<code>dSubmit</code>监听，
      可获取到当前<code>form</code>验证状态与对应的<code>directive</code>引用
    </li>
    <li>对于表单提交时的提示，我们推荐使用<code>d-toast</code>显示。</li>
  </ul>
  <div>
    <form dForm ngForm [dValidateRules]="formRules.rule" [layout]="'vertical'" #userForm="dValidateRules" (dSubmit)="submitForm($event)">
      <d-form-item>
        <d-form-label [required]="true">用户名</d-form-label>
        <d-form-control>
          <input
            dTextInput
            autocomplete="off"
            name="username"
            placeholder="填写一个你喜欢的用户名吧"
            [(ngModel)]="formData.userName"
            [dValidateRules]="formRules.usernameRules"
          />
        </d-form-control>
      </d-form-item>
      <d-form-item>
        <d-form-label [required]="true">密码</d-form-label>
        <d-form-control>
          <input
            dTextInput
            type="password"
            name="password"
            [(ngModel)]="formData.password"
            placeholder="请设置6-15位密码"
            [dValidateRules]="formRules.passwordRules"
          />
        </d-form-control>
      </d-form-item>
      <d-form-item>
        <d-form-label [required]="true">确认密码</d-form-label>
        <d-form-control>
          <input
            dTextInput
            type="password"
            name="confirmPassword"
            [(ngModel)]="formData.confirmPassword"
            placeholder="再次确认并输入"
            [dValidateRules]="formRules.confirmPasswordRules"
          />
        </d-form-control>
      </d-form-item>
      <d-form-operation>
        <d-button class="mr-element-spacing" [title]="userForm.errorMessage || ''" circled="true" style="margin-right: 8px" dFormSubmit
          >注册</d-button
        >
        <d-button bsStyle="common" circled="true" dFormReset>重置</d-button>
      </d-form-operation>
    </form>
  </div>
</section>
