@import '../style/theme/color';
@import '../style/theme/variables';
@import '../style/mixins/index';

.devui-toast {
  .devui-toast-item-container {
    box-shadow: 0 12px 24px rgba($dark1, .2);
    color: $white;
    .devui-toast-item {
      .devui-toast-icon-close {
        color: $white;
      }

      .devui-toast-image {
        background-color: $white;
      }
    }
  }

  .devui-toast-message-success {
      background-color: $status-green;
      .icon-right {
        color: $status-green;
      }
  }

  .devui-toast-message-info {
      background-color: $status-blue;
      .icon-info {
        color: $status-blue;
      }
  }

  .devui-toast-message-warn {
      background-color: $status-yellow;
      color: $dark1;
      .icon-close {
        color: $dark1;
      }
      .icon-warning {
        color: $status-yellow;
      }
  }

  .devui-toast-message-error {
      background-color: $status-red;
      .icon-error {
        color: $status-red;
      }
  }
}

.devui-toast-image-warning {
  fill : $status-yellow;
}

.devui-toast-image-info {
  fill : $status-blue;
}

.devui-toast-image-error {
  fill: $status-red;
}

.devui-toast-image-success {
  fill: $status-green;
}

.devui-toast-icon-close-no-warn {
  fill: $white;
}

.devui-toast-icon-close-warn {
  fill: $dark1;
}


