@import './assets/common';
@import '../style/core/font';
@import '../style/theme/z-index';

.devui-mention-dropdown {
  position: absolute;
  color: $devui-text;
  z-index: $devui-z-index-dropdown;
  min-width: 120px;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: $devui-border-radius;
  background-color: $devui-connected-overlay-bg;
  box-shadow: $devui-shadow-length-base $devui-light-shadow;
  margin-top: 16px;
  box-sizing: border-box;
  outline: none;

  &.devui-mention-overlay-top {
    transform: translateY(-100%);
    margin-top: -8px;
  }

  .devui-mention-dropdown-notfound {
    min-height: 34px;
    line-height: 1.5;
    color: $devui-text;
    font-size: $devui-font-size;
    padding: 8px 12px;
    border: 0;
  }

  .devui-mention-dropdown-item {
    font-size: $devui-font-size;
    display: block;
    min-height: 34px;
    line-height: 1.5;
    width: 100%;
    padding: 8px 12px;
    clear: both;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 0;
    color: $devui-text;
    cursor: pointer;

    &:hover {
      color: $devui-list-item-hover-text;
      background-color: $devui-list-item-hover-bg;
    }

    &.focus {
      color: $devui-list-item-active-text;
      background-color: $devui-list-item-active-bg;
    }
  }
}
