<div class="demo-container">
  <div class="demo-example">
      <div class="demo-title">基本用法</div>
      <div class="demo-text">

      </div>
      <d-codebox id="components-tags-input-default" [sourceData]="basicSource">
          <d-tags-input-basic demo></d-tags-input-basic>
      </d-codebox>
  </div>
  <div class="demo-example">
      <div class="demo-title">异步数据源</div>
      <div class="demo-text">

      </div>
      <d-codebox id="components-tags-input-async" [sourceData]="asyncSource">
          <d-tags-input-async demo></d-tags-input-async>
      </d-codebox>
  </div>
  </div>
