<div class="devui-demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 180, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="devui-demo-example" [dAnchor]="'basic-usage'">
    <div class="devui-demo-title">{{ 'components.tags-input.basicDemo.title' | translate }}</div>
    <div class="devui-demo-text"></div>
    <d-codebox id="components-tags-input-default" [sourceData]="basicSource">
      <d-tags-input-basic demo></d-tags-input-basic>
    </d-codebox>
  </div>

  <div class="devui-demo-example" [dAnchor]="'customize'">
    <div class="devui-demo-title">{{ 'components.tags-input.customizeDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.tags-input.customizeDemo.description' | translate }}</div>
    <d-codebox id="components-tags-input-customize" [sourceData]="customizeSource">
      <d-tags-input-customize demo></d-tags-input-customize>
    </d-codebox>
  </div>

  <div class="devui-demo-example" [dAnchor]="'async-input'">
    <div class="devui-demo-title">{{ 'components.tags-input.asyncDemo.title' | translate }}</div>
    <div class="devui-demo-text"></div>
    <d-codebox id="components-tags-input-async" [sourceData]="asyncSource">
      <d-tags-input-async demo></d-tags-input-async>
    </d-codebox>
  </div>

  <div class="devui-demo-example" [dAnchor]="'virtual-scroll'">
    <div class="devui-demo-title">{{ 'components.tags-input.virtualScrollDemo.title' | translate }}</div>
    <div class="devui-demo-text"></div>
    <d-codebox id="components-tags-input-virtual-scroll" [sourceData]="virtualScrollSource">
      <d-tags-input-virtual-scroll demo></d-tags-input-virtual-scroll>
    </d-codebox>
  </div>
</div>
