@import '../style/mixins/index';

:host {
  display: block;
}
::ng-deep .devui-accordion-menu,
.devui-accordion-menu {
  width: 100%;
  overflow-y: auto;
  .devui-accordion-item {
      position: relative;
      > .open-icon {
          pointer-events: none; /*让鼠标穿透*/
          position: absolute;
          right: 10px;
          top: 12px;
          width: 16px;
          height: 16px;
          line-height: 16px;
          transition: transform ease-out 300ms;
      }
      &:not(.open){
          >.open-icon {
              transform: rotate(-90deg);
              transform-origin: center;
          }
      }
      &.disabled > .devui-accordion-item-title,
      &.disabled > .open-icon{
          opacity: 0.3;
          cursor: default;
      }
  }
  .devui-accordion-item-title {
      height: 40px;
      width: 100%;
      padding: 0 30px 0 20px;
      line-height: 40px;
      font-weight: 700;
      cursor: pointer;
  }
  .devui-accordion-submenu {
      .devui-accordion-item-title {
          font-weight: 400;
          padding-left: 40px;
          padding-right: 10px;
      }

  }
  a.devui-accordion-item-title {
      &:hover {
          text-decoration: none;
      }
      text-decoration: none;
      display: block;
  }
}
