<ng-container *ngIf="!disabled">
  <a
    class="devui-over-flow-ellipsis"
    [routerLink]="path"
    [queryParams]="queryParams"
    [fragment]="fragment"
    [routerLinkActive]="'devui-router-active'"
    target="{{ target }}"
    rel="noopener"
    title="{{ title }}"
  >
    <ng-container *ngIf="!itemTemplate">
      {{ title }}
    </ng-container>
    <ng-template
      *ngIf="itemTemplate"
      [ngTemplateOutlet]="itemTemplate"
      [ngTemplateOutletContext]="{
        parent: parent,
        item: item,
        deepth: deepth
      }"
    ></ng-template>
  </a>
</ng-container>
<ng-container *ngIf="disabled">
  <a class="devui-over-flow-ellipsis" title="{{ title }}">
    <ng-container *ngIf="!itemTemplate">
      {{ title }}
    </ng-container>
    <ng-template
      *ngIf="itemTemplate"
      [ngTemplateOutlet]="itemTemplate"
      [ngTemplateOutletContext]="{
        parent: parent,
        item: item,
        deepth: deepth
      }"
    ></ng-template>
  </a>
</ng-container>
