@import '../style/mixins/index';

:host {
  display: block;
}
/deep/ .devui-accordion-menu,
.devui-accordion-menu {
  // background: @white;
  // box-shadow: 0 1px 2px 0 @dark-1-boxshadow;
  width: 100%;
  .devui-accordion-item {
      position: relative;
      > .open-icon {
          pointer-events: none; /*让鼠标穿透*/
          position: absolute;
          right: 10px;
          top: 12px;
          width: 16px;
          height: 16px;
          line-height: 16px;
          transition: transform ease-out 300ms;
          &::before {
              font-size: 16px; /*图标太小*/
          }
      }
      &:not(.open){
          >.open-icon {
              transform: rotate(-90deg);
              transform-origin: center;
          }
      }
      &.disabled > .devui-accordion-item-title,
      &.disabled > .open-icon{
          opacity: 0.3;
          cursor: default;
      }
  }
  .devui-accordion-item-title {
      height: 40px;
      width: 100%;
      padding: 0 30px 0 20px;
      line-height: 40px;
      // color: @dark-1;
      font-weight: 700;
      // background: @white;
      cursor: pointer;
  }
  .devui-accordion-submenu {
      // background: @gray-3;
      .devui-accordion-item-title {
          font-weight: 400;
          // background: @gray-3;
          padding-left: 40px;
          padding-right: 10px;
      }
      // >.accordion-item:not(.disabled) {
      //     .accordion-item-title:hover {
      //         background:  @hover-content;
      //     }
      //     &.active > .accordion-item-title {
      //         background: @brand-3;
      //     }
      // }

  }

  // >.accordion-item.has-active-item > .accordion-item-title {
  //     color: @brand-1;
  // }
  // >.accordion-item:not(.disabled) > .accordion-item-title:hover {
  //     background: @hover-content;
  // }
  a.devui-accordion-item-title {
      &:hover {
          text-decoration: none;
      }
      text-decoration: none;
      display: block;
  }
}
