@import '../style/mixins/index';
@import '../style/theme/color';

:host {
  display: block;
}

:host ::ng-deep d-accordion-menu,
:host ::ng-deep d-accordion-item,
:host ::ng-deep d-accordion-item-hreflink,
:host ::ng-deep d-accordion-item-routerlink,
:host ::ng-deep d-accordion-list {
  display: block;
}

/* 菜单底色 */
:host ::ng-deep .devui-accordion-menu {
  display: block;
  background: $bg-white;
  width: 100%;
  overflow-y: auto;
  border-radius: 2px;
  height: 100%;

  &.devui-accordion-menu-normal {
    box-shadow: 0 2px 4px 0 $dark-1-boxshadow;
  }

  & > .devui-accordion-list {
    padding: 10px 0;
  }

  .devui-over-flow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

:host ::ng-deep .devui-accordion-submenu {
  background: $bg-white;
  width: 100%;
}

/* 单行菜单 */
:host ::ng-deep .devui-accordion-item-title {
  display: block;
  height: 40px;
  width: 100%;
  padding: 0 10px 0 20px;
  font-weight: 400;
  line-height: 40px;
  color: $dark-2;
  background: transparent;
  cursor: pointer;

  &.disabled {
    color: $disabled-content;
    cursor: not-allowed;

    & > a {
      color: $disabled-content;
    }
  }

  &:not(.disabled) {
    &:hover {
      background: $hover-content;
      color: $hover-control;
    }

    &.devui-router-active,
    &.active:not(.open) {
      color: $hwc-color-text-active-text-link;
      font-weight: bold;

      & > a {
        color: $hwc-color-text-active-text-link;
      }
    }
  }

  & > a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: $dark-2;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

/* 解决链接可点击区域大小不是100%宽度问题 */
:host ::ng-deep d-accordion-item-hreflink,
:host ::ng-deep d-accordion-item-routerlink {
  &.devui-accordion-item-title {
    padding: 0;

    & > a {
      padding: 0 10px 0 20px;
    }
  }
}

/* 展开图标相关 */
:host ::ng-deep .devui-accordion-menu-item > .devui-accordion-item-title {
  position: relative;

  & > .devui-accordion-open-icon {
    display: inline-block;
    text-indent: 0;
    pointer-events: none; /* 让鼠标穿透 */
    position: absolute;
    right: 10px;
    top: 12px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    transition: transform ease-out 0.3s;

    & > svg {
      width: 16px;
      height: 16px;

      polygon {
        fill: $dark-2;
      }
    }
  }

  &:not(.open) {
    &.active {
      svg polygon {
        fill: $hwc-color-icon-hover-active;
      }
    }

    & > .devui-accordion-open-icon {
      transform: rotate(-180deg);
      transform-origin: center;
    }
  }

  &.disabled > .devui-accordion-open-icon {
    color: $disabled-content;

    svg polygon {
      fill: $disabled-content;
    }
  }
}

/* 可展开的菜单 */
:host ::ng-deep .devui-accordion-menu-item > .devui-accordion-item-title {
  padding-right: 30px;

  &.active:not(.open) {
    color: $hwc-color-text-active-text-link;
    background: transparent;
  }
}

:host ::ng-deep d-accordion-list.devui-accordion-menu-hidden {
  display: none;
}

/* 视觉融合灰线 */
:host ::ng-deep .devui-accordion-item-title {
  position: relative;

  .devui-accordion-splitter {
    position: absolute;
    display: inline-block;
    left: 10px;
    width: 2px;
    height: 40px;
    background: $gray-2;
    vertical-align: middle;

    &.devui-parent-list {
      background-color: transparent;
    }
  }

  &.devui-router-active,
  &.active {
    &:not(.open) .devui-accordion-splitter::before {
      content: '';
      display: block;
      width: 2px;
      height: 18px;
      background: $hwc-color-border-active;
      position: absolute;
      top: 11px;
      left: 0;
    }
  }
}

:host ::ng-deep .devui-accordion-list > .devui-accordion-item:first-child {
  & > .devui-accordion-item-title,
  & > .devui-accordion-menu-item > .devui-accordion-item-title {
    & > a > .devui-accordion-splitter,
    & > .devui-accordion-splitter {
      height: 28px;
      top: 12px;

      &::before {
        top: 0;
      }
    }
  }
}

:host ::ng-deep .devui-accordion-list > .devui-accordion-item:last-child {
  & > .devui-accordion-item-title,
  & > .devui-accordion-menu-item > .devui-accordion-item-title {
    & > a > .devui-accordion-splitter,
    & > .devui-accordion-splitter {
      height: 28px;
      top: 0;

      &::before {
        top: initial;
        bottom: 0;
      }
    }
  }
}

:host ::ng-deep .devui-accordion-list > .devui-accordion-item:last-child:first-child {
  & > .devui-accordion-item-title,
  & > .devui-accordion-menu-item > .devui-accordion-item-title {
    & > a > .devui-accordion-splitter,
    & > .devui-accordion-splitter {
      height: 18px;
      top: 11px;
    }
  }
}
