<a
  class="devui-over-flow-ellipsis"
  [href]="!disabled ? link : null"
  [target]="!disabled ? target : null"
  [rel]="!disabled ? 'noopener' : null"
  title="{{ title }}"
>
  <div class="devui-accordion-splitter" [class.devui-parent-list]="deepth === 0" [style.left.px]="deepth * 20 + 10"></div>
  <ng-container
    [ngTemplateOutlet]="itemTemplate ?? defaultTemplate"
    [ngTemplateOutletContext]="{
      parent: parent,
      item: item,
      deepth: deepth
    }"
  >
  </ng-container>
  <ng-template #defaultTemplate>
    {{ title }}
  </ng-template>
</a>
