<div class="devui-demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 180, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="devui-demo-example" [dAnchor]="'font'">
    <div class="devui-demo-title">{{ 'components.design-font.fontDemo.title' | translate }}</div>
    <div class="devui-demo-text">
      {{ 'components.design-font.fontDemo.description1' | translate }}<br />
      {{ 'components.design-font.fontDemo.description2' | translate }}<br />
      {{ 'components.design-font.fontDemo.description3' | translate }}
    </div>
    <d-font></d-font>
  </div>
</div>
