@import '../style/core/layout';
.devui-form-horizontal :host.devui-form-controls {
  flex: 1 1 0;
  margin-left: $element-spacing;
}
.devui-form-vertical :host.devui-form-controls {
  flex: 1 1 0;
}
.devui-form-columns :host.devui-form-controls {
  flex: 1 1 0;
  margin-left: $element-spacing;
  margin-right: $component-space;
}
