<section>
  <h4>Big size<!--大尺寸--></h4>
  <div class="row">
    <div class="col-md-5">
      <d-select [overview]="'underlined'" [placeholder]="'Large Input'" [options]="options" size="lg"></d-select>
    </div>
  </div>
  <h4>Normal size<!--标准尺寸--></h4>
  <div class="row">
    <div class="col-md-5">
      <d-select [placeholder]="'Standard Input'" [options]="options"></d-select>
    </div>
  </div>
  <h4>Small size<!--小尺寸--></h4>
  <div class="row">
    <div class="col-md-5">
      <d-select [placeholder]="'Small Input'" [options]="options" size="sm"></d-select>
    </div>
  </div>
</section>
