<div class="progress-container circle-type">
  <d-progress [type]="'circle'" [percentage]="30" [showContent]="false"></d-progress>
</div>
<div class="progress-container circle-type">
  <d-progress
    [type]="'circle'"
    [percentage]="percentage"
    [percentageText]="percentageText"
    [strokeColor]="strokeColor"
    [strokeWidth]="8"
  ></d-progress>
</div>
<div class="progress-container circle-type">
  <d-progress [type]="'circle'" [percentage]="100" [strokeColor]="'#029931'" [strokeWidth]="8">
    <ng-template [dPosition]="'center'" let-percentage="percentage">
      <span class="icon-position icon-right"></span>
    </ng-template>
  </d-progress>
</div>
