@import '~ng-devui/styles-var/devui-var.scss';

.icon-position {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: $devui-success;
  font-size: $devui-font-size-data-overview;
}
