@import '~ng-devui/styles-var/devui-var.scss';

.progress-container {
  font-size: $devui-font-size-price;
  display: inline-block;
  margin-right: 10px;
}

.icon-position {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1;
  white-space: normal;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: $devui-success;
  font-size: $devui-font-size-data-overview;
}
