<div class="demo-container">

  <div class="demo-example">
    <div class="demo-title">基本用法</div>
    <div class="demo-text">

    </div>
    <d-codebox id="components-color-picker-basic" [sourceData]="basicSource">
      <d-color-picker-basic demo></d-color-picker-basic>
    </d-codebox>
  </div>

  <div class="demo-example">
    <div class="demo-title">悬浮使用</div>
    <div class="demo-text">

    </div>
    <d-codebox id="components-color-picker-tap" [sourceData]="tapSource">
      <d-color-picker-tap demo></d-color-picker-tap>
    </d-codebox>
  </div>

</div>
