@import '../style/theme/color';
@import '../style/core/_font';

.devui-star-align {
  float: left;
  font-size: $devui-font-size-icon;
  margin-right: 5px;
  position: relative;
  line-height: 1;
}

.devui-pointer {
  cursor: pointer;
}

.devui-star-container {
  display: inline-block;
}

.devui-star-color-active {
  color: $devui-brand;
  line-height: 1.5;

  svg g {
    fill: $devui-brand;
  }
}

.devui-active-star {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.devui-star-color {
  color: $devui-shape-icon-fill;
  line-height: 1.5;

  svg g {
    fill: $devui-shape-icon-fill;
  }
}

.devui-only-read {
  cursor: not-allowed;
}
