@import '../style/theme/color';
@import '../style/theme/_font';

.devui-star-align {
  float: left;
  font-size: $devui-font-size-icon;
  margin-right: 5px;
  position: relative;
  line-height: 1;
}

.devui-pointer {
  cursor: pointer;
}

.devui-star-container {
  display: inline-block;
}

.devui-star-color-active {
  color: #6a81ed;
  line-height: 1.5;

  svg g {
    fill: #6a81ed;
  }
}

.devui-star-color-success {
  color: #3dcca6;

  svg g {
    fill: #3dcca6;
  }
}

.devui-star-color-warning {
  color: #fac20a;

  svg g {
    fill: #fac20a;
  }
}

.devui-star-color-error {
  color: #f66f6a;

  svg g {
    fill: #f66f6a;
  }
}

.devui-active-star {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.devui-star-color {
  color: $devui-dividing-line;
  line-height: 1.5;

  svg g {
    fill: $devui-dividing-line;
  }
}

.devui-only-read {
  cursor: not-allowed;
}
