@import '~ng-devui/styles-var/devui-var.scss';

.ck {
  display: inline-block;
}

.field-text {
  font-weight: bold;
  margin-bottom: 16px;
}

.filter {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  text-decoration: underline;
}

.single-checkbox {
  display: inline-block;
  margin-right: 10px;
}

.g-dropdown {
  display: inline-block;
}

.advanced-filter-panel {
  width: 900px;
  background-color: $devui-area;
  padding-left: 36px;
}
