<section>
  <d-panel [type]="'primary'" #panel [isCollapsed]="isCollapsed" [beforeToggle]="beforeToggle">
    <d-panel-header>
      <em class="icon icon-chevron-down-2" [ngClass]="{ open: panel.isCollapsed }"></em>
      Panel with foldable
    </d-panel-header>
    <d-panel-body>This is body</d-panel-body>
  </d-panel>
  <br /><br />
  <d-button (btnClick)="panelToggle = !panelToggle" bsClass="d-btn d-btn-primary">
    {{ panelToggle ? 'No collapsing' : 'Allow collapsing' }}
  </d-button>
</section>
