@import '~ng-devui/styles-var/devui-var.scss';

em.icon-chevron-down-2 {
  transition: transform $devui-animation-duration-slow $devui-animation-ease-in-out-smooth;
  font-size: 14px;
  vertical-align: text-bottom;
  margin-right: 4px;

  &.open {
    transform: rotate(180deg);
  }
}
