.gantt-container {
  overflow: scroll;

  .header {
    position: relative;
    border-bottom: 1px solid #adb0b8;
  }

  .body {
    position: relative;
    min-height: 400px;

    .item {
      height: 40px;
      padding-top: 8px;
    }
  }
}

::ng-deep .devui-gantt-tips {
  & .title {
    font-size: 14px;
    color: var(--dark-1, #252b3a);
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  & .content {
    font-size: 12px;
    color: var(--dark-1, #252b3a);
    line-height: 24px;
  }
}
