@import '~ng-devui/styles-var/devui-var.scss';

.gantt-container {
  overflow: scroll;

  .header {
    position: relative;
    border-bottom: 1px solid $devui-dividing-line;
  }

  .body {
    position: relative;
    min-height: 400px;

    .item {
      height: 40px;
      padding-top: 8px;
    }
  }
}

::ng-deep .devui-gantt-tips {
  & .title {
    font-size: $devui-font-size-card-title;
    color: $devui-text;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  & .content {
    font-size: $devui-font-size;
    color: $devui-text;
    line-height: 24px;
  }
}
