<div class="demo-container">
    <div class="demo-example">
        <div class="demo-title">互相独立的单选项</div>
        <div class="demo-text">

        </div>
        <ave-codebox id="components-tabs-default" [sourceData]="basicSource">
            <ave-basic demo></ave-basic>
        </ave-codebox>
    </div>

    <div class="demo-example">
        <div class="demo-title">禁用</div>
        <div class="demo-text">

        </div>
        <ave-codebox id="components-tabs-default" [sourceData]="disabledSource">
            <ave-disabled demo></ave-disabled>
        </ave-codebox>
    </div>

    <div class="demo-example">
        <div class="demo-title">横向排列</div>
        <div class="demo-text">

        </div>
        <ave-codebox id="components-tabs-default" [sourceData]="horizontalSource">
            <ave-horizontal demo></ave-horizontal>
        </ave-codebox>
    </div>

    <div class="demo-example">
        <div class="demo-title">竖向排列</div>
        <div class="demo-text">

        </div>
        <ave-codebox id="components-tabs-default" [sourceData]="verticalSource">
            <ave-vertical demo></ave-vertical>
        </ave-codebox>
    </div>

    <div class="demo-example">
        <div class="demo-title">自定义单选项</div>
        <div class="demo-text">

        </div>
        <ave-codebox id="components-tabs-default" [sourceData]="customSource">
            <ave-custom demo></ave-custom>
        </ave-codebox>
    </div>

</div>

