<section>
  <d-splitter style="height: 500px" class="splitter-border" orientation="vertical" [disabledBarSize]="disabledBarSize">
    <d-splitter-pane size="200px" minSize="100px" [collapsed]="collapsed" [collapsible]="true" (sizeChange)="sizeChange($event)">
      <div class="pane-content">
        <h2>Top</h2>
        <div>height: 200px</div>
      </div>
    </d-splitter-pane>
    <d-splitter-pane style="overflow: hidden">
      <div class="pane-content">
        <h2>Center</h2>
        <div>height: auto</div>
      </div>
    </d-splitter-pane>
    <d-splitter-pane size="100px" [resizable]="false" [collapsible]="true">
      <div class="pane-content">
        <h2>Bottom</h2>
        <div>height: 100px, resizable: false</div>
      </div>
    </d-splitter-pane>
  </d-splitter>
</section>
