@import '../devui/style/devui';
@import '~@devui-design/icons/icomoon/devui-icon.css';

.markdown {
  color: $dark-2;
  font-size: 14px;
  line-height: 1.8;

  a {
    color: $link;

    &:hover {
      color: $hover-control;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.highlight {
  line-height: 1.5;
  position: relative;
}

code[class*='language-'],
pre[class*='language-'],
pre code {
  white-space: pre;
  font-family: Lucida Console, Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
}

pre {
  display: block;
  margin: 0 0 10px;
  line-height: 1.42857143;
  color: $dark-1;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #cccccc;
  border-radius: 1px;
}

.hljs {
  background: $gray-3;
  color: $dark-1;
}

pre code {
  display: block;
  color: $dark-1;
  background: $bg-white;
  line-height: 1.5;
  padding: 10px 15px;
  border-radius: 4px;
  overflow-x: auto;
}

code,
kbd,
pre,
samp {
  font-family: Consolas, Menlo, Courier, monospace;
}

section {
  margin-bottom: 0 !important;
}

.markdown.api-container {
  width: 100%;
  display: block;
  overflow-x: auto;

  table {
    font-size: 13px;
  }

  p {
    margin: 1em 0;
  }
}

.markdown table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #e9e9e9;
  width: 100%;
  margin: 8px 0 16px;

  th,
  td {
    border: 1px solid #e9e9e9;
    padding: 8px 16px;
    text-align: left;
  }

  th {
    background: $gray-3;
    white-space: nowrap;
    color: $dark-2;
    font-weight: 600;
  }
}

.markdown h2 {
  font-size: 22px;
}

.markdown h3 {
  font-size: 18px;
}

.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  color: $dark-1;
  margin: 1.6em 0 0.6em;
  font-weight: 500;
  clear: both;
}

code {
  padding: 2px 4px;
  // font-size: 90%;
  color: #c7254e;
  background-color: #f8f8f8;
  border-radius: 1px;
}

.readme {
  h1 {
    // font-size: 30px;
    @include font-title();

    padding: 20px 0;
  }

  h2 {
    // font-size: 24px;
    @include font-title($font-size-secondary-card-title);

    padding: 40px 0 15px;
  }

  h3 {
    // font-size: 18px;
    @include font-title($font-size-secondary-card-title);

    padding: 30px 0 10px;
  }

  h1,
  h2,
  h3 {
    // font-weight: 300;
    margin: 0;
  }
}
