@import '../../style/theme/color';

.devui-dropdown-overlay {
  position: relative;
  left: -1px;
  border: 1px solid $brand-1;
}

.devui-two-date-wrapper {
  display: inline-flex !important;
  box-shadow: 0 4px 8px 0 $dark-1-boxshadow;
  background-color: $bg-white;
  transform: perspective(1px) translate3d(0, 0, 0);
  flex-direction: column;
  border-radius: 2px;

  .devui-two-date-picker {
    display: inline-flex !important;
    user-select: none;
  }

  .devui-two-date-custom {
    width: 500px;
    border-top: 1px solid $gray-1;
  }

  .devui-two-date-footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: $link;
      text-decoration: none;
      cursor: pointer;
    }

    a.disabled {
      color: $gray-1;
      cursor: not-allowed;
    }
  }
}

.devui-date-picker:not(:last-child) {
  margin-right: 20px;
}

.host-wrapper {
  color: red;
}

.devui-two-date-title {
  height: 38px;

  & > span {
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: calc((100% - 20px) / 2);
    padding-left: 10px;
    font-weight: bold;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
