@import '../../style/theme/color';

.devui-dropdown-overlay {
  position: relative;
  left: -1px;
  border: 1px solid $devui-connected-overlay-line;
}

.devui-two-date-wrapper {
  display: inline-flex !important;
  box-shadow: 0 4px 8px 0 $devui-shadow;
  background-color: $devui-connected-overlay-bg;
  transform: perspective(1px) translate3d(0, 0, 0);
  flex-direction: column;
  border-radius: 2px;

  .devui-two-date-picker {
    display: inline-flex !important;
    user-select: none;
  }

  .devui-two-date-custom {
    width: 500px;
    border-top: 1px solid $devui-line;
  }

  .devui-two-date-footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: $devui-link;
      text-decoration: none;
      cursor: pointer;
    }

    a.disabled {
      color: $devui-line;
      cursor: not-allowed;
    }
  }
}

.devui-date-picker:not(:last-child) {
  margin-right: 20px;
}

.host-wrapper {
  color: red;
}
