<section>
  <d-panel>
    <d-panel-header>Panel with default Type</d-panel-header>
    <d-panel-body>This is body</d-panel-body>
  </d-panel>
  <br /><br />
  <d-panel [type]="'success'">
    <d-panel-header>Panel with Succuess Type</d-panel-header>
    <d-panel-body>This is body</d-panel-body>
  </d-panel>
  <br /><br />
  <d-panel [type]="'info'">
    <d-panel-header>Panel with Info Type</d-panel-header>
    <d-panel-body>This is body</d-panel-body>
  </d-panel>
  <br /><br />
  <d-panel [type]="'warning'">
    <d-panel-header>Panel with Warning Type</d-panel-header>
    <d-panel-body>This is body</d-panel-body>
  </d-panel>
  <br /><br />
  <d-panel [type]="'danger'">
    <d-panel-header>Panel with Danger Type</d-panel-header>
    <d-panel-body>This is body</d-panel-body>
  </d-panel>
</section>
