<section>
  <d-panel [isCollapsed]="isCollapsed">
    <d-panel-header>Panel with common Type</d-panel-header>
    <d-panel-body>This is body</d-panel-body>
  </d-panel>
  <br /><br />
  <d-panel [type]="'primary'" [isCollapsed]="isCollapsed">
    <d-panel-header>Panel with Primary Type</d-panel-header>
    <d-panel-body>This is body</d-panel-body>
  </d-panel>
  <br /><br />
  <d-panel [type]="'success'" [isCollapsed]="isCollapsed">
    <d-panel-header>Panel with Success Type</d-panel-header>
    <d-panel-body>This is body</d-panel-body>
  </d-panel>
  <br /><br />
  <d-panel [type]="'info'" [isCollapsed]="isCollapsed">
    <d-panel-header>Panel with Info Type</d-panel-header>
    <d-panel-body>This is body</d-panel-body>
  </d-panel>
  <br /><br />
  <d-panel [type]="'warning'" [isCollapsed]="isCollapsed">
    <d-panel-header>Panel with Warning Type</d-panel-header>
    <d-panel-body>This is body</d-panel-body>
  </d-panel>
  <br /><br />
  <d-panel [type]="'danger'" [isCollapsed]="isCollapsed">
    <d-panel-header>Panel with Danger Type</d-panel-header>
    <d-panel-body>This is body</d-panel-body>
  </d-panel>
  <br /><br />
  <d-panel #ghostPanel [type]="'ghost'" [isCollapsed]="isCollapsed">
    <d-panel-header>
      <em class="icon icon-chevron-down-2" [ngClass]="{ open: ghostPanel.isCollapsed }"></em>
      Panel with ghost Type
    </d-panel-header>
    <d-panel-body>This is body</d-panel-body>
  </d-panel>
</section>
