<section>
  <div class="status-group">
    <div>
      <d-badge [showDot]="true" status="danger"> </d-badge>
      &nbsp;
      <span>danger</span>
    </div>

    <div>
      <d-badge [showDot]="true" status="warning"> </d-badge>
      &nbsp;
      <span>warning</span>
    </div>

    <div>
      <d-badge [showDot]="true" status="waiting"> </d-badge>
      &nbsp;
      <span>waiting</span>
    </div>

    <div>
      <d-badge [showDot]="true" status="success"> </d-badge>
      &nbsp;
      <span>success</span>
    </div>

    <div>
      <d-badge [showDot]="true" status="info"> </d-badge>
      &nbsp;
      <span>info</span>
    </div>
  </div>
</section>
