.container {
  width: 300px;
}

.list {
  position: relative;
  max-height: 180px;
  overflow: scroll;
  width: 295px;
}

.item {
  line-height: 35px;
  border-bottom: 1px solid var(--gray-2, #dfe1e6);
}
