<div ngModelGroup="userGroup">
  <d-form-item>
    <d-form-control>
      <input
        dTextInput
        autocomplete="off"
        name="user1"
        placeholder="Enter subuser name 1"
        [(ngModel)]="userGroupData.user1"
        [dValidateRules]="validateRule"
      />
    </d-form-control>
  </d-form-item>
  <d-form-item>
    <d-form-control>
      <input
        dTextInput
        autocomplete="off"
        name="user2"
        placeholder="Enter subuser name 2"
        [(ngModel)]="userGroupData.user2"
        [dValidateRules]="validateRule"
      />
    </d-form-control>
  </d-form-item>
  <d-form-item>
    <d-form-control>
      <input
        dTextInput
        autocomplete="off"
        name="user3"
        placeholder="Enter subuser name 3"
        [(ngModel)]="userGroupData.user3"
        [dValidateRules]="validateRule"
      />
    </d-form-control>
  </d-form-item>
</div>
