<textarea
  dTextarea
  placeholder="Please Enter"
  dMention
  [mentionSuggestions]="suggestions"
  [mentionValueParse]="valueWith"
  [mentionHeaderTemplate]="headerTpl"
  [mentionItemTemplate]="itemTpl"
  [rows]="5"
  cols="30"
></textarea>

<ng-template #headerTpl let-activeIndex="activeIndex" let-loading="loading">
  <p>Press Enter to confirm the entry, or press Esc to cancel the entry.</p>
</ng-template>

<ng-template #itemTpl let-suggestion>
  <d-avatar [name]="suggestion.name" [width]="18" [height]="18"></d-avatar>
  <span>{{ suggestion.name }} - {{ suggestion.id }}</span>
</ng-template>
