@import '../../../style/theme/color';

.detail-content {
  color: $dark-1;
  font-size: 12px;
  font-weight: 400;
  background-color: $gray-3;
}

.child-table {
  &:hover {
    background: transparent !important;
  }

  .devui-table {
    background: transparent;
    margin-bottom: 0;
  }

  & > td {
    padding: 0 0 0 0;
    border: 0;
  }
}

.expand-row:hover {
  background: inherit !important;
}
