<section>
  <div class="btn-group">
    <d-button icon="icon-add" bsStyle="primary">
      新建
    </d-button>
    <d-button icon="icon-filter" bsStyle="common">
      过滤
    </d-button>
  </div>
  <div class="btn-group">
    <d-button icon="icon-connect" bsStyle="text-dark" style="margin-right: 20px">
      关联
    </d-button>
    <d-button icon="icon-run" bsStyle="text-dark">
      执行
    </d-button>
  </div>
  <div class="btn-group">
    <d-button icon="icon-add" bsStyle="text-dark" title="添加"></d-button>
    <d-button icon="icon-delete" bsStyle="text-dark" title="删除"></d-button>
  </div>
</section>
