<div class="btn-group">
  <d-button icon="icon-add" bsStyle="primary"> New </d-button>
  <d-button icon="icon-filter" bsStyle="common"> Filter </d-button>
</div>
<div class="btn-group">
  <d-button icon="icon-add" bsStyle="primary" [disabled]="true"> New(disabled) </d-button>
  <d-button icon="icon-filter" bsStyle="common" [disabled]="true"> Filter(disabled) </d-button>
</div>
<div class="btn-group">
  <d-button icon="icon-connect" bsStyle="text-dark" style="margin-right: 4px"> Link </d-button>
  <d-button icon="icon-run" bsStyle="text-dark"> Run </d-button>
</div>
<div class="btn-group">
  <d-button icon="icon-connect" bsStyle="text-dark" style="margin-right: 4px" [disabled]="true"> Link(disabled) </d-button>
  <d-button icon="icon-run" bsStyle="text-dark" [disabled]="true"> Run(disabled) </d-button>
</div>
<div class="btn-group">
  <d-button icon="icon-add" bsStyle="text-dark" title="add"></d-button>
  <d-button icon="icon-delete" bsStyle="text-dark" title="delete"></d-button>
</div>
<div class="btn-group">
  <d-button icon="icon-add" bsStyle="text-dark" [disabled]="true" title="add"></d-button>
  <d-button icon="icon-delete" bsStyle="text-dark" [disabled]="true" title="delete"></d-button>
</div>
<div class="btn-group">
  <d-button bsStyle="common" class="rightIcon" bsSize="xs">
    Click me
    <span class="icon-chevron-down"></span>
  </d-button>
</div>
<div class="btn-group">
  <d-button bsStyle="text-dark" class="rightIcon">
    Click me
    <span class="icon-chevron-down"></span>
  </d-button>
</div>
