<section>
  <div style="margin-bottom: 20px">
    <ave-button icon="icon-add" bsStyle="primary">
      新建
    </ave-button>
    <ave-button icon="icon-filter" bsStyle="common">
      过滤
    </ave-button>
  </div>
  <div style="margin-bottom: 20px">
    <ave-button icon="icon-connect" bsStyle="text-dark" style="margin-right: 20px">
      关联
    </ave-button>
    <ave-button icon="icon-run" bsStyle="text-dark">
      执行
    </ave-button>
  </div>
  <div>
    <ave-button icon="icon-add" bsStyle="text-dark" title="添加" style="margin-right: 20px"></ave-button>
    <ave-button icon="icon-delete" bsStyle="text-dark" title="删除"></ave-button>
  </div>
</section>
