<div class="fixed-wapper"
  [ngClass]="{
  'header-fixed': isFixed
}">
  <div class="header-wapper"
    [ngClass]="{
      'header-shadow': showShadow,
      'header-maxwidth': hasMaxWidth
    }">
      <div class="header-left">
        <div *ngIf="showSlideButton" class="slide-menu-link" (click)="clickSlideMenu()">
          <span></span>
        </div>
        <ng-content select="d-header-logo"></ng-content>
        <d-search *ngIf="showSearch" [isKeyupSearch]="true" [placeholder]="searchPlaceholder" (searchFn)="onSearch($event)"></d-search>
      </div>
      <div class="header-right" [ngClass]="{'active': collapseMenuActive}">
        <ng-content select="d-header-menu"></ng-content>
        <ng-content select="d-ecosystem"></ng-content>
        <ng-content select="d-header-version-switch"></ng-content>
        <ng-content select="d-header-theme-switch"></ng-content>
        <ng-content select="d-header-language-switch"></ng-content>
        <div *ngIf="showGitStar">
          <iframe class="header-gitStar"
            [attr.src]="repoLink"
          ></iframe>
        </div>  
        <div *ngIf="showAvatar" class="header-avatar">
          <d-avatar
            [width]="'40'"
            [height]="'40'"
            [imgSrc]="userAvatar"
          ></d-avatar>
        </div>
      </div>
      <div id="headerCollapseMenu" class="header-collapse-menu" [ngClass]="{'active': collapseMenuActive}" (click)="toggleMenu($event)"><span></span></div>
  </div>
</div>