.row {
  overflow: hidden;
}

.col-sm-3 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  min-width: 220px;
  width: 220px;
}

.list-group .list-group-item {
  padding: 0 16px;
}

.drop-row {
  white-space: nowrap;
  overflow-x: auto;
  margin-bottom: 10px;
}

.drop-col {
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  width: 180px;
  padding-bottom: 10px;
}

.drag-border {
  border: #5170ff dashed 1px;
}

.drag-handle {
  cursor: move;

  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.drag-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.drag-hint-border {
  border: #3c763d dashed 2px;
}

.drag-over-border {
  border: #fbbc05 dashed 2px;
}

.card {
  border: 1px solid #cecece;
}

.card .card-header {
  font-size: 18px;

  /* color: #333; */
  padding: 10px;
}

.list-group {
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.list-group > li,
:host ::ng-deep .list-group > div > li {
  height: 30px;
  border: 1px solid #5170ff;
  border: 1px solid var(--brand-1, #5170ff);
  color: #293050;
  color: var(--dark-1, #293050);
  margin-bottom: 5px;
  line-height: 30px;
  background-color: #ffffff;
  background-color: var(--white, #ffffff);
}

.list-group > li.selected,
:host ::ng-deep .list-group > div > li.selected {
  height: 30px;
  border: 1px solid #5170ff;
  border: 1px solid var(--brand-1, #5170ff);
  color: #5170ff;
  color: var(--brand-1, #5170ff);
  margin-bottom: 5px;
  line-height: 30px;
  background-color: #e8f0fd;
  background-color: var(--brand-3, #e8f0fd);
}

:host::ng-deep .drag-placeholder {
  border: 1px dashed #5170ff;
  border: 1px dashed var(--brand-1, #5170ff);
  margin: 10px 0;
}

:host ::ng-deep .show-origin .drag-origin-placeholder:not(.side-drag-origin-placeholder) {
  border: 1px dashed #cacfd8;
  border: 1px dashed var(--gray-1, #cacfd8);
}

:host ::ng-deep .show-origin .drag-origin-placeholder {
  margin: 10px 0;
}

.show-origin .drop-el ::ng-deep li:first-child + .drag-origin-placeholder,
:host ::ng-deep .show-origin .drag-origin-placeholder:first-child {
  margin-top: 0;
}

:host ::ng-deep .show-origin .drag-origin-placeholder.hit-origin-placeholder {
  border-color: #5170ff;
  border-color: var(--brand-1, #5170ff);
}

.show-origin ::ng-deep .drag-origin-placeholder.delay-deletion {
  animation: origin-placeholder-shrink-to-none 0.2s cubic-bezier(0.86, 0, 0.07, 1) 1 0.05s both;
}

@keyframes origin-placeholder-shrink-to-none {
  to {
    height: 0;
  }
}
