@import '~ng-devui/styles-var/devui-var.scss';

.row {
  overflow: hidden;
}

.col-sm-3 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  min-width: 220px;
  width: 220px;
}

.list-group .list-group-item {
  padding: 0 16px;
}

.drop-row {
  white-space: nowrap;
  overflow-x: auto;
  margin-bottom: 10px;
}

.drop-col {
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  width: 180px;
  padding-bottom: 10px;
}

.drag-border {
  border: $devui-brand dashed 1px;
}

.drag-handle {
  cursor: move;

  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.drag-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.drag-hint-border {
  border: $devui-success dashed 2px;
}

.drag-over-border {
  border: $devui-warning dashed 2px;
}

.card {
  border: 1px solid $devui-dividing-line;
}

.card .card-header {
  font-size: $devui-font-size-card-title;
  padding: 10px;
}

.list-group {
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.list-group > li,
:host ::ng-deep .list-group > div > li {
  height: 30px;
  border: 1px solid $devui-brand;
  color: $devui-text;
  margin-bottom: 5px;
  line-height: 1.5;
  background-color: $devui-base-bg;
  display: flex;
  align-items: center;
}

.list-group > li.selected,
:host ::ng-deep .list-group > div > li.selected {
  height: 30px;
  border: 1px solid $devui-brand;
  color: $devui-brand;
  margin-bottom: 5px;
  line-height: 1.5;
  background-color: $devui-list-item-selected-bg;
  display: flex;
  align-items: center;
}

:host::ng-deep .drag-placeholder {
  border: 1px dashed $devui-brand;
  margin: 10px 0;
}

:host ::ng-deep .show-origin .drag-origin-placeholder:not(.side-drag-origin-placeholder) {
  border: 1px dashed $devui-line;
}

:host ::ng-deep .show-origin .drag-origin-placeholder {
  margin: 10px 0;
}

.show-origin .drop-el ::ng-deep li:first-child + .drag-origin-placeholder,
:host ::ng-deep .show-origin .drag-origin-placeholder:first-child {
  margin-top: 0;
}

:host ::ng-deep .show-origin .drag-origin-placeholder.hit-origin-placeholder {
  border-color: $devui-brand;
}

.show-origin ::ng-deep .drag-origin-placeholder.delay-deletion {
  animation: origin-placeholder-shrink-to-none 0.2s cubic-bezier(0.86, 0, 0.07, 1) 1 0.05s both;
}

@keyframes origin-placeholder-shrink-to-none {
  to {
    height: 0;
  }
}
