<section>
  <div class="btn-group">
      <ave-button
              aveTooltip
              [content]="'<em>I am a HTML Element!</em>'"
              [position]="'left'">
          left
      </ave-button>
      <ave-button
              aveTooltip
              [content]="'<strong>I am a HTML Element!</strong>'"
              [position]="'top'">
          top
      </ave-button>
      <ave-button
              aveTooltip
              [content]='message'
              [position]="'bottom'"
              [showAnimate]="true">
          bottom
      </ave-button>
      <ave-button bsStyle="primary"
              aveTooltip
              [content]='message'
              [showAnimate]="true"
              [position]="'right'">
          right
      </ave-button>
  </div>
</section>
