<section>
  <div class="btn-group">
    <d-button dTooltip bsStyle="common" [content]="'I am a HTML Element!'" [position]="'left'"> left </d-button>
    <d-button dTooltip bsStyle="common" [content]="'I am a HTML Element!'"> top </d-button>
    <d-button dTooltip bsStyle="common" [content]="message" [position]="'bottom'"> bottom </d-button>
    <d-button dTooltip bsStyle="common" [content]="message" [position]="'right'"> right </d-button>
    <d-button dTooltip bsStyle="common" [content]="'No Animation'" [showAnimate]="false"> No Animation </d-button>
  </div>
</section>
