<d-button
  bsStyle="common"
  dStepsGuide
  [pageName]="'step-custom-demo'"
  [stepIndex]="0"
  [leftFix]="-95"
  [topFix]="-74"
  [dStepsGuidePosition]="'top'"
  (click)="reset(0)"
>
  Custom Position
</d-button>
<d-button
  bsStyle="common"
  dStepsGuide
  [targetElement]="targetElement"
  [scrollToTargetSwitch]="false"
  [pageName]="'step-custom-demo'"
  [stepIndex]="1"
  [dStepsGuidePosition]="'bottom-left'"
  [zIndex]="2000"
  [extraConfig]="config"
  (click)="reset(1)"
>
  Custom Target
</d-button>
<d-button
  bsStyle="common"
  dStepsGuide
  [targetElement]="targetElement"
  [scrollToTargetSwitch]="false"
  [pageName]="'step-custom-demo'"
  [stepIndex]="2"
  [dStepsGuidePosition]="'bottom-right'"
  [zIndex]="2000"
  [observerDom]="observerDom"
  (click)="reset(2)"
>
  Observer Dom
</d-button>
