<section>
  <div class="badge-group">
    <d-badge [showDot]="true" status="dange">
      <i class="icon icon-feedback"></i>
    </d-badge>

    <d-badge [showDot]="true" status="warning">
      <i class="icon icon-feedback"></i>
    </d-badge>

    <d-badge [showDot]="true" status="waiting">
      <i class="icon icon-feedback"></i>
    </d-badge>

    <d-badge [showDot]="true" status="success">
      <i class="icon icon-feedback"></i>
    </d-badge>

    <d-badge [showDot]="true" status="info">
      <i class="icon icon-feedback"></i>
    </d-badge>
  </div>
</section>
