<ave-data-table #datatable1 [dataSource]="maxHeightDataSource" [pageAllChecked]="true" maxHeight="400px"
  [showDetail]="false" [checkable]="true" (checkAllChange)="onCheckAllChange($event)" [scrollable]="true"
  (rowCheckChange)="onRowCheckChange($event, datatable1)">
  <ave-column field="$index" header="#" [width]="'100px'"></ave-column>
  <ave-column *ngFor="let colOption of dataTableOptions.columns" [field]="colOption.field" [header]="colOption.header"
    [sortable]="colOption.sortable" [fieldType]="colOption.fieldType" [width]="'150px'">
  </ave-column>
</ave-data-table>
