<div class="devui-demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 180, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="devui-demo-example" [dAnchor]="'border-radius'">
    <div class="devui-demo-title">{{ 'components.design-animation.AnimationDemo.title' | translate }}</div>
    <div class="devui-demo-text">
      {{ 'components.design-animation.AnimationDemo.description1' | translate }}<br />
      {{ 'components.design-animation.AnimationDemo.description2' | translate }}<br />
      {{ 'components.design-animation.AnimationDemo.description3' | translate }}
    </div>
    <d-animation></d-animation>
  </div>
</div>
