.two-date-wrapper {
  width: 320px;
  display: flex;
  justify-content: space-between;
}

.two-date-wrapper > .devui-input-group:not(:last-child) {
  margin-right: 10px;
}

.devui-input-group-addon {
  vertical-align: middle;
  padding-top: 4px;
}

.devui-input-group {
  width: 160px;
}

.devui-input-group-addon:hover {
  color: #526ecc;
}

.icon-close-wrapper {
  padding-right: 0;
  padding-top: 0;
}

.icon-close {
  border-right: 1px solid #dfe1e6;
  padding-right: 10px;
  cursor: pointer;
}

.custom-css-class {
  font-weight: bold;
}
