<div>
  <div class="demo-container" dAnchorBox [view]="{ top: 60, bottom: 0 }">
    <d-demo-nav [navItems]="navItems"></d-demo-nav>
    <div class="demo-example">
      <div class="demo-title" [dAnchor]="'basic-usage'">基本用法</div>
      <d-codebox id="components-splitter-default" [sourceData]="SplitterBasicComponent">
        <d-splitter-demo-basic demo></d-splitter-demo-basic>
      </d-codebox>
    </div>
    <div class="demo-example">
      <div class="demo-title" [dAnchor]="'vertical-layout-usage'">垂直布局用法</div>
      <d-codebox id="components-splitter-vertical" [sourceData]="SplitterVerticalComponent">
        <d-splitter-demo-vertical demo></d-splitter-demo-vertical>
      </d-codebox>
    </div>
    <div class="demo-example">
      <div class="demo-title" [dAnchor]="'combined-layout-usage'">组合布局用法</div>
      <d-codebox id="components-splitter-multi" [sourceData]="SplitterMultiComponent">
        <d-splitter-demo-multi demo></d-splitter-demo-multi>
      </d-codebox>
    </div>
    <div class="demo-example">
      <div class="demo-title" [dAnchor]="'specify-the-fold-up-direction'">指定折叠收起方向</div>
      <d-codebox id="components-splitter-direction" [sourceData]="SplitterDirectionComponent">
        <d-splitter-demo-direction demo></d-splitter-demo-direction>
      </d-codebox>
    </div>
  </div>
</div>
