<div class="devui-demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 180, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="devui-demo-example" [dAnchor]="'basic-usage'">
    <div class="devui-demo-title">{{ 'components.multi-auto-complete.defaultDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.multi-auto-complete.defaultDemo.description' | translate }}</div>
    <d-codebox id="components-modal-basic" [sourceData]="MultiAutoCompleteDemoDefault">
      <d-multi-auto-complete-default demo></d-multi-auto-complete-default>
    </d-codebox>
  </div>

  <div class="devui-demo-example" [dAnchor]="'auto-complete-array'">
    <div class="devui-demo-title">{{ 'components.multi-auto-complete.arrayDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.multi-auto-complete.arrayDemo.description' | translate }}</div>
    <d-codebox id="components-modal-basic" [sourceData]="MultiAutoCompleteDemoArray">
      <d-multi-auto-complete-array demo></d-multi-auto-complete-array>
    </d-codebox>
  </div>

  <div class="devui-demo-example" [dAnchor]="'auto-complete-disabled'">
    <div class="devui-demo-title">{{ 'components.multi-auto-complete.disabledDemo.title' | translate }}</div>
    <div class="devui-demo-text">{{ 'components.multi-auto-complete.disabledDemo.description' | translate }}</div>
    <d-codebox id="components-modal-disabled" [sourceData]="MultiAutoCompleteDemoDisabled">
      <d-multi-auto-complete-disabled demo></d-multi-auto-complete-disabled>
    </d-codebox>
  </div>
</div>
