<div class="demo-container" dAnchorBox [view]="{ top: 60, bottom: 0 }">
  <div class="nav-main">
    <d-sticky [view]="{ top: 60, bottom: 0 }" [zIndex]="2000" [container]="demoDocViewerMain">
      <div>
        <h3 style="padding-bottom: 20px; border-bottom: 1px #cacfd8 solid;">快速前往</h3>
        <ul class="step-nav">
          <li [dAnchorLink]="'auto-complete-default'" anchorActive="active">基本用法</li>
          <li [dAnchorLink]="'auto-complete-array'" anchorActive="active">自定义匹配方法</li>
        </ul>
      </div>
    </d-sticky>
  </div>
  <div class="demo-container">
    <div class="demo-example" [dAnchor]="'auto-complete-default'">
      <div class="demo-title">基本用法</div>
      <div class="demo-text">
        通过 source 设置数据源
      </div>
      <d-codebox id="components-modal-basic" [sourceData]="MultiAutoCompleteDemoDefault">
        <d-multi-auto-complete-default demo></d-multi-auto-complete-default>
      </d-codebox>
    </div>

    <div class="demo-example" [dAnchor]="'auto-complete-array'">
      <div class="demo-title">自定义匹配方法</div>
      <div class="demo-text">
        通过 searchFn 自定义数据的匹配方法和返回的数据格式
      </div>
      <d-codebox id="components-modal-basic" [sourceData]="MultiAutoCompleteDemoArray">
        <d-multi-auto-complete-array demo></d-multi-auto-complete-array>
      </d-codebox>
    </div>
  </div>
</div>
