<div class="devui-demo-container" dAnchorBox dAnchorHashSupport [view]="{ top: 180, bottom: 0 }">
  <d-demo-nav [navItems]="navItems"></d-demo-nav>
  <div class="devui-demo-example" [dAnchor]="'href-a'">
    <div class="devui-demo-title">{{ 'components.design-link.hrefDemo.title' | translate }}</div>
    <div class="devui-demo-text">
      {{ 'components.design-link.hrefDemo.description1' | translate }}<br />
      {{ 'components.design-link.hrefDemo.description2' | translate }}
    </div>
    <d-codebox id="components-design-link" [sourceData]="LinkSource">
      <d-link demo></d-link>
    </d-codebox>
  </div>
</div>
