<h3 class="devui-h3-title">{{ 'components.design-z-index.ZIndexDemo.instance.tableTitle' | translate }}</h3>
<d-data-table #datatable [dataSource]="zIndex" [scrollable]="true" [type]="'striped'">
  <d-column field="name" header="{{ 'components.design-z-index.ZIndexDemo.instance.table.zIndexName' | translate }}" [width]="'150px'">
  </d-column>
  <d-column
    field="value"
    header="{{ 'components.design-z-index.ZIndexDemo.instance.table.zIndexValue' | translate }}"
    [width]="'150px'"
  ></d-column>
  <d-column
    field="description"
    header="{{ 'components.design-z-index.ZIndexDemo.instance.table.description' | translate }}"
    [width]="'200px'"
  >
  </d-column>
</d-data-table>
